<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">


	<ui:define name="content">
		<p:importEnum type="haj.com.entity.enums.YesNoEnum" />

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="managementStandardInsForm">
						<h1 class="BigTopic TexAlCenter">Management Standard</h1>
						<p:fieldset legend="Covid-19 Management Standard" toggleable="true" toggleSpeed="500" collapsed="true">
							<p:ajax event="toggle" />
							<p:fieldset legend="Objective of the COVID-19 Management Standard" toggleable="true" toggleSpeed="500" collapsed="true">
								<ul>
									<li>The objective of the COVID-19 Management Standard is to ensure a safe working environment for all employees and to stop the spread of COVID-19 virus. Section 8 of the Occupational Health and Safety Act, 1993 “OHSA” requires every employer to provide and maintain, as far as reasonably practicable, a working environment that is safe and without risk to the health of its employees.
										Similarly, the OHSA also imposes a duty on employees to take reasonable care for their own health and safety and that of their fellow employees. Given the recent spread of the COVID-19 virus to various parts of the world, including South Africa, and the lockdown declared on 26th March 2020, this COVID-19 Management Standard has been developed to assist in preventing the transmission of
										COVID-19 and provides guidelines for the management of the employees returning to work following the lockdown. The guidelines address possible exposure to SARS-CoV-2, the virus responsible for COVID-19, and subsequent illness, isolation and quarantine, in addition to the usual return to work procedures.</li>
									<br />
									<li>Management will continue to monitor the situation in South Africa and this COVID-19 Management Standard may be updated depending on the ongoing spread of the virus.</li>
								</ul>
							</p:fieldset>
							<br />
							<p:fieldset legend="Application" toggleable="true" toggleSpeed="500" collapsed="true">
								<ul>
									<li>This COVID-19 Management Standard will apply to all employees, subcontractors and clients of the company.</li>
								</ul>
							</p:fieldset>
							<br />
							<p:fieldset legend="Content" toggleable="true" toggleSpeed="500" collapsed="true">
								<ul>
									<li><h3>How does COVID-19 spread</h3></li>
									<ul>
										<li>Coughing or sneezing – one can contract COVID-19 breathing in droplets coughed out or exhaled by the ill person.</li>
										<br />
										<li>Close personal contact, such as when shaking hands or touching others.</li>
										<br />
										<li>Touching an object or surface on which the virus is found after an ill person coughs or exhales close to these objects or surfaces, such as desks, tables or telephones, before washing hands, touching the mouth, nose, or eyes.</li>
									</ul>
									<li><h3>Primary symptoms of COVID-19</h3></li>
									<ul>
										<li>Fever</li>
										<li>Cough</li>
										<li>Shortness of breath or difficulty breathing</li>
									</ul>
									<li><h3>What to do if one has pre-existing medical conditions and/or develops symptoms</h3></li>
									<ul>
										<li>People who contract COVID-19 may take anywhere from one to 14 days to develop symptoms. Even if you do not have a history of travel to a COVID-19 affected region or contact with an individual who has contracted the illness, you must still inform a manager at work and a healthcare provider if you present with symptoms of COVID-19.</li>
										<br />
										<li>Hotline for the COVID-19 as per the Department of Health website: 0800 029 999</li>
										<br />
										<li>Employees who have symptoms of acute respiratory illness are advised to seek medical treatment and diagnosis as soon as possible.</li>
										<br />
										<li>Employees with acute respiratory illness symptoms are advised to stay home until they are cleared for work by a registered medical practitioner.</li>
										<br />
										<li>Employees over the age of 60 or who suffer or have suffered from HIV infection, TB, Hypertension to confidentially provide details to HR. In the event of an outbreak these employees would be encouraged to either work from home or if not possible self isolate at home for the required duration as part of the sick leave policy instituted in the company</li>
										<br />
										<li>A valid medical certificate must be submitted in order for the employee to be entitled to sick leave as per the company’s sick leave policy in line with Section 22(1) to 22(4) of the Basic Conditions of Employment Act. If all sick leave is exhausted the employee must may qualify for Special Leave for COVID-19 related illness and treatment, the employee must contact the
											Department of Health hotline 0800 029 999 and follow the specific instructions given by the authorities in order to receive official Special Leave. The employer and the employee must submit a confirmation letter form the employer and employee in order to claim Special Leave benefits from the Unemployment Insurance Act, if the employee is sick for longer than 7 days.</li>
										<br />
										<li>Employees should notify their manager and stay home if they are sick and have been booked off. All employees should follow the company’s sick leave COVID-19 Management Standard in such situations but are entitled to ‘special leave’ as explained above.</li>
										<br />
										<li>If the company has reason to suspect that an employee has been infected with COVID-19 or an employee becomes ill at work during the day, the employer will request the employee to leave the workplace and seek medical treatment and or testing immediately. If this instruction is not followed, it will be regarded as gross insubordination and disciplinary steps will be taken as it
											could put other employees at risk.</li>
									</ul>
									<li><h3>National Lockdown Protocol</h3></li>
									<ul>
										<li>On Monday the 23rd of March 2020, President Cyril Ramaphosa declared a National Lockdown as from midnight on the Thursday 26 March 2020 for 21 days, and extended an additional 14 days. The aim of the Nationwide Lockdown is to curb the rapid spread of the Covid-19 virus.</li>
										<br />
										<li>Lockdown Protocol has further been confirmed in the Disaster Management Act of 2002 by way of amendments enacted by the Minister of Cooperative Governance and Traditional Affairs.</li>
										<br />
										<li>Only organisations that are recognised and permitted to operate as Essential Services and/or Essential Support services may operate under strict conditions, in accordance with the level of lockdown.</li>
										<br />
										<li><h4>Essential Services</h4></li>
										<p>An essential service means the services defined in section 213 of the Labour Relations Act, 1995 (Act No 66 of 1995), and designated in terms of section 71(8) of the Labour Relations Act, 1995. It is a service which if interrupted would endanger the life, personal safety or health of the whole or any part of the population. The definition has been extended to include services such
											as Water and Sanitation, Health, Defence, National Energy, Transport, Social Development, Education, Police, Information Technology and Communication, etc. The definition has also been extended to include the supply of basic goods such as food and groceries.</p>
										<p>Should the company be allowed to operate during the lockdown period, specific requirements will be imposed.</p>
										<p>The company will provide the employee with a permit confirming:</p>
										<ul>
											<li>The company’s name</li>
											<br />
											<li>Confirmation of employment</li>
											<br />
											<li>That the work being provided is essential and that the individual is allowed to trave</li>
											<br />
											<li>Operating hours during which the employee is permitted to work.</li>
											<br />
											<p>More information in terms of permit requirements will be released as they become available according to the level of lockdown conditions.</p>
											<p>Should employees be allowed to render services during the lockdown period, they will be entitled to remuneration as usual</p>
											<p>Should an employee fail and/or refuse to render services despite adequate safety measures being implemented by the company, then disciplinary action may be taken.</p>
										</ul>
									</ul>
								</ul>
							</p:fieldset>
							<br />
							<p:fieldset legend="Protocol for the Easing of Lockdown Conditions and Return to Work" toggleable="true" toggleSpeed="500" collapsed="true">
								<ul>
									<li><h3>Risk assessments</h3></li>
									<p>Risk assessments must be done and recorded, which is an examination of what in the workplace may cause harm to people and helps us identify what measures need to be taken to help us prevent that harm.</p>
									<p>Managers are responsible for ensuring that risk assessments are done. It is preferable to have small risk assessment teams, ideally led by a manager/senior member of Employees, but also including someone who knows in detail what the work activity is. All risk assessors must be competent to undertake the task (i.e. possess relevant knowledge, aptitude, experience or training).</p>
									<p>The Health and Safety Executive (HSE) advises employers to follow a five step process when carrying out a workplace risk assessment, these are:</p>
									<ul>
										<li>Identify the hazards</li>
										<li>Decide who might be harmed and how</li>
										<li>Evaluate the risk and decide on what precautions you need to take</li>
										<li>Record your significant findings and implement them</li>
										<li>Review your risk assessment and update if necessary </li>
									</ul>
									<h4>What are the significant hazards?</h4>
									<p>A hazard is something that has the potential to cause harm</p>
									<p>A risk is the likelihood of harm occurring and an indication of how severe the harm might be.</p>
									<p>Hazards can be grouped into five categories. Knowing what these categories are and the sorts of things that fall into each may help you to identify hazards within your work activities.  The categories are: </p>
									<ul>
										<li>Physical - includes electricity, noise, moving vehicles, vibration and confined spaces</li>
										<li>Chemical - includes solvents, dusts, fumes, smoke</li>
										<li>Biological - includes viruses, toxins, blood, insect and animal bites, animal droppings, spores and fungi</li>
										<li>Ergonomic -  includes repetitive movements, manual handling, workstation/job design</li>
										<li>Psychological - includes stress, bullying, aggression and violence</li>
									</ul>
									<h4>Who might be harmed and how?</h4>
									<p>As well as Employees who carry out the activity being assessed, others may be at risk from the hazard, e.g. service users, pupils, visitors, members of the public, volunteers and contractors. Some hazards could present particular risks to certain people. These groups include:   </p>
									<ul>
										<li>Children</li>
										<li>Young Employees</li>
										<li>New and expectant mothers </li>
										<li>People with a disability or health condition </li>
										<li>New employees </li>
										<li>Home employees</li>
										<li>Lone employees</li>
									</ul>
									<h4>What can be done to control the risk?</h4>
									<p>Often, a variety of control measures can be put in place to control the risk. The diagram below shows a hierarchy of types of control measures, with the most effective at the top and the least effective at the bottom.</p>
									<h4>Record findings</h4>
									<p>Use the risk assessment template to record the findings of your risk assessment.</p>
									<h4>Communicate</h4>
									<p>Once the assessment is completed, it should be communicated to all affected Employees, and their understanding of any control measures should be checked</p>
									<h4>Review</h4>
									<p>Risk assessments should be reviewed annually, when there are any significant changes that affect the method of work or if a serious accident occurs. They are live documents, so any changes must be discussed with and communicated to all Employees</p>

									<li><h3>Hygiene in the workplace</h3></li>
									<ul>
										<li>Plan Employees re-entry to the workplace in line with the lockdown level i.e. staggered re-entry. Apply a “work-from-home” policy long as reasonably possible.</li>
										<br />
										<li>Maintain Physical Distancing as prescribed by current level of Lockdown.</li>
										<br />
										<li>Ensure that the workplace is clean and hygienic.</li>
										<br />
										<li>All visitors and employees entering the Company’s offices must be requested by the receptionist / appointed responsible person to wash their hands on entering the premises.</li>
										<br />
										<li>⦁ Advise all employees, visitors, subcontractors and clients to cough or sneeze with a tissue, dispose of the tissue in the relevant waste bin.</li>
										<br />
										<li>Clean and disinfect frequently touched objects, including workstations, and surfaces using a regular household cleaning spray or wipe</li>
										<br />
										<li>Advise all employees, visitors, subcontractors and clients to wash hands often with soap and water for at least 20 seconds, especially after going to the bathroom; before eating; and after blowing of nose, coughing, or sneezing.</li>
										<br />
										<li>If soap and water are not readily available, use an alcohol-based hand sanitizer with at least 60% alcohol.</li>
										<br />
										<li>Advise all employees, visitors, subcontractors and clients to AVOID handshakes - rather do the elbow bump or ‘Wuhan foot tap’.</li>
										<br />
										<li>Advise all employees, visitors, subcontractors and clients to avoid touching of face.</li>
										<br />
									</ul>
									<li><h3>Before arrival of employees, subcontractors and/or visitors</h3></li>
									<ul>
										<li>No non-essential Employees to come into the office. “Work-from-Home Policy” to be applied as long as reasonably possible.</li>
										<br />
										<li>Ensure sufficient availability of resources:</li>
										<ul>
											<li>Pre-screening area,</li>
											<li>isolation area,</li>
											<li>quarantine area,</li>
											<li>equipment and medical supplies including soap and water, sanitisers (at least 70% alcohol based), appropriate personal protective equipment (PPE) for employees,</li>
											<li>waste disposal receptacles for used PPE,</li>
											<li>cleaning and disinfection consumables and services.</li>
										</ul>
										<br />
										<li>Before coming to the office essential employees to be educated on new procedures regarding the medical surveillance adopted by the company and that they should assess their current health conditions. If any flu-like symptoms or symptoms associated with COVID 19 are detected (runny nose, sore throat, shortness of breath, fever, aches and pains, diarrhea) they are to remain home
											and communicate with their direct line manager. If symptoms are severe then medical help is to be sought the employee is to be tested for the Virus as per the direction of the National Department of Health.</li>
										<br />
										<li>Where possible safe and clean (sanitised) transportation to be used/provided to essential Employees that under normal circumstances use public transport to travel to work. They are to be provided with masks to travel to and from work. Consider screening mechanisms before boarding and isolation and quarantine at source where required.</li>
										<br />
										<li>Consider dedensification / physical distancing opportunities for mass transport.</li>
										<br />
										<li>Consider a staggered approach on the number of employees screened per day for return to work to minimise crowding at the screening areas.</li>
										<br />
										<li>Intensify employee awareness and education on signs and symptoms of COVID-19 on their return.</li>
										<br />
										<li>Inform employees of the need to report should they have tested positive for COVID-19 during the nationwide lockdown. Request results where available and a clearance letter from the relevant health facility stating the date of onset of symptoms, diagnosis, date of specimen collection of positive test if applicable, and expected date when isolation ends. Communicate this to
											employees before they embark on their journey to return home.</li>
										<br />
										<li>Access control of all visitors to be via prior arranged appointments. All visitors wanting to visit the premises to complete a Visitation Request Form at least 48hrs before and it should first be approved, and they should print out the visitation approval letter and bring it with them to show to security upon arrival. Only necessary visitation will be entertained, and one
											employee should be delegated to supervise this task.</li>
										<br />
										<li>Hand Soap or Hand Sanitiser (at least 70% alcohol based) will be made available at strategic points and employees will be required to clean their hands at every opportunity</li>
										<br />
									</ul>
									<li><h3>After arrival of Employees, Subcontractors or Visitors</h3></li>
									<ul>
										<li><h4>Infection Prevention and Control Measures</h4></li>
										<ul>
											<li>On Arrival at Office Main Gate, employees, subcontractors, visitors or clients to undergo compulsory screening (temperature and symptoms checked) and the findings will be recorded by the Receptionist / appointed responsible person in a register – If a temperature higher than 37.5 degrees is detected or other symptoms are present, entry to the office grounds will be denied and
												the person will be sent home or away or be requested to remain outside for further consultation with management. The relevant manager will be informed and will communicate with the affected person</li>
											<br />
											<li>Education of employees on maintaining physical distancing. Ensure employees and employees keep a distance of up to 1.5 to 2 m when in contact with other people; where this is not possible, issue non-medical facemasks.</li>
											<br />
											<li>Hand Soap or Hand Sanitizer will be made available at strategic points and Employees will be required to clean their hands at every opportunity</li>
											<br />
											<li>Employees will be required to on a two-hourly basis to thoroughly wash their hands with soap and water for the required 20 second period. This will be staggered so that operations continue uninterrupted as far as reasonably possible</li>
											<br />
											<li>When coughing or sneezing, all Employees to use the bent elbow approach to avoid bodily fluids on their hands and to avoid spraying bodily fluids on those in close proximity to them</li>
											<br />
											<li>Avoid rubbing your face, nose or your eyes with your hands at all times.</li>
											<br />
											<li>Avoid all un-necessary physical contact with others outside of your family living with you at home and maintain social distancing (1,5-2 m apart)</li>
											<br />
											<li>Tissues to be provided in strategic places. Once used they are to be thrown away immediately into a special bio-hazard dustbin lined with a plastic waste bag. When emptying the bag is to be tied up and kept in a special quarantine area for two days to ensure any potential virus contamination far surpasses the life cycle of potential transmission. Thereafter be placed in the
												general waste collection area.</li>
											<br />
											<li>Employees will be required to at all times wear face masks due to their open and close working environment where social distancing cannot be applied</li>
											<br />
											<li>Potential work shifts will be implemented to reduce number of Employees on duty at any one time</li>
											<br />
											<li>Common use areas and surfaces will be wiped down and cleaned periodically throughout the day (toilets, handles, kitchens etc). Desks and tables as well as phones and computers to be sanitized daily</li>
											<br />
											<li>Hand sanitizer to be put on all occupied work areas/desks for regular use by the occupant</li>
											<br />
											<li>No more than two people at a time will make use of toilets</li>
											<br />
											<li>In common areas, offices/work areas and meeting rooms (smoking, kitchen, toilets, corridors, boardrooms) social distancing rules will be applied by all employees, subcontractors, visitors or clients (1,5 - 2mts apart)</li>
											<br />
											<li>Educational material and posters to be placed in public areas regarding the COVID 19 virus, it’s symptoms, how it can be contracted, and the preventative measures to be applied to limit it’s spread.</li>
											<br />
											<li>Employees to be educated through direct discussions/presentations</li>
											<br />
											<li>PPE to be worn (masks, gloves, eye protection) and social distancing rules to be applied at all times by IT consultants / technicians when on site. Hand sanitizer to be kept in all service vehicles and to be applied when getting in and out of the vehicle.</li>
											<br />
											<li>Masks to be worn when travelling to and from site by IT consultants / technicians due to close proximity within vehicle. This will also apply when visiting the workshop, stores or office to collect spares or stock related to their work.</li>
											<br />
											<li>Avoid using other people’s personal belongings such as stationery, cell phones etc.</li>
											<br />
											<li>Avoid sharing food, kitchen utensils, coffee mugs etc.</li>
											<br />
											<li>Use disposable tissues rather than a handkerchief; immediately dispose of these tissues in a closed bin and wash or sanitise your hands thereafter</li>
											<br />
											<li>Employees to use non-medical or homemade (bandanas/buffs/cloth masks) facemasks (now endorsed by WHO and Centre for Disease Control) in crowded environments where physical distancing cannot be practised.</li>
											<br />
											<li>Provide receptables for used PPE and facemasks.</li>
											<br />
											<li>Re-enforce compliance with the taking of chronic medication.</li>
											<br />
										</ul>
										<li><h4>Ongoing Screening at the Designated Areas</h4></li>
										<ul>
											<li>Initial pre-screening should be done at the transport pick-up point if transport is provided, this to ensure those who show symptoms i.e. high temperature (37.5⁰ C) and/or respiratory symptoms, do not enter the vehicle and expose others.</li>
											<br />
											<li>At work, pre-screening of employees must be done before entering the facility (at the gate) either by a competent person or security Employees as per agreed-on protocol</li>
											<br />
											<li>Employees with a high temperature (37.5⁰ C) and/or respiratory symptoms will be referred directly to the isolation area for further assessment by a Manager. Who must arrange that the employee be referred to a medical practitioner for further consultation and diagnoses.</li>
											<br />
											<li>A register of employees screening and testing must be maintained.</li>
											<br />
											<li>A Return to Work Medical Screening Form will include questionnaire and temperature reading, identify employees with pre-existing conditions that will predispose them to COVID-19, for closer monitoring.</li>
											<br />
											<li>Provide a Return to Work Medical Screening Form to employees with normal temperature and who are not presenting with any symptoms. These employees may proceed to their respective departments and resume work.</li>
											<br />
											<li>Should a person in the office display signs or symptoms of the Coronavirus, they are to be immediately isolated in an office or area away from all other Employees. Dependent on their condition they will be encouraged to go home and self isolate. If the symptoms are severe or obvious, they are to be immediately tested as per the current protocol of the Ministry of Health and if
												confirmed as having the virus subject themselves to the direction provided by the healthcare professional.</li>
											<br />
											<li>Those identified as being in proximity to the person showing symptoms will be closely observed and screened daily. If the person is confirmed to have contracted the virus, they will submit themselves to self isolation and work from home, get themselves tested if symptoms appear and then follow the relevant direction of the healthcare professional. If work cannot be performed at
												home, then the current company policy around sick leave will apply. This policy will also apply to all identified as having or as have had HIV, TB or other diseases identified by the Health Department.</li>
											<br />
											<li>In the event of a case of Coronavirus being confirmed within the offices, this will immediately be reported to the Department of Health and the offices closed until further direction by the relevant authorities</li>
											<br />
											<li>The offices will then undergo a deep clean process by professionals before Employees return for work</li>
											<br />
											<li>The appointed person must follow-up telephonically with the employee on a daily basis, record progress and inform management if the employee is not fit to return to work and how long the employee will be in isolation at home or at a hospital.</li>
											<br />
											<li>Employees must call the workplace to arrange for an assessment and the issuing of a clearance letter after the isolation/admission period.</li>
											<br />
											<li>Following the fitness to work assessment, issue a Return to Work Note and advise the Line Manager.</li>
											<br />
										</ul>
									</ul>
									<li><h3>Continious Measures</h3></li>
									<ul>
										<li>Training of employees</li>
										<br />
										<li>Continually re-enforcing of universal hygiene precautions</li>
										<br />
										<li>Enforce physical distancing in the workplace</li>
										<br />
										<li>Continue use of facemasks.</li>
										<br />
										<li>Promotion of good hygiene practices.</li>
										<br />
									</ul>
									<li><h3>Personal Protective Equipment (PPE)</h3></li>
									<ul>
										<li>PPE to be worn ( example - face masks, surgical gloves, eye protection) and social distancing rules to be applied at all times by all employees when on site. Hand sanitiser (at least 70% alcohol based) to be kept in all company vehicles and to be applied when getting in and out of the vehicle.</li>
										<br />
										<li>Masks to be worn when travelling to and from site by employees, IT consultants / technicians due to close proximity within vehicle. This will also apply when visiting the workshop, stores or office to collect spares or stock related to their work.</li>
										<br />
										<li>Employees to use non-medical or homemade (bandanas/buffs/cloth masks) facemasks (now endorsed by WHO and Centre for Disease Control) in crowded environments where physical distancing cannot be practised.</li>
										<br />
									</ul>
									<li><h3>Quarantine and working from home</h3></li>
									<ul>
										<li>If an employee has been in close contact with an individual who has since been diagnosed with COVID-19, the employee must immediately inform the Department of Health. If, after informing the Department of Health, they require an individual to self-quarantine, then The Company will apply the following policies.</li>
										<ul>
											<li>If you are able to work during this period and it is possible in terms of your position, then there is no requirement to submit a sick leave or annual leave request. You are, however, required to report daily to your line manager.</li>
											<li>Should you become sick during this period, the normal leave COVID-19 Management Standard will apply with respect to notification that you are ill, however ‘special leave’ will be granted which will not be deducted from normal sick leave entitlements and can be claimed from UIF. The Department of Health hotline must be contacted and a confirmation letter from the employer and
												employee submitted to UIF in order to claim for the benefit.</li>
										</ul>
									</ul>
									<li><h3>Meetings</h3></li>
									<ul>
										<li>Consider whether a face-to-face meeting or event is needed. Could it be replaced by a teleconference or any other electronic platform.</li>
										<li>Could the meeting be scaled down so that fewer people attend?</li>
										<li>Ensure that all participants in the meeting have washed their hands for 20 seconds prior to the meeting commencing.</li>
										<li>Ensure all delegates are seated at least one meter apart</li>
										<li>The names and contact details of all participants within the meeting should be retained for at least one month. This will assist health care authorities to trace who have been exposed to the virus if participant do become ill shortly after the meeting.</li>
										<li>If someone should contract the virus shortly after the meeting, the company should inform all participants.</li>
									</ul>
									<li><h3>Seminars, Training and Conferences</h3></li>
									<ul>
										<li>No employee may attend external seminars, training or conferences, unless these are presented online. The presentation of seminars and training to clients will be converted to online / blended facilitation.</li>
									</ul>
									<li><h3>Travel</h3></li>
									<ul>
										<li>Employees and contractors to consult national travel advice before going on business trips</li>
										<li>The Company is suspending all domestic and international flight travel until further notice. Employees will however be required to travel locally to clients and for business purposes, and this will be done in line with current protocols of low contact and high hygiene.</li>
										<li>In line with the Statement by President Cyril Ramaphosa on the 23rd March 2020, all non-essential travel particularly by air, taxis and busses is not allowed for the duration of the National Lockdown.</li>
									</ul>
									<li><h3>Awareness and training</h3></li> All employees to receive the following Induction training
									<ul>
										<li>Induction on new COVID-19 Procedure</li>
										<li>Proper use of new unfamiliar PPE</li>
										<li>Proper disposal Bio-Hazardous waste and proper waste segregation</li>
										<li>COVID-19 modes of transmission, preventative measures</li>
										<li>Basic Hygiene e.g. Handwashing procedure</li>
									</ul>
									<li><h3>Registers and Checklists</h3></li>
									<ul>
										<li>5-FRM-001-0 COVID-19 Return to Work Medical Screening Form</li>
										<li>5-FRM-002-0 COVID-19 Health Declaration Form</li>
										<li>5-FRM-003-0 COVID-19 Medical Surveillance Monitoring Register</li>
										<li>5-RGR-002-0 COVID-19 Personal protective Equipment Register</li>
										<li>5-CHK-001-0 COVID-19 Facility Medical Equipment, Supplies and Hygiene Inspection Register and Checklist.</li>
									</ul>
									<li><h3>Consequence of breach</h3></li>
									<ul>
										<li>If an employee breaches this COVID-19 Management Standard the necessary disciplinary action will be taken. It is important to note that the company’s sick leave COVID-19 Management Standard combined with special leave provisions will not be adjusted or become flexible during the outbreak of COVID-19. The normal sick leave COVID-19 Management Standard which is in line with Labour
											Law will still apply.</li>
										<li>It is the employee’s responsibility to contact management should he/she have any queries.</li>
									</ul>
								</ul>
							</p:fieldset>
						</p:fieldset>
						<br />
						<p:fieldset legend="Acceptance and Signature of Employee" toggleable="false">
							<br />
							<p:growl autoUpdate="true" sticky="false" />
							<p:panelGrid columns="2" style="width:100%" id="managementStandardInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="firsName" value="#{managementStandardUI.managementStandard.user.firstName}" readonly="true" style="width: 95%" />
									<p:outputLabel value="First Name" for="firsName" />
								</h:panelGroup>
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="lastName" value="#{managementStandardUI.managementStandard.user.lastName}" readonly="true" style="width: 95%" />
									<p:outputLabel value="Last Name" for="lastName" />
								</h:panelGroup>
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="idNumber" value="#{managementStandardUI.managementStandard.user.idNumber}" readonly="true" style="width: 95%" />
									<p:outputLabel value="ID Number" for="idNumber" />
								</h:panelGroup>
								<h:panelGroup>
									<p:outputLabel id="signatureQ" value="I accept the guidelines as per management standard" for="signatureA" style="width: 95%" />
									<br />
									<div style="height: 5px" />
									<p:selectBooleanCheckbox id="signatureA" value="#{managementStandardUI.managementStandard.signature}" required="true" requiredMessage="Employee Signature Required" />
								</h:panelGroup>
							</p:panelGrid>
						</p:fieldset>
						<h:panelGroup>
							<br />
							<div style="height: 5px" />
							<p:commandButton value="Submit" id="submit" update="managementStandardMainForm managementStandardInsForm" action="#{managementStandardUI.managementStandardInsert}" style="margin-right:20px;" styleClass="ui-priority-primary" icon="fa fa-check" iconPos="right">
								<p:resetInput target="managementStandardInsForm" />
							</p:commandButton>
						</h:panelGroup>
					</h:form>
				</div>
				<div class="card">
					<h:form id="managementStandardMainForm">
						<p:dataTable var="rowVar" value="#{managementStandardUI.dataModel}" id="visitorDeclarationForm" rowKey="#{rowVar.id}" paginator="true" rows="5" paginatorPosition="bottom" paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,25,50" reflow="true" lazy="true">
							<f:facet name="header">Management Standard Register</f:facet>
							<p:column visible="true" headerText="Date">
								<h:outputText value="#{rowVar.createDate}">
									<f:convertDateTime pattern="dd/MMM/yyyy" />
								</h:outputText>
							</p:column>
							<p:column visible="true" headerText="Name and Surname">
								<h:outputText value="#{rowVar.user.formattedName}" />
							</p:column>
							<p:column visible="true" headerText="ID Number">
								<h:outputText value="#{rowVar.user.idNumber}" />
							</p:column>
							<p:column visible="true" headerText="Signature">
								<h:outputText value="Yes" rendered="#{rowVar.signature eq true}" />
								<h:outputText value="No" rendered="#{rowVar.signature eq false}" />
							</p:column>
							<p:column visible="true" headerText="Actions">
								<p:commandButton action="#{managementStandardUI.managementStandardDelete}" icon="fa fa-trash" title="Delete" style=" background-color: #edb800; margin: 5px" id="deleteBtn" update="managementStandardMainForm managementStandardInsForm">
									<p:ajax />
									<f:setPropertyActionListener value="#{rowVar}" target="#{managementStandardUI.managementStandard}" />
								</p:commandButton>
								<p:commandButton icon="fa fa-pencil" title="Update" style=" background-color: #edb800; margin: 5px;" id="updateBtn" update="managementStandardMainForm managementStandardInsForm">
									<p:ajax />
									<f:setPropertyActionListener value="#{rowVar}" target="#{managementStandardUI.managementStandard}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>
