<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">


	<ui:define name="content">
		<p:importEnum type="haj.com.entity.enums.YesNoEnum" />

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="medicalScreeningFormInsForm">
						<h1 class="BigTopic TexAlCenter">Medical Screening Form</h1>
						<p:growl autoUpdate="true" sticky="false" />
						<p:fieldset legend="User Information" toggleable="true" collapsed="true">
							<p:panelGrid columns="2" style="width:100%" id="usermedicalScreeningFormInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="userFirstNames" value="#{medicalScreeningFormUI.medicalScreeningForm.user.firstName}" style="width:95%" readonly="#{medicalScreeningFormUI.medicalScreeningForm.user.firstName ne null}" required="true" requiredMessage="FirstName Required">
										<p:ajax />
									</p:inputText>
									<p:outputLabel value="First Names" for="userFirstNames" />
								</h:panelGroup>
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="userSurname" value="#{medicalScreeningFormUI.medicalScreeningForm.user.lastName}" style="width:95%" readonly="#{medicalScreeningFormUI.medicalScreeningForm.user.lastName ne null}" required="true" requiredMessage="Last Name Required">
										<p:ajax />
									</p:inputText>
									<p:outputLabel value="Last Name" for="userSurname" />
								</h:panelGroup>
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="companyNumber" value="#{medicalScreeningFormUI.medicalScreeningForm.user.companyNumber}" style="width:95%" readonly="#{medicalScreeningFormUI.medicalScreeningForm.user.companyNumber ne null}" required="true" requiredMessage="Company Number Required">
										<p:ajax />
									</p:inputText>
									<p:outputLabel value="Company Number" for="companyNumber" />
								</h:panelGroup>
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="identityNumber" value="#{medicalScreeningFormUI.medicalScreeningForm.user.idNumber}" style="width:95%" readonly="#{medicalScreeningFormUI.medicalScreeningForm.user.idNumber ne null}" required="true" requiredMessage="Identity Number Required">
										<p:ajax />
									</p:inputText>
									<p:outputLabel value="Identity Number" for="identityNumber" />
								</h:panelGroup>
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="occupation" value="#{medicalScreeningFormUI.medicalScreeningForm.user.occupation}" style="width:95%" readonly="#{medicalScreeningFormUI.medicalScreeningForm.user.occupation ne null}" required="true" requiredMessage="Occupation Required">
										<p:ajax />
									</p:inputText>
									<p:outputLabel value="Occupation" for="occupation" />
								</h:panelGroup>
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="department" value="#{medicalScreeningFormUI.medicalScreeningForm.user.department}" style="width:95%" readonly="#{medicalScreeningFormUI.medicalScreeningForm.user.department ne null}" required="true" requiredMessage="Department Required">
										<p:ajax />
									</p:inputText>
									<p:outputLabel value="Department" for="department" />
								</h:panelGroup>
								<h:panelGroup styleClass="md-inputfield">
									<p:calendar id="dateEmployed" value="#{medicalScreeningFormUI.medicalScreeningForm.user.dateEmployed}" pattern="dd/MM/yyyy" navigator="true" showOn="button" style="width:95%" inputStyle="width: 94%" readonly="true" disabled="#{medicalScreeningFormUI.medicalScreeningForm.user.dateEmployed ne null}" required="true" requiredMessage="Date Employed Required">
										<p:ajax event="dateSelect"/>
									</p:calendar>
									<p:outputLabel value="Date Employed" for="dateEmployed" />
								</h:panelGroup>

								<h:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
									<h:panelGroup styleClass="md-inputfield">
										<p:calendar id="dateDischarged" value="#{medicalScreeningFormUI.medicalScreeningForm.user.dateDischarged}" pattern="dd/MM/yyyy" navigator="true" showOn="button" style="width:95%" inputStyle="width: 75%" readonly="true" disabled="#{medicalScreeningFormUI.medicalScreeningForm.user.stillEmployed}" required="true" requiredMessage="Date Discharged Required">
											<p:ajax event="dateSelect" />
										</p:calendar>
										<p:outputLabel value="Date Discharged" for="dateDischarged" />
									</h:panelGroup>

									<h:panelGroup>
										<p:selectBooleanCheckbox id="stillEmployed" value="#{medicalScreeningFormUI.medicalScreeningForm.user.stillEmployed}" style="font: bold;" required="true" requiredMessage="Employee Signature Required">
											<p:ajax update="dateDischarged" />
										</p:selectBooleanCheckbox>
										<p:outputLabel value="Still Employed" style="font-weight: bold;" />
									</h:panelGroup>
								</h:panelGrid>

								<h:panelGroup styleClass="md-inputfield">
									<p:outputLabel value="#{medicalScreeningFormUI.medicalScreeningForm.user.employemntLenght}" />
								</h:panelGroup>
							</p:panelGrid>
						</p:fieldset>
						<div class="EmptyBox20" />
						<p:panel header="Vital Data">
							<p:panelGrid columns="2" style="width:100%" id="vitalDataMedicalScreeningFormInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">

								<h:panelGroup styleClass="md-inputfield" id="tempPnlGrp">
									<p:inputNumber id="temperature" value="#{medicalScreeningFormUI.medicalScreeningForm.temperature}" style="width:95%" decimalPlaces="1" inputStyle="width:95%" required="true" requiredMessage="Temperature Required">
										<p:ajax event="valueChange" update="tempPnlGrp" />
									</p:inputNumber>
									<p:outputLabel value="Temperature" for="temperature" rendered="#{medicalScreeningFormUI.medicalScreeningForm.temperature lt 37.0 or medicalScreeningFormUI.medicalScreeningForm.temperature eq null}" />
									<p:outputLabel value="Temperature" for="temperature" style="color: #BF0404" rendered="#{medicalScreeningFormUI.medicalScreeningForm.temperature gt 36.9}" />
								</h:panelGroup>
								<p:spacer />

								<h:panelGroup>
									<p:outputLabel id="medicationQuestion" value="Do you take any medication?" for="medication" />
									<br />
									<div style="height: 5px" />
									<p:selectOneButton id="medication" value="#{medicalScreeningFormUI.medicalScreeningForm.takeAnyMedication}" required="true" requiredMessage="Occupational Accident/Disease Required">
										<p:ajax update="medicationAnswer" />
										<f:selectItems value="#{enumUI.yesNoEnumDD}" />
									</p:selectOneButton>
								</h:panelGroup>

								<h:panelGroup id="medicationAnswer" styleClass="md-inputfield">
									<p:inputTextarea id="describemedication" autoResize="true" value="#{medicalScreeningFormUI.medicalScreeningForm.discribeMedication}" style="width:95%" required="true" requiredMessage="Occupational Accident/Disease Description Required" readonly="#{medicalScreeningFormUI.medicalScreeningForm.takeAnyMedication eq YesNoEnum.No or medicalScreeningFormUI.medicalScreeningForm.takeAnyMedication eq null}" />
									<p:outputLabel value="Describe" for="describemedication" />
								</h:panelGroup>

								<h:panelGroup>
									<p:outputLabel id="occupationalQuestion" value="Have you ever a serious occupational accident or occupational disease?" for="occupationalAccident" />
									<br />
									<div style="height: 5px" />
									<p:selectOneButton id="occupationalAccident" value="#{medicalScreeningFormUI.medicalScreeningForm.everHadOccupationalAccidentOrDisease}" required="true" requiredMessage="Occupational Accident/Disease Required">
										<p:ajax update="occupationalAnswer" />
										<f:selectItems value="#{enumUI.yesNoEnumDD}" />
									</p:selectOneButton>
								</h:panelGroup>

								<h:panelGroup id="occupationalAnswer" styleClass="md-inputfield">
									<p:inputTextarea id="describeoccupational" autoResize="true" value="#{medicalScreeningFormUI.medicalScreeningForm.discribeOccupationalAccidentOrDisease}" style="width:95%" required="true" requiredMessage="Occupational Accident/Disease Description Required" readonly="#{medicalScreeningFormUI.medicalScreeningForm.everHadOccupationalAccidentOrDisease eq YesNoEnum.No or medicalScreeningFormUI.medicalScreeningForm.everHadOccupationalAccidentOrDisease eq null}" />
									<p:outputLabel value="Describe" for="describeoccupational" />
								</h:panelGroup>

								<h:panelGroup>
									<p:outputLabel id="cronicDiseaseQuestion" value="Do you suffer from any of the Cronic Diseases?" for="cronicDiseases" />
									<br />
									<div class="EmptyBox5" />
									<p:selectCheckboxMenu id="cronicDiseases" value="#{medicalScreeningFormUI.medicalScreeningForm.cronicDiseasesList}" converter="CronicDiseasesConvertor" label="Do you suffer from any of the Cronic Diseases?" multiple="true" style="width:95%">
										<f:selectItems value="#{selectItemsUI.cronicDiseases}" var="item" itemLabel="#{item.description}" itemValue="#{item}" />
									</p:selectCheckboxMenu>
								</h:panelGroup>

							</p:panelGrid>
						</p:panel>
						<div class="EmptyBox20" />
						<p:panel header="Symptom Check">
							<p:panelGrid columns="2" style="width:100%" id="symptomsCheckMedicalScreeningFormInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
								<h:panelGroup>
									<p:outputLabel id="feverQ" value="Fever" for="feverA" />
									<br />
									<div style="height: 5px" />
									<p:selectOneButton id="feverA" value="#{medicalScreeningFormUI.medicalScreeningForm.fever}" required="true" requiredMessage="Fever Required">
										<f:selectItems value="#{enumUI.yesNoEnumDD}" />
									</p:selectOneButton>
								</h:panelGroup>
								<h:panelGroup>
									<p:outputLabel id="coughQ" value="Cough" for="coughA" />
									<br />
									<div style="height: 5px" />
									<p:selectOneButton id="coughA" value="#{medicalScreeningFormUI.medicalScreeningForm.cough}" required="true" requiredMessage="Cough Required">
										<f:selectItems value="#{enumUI.yesNoEnumDD}" />
									</p:selectOneButton>
								</h:panelGroup>
								<h:panelGroup>
									<p:outputLabel id="soreThroatQ" value="Sore throat" for="soreThroatA" />
									<br />
									<div style="height: 5px" />
									<p:selectOneButton id="soreThroatA" value="#{medicalScreeningFormUI.medicalScreeningForm.soreThroat}" required="true" requiredMessage="Sore Throat Required">
										<f:selectItems value="#{enumUI.yesNoEnumDD}" />
									</p:selectOneButton>
								</h:panelGroup>
								<h:panelGroup>
									<p:outputLabel id="shortnessOfBreathQ" value="Shortness of breath" for="shortnessOfBreathA" />
									<br />
									<div style="height: 5px" />
									<p:selectOneButton id="shortnessOfBreathA" value="#{medicalScreeningFormUI.medicalScreeningForm.shortnessOfBreath}" required="true" requiredMessage="Shortness Of Breath Required">
										<f:selectItems value="#{enumUI.yesNoEnumDD}" />
									</p:selectOneButton>
								</h:panelGroup>
								<h:panelGroup>
									<p:outputLabel id="contactQ" value="Any contact with persons diagnosed with Covid-19" for="contactA" />
									<br />
									<div style="height: 5px" />
									<p:selectOneButton id="contactA" value="#{medicalScreeningFormUI.medicalScreeningForm.contactWithPersonDiagnosedWithCovid}" required="true" requiredMessage="Contact with Persons diagnosed with Covid-19 Required">
										<f:selectItems value="#{enumUI.yesNoEnumDD}" />
									</p:selectOneButton>
								</h:panelGroup>
								<p:spacer />
								<h:panelGroup>
									<p:outputLabel id="statusQ" value="Status" for="statusA" />
									<br />
									<div style="height: 5px" />
									<p:selectOneMenu id="statusA" value="#{medicalScreeningFormUI.medicalScreeningForm.status}" required="true" requiredMessage="Status Required" style="width: 95%">
										<f:selectItem itemLabel="--Select one--" noSelectionOption="true" />
										<f:selectItems value="#{enumUI.healthStatusDD}" />
									</p:selectOneMenu>
								</h:panelGroup>
								<h:panelGroup>
									<p:outputLabel id="assessorQ" value="Assessor" for="assessorA" />
									<br />
									<div style="height: 5px" />
									<p:selectOneMenu id="assessorA" value="#{medicalScreeningFormUI.medicalScreeningForm.assessor}" converter="UsersConvertor" required="false" requiredMessage="Select Assessor" style="width: 95%">
										<f:selectItem itemLabel="--Select one--" noSelectionOption="true" />
										<f:selectItems value="#{selectItemsUI.users}" var="item" itemLabel="#{item.firstName}" itemValue="#{item}" />
									</p:selectOneMenu>
								</h:panelGroup>
								<h:panelGroup>
									<p:outputLabel value="I Acknowledge that the following information is true and correct!" for="signature" />
									<br />
									<div style="height: 5px" />
									<p:selectBooleanCheckbox id="signature" value="#{medicalScreeningFormUI.medicalScreeningForm.employeeSignature}" style="font: bold;" required="true" requiredMessage="Employee Signature Required" />
									<p:outputLabel value="Accept" style="font-weight: bold;" />
								</h:panelGroup>
							</p:panelGrid>
						</p:panel>
						<div class="EmptyBox10" />
						<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<p:commandButton value="Submit" icon="fa fa-check" iconPos="right" id="submit" update="medicalScreeningMainForm medicalScreeningFormInsForm" action="#{medicalScreeningFormUI.medicalScreeningFormInsert}" style="margin-right:20px;" styleClass="ui-priority-primary" />
						</p:panelGrid>
					</h:form>
				</div>
				<div class="card">
					<h:form id="medicalScreeningMainForm">
						<p:commandButton styleClass="Fright" id="toggler" type="button" value="Column Toggler" icon="fa fa-columns" style=" background-color: #edb800;" />
						<p:columnToggler datasource="medicalScreeningForm" trigger="toggler" />
						<p:tooltip for="toggler" value="Column Toggler Define" />
						<div class="EmptyBox10" />
						<p:dataTable var="rowVar" value="#{medicalScreeningFormUI.dataModel}" id="medicalScreeningForm" rowKey="#{rowVar.id}" paginator="true" rows="5" paginatorPosition="bottom" paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,25,50" reflow="true" lazy="true">
							<f:facet name="header">
							Medical Screening Forms</f:facet>
							<p:column visible="true" headerText="Full name">
								<h:outputText value="#{rowVar.user.formattedName}" />
							</p:column>
							<p:column visible="flase" headerText="Company Number">
								<h:outputText value="#{rowVar.user.companyNumber}" />
							</p:column>
							<p:column visible="true" headerText="Identity Number">
								<h:outputText value="#{rowVar.user.idNumber}" />
							</p:column>
							<p:column visible="false" headerText="Occupation">
								<h:outputText value="#{rowVar.user.occupation}" />
							</p:column>
							<p:column visible="false" headerText="Department">
								<h:outputText value="#{rowVar.user.department}" />
							</p:column>
							<p:column visible="false" headerText="Date Employes">
								<h:outputText value="#{rowVar.user.dateEmployed}" />
							</p:column>
							<p:column visible="false" headerText="Date Discharged">
								<h:outputText value="#{rowVar.user.dateDischarged}" />
							</p:column>
							<p:column visible="false" headerText="Length of Servie">
								<h:outputText value="#{rowVar.user.employemntLenght}" />S
							</p:column>
							<p:column visible="true" headerText="Temperature">
							
								<p:outputPanel rendered="#{rowVar.temperature gt 36.9}">
									<h:outputText value="#{rowVar.temperature}" style="color: #BF0404; font-weight: bold" />
									<i class="fa fa-flag fa-2x" aria-hidden="true" style="color: #BF0404; margin-left:5px" />
								</p:outputPanel>

								<p:outputPanel rendered="#{rowVar.temperature lt 37.0}">
									<h:outputText value="#{rowVar.temperature}" rendered="#{rowVar.temperature lt 37.0}" />
								</p:outputPanel>

							</p:column>
							<p:column visible="false" headerText="Ever had Serious Occupation Accident or Disease">
								<h:outputText value="#{rowVar.everHadOccupationalAccidentOrDisease}" />
							</p:column>
							<p:column visible="false" headerText="Occupational Accident or Disease Discription">
								<h:outputText value="#{rowVar.discribeOccupationalAccidentOrDisease}" />
							</p:column>
							<p:column visible="false" headerText="Cronic Diseases">
								<h:outputText value="Yes" rendered="#{rowVar.sufferFromCronicDisease eq true}" />
								<h:outputText value="No" rendered="#{rowVar.sufferFromCronicDisease eq false}" />
							</p:column>
							<p:column visible="false" headerText="Medication">
								<h:outputText value="#{rowVar.takeAnyMedication}" />
							</p:column>
							<p:column visible="false" headerText="Medication Discription">
								<h:outputText value="#{rowVar.takeAnyMedication}" />
							</p:column>
							<p:column visible="false" headerText="Fever">
								<h:outputText value="#{rowVar.fever}" />
							</p:column>
							<p:column visible="false" headerText="Cough">
								<h:outputText value="#{rowVar.cough}" />
							</p:column>
							<p:column visible="false" headerText="Sore Throat">
								<h:outputText value="#{rowVar.soreThroat}" />
							</p:column>
							<p:column visible="false" headerText="Shortness Of Breath">
								<h:outputText value="#{rowVar.shortnessOfBreath}" />
							</p:column>
							<p:column visible="false" headerText="Contact with Person/s Diagnosed with Covid-19">
								<h:outputText value="#{rowVar.contactWithPersonDiagnosedWithCovid}" />
							</p:column>
							<p:column visible="true" headerText="Status">
								<h:outputText value="#{rowVar.status.friendlyName}" />
							</p:column>
							<p:column visible="true" headerText="Assessor">
								<h:outputText value="#{rowVar.assessor.firstName}" />
							</p:column>
							<p:column visible="true" headerText="Actions">
								<p:commandButton action="#{medicalScreeningFormUI.medicalScreeningFormDelete}" icon="fa fa-trash" title="Delete" style=" background-color: #edb800; margin: 5px" id="deleteBtn" update="medicalScreeningMainForm medicalScreeningFormInsForm">
									<p:ajax />
									<f:setPropertyActionListener value="#{rowVar}" target="#{medicalScreeningFormUI.medicalScreeningForm}" />
								</p:commandButton>
								<p:commandButton action="#{medicalScreeningFormUI.populateCronicDiseases}" icon="fa fa-pencil" title="Update" style=" background-color: #edb800; margin: 5px;" id="updateBtn" update="medicalScreeningMainForm medicalScreeningFormInsForm">
									<p:ajax />
									<f:setPropertyActionListener value="#{rowVar}" target="#{medicalScreeningFormUI.medicalScreeningForm}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>
