<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">



	<ui:define name="content">
		<h:form id="monitoringRegisterInsForm">
			<p:importEnum type="haj.com.entity.enums.YesNoEnum" />
			<p:importEnum type="haj.com.entity.enums.CovidPersonRegisterTypeEnum" />
			<p:growl autoUpdate="true" sticky="false" />
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card">
						<h1 class="BigTopic TexAlCenter">Monitoring Register</h1>
						<p:panel>
							NB: Any Temperature of <SPAN style="color: #DD0000"> 37.4 ˚C </SPAN>or higher need to be reported to the Department Manager and person may not enter the site.
						</p:panel>
						<br />
						<p:fieldset legend="Employees, Subcontractors, Visitors Entering the Premises" style="width:95%">
							<p:panelGrid columns="2" style="width:100%" id="personTypeInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
								<h:panelGroup>
									<p:outputLabel value="Register Person Type" style="width:95%" />
									<br />
									<div style="height: 5px" />
									<p:selectOneMenu value="#{monitoringRegisterUI.monitoringRegister.personType}" style="width: 95%" id="personType">
										<p:ajax update="monitoringRegisterInsForm" />
										<f:selectItem itemLabel="--Select One --" noSelectionOption="false" />
										<f:selectItems value="#{enumUI.covidPersonRegisterTypeDD}" var="enum" />
									</p:selectOneMenu>
								</h:panelGroup>
								<h:panelGroup rendered="#{monitoringRegisterUI.monitoringRegister.personType.ordinal() eq 0}">
									<p:outputLabel value="Employee" style="width:95%" />
									<br />
									<div style="height: 5px" />
									<p:selectOneMenu id="assessorA" value="#{monitoringRegisterUI.monitoringRegister.user}" converter="UsersConvertor" style="width: 95%">
										<p:ajax update="monitoringRegisterInsForm" listener="#{monitoringRegisterUI.populateUserData}" />
										<f:selectItem itemLabel="--Select one--" noSelectionOption="true" />
										<f:selectItems value="#{selectItemsUI.users}" var="item" itemLabel="#{item.firstName} #{item.lastName}" itemValue="#{item}" />
									</p:selectOneMenu>
								</h:panelGroup>
								<h:panelGroup rendered="#{monitoringRegisterUI.monitoringRegister.personType.ordinal() eq 1}">
									<p:outputLabel value="Visitor" style="width:95%" />
									<br />
									<div style="height: 5px" />
									<p:selectOneMenu id="visitorA" value="#{monitoringRegisterUI.monitoringRegister.visitor}" converter="VisitorConvertor" style="width: 95%">
										<p:ajax update="monitoringRegisterInsForm" listener="#{monitoringRegisterUI.populateVisitorData}" />
										<f:selectItem itemLabel="--Select one--" noSelectionOption="true" />
										<f:selectItems value="#{selectItemsUI.visitor}" var="item" itemLabel="#{item.formattedName} - #{item.company}" itemValue="#{item}" />
									</p:selectOneMenu>
								</h:panelGroup>
							</p:panelGrid>
							<p:panelGrid columns="2" style="width:100%" id="monitoringRegisterInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
								<c:if test="#{monitoringRegisterUI.monitoringRegister.personType.ordinal() eq 1 and monitoringRegisterUI.monitoringRegister.visitor ne null}">
									<h:panelGroup styleClass="md-inputfield" rendered="#{monitoringRegisterUI.monitoringRegister.visitorType ne null and monitoringRegisterUI.monitoringRegister.visitorType.ordinal() eq 0}">
										<p:inputText id="fullName" value="#{monitoringRegisterUI.monitoringRegister.visitor.formattedName}" style="width: 95%" required="true" requiredMessage="Full Names Required">
											<p:ajax immediate="true" />
										</p:inputText>
										<p:outputLabel id="fullNameQ" for="fullName" value="Full Name" style="width: 95%" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="address1" value="#{monitoringRegisterUI.monitoringRegister.visitor.physicalAddress.addressLine1}" style="width: 95%">
											<p:ajax event="valueChange" />
										</p:inputText>
										<p:outputLabel id="address1Q" for="address1" value="Address Line 1" style="width: 95%" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="department" value="#{monitoringRegisterUI.monitoringRegister.visitor.department}" style="width: 95%" required="true" requiredMessage="Department Required" readonly="true">
											<p:ajax immediate="true" />
										</p:inputText>
										<p:outputLabel id="departmentQ" for="department" value="Department" style="width: 95%" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="address2" value="#{monitoringRegisterUI.monitoringRegister.visitor.physicalAddress.addressLine2}" style="width: 95%" readonly="true">
											<p:ajax immediate="true" />
										</p:inputText>
										<p:outputLabel id="address2Q" for="address2" value="Address Line 2" style="width: 95%" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="cellNumber" value="#{monitoringRegisterUI.monitoringRegister.visitor.cellNumber}" style="width: 95%" required="true" requiredMessage="Cell Number Required" readonly="true">
											<p:ajax immediate="true" />
										</p:inputText>
										<p:outputLabel id="cellNumberQ" for="cellNumber" value="Cell Number" style="width: 95%" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="address3" value="#{monitoringRegisterUI.monitoringRegister.visitor.physicalAddress.addressLine3}" style="width: 95%" readonly="true">
											<p:ajax immediate="true" />
										</p:inputText>
										<p:outputLabel id="address3Q" for="address2" value="Address Line 3" style="width: 95%" />
									</h:panelGroup>
									<p:spacer />
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="postalCode" value="#{monitoringRegisterUI.monitoringRegister.visitor.physicalAddress.postcode}" style="width: 95%" readonly="true">
											<p:ajax immediate="true" />
										</p:inputText>
										<p:outputLabel id="postalCodeQ" for="address3" value="Postal Code" style="width: 95%" readonly="true" />
									</h:panelGroup>
									<p:spacer />
									<h:panelGroup>
										<p:outputLabel id="healtDeclarationFormQ" value="Health Declaration Form on File" for="healtDeclarationFormA" />
										<br />
										<div style="height: 5px" />
										<p:selectOneButton id="healtDeclarationFormA" value="#{monitoringRegisterUI.monitoringRegister.healthDeclarationFormOnFile}" required="true" requiredMessage="Health Declaration Form Required">
											<f:selectItems value="#{enumUI.yesNoEnumDD}" />
											<p:ajax immediate="true" />
										</p:selectOneButton>
									</h:panelGroup>
									<h:panelGroup>
										<p:outputLabel id="medicalSurveillanceQ" value="Medical Surveillance Form on File" for="medicalSurveillanceA" />
										<br />
										<div style="height: 5px" />
										<p:selectOneButton id="medicalSurveillanceA" value="#{monitoringRegisterUI.monitoringRegister.medicalSurveillanceFormOnFile}" required="true" requiredMessage="Medical Surveilance Form Required">
											<f:selectItems value="#{enumUI.yesNoEnumDD}" />
											<p:ajax immediate="true" />
										</p:selectOneButton>
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:outputLabel for="enterTime" value="Enter Time:" style="width: 95%" />
										<p:calendar id="enterTime" value="#{monitoringRegisterUI.monitoringRegister.enterTime}" pattern="HH:mm" timeOnly="true" style="width: 95%" required="true" requiredMessage="Enter Time Required" inputStyle="width: 95%">
											<p:ajax immediate="true" />
										</p:calendar>
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputNumber id="enterTemp" value="#{monitoringRegisterUI.monitoringRegister.enterTemperature}" style="width: 95%" inputStyle="width: 95%" required="true" requiredMessage="Enter Temperature Required" decimalPlaces="1">
											<p:ajax immediate="true" />
										</p:inputNumber>
										<p:outputLabel id="enterTemopQ" for="enterTemp" value="Enter Temperature" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:outputLabel for="exitTime" value="Exit Time:" style="width: 95%" />
										<p:calendar id="exitTime" value="#{monitoringRegisterUI.monitoringRegister.exitTime}" pattern="HH:mm" timeOnly="true" style="width: 95%" required="true" requiredMessage="Exit Time Required" inputStyle="width: 95%" >
										<p:ajax immediate="true" />
										</p:calendar>
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputNumber id="exitTemp" value="#{monitoringRegisterUI.monitoringRegister.exitTemperature}" style="width: 95%" inputStyle="width: 95%" required="true" requiredMessage="Exit Temperature Required" decimalPlaces="1" >
											<p:ajax immediate="true" />
										</p:inputNumber>
										<p:outputLabel id="exitTemopQ" for="exitTemp" value="Exit Temperature" style="width: 95%" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputTextarea id="otherSymptoms" value="#{monitoringRegisterUI.monitoringRegister.otherSymptoms}" style="width: 95%" inputStyle="width: 95%" autoResize="true" >
											<p:ajax immediate="true" />
										</p:inputTextarea>
										<p:outputLabel id="otherSymptomsQ" for="otherSymptoms" value="Other Symptoms" style="width: 95%" />
									</h:panelGroup>
								</c:if>
								<c:if test="#{monitoringRegisterUI.monitoringRegister.personType.ordinal() eq 0 and monitoringRegisterUI.monitoringRegister.user ne null}">
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="cellNumber" value="#{monitoringRegisterUI.monitoringRegister.user.cellNumber}" style="width: 95%" readonly="true">
											<p:ajax immediate="true" />
										</p:inputText>
										<p:outputLabel id="cellNumberQ" for="cellNumber" value="Cell Number" style="width: 95%" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="address1" value="#{monitoringRegisterUI.monitoringRegister.user.physicalAddress.addressLine1}" style="width: 95%" readonly="true">
											<p:ajax immediate="true" />
										</p:inputText>
										<p:outputLabel id="address1Q" for="address1" value="Address Line 1" style="width: 95%" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="department" value="#{monitoringRegisterUI.monitoringRegister.user.department}" style="width: 95%" readonly="true">
											<p:ajax immediate="true" />
										</p:inputText>
										<p:outputLabel id="departmentQ" for="department" value="Department" style="width: 95%" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="address2" value="#{monitoringRegisterUI.monitoringRegister.user.physicalAddress.addressLine2}" style="width: 95%" readonly="true">
											<p:ajax immediate="true" />
										</p:inputText>
										<p:outputLabel id="address2Q" for="address2" value="Address Line 2" style="width: 95%" />
									</h:panelGroup>
									<p:spacer />
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="address3" value="#{monitoringRegisterUI.monitoringRegister.user.physicalAddress.addressLine3}" style="width: 95%" readonly="true">
											<p:ajax immediate="true" />
										</p:inputText>
										<p:outputLabel id="address3Q" for="address2" value="Address Line 3" style="width: 95%" />
									</h:panelGroup>
									<p:spacer />
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="postalCode" value="#{monitoringRegisterUI.monitoringRegister.user.physicalAddress.postcode}" style="width: 95%" readonly="true">
											<p:ajax immediate="true" />
										</p:inputText>
										<p:outputLabel id="postalCodeQ" for="address3" value="Postal Code" style="width: 95%" readonly="true" />
									</h:panelGroup>
									<h:panelGroup>
										<p:outputLabel id="healtDeclarationFormQ" value="Health Declaration Form on File" for="healtDeclarationFormA" />
										<br />
										<div style="height: 5px" />
										<p:selectOneButton id="healtDeclarationFormA" value="#{monitoringRegisterUI.monitoringRegister.healthDeclarationFormOnFile}">
											<f:selectItems value="#{enumUI.yesNoEnumDD}" />
											<p:ajax immediate="true" />
										</p:selectOneButton>
									</h:panelGroup>
									<h:panelGroup>
										<p:outputLabel id="medicalSurveillanceQ" value="Medical Surveillance Form on File" for="medicalSurveillanceA" />
										<br />
										<div style="height: 5px" />
										<p:selectOneButton id="medicalSurveillanceA" value="#{monitoringRegisterUI.monitoringRegister.medicalSurveillanceFormOnFile}">
											<f:selectItems value="#{enumUI.yesNoEnumDD}" />
											<p:ajax immediate="true" />
										</p:selectOneButton>
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:outputLabel for="enterTime" value="Enter Time:" style="width: 95%" />
										<p:calendar id="enterTime" value="#{monitoringRegisterUI.monitoringRegister.enterTime}" pattern="HH:mm" timeOnly="true" style="width: 95%" inputStyle="width: 95%">
											<p:ajax immediate="true" />
										</p:calendar>
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputNumber id="enterTemp" value="#{monitoringRegisterUI.monitoringRegister.enterTemperature}" style="width: 95%" inputStyle="width: 95%" decimalPlaces="1">
											<p:ajax immediate="true" />
										</p:inputNumber>
										<p:outputLabel id="enterTemopQ" for="enterTemp" value="Enter Temperature" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:outputLabel for="exitTime" value="Exit Time:" style="width: 95%" />
										<p:calendar id="exitTime" value="#{monitoringRegisterUI.monitoringRegister.exitTime}" pattern="HH:mm" timeOnly="true" style="width: 95%" inputStyle="width: 95%" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputNumber id="exitTemp" value="#{monitoringRegisterUI.monitoringRegister.exitTemperature}" style="width: 95%" inputStyle="width: 95%" decimalPlaces="1" />
										<p:outputLabel id="exitTemopQ" for="exitTemp" value="Exit Temperature" style="width: 95%" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputTextarea id="otherSymptoms" value="#{monitoringRegisterUI.monitoringRegister.otherSymptoms}" style="width: 95%" inputStyle="width: 95%" autoResize="true" />
										<p:outputLabel id="otherSymptomsQ" for="otherSymptoms" value="Other Symptoms" style="width: 95%" />
									</h:panelGroup>
								</c:if>
							</p:panelGrid>
						</p:fieldset>
						<div>
							<br />
							<div style="height: 5px" />
							<p:commandButton value="Submit" icon="fa fa-check" iconPos="right" id="submit" immediate="true"  update="monitoringRegisterMainForm monitoringRegisterInsForm" action="#{monitoringRegisterUI.monitoringRegisterInsert}" style="margin-right:20px;" />
						</div>
					</div>
				</div>
			</div>
		</h:form>
		<div class="card">
			<h:form id="monitoringRegisterMainForm">

				<div class="p-grid">
					<div class="p-col-6">
						<p:commandButton styleClass="Fright" id="toggler" type="button" value="Column Toggler" icon="fa fa-columns" style=" background-color: #edb800; margin-top: 3px; margin-right: 4px" />
						<p:columnToggler datasource="monitoringRegisterForm" trigger="toggler" />
						<p:tooltip for="toggler" value="Column Toggler Define" />
					</div>
				</div>
				<p:dataTable var="rowVar" value="#{monitoringRegisterUI.dataModel}" id="monitoringRegisterForm" rowKey="#{rowVar.id}" paginator="true" rows="5" paginatorPosition="bottom" paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,25,50" reflow="true" lazy="true">
					<f:facet name="header">Visitor Declaration Forms</f:facet>
					<p:column visible="true" headerText="Date">
						<h:outputText value="#{rowVar.createDate}">
							<f:convertDateTime pattern="dd/MMM/yyyy" />
						</h:outputText>
					</p:column>
					<p:column visible="true" headerText="Full Names">
						<h:outputText value="#{rowVar.visitor.formattedName}" rendered="#{rowVar.visitor.id ne null}" />
						<h:outputText value="#{rowVar.user.formattedName}" rendered="#{rowVar.user.uid ne null}" />
					</p:column>
					<p:column visible="true" headerText="Mobile Number">
						<h:outputText value="#{rowVar.visitor.cellNumber}" rendered="#{rowVar.visitor.id ne null}" />
						<h:outputText value="#{rowVar.user.cellNumber}" rendered="#{rowVar.user.uid ne null}" />
					</p:column>

					<p:column visible="false" headerText="Physical Address">
						<h:outputText value="#{rowVar.visitor.physicalAddress.formattedAddress}" rendered="#{rowVar.visitor.id ne null}" />
						<h:outputText value="#{rowVar.user.physicalAddress.formattedAddress}" rendered="#{rowVar.user.uid ne null}" />
					</p:column>
					<p:column visible="false" headerText="Department">
						<h:outputText value="#{rowVar.visitor.department}" />
					</p:column>
					<p:column visible="false" headerText="Health Declaration Form on File">
						<h:outputText value="#{rowVar.healthDeclarationFormOnFile}" />
					</p:column>
					<p:column visible="false" headerText="Medical Surveillance Form on File">
						<h:outputText value="#{rowVar.medicalSurveillanceFormOnFile}" />
					</p:column>
					<p:column visible="true" headerText="Enter Temperature">
						<p:outputPanel rendered="#{rowVar.enterTemperature gt 36.9}">
							<h:outputText value="#{rowVar.enterTemperature}" style="color: #BF0404; font-weight: bold" />
							<i class="fa fa-flag fa-2x" aria-hidden="true" style="color: #BF0404; margin-left: 5px" />
						</p:outputPanel>

						<p:outputPanel rendered="#{rowVar.enterTemperature lt 37.0}">
							<h:outputText value="#{rowVar.enterTemperature}" rendered="#{rowVar.enterTemperature lt 37.0}" />
						</p:outputPanel>
					</p:column>
					<p:column visible="true" headerText="Enter Time">
						<h:outputText value="#{rowVar.enterTime}">
							<f:convertDateTime pattern="h:mm aa" />
						</h:outputText>
					</p:column>
					<p:column visible="true" headerText="Exit Temperature">
						<p:outputPanel rendered="#{rowVar.exitTemperature gt 36.9}">
							<h:outputText value="#{rowVar.exitTemperature}" style="color: #BF0404; font-weight: bold" />
							<i class="fa fa-flag fa-2x" aria-hidden="true" style="color: #BF0404; margin-left: 5px" />
						</p:outputPanel>

						<p:outputPanel rendered="#{rowVar.exitTemperature lt 37.0}">
							<h:outputText value="#{rowVar.exitTemperature}" rendered="#{rowVar.exitTemperature lt 37.0}" />
						</p:outputPanel>
					</p:column>
					<p:column visible="true" headerText="Exit Time">
						<h:outputText value="#{rowVar.exitTime}">
							<f:convertDateTime pattern="hh:mm aa" />
						</h:outputText>
					</p:column>
					<p:column visible="false" headerText="Other Symptoms">
						<h:outputText value="#{rowVar.otherSymptoms}" />
					</p:column>
					<p:column visible="true" headerText="Actions">
						<p:commandButton action="#{monitoringRegisterUI.monitoringRegisterDelete}" icon="fa fa-trash" title="Delete" style=" background-color: #edb800; margin: 5px" id="deleteBtn" update="monitoringRegisterMainForm monitoringRegisterInsForm">
							<p:ajax />
							<f:setPropertyActionListener value="#{rowVar}" target="#{monitoringRegisterUI.monitoringRegister}" />
						</p:commandButton>
						<p:commandButton action="#{monitoringRegisterUI.populateUpdate}" icon="fa fa-pencil" title="Update" style=" background-color: #edb800; margin: 5px;" id="updateBtn" update="monitoringRegisterMainForm monitoringRegisterInsForm">
							<p:ajax />
							<f:setPropertyActionListener value="#{rowVar}" target="#{monitoringRegisterUI.monitoringRegister}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
