$primaryColor: #52B68F;
$primaryDarkColor: #23536F;
$primaryLightColor: #7DD2B2;
$accentColor: #EDB800;
$accentDarkColor: #D4C222;
$accentLightColor: #EBDB4D;
$accentTextColor: #212121;

@import '../sass/theme/_theme';