<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:o="http://omnifaces.org/ui" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">


	<style>
.ui-fileupload-files {
	display: none;
}
</style>


	<p:dialog closeOnEscape="true" draggable="false" header="#{lang['document.note']}" widgetVar="noteDialog" resizable="false" hideEffect="clip" showEffect="clip" id="dialogNote" modal="true" responsive="true">
		<h:form id="noteForm">
			<p:outputPanel id="notePanel">
				<p:inputTextarea id="inputTextareaOne" cols="100" rows="5" readonly="true" value="#{uploadDocUI.doc.note}" />
			</p:outputPanel>
			<div class="EmptyBox10" />
			<p:commandButton id="CloseButton1" icon="fa fa-close " type="button" onclick="PF('noteDialog').hide()" value="#{lang['close']}" />
		</h:form>
	</p:dialog>

	<p:dialog closeOnEscape="true" draggable="false" header="#{lang['document.tracker']}" widgetVar="histDialog" resizable="false" hideEffect="clip" showEffect="clip" id="dialog" modal="true" width="70%" responsive="true">
		<h:form id="documenttrackeForm">
			<h:panelGrid>
				<p:dataTable value="#{uploadDocUI.documentTrackers}" var="rv" id="documenttrackeList" paginator="true" rows="6" paginatorPosition="bottom" emptyMessage="#{lang['no.records.found']}"
					paginatorTemplate="#{lang['page']} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">
					<p:column id="columnEight" headerText="#{lang['Date/Time']}" sortBy="#{rv.date}">
						<h:outputText value="#{rv.date}">
							<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
						</h:outputText>
					</p:column>

				 <p:column headerText="#{lang['action']}" width="15%">
         			#{rv.documentTrackerEnum.friendlyName}
       			</p:column>

					<p:column headerText="#{lang['action.by']}">
        				#{rv.user.firstName} #{rv.user.lastName} 
     			 </p:column>



				</p:dataTable>
				<div class="EmptyBox10" />

			</h:panelGrid>
		</h:form>
	</p:dialog>


	<p:dialog closeOnEscape="true" draggable="false" header="#{lang['view.document']}" widgetVar="viewDialog" resizable="false" id="dialogVIEW" modal="true" width="720" responsive="true" position="top">
		<f:event listener="#{uploadDocUI.onPrerender}" type="preRenderView" />
		<h:form id="viewForm">
			<h:panelGroup id="viewer">
				<!-- <p:media value="#{uploadDocUI.content}" width="700px" height="800px" player="pdf" rendered="#{uploadDocUI.doc.extension.toLowerCase() eq 'pdf'}" /> -->
				<pe:documentViewer download="doc.pdf" height="600" value="#{uploadDocUI.content}" rendered="#{uploadDocUI.doc.extension.toLowerCase() eq 'pdf'}" />
				<p:graphicImage value="#{imageStreamer.docImage}" rendered="#{uploadDocUI.doc.extension.toLowerCase() ne 'pdf'}" width="700px" height="800px">
					<f:param name="docid" value="#{uploadDocUI.doc.id}" />
				</p:graphicImage>
			</h:panelGroup>
		</h:form>

	</p:dialog>


	<p:dialog closeOnEscape="true" draggable="false" header="Previous versions" widgetVar="viewVersionsDialog" resizable="false" modal="true" width="80%" responsive="true" position="top">
		<h:form id="viewVersionsForm">
			<p:dataTable value="#{uploadDocUI.docVersions}" var="rv1" emptyMessage="#{lang['no.records.found']}" rowKey="#{rv1.id}" rendered="#{uploadDocUI.docVersions ne null}" reflow="true" rowIndexVar="ivar">


				<p:column headerText="#{lang['uploaded.by']}">#{rv1.users.firstName} #{rv1.users.lastName}
			 
			  <h:panelGroup rendered="#{ivar eq 0}">
						<p:spacer width="10" />
						<h:outputText value="Latest version" styleClass="FontBold red Fs15" />
					</h:panelGroup>
				</p:column>

				<p:column headerText="#{lang['uploaded']}" width="15%">
					<h:outputText value="#{rv1.createDate}">
						<f:convertDateTime pattern="dd MMM yyyy (HH:mm)" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{lang['version']}" width="15%">
					<h:outputText value="#{rv1.versionNo}">
					</h:outputText>
				</p:column>
				<p:column width="180">
					<p:commandButton ajax="false" icon="fa fa-download " action="#{uploadDocUI.download}" id="dlbUserDocs" rendered="#{rv1.id ne null}">
						<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
					</p:commandButton>
					<p:tooltip for="dlbUserDocs" value="#{lang['download.the.file']}" position="left" rendered="#{rv1.id ne null}" />

					<p:spacer width="5" rendered="#{rv1.id ne null}" />
					<p:commandButton icon="fa fa-bars " id="dhistUserDocs" action="#{uploadDocUI.showHistory}" oncomplete="PF('histDialog').show()" update=":documenttrackeForm:documenttrackeList" rendered="#{rv1.id ne null}">
						<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
					</p:commandButton>
					<p:tooltip for="dhistUserDocs" value="#{lang['document.tracker']}" position="left" rendered="#{rv1.id ne null}" />


					<h:panelGroup id="panelGroupThreeUserDocs" rendered="#{rv1.note ne null and rv1.note.length() gt 0}">
						<p:spacer width="5" />
						<p:commandButton icon="fa fa-comment-o " id="dnoteUserDocs" oncomplete="PF('noteDialog').show()" update=":noteForm:notePanel">
							<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
						</p:commandButton>
						<p:tooltip for="dnoteUserDocs" value="#{lang['view.note']}" position="left" />
					</h:panelGroup>

					<h:panelGroup id="panelGroupFourUserDocs" rendered="#{rv1.extension.toLowerCase() eq 'pdf' or rv1.extension.toLowerCase() eq 'png' or rv1.extension.toLowerCase() eq 'jpg' or rv1.extension.toLowerCase() eq 'jpeg' or rv1.extension.toLowerCase() eq 'gif'}">
						<p:spacer width="5" />
						<p:commandButton icon="fa fa-eye " id="viewerButtonUserDocs" oncomplete="PF('viewDialog').show()" update=":viewForm:viewer" action="#{uploadDocUI.buildStreamContent}">
							<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
						</p:commandButton>
						<p:tooltip for="viewerButtonUserDocs" value="#{lang['view.document']} " position="left" />
					</h:panelGroup>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:dialog>


</ui:composition>
