<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core">
	<span class="#{cssClass== null ? 'Fs13 gray' : cssClass}">
		<c:if test="#{showInfoCircle}">
			<c:if test="#{icon ne null}">
				<i class="fa #{icon}" aria-hidden="true"></i>
			</c:if>
			<c:if test="#{icon eq null}">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</c:if>
		</c:if>
		
		#{helpTxt}

		<c:if test="#{hideBR eq null or not hideBR}">
			<br />
			<br />
			<br />
		</c:if>
	</span>
</ui:composition>
