<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<script>
function goBack() {
    window.history.back();
}
</script>

	<ui:define name="subheader">

	</ui:define>

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">


					<div class="EmptyBox5"></div>
					<h1 class="FontBold">Project Hour Reports</h1>

					<h:form id="mainForm">
						<p:commandButton styleClass="Fleft" value="Previous Page" id="prevPage" title="Previous Page" icon="fa fa-arrow-left" onclick="goBack()" />
						<div class="divider" />
						<p:commandButton id="downloadReport" title="Downlaod Report PDF" icon="fa fa-file-pdf-o" value="Downlaod Report PDF" action="#{projectUsersWeekUI.projectsFromToDateDownloadPDF}" ajax="false" />
						<p:tooltip for="downloadReport" />
						<div class="divider" />
						<p:commandButton id="downloadReportExcel" title="Download Report Excel" icon="fa fa-file-excel-o" value="Download Report Excel" action="#{projectUsersWeekUI.projectsFromToDateDownloadExcel}" ajax="false" />
						<p:tooltip for="downloadReportExcel" />
						<div class="EmptyBox10" />
						<p:panel header="Project: #{sessionUI.reportBean.project.description}">

							<div class="ui-g">
								<div class="ui-g-12 ui-md-6 ui-lg-3">
									<h:outputLabel style="font-size:16px" value="From Date:" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-3">
									<h:outputLabel style="font-size:16px" value="#{sessionUI.reportBean.fromDate}">
										<f:convertDateTime pattern="dd MMMM yyyy" />
									</h:outputLabel>
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-3">

									<h:outputLabel style="font-size:16px" value="To Date:" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-3">
									<h:outputLabel style="font-size:16px" value="#{sessionUI.reportBean.toDate}">
										<f:convertDateTime pattern="dd MMMM yyyy" />
									</h:outputLabel>
								</div>
							</div>


						</p:panel>
						<div class="EmptyBox10"></div>
						<div class="Wid15  Fright">
							<h:panelGrid columns="4">

								<h:commandLink id="eExcel">
									<p:graphicImage name="hls/images/excel.png" width="28" />
									<p:dataExporter type="xls" target="resultTable" fileName="Users_Week_Information" />
								</h:commandLink>

								<h:commandLink id="ePdf">
									<p:graphicImage name="hls/images/pdf.png" width="28" />
									<p:dataExporter type="pdf" target="resultTable" fileName="Users_Week_Information" />
								</h:commandLink>

								<h:commandLink id="eCsv">
									<p:graphicImage name="hls/images/csv.png" width="28" />
									<p:dataExporter type="csv" target="resultTable" fileName="Users_Week_Information" />
								</h:commandLink>

								<h:commandLink id="eXml">
									<p:graphicImage name="hls/images/xml.png" width="28" />
									<p:dataExporter type="xml" target="resultTable" fileName="Users_Week_Information" />
								</h:commandLink>

							</h:panelGrid>

							<p:tooltip for="eExcel" value="Export search results to Excel" position="left" />
							<p:tooltip for="ePdf" value="Export search results to PDF" position="left" />
							<p:tooltip for="eCsv" value="Export search results as a CSV file" position="left" />
							<p:tooltip for="eXml" value="Export search results as a XML file" position="left" />

						</div>

						<h:panelGrid width="100%">

							<p:dataTable var="rv" value="#{projectUsersWeekUI.reportBeanList}" id="resultTable" reflow="true">

								<p:column headerText="User" width="100%">
									<h:outputText value="#{rv.user.users.firstName} #{rv.user.users.lastName}" style="font-size:18px" />
								</p:column>

								<p:column headerText="Week For All Months" width="20%">

									<h:outputLabel value="#{rv.weekNum}" escape="false" style="font-size:18px" />
								</p:column>

								<p:column headerText="Hours In Week" width="12%" exportable="false">

									<h:outputLabel value=":#{rv.longOne}" style="font-size:18px" styleClass="Fright" />
									<h:outputLabel value="#{rv.hours}" style="font-size:18px" styleClass="Fright">
										<f:convertNumber pattern="0" />
									</h:outputLabel>



								</p:column>

								<p:column headerText="Hours In Week" style="display:none !important">

									<h:outputLabel value="#{rv.hours}" style="font-size:18px">
										<f:convertNumber pattern="0" />
									</h:outputLabel>
									<h:outputLabel value=":#{rv.longOne}" style="font-size:18px" />

								</p:column>

								<p:column exportable="false" width="10%">
									<center>
										<p:commandButton action="#{projectUsersWeekUI.goToUserReport}" icon="fa fa-search" id="futherD" title="Futher Detail" ajax="false">
											<f:setPropertyActionListener value="#{rv}" target="#{projectUsersWeekUI.reportBean}" />
										</p:commandButton>
										<p:tooltip for="futherD" position="left" />
									</center>
								</p:column>

								<p:columnGroup type="footer">
									<p:row>
										<p:column colspan="2" style="text-align:right" footerText="Total Hours:" />
										<p:column style="font-size:18px;  font-weight: bold; text-align:right" footerText="#{projectUsersWeekUI.totalHoursConverted}:#{projectUsersWeekUI.totalMins}">
										</p:column>
										<p:column></p:column>
									</p:row>
								</p:columnGroup>


							</p:dataTable>

						</h:panelGrid>


					</h:form>
				</div>
			</div>
		</div>

		<div class="EmptyBox5"></div>
	</ui:define>

</ui:composition>