<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<script>
function goBack() {
    window.history.back();
}
</script>

	<ui:define name="subheader">

	</ui:define>

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">

					<h:form id="mainForm">
						<p:commandButton styleClass="Fleft" id="prevPage" value="Previous Page" title="Previous Page" icon="fa fa-arrow-left" onclick="goBack()" />
						<div class="divider" />
						<p:commandButton id="downloadReportPDF" title="Download Report PDF" icon="fa fa-file-pdf-o" value="Download Report PDF" action="#{reportPojectUsersUI.projectsFromToDateDownloadPDF}" ajax="false" />
						<p:tooltip for="downloadReportPDF" />
						<div class="divider" />
						<p:commandButton id="downloadReportExcel" title="Download Report Excel" icon="fa fa-file-excel-o" value="Download Report Excel" action="#{reportPojectUsersUI.projectsFromToDateDownloadExcel}" ajax="false" />
						<p:tooltip for="downloadReportExcel" />
						<div class="EmptyBox5"></div>
						<h1 class="FontBold">Project Hour Reports</h1>
						<p:panel header="Project: #{sessionUI.reportBean.project.description}">


							<div class="ui-g">
								<div class="ui-g-12 ui-md-6 ui-lg-3">
									<h:outputLabel style="font-size:16px" value="From Date:" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-3">
									<h:outputLabel style="font-size:16px" value="#{sessionUI.reportBean.fromDate}">
										<f:convertDateTime pattern="dd MMMM yyyy" />
									</h:outputLabel>
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-3">
									<h:outputLabel style="font-size:16px" value="To Date:" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-3">
									<h:outputLabel style="font-size:16px" value="#{sessionUI.reportBean.toDate}">
										<f:convertDateTime pattern="dd MMMM yyyy" />
									</h:outputLabel>
								</div>
							</div>




						</p:panel>
						<div class="EmptyBox10"></div>
						<div class="Wid15  Fright">

							<h:panelGrid columns="4">
								<h:commandLink id="eExcel">
									<p:graphicImage name="hls/images/excel.png" width="28" />
									<p:dataExporter type="xls" target="resultTable" fileName="Project_Users" />
								</h:commandLink>

								<h:commandLink id="ePdf">
									<p:graphicImage name="hls/images/pdf.png" width="28" />
									<p:dataExporter type="pdf" target="resultTable" fileName="Project_Users" />
								</h:commandLink>

								<h:commandLink id="eCsv">
									<p:graphicImage name="hls/images/csv.png" width="28" />
									<p:dataExporter type="csv" target="resultTable" fileName="Project_Users" />
								</h:commandLink>

								<h:commandLink id="eXml">
									<p:graphicImage name="hls/images/xml.png" width="28" />
									<p:dataExporter type="xml" target="resultTable" fileName="Project_Users" />
								</h:commandLink>

							</h:panelGrid>
							<p:tooltip for="eExcel" value="Export search results to Excel" position="left" />
							<p:tooltip for="ePdf" value="Export search results to PDF" position="left" />
							<p:tooltip for="eCsv" value="Export search results as a CSV file" position="left" />
							<p:tooltip for="eXml" value="Export search results as a XML file" position="left" />
						</div>

						<h:panelGrid width="100%">

						</h:panelGrid>


						<h:panelGrid columns="2" id="hsresult" width="100%">

							<p:dataTable var="rv" value="#{reportPojectUsersUI.reportBeanList}" id="resultTable" reflow="true">

								<p:column headerText="User" width="100%">
									<h:outputText style="font-size:18px" value="#{rv.user.users.firstName} #{rv.user.users.lastName}" />
								</p:column>
								<p:column exportable="false" headerText="Hours worked on project" width="30%">

									<h:outputText style="font-size:18px" value=":#{rv.longOne}" styleClass="Fright" />

									<h:outputText style="font-size:18px" value="#{rv.hours}" styleClass="Fright">
										<f:convertNumber pattern="0" />
									</h:outputText>

								</p:column>
								<p:column headerText="Hours worked on project" style="display:none !important">
									<h:outputLabel value="#{rv.hours}" style="font-size:18px">
										<f:convertNumber pattern="0" />
									</h:outputLabel>
									<h:outputLabel value=":#{rv.longOne}" style="font-size:18px" />

								</p:column>
								<p:column exportable="false" width="10%">
									<center>
										<p:commandButton action="#{reportPojectUsersUI.goToUserReport}" icon="fa fa-search" id="futherD" title="Futher Detail" ajax="false">
											<f:setPropertyActionListener value="#{rv}" target="#{reportPojectUsersUI.reportBean}" />
										</p:commandButton>
										<p:tooltip for="futherD" position="left" />
									</center>
								</p:column>

								<p:columnGroup type="footer">
									<p:row>
										<p:column style="text-align:right" footerText="Total Hours:" />
										<p:column style="font-size:18px;  font-weight: bold; text-align:right" footerText="#{reportPojectUsersUI.totalHoursConverted}:#{reportPojectUsersUI.totalMins}">
										</p:column>
										<p:column></p:column>
									</p:row>
								</p:columnGroup>


							</p:dataTable>
						</h:panelGrid>

					</h:form>
				</div>
			</div>
		</div>

		<div class="EmptyBox5"></div>
	</ui:define>

</ui:composition>