<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<ui:define name="subheader">
        Project Details
    </ui:define>


	<ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card card-w-title">
					<h1>Project Details</h1>
					<h:form>

						<p:panel
							header="Project Timesheet Details: #{sessionUI.reportBean.user.users.firstName} #{sessionUI.reportBean.user.users.lastName}">
							<h:panelGrid columns="2" cellpadding="5" style="width: 100%">

								<p:outputLabel for="project" value="Project: " />
								<h:outputText id="project"
									value="#{sessionUI.reportBean.project.description}(#{sessionUI.reportBean.project.code})" />

								<p:outputLabel for="startDate" value="Start Date: " />
								<p:outputLabel id="startDate"
									value="#{sessionUI.reportBean.fromDate}">
									<f:convertDateTime pattern="dd MMMM yyyy" />
								</p:outputLabel>

								<p:outputLabel for="endDate" value="End Date: " />
								<p:outputLabel id="endDate"
									value="#{sessionUI.reportBean.toDate}">
									<f:convertDateTime pattern="dd MMMM yyyy" />
								</p:outputLabel>



							</h:panelGrid>
						</p:panel>

						<div class="Wid15  Fright">
							<h:panelGrid columns="4">
								<h:commandLink id="eExcel">
									<p:graphicImage name="hls/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="resultTable"
										fileName="Project_Details" />
								</h:commandLink>

								<h:commandLink id="ePdf">
									<p:graphicImage name="hls/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="resultTable"
										fileName="Project_Details" />
								</h:commandLink>

								<h:commandLink id="eCsv">
									<p:graphicImage name="hls/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="resultTable"
										fileName="Project_Details" />
								</h:commandLink>

								<h:commandLink id="eXml">
									<p:graphicImage name="hls/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="resultTable"
										fileName="Project_Details" />
								</h:commandLink>

							</h:panelGrid>
							<p:tooltip for="eExcel" value="Export search results to Excel" />
							<p:tooltip for="ePdf" value="Export search results to PDF" />
							<p:tooltip for="eCsv" value="Export search results as a CSV file" />
							<p:tooltip for="eXml" value="Export search results as a XML file" />
						</div>
						<div class="Container100" />

						<p:panel>
							<h:panelGrid>
								<p:dataTable var="rv" value="#{projectDetailsUI.reportBeanList}"
									id="resultTable" paginator="true" rows="6"
									paginatorPosition="bottom"
									paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} 
								{LastPageLink} {RowsPerPageDropdown}"
									rowsPerPageTemplate="5,10,15,20,25" reflow="true">

									<p:column headerText="User">
										<h:outputText
											value="#{rv.user.users.firstName} #{rv.user.users.lastName}" />
									</p:column>
									
								<!-- 	<p:column headerText="Week">
										<h:outputText
											value="Week: #{rv.weekNum}" />
									</p:column> -->
									
									<p:column headerText="Date" sortBy="#{rv.detailFromDate}" filterBy="#{rv.detailFromDate}" >
										<p:outputLabel value="#{rv.detailFromDate}" >
											<f:convertDateTime pattern="dd MMMM yyyy" />
										</p:outputLabel>
									</p:column>
									
									<p:column headerText="Project" sortBy="#{rv.project.code}" filterBy="#{rv.project.code}">
										<p:outputLabel id="projectCode" value="#{rv.project.code}" />
										<p:tooltip for="projectCode"
											value=" - #{rv.project.description}" />
									</p:column>
									
								<p:column headerText="Task Type" sortBy="#{rv.task.name}" >
										<p:outputLabel id="taskType" value="#{rv.task.name}" />	
										<p:tooltip for="taskType" escape="false"
											value=" - #{rv.task.description}" />
									</p:column>
									
										<p:column headerText="Comment" sortBy="#{rv.comment}" >
										<p:outputLabel value="#{rv.comment}" />
									</p:column>
									
									<p:column headerText="Hours">
										<h:outputText value="#{rv.hours}">
											<f:convertNumber pattern="####.00" />
										</h:outputText>
									</p:column>
								<!-- 	<p:column headerText="Days">
										<h:outputText value="#{rv.days}">
											<f:convertNumber pattern="####.00" />
										</h:outputText>
									</p:column> -->
								</p:dataTable>
							</h:panelGrid>
						</p:panel>
					</h:form>
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>