<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<ui:define name="head">
		<style type="text/css">
</style>

	</ui:define>

	<ui:define name="subheader">
        Project Hour Reports
   
   
    </ui:define>

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h1 class="FontBold">Project Hour Reports</h1>
					<p:growl autoUpdate="true" />
					<h:form id="mainForm">

						<p:panel header="Select a Project and Date Range:">
							<div class="ui-g">
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:outputLabel for="project" value="Project: " />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:selectOneMenu style="width:90%" value="#{reportsUI.project}" converter="ProjectsConvertor" id="project">
										<f:selectItems value="#{projectsUI.projectsList}" var="rv" itemLabel="#{rv.code} (#{rv.company.companyName})" itemValue="#{rv}" />
									</p:selectOneMenu>
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:outputLabel for="startDate" value="Start Date: " />
								</div>

								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:calendar id="startDate" value="#{reportsUI.fromDate}" showOn="both" readonlyInput="true" pattern="dd MMMM yyyy" />
								</div>

								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:outputLabel for="endDate" value="End Date: " />
								</div>

								<div class="ui-g-12 ui-md-6 ui-lg-6">

									<p:calendar id="endDate" pattern="dd MMMM yyyy" showOn="both" readonlyInput="true" value="#{reportsUI.toDate}" />
								</div>


								<div class="EmptyBox10" />
								<div class="ui-g-12">

									<p:commandButton id="viewReport" title="Generate Report" value="View Report" action="#{reportsUI.totalMinutesForProject}" update="@form" />
									<p:tooltip for="viewReport" escape="false" position="left" rendered="#{reportsUI.searched eq false}" />

								</div>

							</div>

						</p:panel>
						<div class="EmptyBox10" />
						<div class="Wid15  Fright">
							<h:panelGrid columns="4" rendered="#{reportsUI.reportBeanList.size() gt 0}" >
								<h:commandLink id="eExcel">
									<p:graphicImage name="hls/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="resultTable" fileName="Project_Hour_Report" />
								</h:commandLink>

								<h:commandLink id="ePdf">
									<p:graphicImage name="hls/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="resultTable" fileName="Project_Hour_Report" />
								</h:commandLink>

								<h:commandLink id="eCsv">
									<p:graphicImage name="hls/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="resultTable" fileName="Project_Hour_Report" />
								</h:commandLink>

								<h:commandLink id="eXml">
									<p:graphicImage name="hls/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="resultTable" fileName="Project_Hour_Report" />
								</h:commandLink>

							</h:panelGrid>
							<p:tooltip for="eExcel" value="Export search results to Excel" position="left" />
							<p:tooltip for="ePdf" value="Export search results to PDF" position="left" />
							<p:tooltip for="eCsv" value="Export search results as a CSV file" position="left" />
							<p:tooltip for="eXml" value="Export search results as a XML file" position="left" />
						</div>


						


						<h:panelGrid  id="hsresult" width="100%">

							<p:dataTable var="rv" value="#{reportsUI.reportBeanList}" rendered="#{reportsUI.reportBeanList.size() gt 0}" id="resultTable" reflow="true">

								<p:column headerText="User" width="100%">
									<h:outputText style="font-size:16px" value="#{rv.user.users.firstName} #{rv.user.users.lastName}" />
								</p:column>
								<p:column exportable="false" width="15%" headerText="Hours worked on project">
									<h:outputText style="font-size:16px" value=":#{rv.longOne}" styleClass="Fright" />
									<h:outputText style="font-size:16px" value="#{rv.hours}" styleClass="Fright">
										<f:convertNumber pattern="0" />
									</h:outputText>

								</p:column>

								<p:column headerText="Hours worked on project" style="display:none !important">
									<h:outputLabel value="#{rv.hours}" style="font-size:18px">
										<f:convertNumber pattern="0" />
									</h:outputLabel>
									<h:outputLabel value=":#{rv.longOne}" style="font-size:18px" />

								</p:column>

								<p:column exportable="false" width="10%">
									<center>
										<p:commandButton action="#{reportsUI.gotoProjectsDetails}" icon="fa fa-search" id="futherD" title="Futher Detail" ajax="false">
											<f:setPropertyActionListener value="#{rv}" target="#{reportsUI.reportBean}" />
										</p:commandButton>
										<p:tooltip for="futherD" position="left" />
									</center>
								</p:column>

								<p:columnGroup type="footer">
									<p:row>
										<p:column style="text-align:right" footerText="Total Hours:" />
										<p:column style="font-size:18px; text-align:right;  font-weight: bold;" footerText="#{reportsUI.totalHoursConverted}:#{reportsUI.totalMins}">
										</p:column>
										<p:column></p:column>
									</p:row>
								</p:columnGroup>

							</p:dataTable>
						</h:panelGrid>

					</h:form>
				</div>
			</div>
		</div>

	
	</ui:define>

</ui:composition>