<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">


	<ui:define name="subheader">
        Project Hour Reports
    </ui:define>

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h1 class="FontBold">Project Hour Reports</h1>
					<p:growl autoUpdate="true" />
					<h:form id="mainForm">

						<p:panel header="Select a User and Date Range:">
							<div class="ui-g">
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:outputLabel for="user" value="User: " />
								</div>

								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:selectOneMenu value="#{reportsUI.companyUser}" style="width: 90%" converter="companyUsersConvertor" id="user">
										<f:selectItems value="#{companyusersUI.companyUsersList}" var="rv" itemLabel="#{rv.users.firstName} #{rv.users.lastName}" itemValue="#{rv}" />
									</p:selectOneMenu>
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:outputLabel for="startDate" value="Start Date: " />
								</div>

								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:calendar id="startDate" value="#{reportsUI.fromDate}" showOn="both" readonlyInput="true" pattern="dd MMMM yyyy" />
								</div>

								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:outputLabel for="endDate" value="End Date: " />
								</div>

								<div class="ui-g-12 ui-md-6 ui-lg-6">

									<p:calendar id="endDate" pattern="dd MMMM yyyy" showOn="both" readonlyInput="true" value="#{reportsUI.toDate}" />
								</div>



								<div class="ui-g-12 ui-md-6 ui-lg-6">

									<p:commandButton id="viewReport" title="Generate Report" value="View Report" action="#{reportsUI.totalMinutesForUser}" update="hsresult:@form" />
									<p:tooltip for="viewReport" />

								</div>
							</div>
						</p:panel>
						<div class="EmptyBox10"></div>
						<div class="Wid15  Fright">
							<h:panelGrid columns="4" rendered="#{reportsUI.reportBeanList.size() gt 0}">
								<h:commandLink id="eExcel">
									<p:graphicImage name="hls/images/excel.png" width="24" />
									<p:dataExporter type="xls" target="resultTable" fileName="User_Report" />
								</h:commandLink>

								<h:commandLink id="ePdf">
									<p:graphicImage name="hls/images/pdf.png" width="24" />
									<p:dataExporter type="pdf" target="resultTable" fileName="User_Report" />
								</h:commandLink>

								<h:commandLink id="eCsv">
									<p:graphicImage name="hls/images/csv.png" width="24" />
									<p:dataExporter type="csv" target="resultTable" fileName="User_Report" />
								</h:commandLink>

								<h:commandLink id="eXml">
									<p:graphicImage name="hls/images/xml.png" width="24" />
									<p:dataExporter type="xml" target="resultTable" fileName="User_Report" />
								</h:commandLink>

							</h:panelGrid>
							<p:tooltip for="eExcel" value="Export search results to Excel" />
							<p:tooltip for="ePdf" value="Export search results to PDF" />
							<p:tooltip for="eCsv" value="Export search results as a CSV file" />
							<p:tooltip for="eXml" value="Export search results as a XML file" />
						</div>

						<div class="EmptyBox5"></div>


						<h:panelGrid columns="2" id="hsresult" width="100%" rendered="#{reportsUI.reportBeanList.size() gt 0}">

							<p:dataTable var="rv" value="#{reportsUI.reportBeanList}" rendered="#{reportsUI.reportBeanList.size() gt 0}" id="resultTable" reflow="true">
								<p:column headerText="Name" width="100%">
									<h:outputText style="font-size:16px" value="#{rv.user.users.firstName} #{rv.user.users.lastName}" />
								</p:column>
								<p:column headerText="Month" width="20%">

									<h:outputText value="#{rv.fromDate}" style="font-size:16px" styleClass="Fcenter">
										<f:convertDateTime pattern="MMMM" />
									</h:outputText>


								</p:column>
								<p:column exportable="false" headerText="Total Hours" width="15%">

									<h:outputText value=":#{rv.longOne}" style="font-size:16px" styleClass="Fright" />

									<h:outputText value="#{rv.hours}" style="font-size:16px" styleClass="Fright">
										<f:convertNumber pattern="0" />
									</h:outputText>



								</p:column>



								<p:column headerText="Total Hours" style="display:none !important">
									<h:outputLabel value="#{rv.hours}" style="font-size:18px">
										<f:convertNumber pattern="0" />
									</h:outputLabel>
									<h:outputLabel value=":#{rv.longOne}" style="font-size:18px" />

								</p:column>


								<!-- <p:column headerText="Total Days" width="40%" >
										<h:outputText value="#{rv.days}" style="font-weight:bold ;font-size:16px   " styleClass="Fright">
											<f:convertNumber pattern="0.00" />
										</h:outputText>
									</p:column> -->
								<p:column exportable="false" width="10%">
									<center>
										<p:commandButton action="#{reportsUI.gotoUserDetails}" icon="fa fa-search" id="futherD" title="Futher Detail" ajax="false">
											<f:setPropertyActionListener value="#{rv}" target="#{reportsUI.reportBean}" />
										</p:commandButton>
										<p:tooltip for="futherD" />
									</center>
								</p:column>

								<p:columnGroup type="footer">
									<p:row>
										<p:column colspan="2" style="text-align:right" footerText="Total Hours:" />
										<p:column style="font-size:18px;  font-weight: bold; text-align:right " footerText="#{reportsUI.totalHoursConverted}:#{reportsUI.totalMins}">
										</p:column>
										<p:column/>
									</p:row>
								</p:columnGroup>

							</p:dataTable>
						</h:panelGrid>

					</h:form>
				</div>
			</div>
		</div>

		<div class="EmptyBox5"></div>
	</ui:define>

</ui:composition>