<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<script>
function goBack() {
    window.history.back();
}
</script>

	<ui:define name="subheader">
        User Details
    </ui:define>


	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<p:commandButton styleClass="Fleft" value="Previous Page" id="prevPage" title="Previous Page" icon="fa fa-arrow-left" onclick="goBack()" />
					
					<div class="EmptyBox5"></div>
					<h1 class="FontBold">User Details</h1>
					<h:form>

						<p:panel header="User Timesheet Details: #{sessionUI.reportBean.user.users.firstName} #{sessionUI.reportBean.user.users.lastName}">


							<div class="ui-g">
								<div class="ui-g-12 ui-md-6 ui-lg-3">
									<p:outputLabel style="font-size:16px" for="startDate" value="Start Date: " />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-3">
									<p:outputLabel style="font-size:16px" id="startDate" value="#{sessionUI.reportBean.fromDate}">
										<f:convertDateTime pattern="dd MMMM yyyy" />
									</p:outputLabel>
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-3">
									<p:outputLabel style="font-size:16px" for="endDate" value="End Date: " />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-3">
									<p:outputLabel style="font-size:16px" id="endDate" value="#{sessionUI.reportBean.toDate}">
										<f:convertDateTime pattern="dd MMMM yyyy" />
									</p:outputLabel>
								</div>
							</div>


						</p:panel>
						<div class="EmptyBox10"></div>
						<div class="Wid15  Fright">
							<h:panelGrid columns="4">
								<h:commandLink id="eExcel">
									<p:graphicImage name="hls/images/excel.png" width="28" />
									<p:dataExporter type="xls" target="resultTable" fileName="#{sessionUI.filename}" />
								</h:commandLink>

								<h:commandLink id="ePdf">
									<p:graphicImage name="hls/images/pdf.png" width="28" />
									<p:dataExporter type="pdf" target="resultTable" fileName="#{sessionUI.filename}" />
								</h:commandLink>

								<h:commandLink id="eCsv">
									<p:graphicImage name="hls/images/csv.png" width="28" />
									<p:dataExporter type="csv" target="resultTable" fileName="#{sessionUI.filename}" />
								</h:commandLink>

								<h:commandLink id="eXml">
									<p:graphicImage name="hls/images/xml.png" width="28" />
									<p:dataExporter type="xml" target="resultTable" fileName="#{sessionUI.filename}" />
								</h:commandLink>

							</h:panelGrid>
							<p:tooltip for="eExcel" value="Export search results to Excel" position="left" />
							<p:tooltip for="ePdf" value="Export search results to PDF" position="left" />
							<p:tooltip for="eCsv" value="Export search results as a CSV file" position="left" />
							<p:tooltip for="eXml" value="Export search results as a XML file" position="left" />
						</div>
					


						<h:panelGrid width="100%">


							<p:dataTable var="rv" value="#{userDetailsUI.reportBeanList}" id="resultTable" paginator="true" rows="5" paginatorPosition="bottom" paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} 
									{LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="5,10,15,20,25" reflow="true">

								<p:column headerText="User" width="100%">
									<p:outputLabel style="font-size:18px" value="#{rv.user.users.firstName} #{rv.user.users.lastName}" />
								</p:column>



								<p:column filterBy="#{rv.project.code}" headerText="Project" sortBy="#{rv.project.code}" width="100%">
									<p:outputLabel style="font-size:18px" id="projectCode" value="#{rv.project.code}" />
									<p:tooltip for="projectCode" value=" ( #{rv.project.description} )" />
								</p:column>


								<p:column headerText="Task Type" sortBy="#{rv.task.name}" width="100%">
									<p:outputLabel style="font-size:18px" id="taskType" value="#{rv.task.name}" />
									<p:tooltip for="taskType" escape="false" position="left" value=" ( #{rv.task.description} )" />
								</p:column>


								<p:column headerText="Comment" sortBy="#{rv.comment}" width="100%">
									<p:outputLabel style="font-size:18px" value="#{rv.comment}" escape="false" />
								</p:column>

								<p:column headerText="Week" sortBy="#{rv.weekNum}" width="50%">
									<p:outputLabel style="font-size:18px" value="#{rv.weekNum}" />
								</p:column>


								<p:column filterBy="#{rv.detailFromDate}" headerText="Date" sortBy="#{rv.detailFromDate}" width="70%">
									<p:outputLabel style="font-size:18px" value="#{rv.detailFromDate}">
										<f:convertDateTime pattern="dd MMMM yyyy" />
									</p:outputLabel>
								</p:column>

								<p:column headerText="Hours" sortBy="#{rv.hours}" width="50%" exportable="false">
									<h:panelGroup styleClass="Fright">
										<p:outputLabel style="font-size:18px" value="#{rv.hours}">
											<f:convertNumber pattern="0" />
										</p:outputLabel>
										<p:outputLabel style="font-size:18px" value=":#{rv.longOne}" />
									</h:panelGroup>
								</p:column>
								<p:column headerText="Hours" exportable="true" style="display:none">
										<p:outputLabel style="font-size:18px" value="#{rv.hours}">
											<f:convertNumber pattern="0" />
										</p:outputLabel>
										<p:outputLabel style="font-size:18px" value=":#{rv.longOne}" />
								</p:column>

								<!-- 	<p:column headerText="Week">
										<p:outputLabel />	
									</p:column> -->

								<p:columnGroup type="footer">
									<p:row>
										<p:column colspan="6" style="text-align:right" footerText="Total Hours:" />
										<p:column style="font-size:18px;  font-weight: bold; text-align:right" footerText="#{userDetailsUI.totalHoursConverted}:#{userDetailsUI.totalMins}">
										</p:column>

									</p:row>
								</p:columnGroup>



							</p:dataTable>
						</h:panelGrid>

					</h:form>
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>