<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:o="http://omnifaces.org/ui" xmlns:pu="http://primefaces.org/ultima">

	<h:form id="menuform">
		<div class="layout-menu #{guestPreferences.menuClass}">
			<div class="nano">
				<div class="nano-content menu-scroll-content">
					<ui:fragment rendered="#{guestPreferences.profileMode == 'inline' and guestPreferences.menuLayout != 'menu-layout-static menu-layout-horizontal'}">
						<div class="profile">
							<div class="profile-image"></div>
							<a id="profile-options" href="#"> <span class="profile-name">#{sessionUI.user.firstName} #{sessionUI.user.lastName}</span> <i class="material-icons">&#xE313;</i>
							</a>
						</div>

						<ul id="profile-menu" class="ultima-menu">
							<li role="menuitem"><a href="#{request.contextPath}/pages/profile.jsf" class="ripplelink"> <i class="material-icons">person</i> <span>Profile</span>
							</a></li>
							<!--                             <li role="menuitem">
                                <a href="#" class="ripplelink">
                                    <i class="material-icons">security</i>
                                    <span>Privacy</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#" class="ripplelink">
                                    <i class="material-icons">settings_application</i>
                                    <span>Settings</span>
                                </a>
                            </li> -->
							<li role="menuitem"><h:commandLink action="#{logonUI.logoff}" styleClass="ripplelink">
									<i class="material-icons">power_settings_new</i>
									<span>Logout</span>
								</h:commandLink></li>
						</ul>
					</ui:fragment>
					<h:form>
						<c:if test="#{sessionUI.user ne null}">
							<o:importConstants type="haj.com.entity.UsersLevelEnum" var="level" />
							<pu:menu widgetVar="me">

								<p:menuitem id="m1" rendered="#{sessionUI.companyUsers.level eq level.Manager or sessionUI.companyUsers.level eq level.Director}" value="Dashboard" icon="&#xE871;" url="#{request.contextPath}/pages/dashboardGeneral.jsf" />

								<p:menuitem id="m2" rendered="#{sessionUI.companyUsers.level eq level.Admin}" value="Dashboard" icon="&#xE871;" url="#{request.contextPath}/pages/dashboardAdmin.jsf" />

								<p:submenu id="covid" rendered="true" label="Covid-19" icon="&#xE871;" url="#{request.contextPath}/pages/dashboardAdmin.jsf">
									<p:menuitem value="Medical Screening Form" id="medicalScreeningForm" rendered="true" icon="chrome_reader_mode" url="#{request.contextPath}/pages/covid19/medicalScreeningForm.jsf" />
									<p:menuitem value="Visitor Declaration Form" id="visitorDeclarationForm" rendered="true" icon="chrome_reader_mode" url="#{request.contextPath}/pages/covid19/visitorDeclarationFormView.jsf" />
									<p:menuitem value="Management Standard" id="managenmentStandard" rendered="true" icon="chrome_reader_mode" url="#{request.contextPath}/pages/covid19/managementStandard.jsf" />
									<p:menuitem value="Monitoring Register" id="monitoringRegister" rendered="true" icon="chrome_reader_mode" url="#{request.contextPath}/pages/covid19/monitoringRegister.jsf" />
									
								</p:submenu>

								<p:menuitem id="m3" value="Info Page" icon="info_outline" url="#{request.contextPath}/pages/infoPage.jsf" />
								<p:menuitem id="m43" value="Users Cost" icon="receipt" url="#{request.contextPath}/pages/userscost.jsf" rendered="#{sessionUI.companyUsers.level eq level.Director}" />
								<p:menuitem id="m4" value="Statement Of Work" icon="view_list" url="#{request.contextPath}/pages/sow.jsf" rendered="#{sessionUI.companyUsers.level eq level.Director}" />
								<p:menuitem id="m42" value="Invoice" icon="book" url="#{request.contextPath}/pages/invoice.jsf" rendered="#{sessionUI.companyUsers.level eq level.Director}" />


								<c:if test="#{sessionUI.companyUsers.level eq level.Normal}">
									<p:menuitem id="m41" value="Timesheet" icon="&#xE871;" url="#{request.contextPath}/pages/dashboard.jsf" />
								</c:if>

								<c:if test="#{sessionUI.companyUsers.level ne level.Normal and sessionUI.companyUsers.level ne level.Admin}">
									<p:menuitem id="m5" value="Timesheet By Calendar" icon="date_range" url="#{request.contextPath}/pages/addTime.jsf" />
									<p:separator />
								</c:if>

								<c:if test="#{sessionUI.companyUsers.level eq level.Manager or sessionUI.companyUsers.level eq level.Director}">
									<p:submenu label="Timesheet Reports" id="m6" rendered="#{sessionUI.companyUsers.level eq level.Manager or sessionUI.companyUsers.level eq level.Director}" icon="chrome_reader_mode">
										<p:menuitem id="tpuMi" value="Total by Projects Users" icon="account_box" url="#{request.contextPath}/pages/reports/projectUserFromToDateReport.jsf" rendered="#{sessionUI.companyUsers.level eq level.Director}" />
										<p:menuitem id="m7" value="Total by dates" icon="date_range" url="#{request.contextPath}/pages/reports/projectFromToDate.jsf" />
										<p:menuitem id="m8" value="Total by Projects" icon="collections_bookmark" url="#{request.contextPath}/pages/reports/projectHourReport.jsf?page=reports" />
										<p:menuitem id="m9" value="Total by User" icon="person_outline" url="#{request.contextPath}/pages/reports/userReport.jsf" />
									</p:submenu>

								</c:if>
								<p:menuitem id="expenseclaim" label="Expense Claim Back"  icon="receipt" rendered="false" value=" Expense Claim Back" url="/admin/expenseform.jsf" />
								<p:menuitem id="myexpenses" label="My Expenses" icon="person" rendered="false" value="My Expenses" url="/admin/myexpenses.jsf" />

								<c:if test="#{sessionUI.companyUsers.level eq level.Admin}">
									<p:menuitem id="hcm" value="Hosting Company" icon="&#xE871;" url="/admin/hostingCompanyProfile.jsf" />
									<p:menuitem id="menuProcessRoles" value="Assign Process Roles" icon="group_work" url="/admin/assignprocessroles.jsf" />
									<p:menuitem id="expenseOverview" label="Expense Overview" icon="assessment" rendered="true" value="Expense Overview" url="/admin/expenseoverview.jsf" />
									<p:menuitem id="om_lmenu" value="Lookup Menus" icon="view_headline" url="/admin/lookupMenu.jsf" />
									<p:menuitem id="menuProcessRolesa" value="#{lang['assign.administrators']}" icon="group_work" url="/admin/assignprocessrolessimple.jsf" rendered="false" />
									<p:menuitem id="m10" value="Projects" icon="description" url="/admin/projects.jsf" />
									<p:menuitem id="m11" value="Tasks" icon="date_range" url="/admin/tasks.jsf" />
									<p:menuitem id="m12" value="Clients" icon="business" url="/admin/company.jsf" />
									<p:menuitem id="m13" value="Users" icon="people_outline" url="/admin/users.jsf" />
									<p:menuitem id="m14" value="Bank Holidays" icon="perm_contact_calendar" url="/admin/bankholidayparent.jsf" />
								</c:if>
							</pu:menu>
						</c:if>
					</h:form>
				</div>
			</div>
		</div>
	</h:form>
</ui:composition>