<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="theme-color" content="#{guestPreferences.themeColors[guestPreferences.theme]}" />
	</f:facet>
	<title>techFinium</title>
	<h:outputScript name="js/nanoscroller.js" library="ultima-layout" />
	<h:outputScript name="js/layout.js" library="ultima-layout" />
	<h:outputScript name="js/ripple.js" library="ultima-layout" />
	<h:outputScript name="js/swipe.js" library="ultima-layout" />
	<link href="#{request.contextPath}/css/flag-icon.min.css" rel="stylesheet" />
	<ui:insert name="head" />
</h:head>

<h:body styleClass="main-body #{guestPreferences.compact ? 'layout-compact' : null}">

	<div class="layout-wrapper #{guestPreferences.menuLayout}">
		<ui:include src="./topbar.xhtml" />
		<ui:include src="./menu.xhtml" />

		<div class="layout-main">
			<ui:insert name="content" />

			<ui:include src="./footer.xhtml" />
		</div>
	</div>

	<p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
		<f:facet name="start">
			<i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
		</f:facet>

		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>

	<script>
function goBack() {
    window.history.back();
}
</script>

	<p:dialog modal="true" widgetVar="dlgWait" resizable="false" closable="false">
		<h2>PLEASE WAIT</h2>
		<div class="Seperator" />
		<center>
			<i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
		</center>
	</p:dialog>

	<h:outputStylesheet name="css/nanoscroller.css" library="ultima-layout" />
	<h:outputStylesheet name="css/animate.css" library="ultima-layout" />
	<h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
	<h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="ultima-layout" />
	<h:outputStylesheet name="css/hs.css" library="hls" />
</h:body>

</html>