<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h1>BankingDetails</h1>
					<h:form id="bankingdetailsInsForm">
						<p:growl sticky="false" ><p:autoUpdate/></p:growl>
						<p:panelGrid columns="1" style="width:100%" id="bankingdetailsInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
       						      								<h:panelGroup>
       						    	 <p:outputLabel for="docs" value="#{lang['docs']}" styleClass="FontLight"/><br/><div style="height: 5px"/>
       							 	<p:inputText id="docs" value="#{bankingdetailsUI.bankingdetails.docs}" style="width:95%" placeholder="#{lang['docs']}"/>
       							</h:panelGroup>
  								<h:panelGroup>
       						    	 <p:outputLabel for="bankAccNumber" value="#{lang['bankAccNumber']}" styleClass="FontLight"/><br/><div style="height: 5px"/>
       							 	<p:inputText id="bankAccNumber" value="#{bankingdetailsUI.bankingdetails.bankAccNumber}" style="width:95%" placeholder="#{lang['bankAccNumber']}"/>
       							</h:panelGroup>
  								<h:panelGroup>
       						    	 <p:outputLabel for="maskedBankAccNumber" value="#{lang['maskedBankAccNumber']}" styleClass="FontLight"/><br/><div style="height: 5px"/>
       							 	<p:inputText id="maskedBankAccNumber" value="#{bankingdetailsUI.bankingdetails.maskedBankAccNumber}" style="width:95%" placeholder="#{lang['maskedBankAccNumber']}"/>
       							</h:panelGroup>
  								<h:panelGroup>
       						    	 <p:outputLabel for="branchCode" value="#{lang['branchCode']}" styleClass="FontLight"/><br/><div style="height: 5px"/>
       							 	<p:inputText id="branchCode" value="#{bankingdetailsUI.bankingdetails.branchCode}" style="width:95%" placeholder="#{lang['branchCode']}"/>
       							</h:panelGroup>
  								<h:panelGroup>
       						    	 <p:outputLabel for="bankHolder" value="#{lang['bankHolder']}" styleClass="FontLight"/><br/><div style="height: 5px"/>
       							 	<p:inputText id="bankHolder" value="#{bankingdetailsUI.bankingdetails.bankHolder}" style="width:95%" placeholder="#{lang['bankHolder']}"/>
       							</h:panelGroup>
  								<h:panelGroup>
       						    	 <p:outputLabel for="swiftCode" value="#{lang['swiftCode']}" styleClass="FontLight"/><br/><div style="height: 5px"/>
       							 	<p:inputText id="swiftCode" value="#{bankingdetailsUI.bankingdetails.swiftCode}" style="width:95%" placeholder="#{lang['swiftCode']}"/>
       							</h:panelGroup>
  								<h:panelGroup>
       						    	 <p:outputLabel for="user" value="#{lang['user']}" styleClass="FontLight"/><br/><div style="height: 5px"/>
       							 	<p:inputText id="user" value="#{bankingdetailsUI.bankingdetails.user}" style="width:95%" placeholder="#{lang['user']}"/>
       							</h:panelGroup>
  								<h:panelGroup>
       						    	 <p:outputLabel for="createDate" value="#{lang['createDate']}" styleClass="FontLight"/><br/><div style="height: 5px"/>
       							 	<p:inputText id="createDate" value="#{bankingdetailsUI.bankingdetails.createDate}" style="width:95%" placeholder="#{lang['createDate']}"/>
       							</h:panelGroup>
  								<h:panelGroup>
       						    	 <p:outputLabel for="bank" value="#{lang['bank']}" styleClass="FontLight"/><br/><div style="height: 5px"/>
       							 	<p:inputText id="bank" value="#{bankingdetailsUI.bankingdetails.bank}" style="width:95%" placeholder="#{lang['bank']}"/>
       							</h:panelGroup>
  								<h:panelGroup>
       						    	 <p:outputLabel for="oldDocs" value="#{lang['oldDocs']}" styleClass="FontLight"/><br/><div style="height: 5px"/>
       							 	<p:inputText id="oldDocs" value="#{bankingdetailsUI.bankingdetails.oldDocs}" style="width:95%" placeholder="#{lang['oldDocs']}"/>
       							</h:panelGroup>
  								<h:panelGroup>
       						    	 <p:outputLabel for="areOriginalRequired" value="#{lang['areOriginalRequired']}" styleClass="FontLight"/><br/><div style="height: 5px"/>
       							 	<p:inputText id="areOriginalRequired" value="#{bankingdetailsUI.bankingdetails.areOriginalRequired}" style="width:95%" placeholder="#{lang['areOriginalRequired']}"/>
       							</h:panelGroup>
  								<h:panelGroup>
       						    	 <p:outputLabel for="confirmationDate" value="#{lang['confirmationDate']}" styleClass="FontLight"/><br/><div style="height: 5px"/>
       							 	<p:inputText id="confirmationDate" value="#{bankingdetailsUI.bankingdetails.confirmationDate}" style="width:95%" placeholder="#{lang['confirmationDate']}"/>
       							</h:panelGroup>


        					    <p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
									<p:commandButton value="#{lang['submit']}" icon="fa fa-floppy-o" update=":mainForm:bankingdetailsList :bankingdetailsInsForm:bankingdetailsInsGrid" action="#{bankingdetailsUI.bankingdetailsInsert}" />
									<p:commandButton value="#{lang['clear']}" icon="fa fa-eraser" update="bankingdetailsInsGrid" process="@this" action="#{bankingdetailsUI.prepareNew}">
										<p:resetInput target="bankingdetailsInsGrid" />
									</p:commandButton>
								</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h:form id="mainForm">

						<p:dataTable var="rowVar" value="#{bankingdetailsUI.dataModel}" filteredValue="#{bankingdetailsUI.bankingDetailsfilteredList}" id="bankingdetailsList" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

           						              					<p:column headerText="#{lang['docs']}">  
                        			<h:outputText value="#{rowVar.docs}" />  
            					</p:column>      
              					<p:column headerText="#{lang['bankAccNumber']}">  
                        			<h:outputText value="#{rowVar.bankAccNumber}" />  
            					</p:column>      
              					<p:column headerText="#{lang['maskedBankAccNumber']}">  
                        			<h:outputText value="#{rowVar.maskedBankAccNumber}" />  
            					</p:column>      
              					<p:column headerText="#{lang['branchCode']}">  
                        			<h:outputText value="#{rowVar.branchCode}" />  
            					</p:column>      
              					<p:column headerText="#{lang['bankHolder']}">  
                        			<h:outputText value="#{rowVar.bankHolder}" />  
            					</p:column>      
              					<p:column headerText="#{lang['swiftCode']}">  
                        			<h:outputText value="#{rowVar.swiftCode}" />  
            					</p:column>      
              					<p:column headerText="#{lang['user']}">  
                        			<h:outputText value="#{rowVar.user}" />  
            					</p:column>      
              					<p:column headerText="#{lang['createDate']}">  
                        			<h:outputText value="#{rowVar.createDate}" />  
            					</p:column>      
              					<p:column headerText="#{lang['bank']}">  
                        			<h:outputText value="#{rowVar.bank}" />  
            					</p:column>      
              					<p:column headerText="#{lang['oldDocs']}">  
                        			<h:outputText value="#{rowVar.oldDocs}" />  
            					</p:column>      
              					<p:column headerText="#{lang['areOriginalRequired']}">  
                        			<h:outputText value="#{rowVar.areOriginalRequired}" />  
            					</p:column>      
              					<p:column headerText="#{lang['confirmationDate']}">  
                        			<h:outputText value="#{rowVar.confirmationDate}" />  
            					</p:column>      


           						<p:column width="100">
									<p:commandButton icon="fa fa-database" title="#{lang['update']}" update=":bankingdetailsInsForm:bankingdetailsInsGrid">
										<f:setPropertyActionListener value="#{rowVar}" target="#{bankingdetailsUI.bankingdetails}" />
									</p:commandButton>
									<p:spacer width="5" />
									<p:commandButton icon="fa fa-trash-o" title="{lang['delete']}" update=":mainForm:bankingdetailsList" action="#{bankingdetailsUI.bankingdetailsDelete}">
										<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="fa fa-warning" />
										<f:setPropertyActionListener value="#{rowVar}" target="#{bankingdetailsUI.bankingdetails}" />
									</p:commandButton>
								</p:column>

						</p:dataTable>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
							<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes" icon="fa fa fa-check" />
							<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
						</p:confirmDialog>

					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
<!--
docs = docs
bankAccNumber = bankAccNumber
maskedBankAccNumber = maskedBankAccNumber
branchCode = branchCode
bankHolder = bankHolder
swiftCode = swiftCode
user = user
createDate = createDate
bank = bank
oldDocs = oldDocs
areOriginalRequired = areOriginalRequired
confirmationDate = confirmationDate

-->
</ui:composition>
