<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">



	<ui:define name="content">

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">

					<h:form id="blankInsForm">
						<!-- #{sowUI.sow.projects} -->
						<h1 class="BigTopic TexAlCenter">Blank</h1>
						<p:commandButton value="Modal" type="button" onclick="PF('employeeSowdlg').show();" />
						<p:growl autoUpdate="true" sticky="false" />
						<p:dialog header="#{lang['insert']} #{lang['type.of.sow']} : #{lang['time.material']}" widgetVar="employeeSowdlg" modal="true" height="50%" width="50%" position="top">
							<p:outputPanel id="timeMaterialPanel" styleClass="ui-g" rendered="#{sowUI.sow.sowTypeEnum eq sowTypeEnum.TimeMaterials}">
								<div class="ui-g-12">
									<div class="ui-g-12">
										<p:outputLabel styleClass="Fleft" value="#{lang['if.time.material']}" style="font-style: italic;" rendered="false" />
									</div>
									<div class="ui-g-12">
										<p:outputLabel styleClass="Fleft" value="#{sowUI.employeeSow.employee.firstName}, #{sowUI.employeeSow.employee.lastName}" style="font-style: italic;" rendered="false" />
									</div>
									<div class="ui-g-6">
										<p:outputLabel value="#{lang['fixed.rolling']} :  " for="fixedRollingSelectOneRadio" />
									</div>
									<div class="ui-g-6">
										<p:selectOneRadio id="fixedRollingSelectOneRadio" value="#{sowUI.employeeSow.fixedPeriod}">
											<f:selectItem itemLabel="#{lang['fixed.period']}" itemValue="#{fixRollEnum.Fixed}" />
											<f:selectItem itemLabel="#{lang['rolling']}" itemValue="#{fixRollEnum.Rolling}" />
										</p:selectOneRadio>
									</div>
									<div class="EmptyBox10" />
									<div class="ui-g-6">
										<p:outputLabel value="#{lang['start.date']}:  " for="startDateInput" />
									</div>
									<div class="ui-g-6">
										<p:calendar id="startDateInput" showOn="button" value="#{sowUI.employeeSow.startDate}" />
									</div>
									<div class="EmptyBox10" />
									<div class="ui-g-6">
										<p:outputLabel value="#{lang['end.date']}:  " for="endDateInput" />
									</div>
									<div class="ui-g-6">
										<p:calendar id="endDateInput" showOn="button" value="#{sowUI.employeeSow.endDate}" />
									</div>
									<div class="EmptyBox10" />
									<div class="ui-g-6">
										<p:outputLabel value="#{lang['charge.rate']}: " for="chargeRateInputNumber" />
									</div>
									<div class="ui-g-6">
										<p:inputNumber value="#{sowUI.employeeSow.chargeRate}" decimalPlaces="2" id="chargeRateInputNumber" />
									</div>
									<div class="EmptyBox10" />
									<p:separator />
									<div class="EmptyBox10" />
									<center>
										<p:commandButton id="saveEmployeeSOWBtn" icon="fa fa-save" value="#{lang['save']}" title="Update/Save a Employee" action="#{sowUI.insertUpdateEmployeesSOW}" />
									</center>
								</div>
							</p:outputPanel>
						</p:dialog>
					</h:form>

				</div>
			</div>
		</div>


	</ui:define>

</ui:composition>
