<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h1>DocByte</h1>
					<h:form id="docbyteInsForm">
						<p:growl showDetail="false" sticky="false">
							<p:autoUpdate />
						</p:growl>
						<p:panelGrid columns="1" style="width:100%" id="docbyteInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="data" value="#{docbyteUI.docbyte.data}" style="width:95%" />
								<p:outputLabel value="#{lang['data']}" for="data" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="doc" value="#{docbyteUI.docbyte.doc}" style="width:95%" />
								<p:outputLabel value="#{lang['doc']}" for="doc" />
							</h:panelGroup>


							<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
								<p:commandButton value="#{lang['submit']}" icon="ui-icon-save" update=":mainForm:docbyteList :docbyteInsForm:docbyteInsGrid" action="#{docbyteUI.docbyteInsert}" />
								<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="docbyteInsGrid" process="@this" action="#{docbyteUI.prepareNew}">
									<p:resetInput target="docbyteInsGrid" />
								</p:commandButton>
							</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h:form id="mainForm">

						<p:dataTable var="rowVar" value="#{docbyteUI.dataModel}" filteredValue="#{docbyteUI.docBytefilteredList}" id="docbyteList" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

							<p:column headerText="#{lang['data']}">
								<h:outputText value="#{rowVar.data}" />
							</p:column>
							<p:column headerText="#{lang['doc']}">
								<h:outputText value="#{rowVar.doc}" />
							</p:column>


							<p:column width="80">
								<p:commandButton icon="fa fa-database" title="#{lang['update']}" update=":docbyteInsForm:docbyteInsGrid">
									<f:setPropertyActionListener value="#{rowVar}" target="#{docbyteUI.docbyte}" />
								</p:commandButton>
								<p:spacer width="5" />
								<p:commandButton icon="fa fa-trash-o" title="{lang['delete']}" update=":mainForm:docbyteList" action="#{docbyteUI.docbyteDelete}">
									<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="ui-icon-warning" />
									<f:setPropertyActionListener value="#{rowVar}" target="#{docbyteUI.docbyte}" />
								</p:commandButton>
							</p:column>

						</p:dataTable>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
							<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
							<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
						</p:confirmDialog>

					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
	<!-- 
data = data
doc = doc

-->
</ui:composition>
