<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h1>Invoice</h1>
					<h:form id="invoiceInsForm">
						<p:growl autoUpdate="true" sticky="false" />
						<p:panelGrid columns="1" style="width:100%" id="invoiceInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
       						         							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="docs" value="#{invoiceUI.invoice.docs}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['docs']}" for="docs"/>
     							</h:panelGroup>  
     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="createdBy" value="#{invoiceUI.invoice.createdBy}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['createdBy']}" for="createdBy"/>
     							</h:panelGroup>  
     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="createDate" value="#{invoiceUI.invoice.createDate}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['createDate']}" for="createDate"/>
     							</h:panelGroup>  
     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="statementOfWork" value="#{invoiceUI.invoice.statementOfWork}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['statementOfWork']}" for="statementOfWork"/>
     							</h:panelGroup>  
     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="employeeStatementOfWork" value="#{invoiceUI.invoice.employeeStatementOfWork}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['employeeStatementOfWork']}" for="employeeStatementOfWork"/>
     							</h:panelGroup>  
     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="invoiceNumber" value="#{invoiceUI.invoice.invoiceNumber}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['invoiceNumber']}" for="invoiceNumber"/>
     							</h:panelGroup>  
     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="exhangeRate" value="#{invoiceUI.invoice.exhangeRate}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['exhangeRate']}" for="exhangeRate"/>
     							</h:panelGroup>  
     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="invoiceValue" value="#{invoiceUI.invoice.invoiceValue}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['invoiceValue']}" for="invoiceValue"/>
     							</h:panelGroup>  
     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="fromDate" value="#{invoiceUI.invoice.fromDate}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['fromDate']}" for="fromDate"/>
     							</h:panelGroup>  
     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="toDate" value="#{invoiceUI.invoice.toDate}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['toDate']}" for="toDate"/>
     							</h:panelGroup>  
     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="invoiceDate" value="#{invoiceUI.invoice.invoiceDate}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['invoiceDate']}" for="invoiceDate"/>
     							</h:panelGroup>  
     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="paidDate" value="#{invoiceUI.invoice.paidDate}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['paidDate']}" for="paidDate"/>
     							</h:panelGroup>  
     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="paidExhangeRate" value="#{invoiceUI.invoice.paidExhangeRate}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['paidExhangeRate']}" for="paidExhangeRate"/>
     							</h:panelGroup>  
     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="paid" value="#{invoiceUI.invoice.paid}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['paid']}" for="paid"/>
     							</h:panelGroup>  
     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="notes" value="#{invoiceUI.invoice.notes}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['notes']}" for="notes"/>
     							</h:panelGroup>  
     							<h:panelGroup styleClass="md-inputfield">  
       								<p:inputText id="locale" value="#{invoiceUI.invoice.locale}" style="width:95%"/>
      	 							<p:outputLabel value="#{lang['locale']}" for="locale"/>
     							</h:panelGroup>  


        					    <p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
									<p:commandButton value="Submit" icon="ui-icon-save" update=":mainForm:invoiceList :invoiceInsForm:invoiceInsGrid" action="#{invoiceUI.invoiceInsert}" />
									<p:commandButton value="Clear" icon="ui-icon-clear-all" update="invoiceInsGrid" process="@this" action="#{invoiceUI.prepareNew}">
										<p:resetInput target="invoiceInsGrid" />
									</p:commandButton>									
								</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h:form id="mainForm">

						<p:dataTable var="rowVar" value="#{invoiceUI.dataModel}" filteredValue="#{invoiceUI.invoicefilteredList}" id="invoiceList" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

           						              					<p:column headerText="#{lang['docs']}">  
                        			<h:outputText value="#{rowVar.docs}" />  
            					</p:column>      
              					<p:column headerText="#{lang['createdBy']}">  
                        			<h:outputText value="#{rowVar.createdBy}" />  
            					</p:column>      
              					<p:column headerText="#{lang['createDate']}">  
                        			<h:outputText value="#{rowVar.createDate}" />  
            					</p:column>      
              					<p:column headerText="#{lang['statementOfWork']}">  
                        			<h:outputText value="#{rowVar.statementOfWork}" />  
            					</p:column>      
              					<p:column headerText="#{lang['employeeStatementOfWork']}">  
                        			<h:outputText value="#{rowVar.employeeStatementOfWork}" />  
            					</p:column>      
              					<p:column headerText="#{lang['invoiceNumber']}">  
                        			<h:outputText value="#{rowVar.invoiceNumber}" />  
            					</p:column>      
              					<p:column headerText="#{lang['exhangeRate']}">  
                        			<h:outputText value="#{rowVar.exhangeRate}" />  
            					</p:column>      
              					<p:column headerText="#{lang['invoiceValue']}">  
                        			<h:outputText value="#{rowVar.invoiceValue}" />  
            					</p:column>      
              					<p:column headerText="#{lang['fromDate']}">  
                        			<h:outputText value="#{rowVar.fromDate}" />  
            					</p:column>      
              					<p:column headerText="#{lang['toDate']}">  
                        			<h:outputText value="#{rowVar.toDate}" />  
            					</p:column>      
              					<p:column headerText="#{lang['invoiceDate']}">  
                        			<h:outputText value="#{rowVar.invoiceDate}" />  
            					</p:column>      
              					<p:column headerText="#{lang['paidDate']}">  
                        			<h:outputText value="#{rowVar.paidDate}" />  
            					</p:column>      
              					<p:column headerText="#{lang['paidExhangeRate']}">  
                        			<h:outputText value="#{rowVar.paidExhangeRate}" />  
            					</p:column>      
              					<p:column headerText="#{lang['paid']}">  
                        			<h:outputText value="#{rowVar.paid}" />  
            					</p:column>      
              					<p:column headerText="#{lang['notes']}">  
                        			<h:outputText value="#{rowVar.notes}" />  
            					</p:column>      
              					<p:column headerText="#{lang['locale']}">  
                        			<h:outputText value="#{rowVar.locale}" />  
            					</p:column>      


           						<p:column width="80">
									<p:commandButton icon="fa fa-database" title="Update" update=":invoiceInsForm:invoiceInsGrid">
										<f:setPropertyActionListener value="#{rowVar}" target="#{invoiceUI.invoice}" />
									</p:commandButton>
									<p:spacer width="5" />
									<p:commandButton icon="fa fa-trash-o" title="Delete" update=":mainForm:invoiceList" action="#{invoiceUI.invoiceDelete}">
										<p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-warning" />
										<f:setPropertyActionListener value="#{rowVar}" target="#{invoiceUI.invoice}" />
									</p:commandButton>
								</p:column>

						</p:dataTable>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
							<p:commandButton value="Yes" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
							<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
						</p:confirmDialog>

					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
<!-- 
docs = docs
createdBy = createdBy
createDate = createDate
statementOfWork = statementOfWork
employeeStatementOfWork = employeeStatementOfWork
invoiceNumber = invoiceNumber
exhangeRate = exhangeRate
invoiceValue = invoiceValue
fromDate = fromDate
toDate = toDate
invoiceDate = invoiceDate
paidDate = paidDate
paidExhangeRate = paidExhangeRate
paid = paid
notes = notes
locale = locale

-->
</ui:composition>
