<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h1>UsersCost</h1>
					<h:form id="userscostInsForm">
						<p:growl autoUpdate="true" sticky="false" />
						<p:panelGrid columns="1" style="width:100%" id="userscostInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="users" value="#{userscostUI.userscost.users}" style="width:95%" />
								<p:outputLabel value="#{lang['users']}" for="users" />
							</h:panelGroup>
							<p:outputPanel styleClass="ui-g">
								<div class="ui-g-3">
									<p:outputLabel value="#{lang['language.currency']}:" for="locale1" />
								</div>
								<div class="ui-g-8">
									<p:selectOneMenu value="#{userscostUI.userscost.locale}" id="locale1" style="width: 50%" converter="localeUIConvertor" disabled="true">
										<p:ajax listener="#{#{userscostUI.onCountryChange}" />
										<f:selectItems value="#{languageUI.localeCurrency}" var="rv" itemLabel="#{rv.currency.symbol} - #{rv.locale.displayCountry}" itemValue="#{rv.locale.toLanguageTag()}" />
									</p:selectOneMenu>
								</div>
							</p:outputPanel>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="createDate" value="#{userscostUI.userscost.createDate}" style="width:95%" />
								<p:outputLabel value="#{lang['createDate']}" for="createDate" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="effectiveDate" value="#{userscostUI.userscost.effectiveDate}" style="width:95%" />
								<p:outputLabel value="#{lang['effectiveDate']}" for="effectiveDate" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="exhangeRate" value="#{userscostUI.userscost.exhangeRate}" style="width:95%" />
								<p:outputLabel value="#{lang['exhangeRate']}" for="exhangeRate" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="grossSalaryPerAnnum" value="#{userscostUI.userscost.grossSalaryPerAnnum}" style="width:95%" />
								<p:outputLabel value="#{lang['grossSalaryPerAnnum']}" for="grossSalaryPerAnnum" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="ersNiPerAnnum" value="#{userscostUI.userscost.ersNiPerAnnum}" style="width:95%" />
								<p:outputLabel value="#{lang['ersNiPerAnnum']}" for="ersNiPerAnnum" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="unemploymentFundPerAnnum" value="#{userscostUI.userscost.unemploymentFundPerAnnum}" style="width:95%" />
								<p:outputLabel value="#{lang['unemploymentFundPerAnnum']}" for="unemploymentFundPerAnnum" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="mandatoryTaxPensionsPerAnnum" value="#{userscostUI.userscost.mandatoryTaxPensionsPerAnnum}" style="width:95%" />
								<p:outputLabel value="#{lang['mandatoryTaxPensionsPerAnnum']}" for="mandatoryTaxPensionsPerAnnum" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="oneTimeExpensePerAnnum" value="#{userscostUI.userscost.oneTimeExpensePerAnnum}" style="width:95%" />
								<p:outputLabel value="#{lang['oneTimeExpensePerAnnum']}" for="oneTimeExpensePerAnnum" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="totalCostOfEmployeePerAnnum" value="#{userscostUI.userscost.totalCostOfEmployeePerAnnum}" style="width:95%" />
								<p:outputLabel value="#{lang['totalCostOfEmployeePerAnnum']}" for="totalCostOfEmployeePerAnnum" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="dayRate" value="#{userscostUI.userscost.dayRate}" style="width:95%" />
								<p:outputLabel value="#{lang['dayRate']}" for="dayRate" />
							</h:panelGroup>


							<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
								<p:commandButton value="Submit" icon="ui-icon-save" update=":mainForm:userscostList :userscostInsForm:userscostInsGrid" action="#{userscostUI.userscostInsert}" />
								<p:commandButton value="Clear" icon="ui-icon-clear-all" update="userscostInsGrid" process="@this" action="#{userscostUI.prepareNew}">
									<p:resetInput target="userscostInsGrid" />
								</p:commandButton>
							</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h:form id="mainForm">

						<p:dataTable var="rowVar" value="#{userscostUI.dataModel}" filteredValue="#{userscostUI.usersCostfilteredList}" id="userscostList" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

							<p:column headerText="#{lang['users']}">
								<h:outputText value="#{rowVar.users}" />
							</p:column>
							<p:column headerText="#{lang['locale']}">
								<h:outputText value="#{rowVar.locale}" />
							</p:column>
							<p:column headerText="#{lang['createDate']}">
								<h:outputText value="#{rowVar.createDate}" />
							</p:column>
							<p:column headerText="#{lang['effectiveDate']}">
								<h:outputText value="#{rowVar.effectiveDate}" />
							</p:column>
							<p:column headerText="#{lang['exhangeRate']}">
								<h:outputText value="#{rowVar.exhangeRate}" />
							</p:column>
							<p:column headerText="#{lang['grossSalaryPerAnnum']}">
								<h:outputText value="#{rowVar.grossSalaryPerAnnum}" />
							</p:column>
							<p:column headerText="#{lang['ersNiPerAnnum']}">
								<h:outputText value="#{rowVar.ersNiPerAnnum}" />
							</p:column>
							<p:column headerText="#{lang['unemploymentFundPerAnnum']}">
								<h:outputText value="#{rowVar.unemploymentFundPerAnnum}" />
							</p:column>
							<p:column headerText="#{lang['mandatoryTaxPensionsPerAnnum']}">
								<h:outputText value="#{rowVar.mandatoryTaxPensionsPerAnnum}" />
							</p:column>
							<p:column headerText="#{lang['oneTimeExpensePerAnnum']}">
								<h:outputText value="#{rowVar.oneTimeExpensePerAnnum}" />
							</p:column>
							<p:column headerText="#{lang['totalCostOfEmployeePerAnnum']}">
								<h:outputText value="#{rowVar.totalCostOfEmployeePerAnnum}" />
							</p:column>
							<p:column headerText="#{lang['dayRate']}">
								<h:outputText value="#{rowVar.dayRate}" />
							</p:column>


							<p:column width="80">
								<p:commandButton icon="fa fa-database" title="Update" update=":userscostInsForm:userscostInsGrid">
									<f:setPropertyActionListener value="#{rowVar}" target="#{userscostUI.userscost}" />
								</p:commandButton>
								<p:spacer width="5" />
								<p:commandButton icon="fa fa-trash-o" title="Delete" update=":mainForm:userscostList" action="#{userscostUI.userscostDelete}">
									<p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-warning" />
									<f:setPropertyActionListener value="#{rowVar}" target="#{userscostUI.userscost}" />
								</p:commandButton>
							</p:column>

						</p:dataTable>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
							<p:commandButton value="Yes" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
							<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
						</p:confirmDialog>

					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
	<!-- 

effectiveDate = Effective Date
exhangeRate = Exhange Rate
grossSalaryPerAnnum = Gross Salary Per Annum
ersNiPerAnnum = ERS NI Per Annum
unemploymentFundPerAnnum = Unemployment Fund Per Annum
mandatoryTaxPensionsPerAnnum = Mandatory Tax Pensions Per Annum
oneTimeExpensePerAnnum = One Time Expense Per Annum
totalCostOfEmployeePerAnnum = Total Cost Of Employee Per Annum
dayRate = Day Rate

-->
</ui:composition>
