<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h1>UserProjects</h1>
					<h:form id="userprojectsInsForm">
						<p:growl autoUpdate="true" sticky="false" />
						<p:panelGrid columns="1" style="width:100%" id="userprojectsInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="project" value="#{userprojectsUI.userprojects.project}" style="width:95%" />
								<p:outputLabel value="#{lang['project']}" for="project" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="user" value="#{userprojectsUI.userprojects.user}" style="width:95%" />
								<p:outputLabel value="#{lang['user']}" for="user" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="createDate" value="#{userprojectsUI.userprojects.createDate}" style="width:95%" />
								<p:outputLabel value="#{lang['createDate']}" for="createDate" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="accessToProject" value="#{userprojectsUI.userprojects.accessToProject}" style="width:95%" />
								<p:outputLabel value="#{lang['accessToProject']}" for="accessToProject" />
							</h:panelGroup>


							<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
								<p:commandButton value="Submit" icon="ui-icon-save" update=":mainForm:userprojectsList :userprojectsInsForm:userprojectsInsGrid" action="#{userprojectsUI.userprojectsInsert}" />
								<p:commandButton value="Clear" icon="ui-icon-clear-all" update="userprojectsInsGrid" process="@this" action="#{userprojectsUI.prepareNew}">
									<p:resetInput target="userprojectsInsGrid" />
								</p:commandButton>
							</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h:form id="mainForm">

						<p:dataTable var="rowVar" value="#{userprojectsUI.dataModel}" filteredValue="#{userprojectsUI.userProjectsfilteredList}" id="userprojectsList" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom" paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

							<p:column headerText="#{lang['project']}">
								<h:outputText value="#{rowVar.project}" />
							</p:column>
							<p:column headerText="#{lang['user']}">
								<h:outputText value="#{rowVar.user}" />
							</p:column>
							<p:column headerText="#{lang['createDate']}">
								<h:outputText value="#{rowVar.createDate}" />
							</p:column>
							<p:column headerText="#{lang['accessToProject']}">
								<h:outputText value="#{rowVar.accessToProject}" />
							</p:column>


							<p:column width="80">
								<p:commandButton icon="fa fa-database" title="Update" update=":userprojectsInsForm:userprojectsInsGrid">
									<f:setPropertyActionListener value="#{rowVar}" target="#{userprojectsUI.userprojects}" />
								</p:commandButton>
								<p:spacer width="5" />
								<p:commandButton icon="fa fa-trash-o" title="Delete" update=":mainForm:userprojectsList" action="#{userprojectsUI.userprojectsDelete}">
									<p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-warning" />
									<f:setPropertyActionListener value="#{rowVar}" target="#{userprojectsUI.userprojects}" />
								</p:commandButton>
							</p:column>

						</p:dataTable>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
							<p:commandButton value="Yes" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
							<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
						</p:confirmDialog>

					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
	<!-- 
project = project
user = user
createDate = createDate
accessToProject = accessToProject

-->
</ui:composition>
