<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template.xhtml">
	<ui:define name="head">
		<script type="text/javascript">
	function skinBar() {
		this.cfg.shadow = false;
		this.cfg.seriesColors = [ '#33AFDE','#D888DD', '#AA115A', '#F7941E' ];
		this.cfg.grid = {
			background : '#EDF3F6',
			borderColor : '#D9E3E8',
			gridLineColor : '#D9E3E8',
			
			shadow : false
		};
	}
			</script>

		<style type="text/css">
.hsLow {
	background-color: #42A5F5 !important;
	border: solid 1px #42A5F5 !important;
}

.hsMedium {
	background-color: #9CCC65 !important;
	border: solid 1px #9CCC65 !important;
}

.hsHigh {
	background-color: #D0525D !important;
	border: solid 1px #D0525D !important;
}

.hsAudit {
	background-color: #D888DD !important;
	border: solid 1px #D888DD !important;
}

.hsNone {
	color: red !important;
	font-size: 30px;
	width: 5%;
	text-align: center;
	background-color: transparent !important;
	border: solid 0px white !important
}

.fc-time {
	display: none !important;
}

.fc-toolbar {
	padding-top: 1% !important;
	padding-right: 5% !important;
	padding-bottom: 1% !important;
	padding-left: 5% !important;
}

.hsNoneSunday {
	color: white !important;
	font-size: 30px;
	width: 5%;
	text-align: center;
	background-color: transparent !important;
	border: solid 0px white !important
}

td.fc-day-number.fc-sun {
	background-color: #E57373;
}

@media ( max-width : 640px) {
	.fc-toolbar {
		padding-top: 0.2% !important;
		padding-right: 0.5% !important;
		padding-bottom: 0.2% !important;
		padding-left: 0.5% !important;
	}
	.fc-toolbar h2 {
		font-size: 15px !important;
		padding-top: 6px !important;
	}

	/* .fc-day-grid{
	height: 90px !important; 

}
.fc{
	height: 530px !important; 
	


} */
	.fc-today-button {
		display: none !important;
	}
	.fc-today {
		background-color: #FFF176 !important;
	}
	.ui-widget-header {
		font-size: 11px;
		padding-top: 0.2% !important;
		padding-right: 0.5% !important;
		padding-bottom: 0.2% !important;
		padding-left: 0.5% !important;
	}
	.alignRight {
		text-align: right !important
	}
	.alignLeft {
		text-align: left !important
	}
}
</style>

	</ui:define>
	<ui:define name="subheader">
        Add Time
    </ui:define>

	<ui:define name="content">
		
			<ui:include src="/pages/timesheetCalendar.xhtml" />
		
	</ui:define>
</ui:composition>