<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
      
       <ui:include src="/pages/userdetail.xhtml" />  
        <div class="Container100 UserLinks">
            <div class="ContainerIndent">
                <span class="BoldGray Fs18 FontRobotoLight Fleft ShowOnDesktop">
                  <i class="icon-arrow-right"></i> Blank</span>
            </div>
            <div class="EmptyBox5"></div>
        </div> 
        
        <div class="Container100">
            <div class="ContainerIndent">
                <div class="Card ShadowEffect TexAlCenter">
                    <br/>
                    <h2>Empty Page</h2>
                    <br/>
                    <span class="gray">Use this page to start from scratch and place your custom content.</span>
                    <br/><br/>
                </div>
            </div>
        </div>
        
    </ui:define>

</ui:composition>