<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="head">
		<script type="text/javascript">
			function skinChart() {
				this.cfg.shadow = false;
				this.cfg.seriesColors = ['#03A9F4', '#E91E63', '#4CAF50', '#FFC107' ];
				this.cfg.grid = {
					background : '#EDF3F6',
					borderColor : '#D9E3E8',
					gridLineColor : '#D9E3E8',
					shadow : false
				};
				this.cfg.axesDefaults = {
					rendererOptions : {
						textColor : '#778D9B'
					}
				};
				this.cfg.seriesDefaults = {
					shadow : false,
					markerOptions : {
						shadow : false
					}
				}
			}

			function skinPie() {
				this.cfg.seriesColors = [ '#dae8ef', '#27aae1', '#33ccff',
				  						'#9fadb5'];
				this.cfg.grid = {
					background : '#ffffff',
					borderColor : '#eaeaea',
					gridLineColor : '#e5ebf0',
					shadow : false,
					borderWidth : 0					
				};
				this.cfg.seriesDefaults.shadow = false;
			}

			function skinBar() {
				this.cfg.shadow = false;
				this.cfg.seriesColors = [ '#33AFDE','#D888DD', '#AA115A', '#F7941E','#F44336',' #E91E63',' #9C27B0',' #673AB7','#3F51B5','#2196F3','#03A9F4','#00BCD4','#009688','#4CAF50',
				                          '#8BC34A',' #CDDC39',' #FFEB3B','#FFC107','#FF9800',' #FF5722','#795548',' #9E9E9E','#607D8B' ];
				this.cfg.grid = {
					background : '#EDF3F6',
					borderColor : '#D9E3E8',
					gridLineColor : '#D9E3E8',
					
					
					shadow : false
				};
			}

			function skinBar2() {
				this.cfg.shadow = false;
				this.cfg.seriesColors = [ '#D888DD','#AA115A', '#33AFDE', '#71CC8D'  ];
				this.cfg.grid = {
					background : '#EDF3F6',
					borderColor : '#D9E3E8',
					gridLineColor : '#D9E3E8',
					shadow : false
				};
			}
			
			function skinBar3() {
				this.cfg.shadow = false;
				this.cfg.seriesColors = [ '#d10505','#f19900', '#0eb700'  ];
				this.cfg.grid = {
					background : '#EDF3F6',
					borderColor : '#D9E3E8',
					gridLineColor : '#D9E3E8',
					shadow : false
				};
			}
			
		</script>
		<style type="text/css">
.jqplot-target, .jqplot-axis {
	color: #778D9B;
}

.jqplot-highlighter-tooltip {
	display: none !important;
}

.jqplot-point-label {
	font-size: 1.5em !important;
	z-index: 2 !important;
}

.jqplot-highlighter-tooltip {
	font-size: large;
	color: black;
}

.jqplot-data-label {
	font-size: large;
	color: black;
}
</style>
	</ui:define>
	<ui:define name="subheader">
        Dashboard #{sessionUI.company.companyName}
    </ui:define>

	<ui:define name="content">
		<div class="ui-g dashboard">
			
				<div class="ui-g-12 ui-md-6 ui-lg-6">
					<div class="card">
						<h:form id="taskForm">
						 <h1 class="FontBold">Total Hours</h1>
							<div class="EmptyBox20"/>
								<p:chart   type="pie"  model="#{dashboardUI.pieModel1}" />
							
						</h:form>
					</div>
				</div>
				<p:repeat var="rv" value="#{dashboardUI.barChartModels}">
					<div class="ui-g-12 ui-md-6 ui-lg-6">
						<div class="card ">
							<h:form id="projectForm">
							 <h1 class="FontBold">User Hours</h1>
							
								<div class="EmptyBox20"/>
									<p:chart type="bar" model="#{rv}"  />
									
								
							</h:form>
						</div>
					</div>
				</p:repeat>

			
		</div>
	</ui:define>
</ui:composition>