<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core">
	<ui:define name="head">
		<script type="text/javascript">
	function skinBar() {
		this.cfg.shadow = false;
		this.cfg.seriesColors = [ '#33AFDE','#D888DD', '#AA115A', '#F7941E' ];
		this.cfg.grid = {
			background : '#EDF3F6',
			borderColor : '#D9E3E8',
			gridLineColor : '#D9E3E8',
			
			shadow : false
		};
	}
			</script>
		<style type="text/css">
.hsLow {
	background-color: #42A5F5 !important;
	border: solid 1px #42A5F5 !important;
}

.hsMedium {
	background-color: #9CCC65 !important;
	border: solid 1px #9CCC65 !important;
}

.hsHigh {
	background-color: #D0525D !important;
	border: solid 1px #D0525D !important;
}

.hsAudit {
	background-color: #D888DD !important;
	border: solid 1px #D888DD !important;
}

.hsNone {
	color: red !important;
	font-size: 30px;
	width: 5%;
	text-align: center;
	background-color: transparent !important;
	border: solid 0px white !important
}

.fc-time {
	display: none !important;
}

.fc-toolbar {
	padding-top: 1% !important;
	padding-right: 5% !important;
	padding-bottom: 1% !important;
	padding-left: 5% !important;
}

.hsNoneSunday {
	color: white !important;
	font-size: 30px;
	width: 5%;
	text-align: center;
	background-color: transparent !important;
	border: solid 0px white !important
}

td.fc-day-number.fc-sun {
	background-color: #E57373;
}

@media ( max-width : 640px) {
	.fc-toolbar {
		padding-top: 0.2% !important;
		padding-right: 0.5% !important;
		padding-bottom: 0.2% !important;
		padding-left: 0.5% !important;
	}
	.fc-toolbar h2 {
		font-size: 15px !important;
		padding-top: 6px !important;
	}
	/* .fc-day-grid{
	height: 90px !important; 
}
.fc{
	height: 530px !important; 
} */
	.fc-today-button {
		display: none !important;
	}
	.fc-today {
		background-color: #FFF176 !important;
	}
	.ui-widget-header {
		font-size: 11px;
		padding-top: 0.2% !important;
		padding-right: 0.5% !important;
		padding-bottom: 0.2% !important;
		padding-left: 0.5% !important;
	}
	.alignRight {
		text-align: right !important
	}
	.alignLeft {
		text-align: left !important
	}
}
</style>
	</ui:define>
	<ui:define name="subheader">
        Timesheet
    </ui:define>
	<ui:define name="content">
		<p:growl id="growl" />
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">

					<!-- <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" /> -->

					<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
						<center>
							<h2>Loading...</h2>
							<h3>Please Wait</h3>
							<br />
							<p:graphicImage name="images/477.gif" library="hls" />
						</center>
					</p:dialog>
					<h:form id="sheduleForm">
						<div class="ui-g">
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:commandButton icon="ui-icon-info-outline" id="help" title="Help" oncomplete="PF('dlgInformation').show()"></p:commandButton>
								<p:tooltip for="help" position="right" />
								<p:spacer width="10"></p:spacer>
								<p:commandButton icon="ui-icon-library-books" id="bulkCapture" action="#{dashboardTimeEntryUI.prepBulkTimesheetDetail}" title="Bulk Capture" oncomplete="PF('dlgBulk').show()" update="timesheetBulkInsForm">
								</p:commandButton>
								<p:tooltip for="bulkCapture" position="right" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:commandButton icon="fa fa-print Fs16 white" id="toPrint" iconPos="center" title="Print Timesheet" ajax="false" styleClass="Fright">
									<p:printer target="schedule" />
								</p:commandButton>
								<p:tooltip for="toPrint" position="left" />
							</div>
							<!-- <p:commandButton title="Go To Latest Timesheet"  icon="fa fa-search-plus Fs12 white"
									value="Go to latest timesheet" id="detailPage" styleClass="Fright">	
									<f:setPropertyActionListener value="#{dashboardTimeEntryUI.timesheet.timesheet}" target="#{timesheetUI.timesheet}" />
								</p:commandButton> 	<p:tooltip for="detailPage" />-->
							<div class="ui-g-12 ui-md-12 ui-lg-12">
								<p:schedule aspectRatio="3.1" id="schedule" locale="tr" value="#{dashboardTimeEntryUI.lazyEventModel}" styleClass="custom" columnFormat="month:'ddd', week:'ddd: DD/MM', day:'dddd'" timeZone="#{dashboardTimeEntryUI.timeZoneString}" resizable="false" initialDate="#{dashboardTimeEntryUI.initialDate}" allDaySlot="true"
									tooltip="hello">
									<p:ajax event="eventSelect" listener="#{dashboardTimeEntryUI.onEventSelect}" oncomplete="PF('dlgUpd').show()" update="timesheetUpdForm" />
									<p:ajax event="dateSelect" listener="#{dashboardTimeEntryUI.onDateSelect}" oncomplete="PF('dlg').show()" update="timesheetInsForm" />
									<p:ajax event="eventMove" listener="#{dashboardTimeEntryUI.onEventMove}" update="sheduleForm" oncomplete="PF('confirmation').show()" />
								</p:schedule>
							</div>

						</div>
					</h:form>
				</div>
			</div>
		</div>

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="reportForm">
						<div class="ui-g">
							<div class="ui-g-12">
								<h3>#{lang['captured.time']}</h3>
							</div>

							<div class="ui-g-12 ui-md-6 ui-lg-3">
								<p:outputLabel for="fromDateReport" value="#{lang['from.date']}" />
							</div>

							<div class="ui-g-12 ui-md-6 ui-lg-3">
								<p:calendar id="fromDateReport" value="#{dashboardTimeEntryUI.searchFromDate}" pattern="dd MMMM yyyy" showOn="button" readonlyInput="true" />
							</div>

							<div class="ui-g-12 ui-md-6 ui-lg-3">
								<p:outputLabel for="toDateReport" value="#{lang['to.date']}" />
							</div>

							<div class="ui-g-12 ui-md-6 ui-lg-3">
								<p:calendar id="toDateReport" pattern="dd MMMM yyyy" value="#{dashboardTimeEntryUI.searchToDate}" showOn="button" readonlyInput="true" />
							</div>
							<div class="ui-g-12">
								<p:commandButton value="#{lang['generate.results.btn']}" icon="fa fa-search-plus" update="resultsPanel growl" action="#{dashboardTimeEntryUI.generateTotalHoursReport}" />
							</div>
							<div class="ui-g-12">
								<p:outputPanel id="resultsPanel" style="width: 100%">

									<p:outputLabel value="#{lang['no.results.found']}" rendered="#{dashboardTimeEntryUI.reportBeanList.size() eq 0}" />

									<p:dataTable style="width:100%" var="rv" value="#{dashboardTimeEntryUI.reportBeanList}" rendered="#{dashboardTimeEntryUI.reportBeanList.size() gt 0}" id="resultTable" reflow="true">
										<p:column filterBy="#{rv.project.code}" headerText="Project" width="100%">
											<h:outputText style="font-size:18px" value="#{rv.project.code}" />
										</p:column>

										<p:column exportable="false" width="20%" headerText="#{lang['hours.worked.on.project']}">
											<h:outputText style="font-size:18px  " value=" :#{rv.longOne}" styleClass="Fright" />
											<h:outputText style="font-size:18px" value="#{rv.hours}" styleClass="Fright">
												<f:convertNumber pattern="0" />
											</h:outputText>
										</p:column>

										<p:column headerText="#{lang['hours.worked.on.project']}" style="display:none !important">
											<h:outputLabel value="#{rv.hours}" style="font-size:18px">
												<f:convertNumber pattern="0" />
											</h:outputLabel>
											<h:outputLabel value=":#{rv.longOne}" style="font-size:18px" />
										</p:column>

										<p:columnGroup type="footer">
											<p:row>
												<p:column style="text-align:right" footerText="#{lang['total.hours']}" />
												<p:column style="font-size:18px;  font-weight: bold; text-align:right" footerText="#{dashboardTimeEntryUI.totalHoursConverted}:#{dashboardTimeEntryUI.totalMins}">
												</p:column>
											</p:row>
										</p:columnGroup>
									</p:dataTable>
								</p:outputPanel>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>

		<p:confirmDialog message="Copy timesheet?" width="400" appendToBody="@(body)" showEffect="clip" hideEffect="clip" header="Confirm" severity="info" widgetVar="confirmation">
			<h:form>
				<div class="ui-g">
					<div class="ui-g-12">
						<center>
							<p:commandButton value="Copy Event" update="sheduleForm growl" actionListener="#{dashboardTimeEntryUI.copyEvent}" oncomplete="PF('confirmation').hide()" onclick="PF('dlgWait').show()" />
							<p:spacer width="15"></p:spacer>
							<p:commandButton value="Move Event" update="sheduleForm growl" actionListener="#{dashboardTimeEntryUI.moveEvent}" oncomplete="PF('confirmation').hide()" onclick="PF('dlgWait').show()" />
							<p:spacer width="15"></p:spacer>
							<p:commandButton value="Cancel" oncomplete="PF('confirmation').hide()" update="sheduleForm" action="#{dashboardTimeEntryUI.getTimesheetDetails}" onclick="PF('dlgWait').show()" />
						</center>
					</div>
				</div>
			</h:form>
		</p:confirmDialog>
		<p:dialog modal="true" width="40%" header="Insert Timesheet Information" widgetVar="dlg" resizable="false" hideEffect="clip" showEffect="clip" id="dialogINS">
			<h:form id="timesheetInsForm">
				<div class="ui-g">
					<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12" id="timesheetInsGrid">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Project:" for="projects" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu required="false" requiredMessage="Please Select A Project" converter="ProjectsConvertor" id="projects" value="#{dashboardTimeEntryUI.timesheet.projects}" style="width:80%">
								<p:ajax update="timesheetInsForm" listener="#{dashboardTimeEntryUI.populateSOW}" />
								<f:selectItems value="#{dashboardTimeEntryUI.userProjectsList}" var="rv" itemLabel="#{rv.code}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Task:" for="tasks" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu converter="TasksConvertor" id="tasks" value="#{dashboardTimeEntryUI.timesheet.tasks}" style="width:80%">
								<f:selectItems value="#{tasksUI.tasksList}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Comments:" for="comments" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:inputText style="width:80%" id="comments" value="#{dashboardTimeEntryUI.timesheet.comments}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="All Day Event:" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectBooleanCheckbox value="#{dashboardTimeEntryUI.timesheet.allDayEvent}">
								<p:ajax update=":timesheetInsForm:hrs" />
							</p:selectBooleanCheckbox>
						</div>
					</p:outputPanel>
					<br />
					<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12" id="hrs">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Hours:" for="hours" rendered="#{dashboardTimeEntryUI.timesheet.allDayEvent eq false}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:inputNumber decimalPlaces="0" maxValue="20" style="width:80%" id="hours" value="#{dashboardTimeEntryUI.timesheet.hours}" maxlength="2" required="false" requiredMessage="Please Input Hours" minValue="0" rendered="#{dashboardTimeEntryUI.timesheet.allDayEvent eq false}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel styleClass="Fleft" value="Minutes:" for="min" rendered="#{dashboardTimeEntryUI.timesheet.allDayEvent eq false}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu style="width: 24.5%" value="#{dashboardTimeEntryUI.timesheet.minutes}" id="min" rendered="#{dashboardTimeEntryUI.timesheet.allDayEvent eq false}">
								<f:selectItems value="#{dashboardTimeEntryUI.minsList}" var="rv" itemLabel="#{rv}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>
					</p:outputPanel>
					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<br />
						<p:commandButton value="Submit" onclick="PF('dlgWait').show()" oncomplete="PF('dlgWait').hide()" update="growl" actionListener="#{dashboardTimeEntryUI.timesheetInsert}" icon="ui-icon-save" />
						<p:spacer width="10"></p:spacer>
						<p:commandButton value="Cancel" immediate="true" icon="ui-icon-cancel" oncomplete="PF('dlg').hide()" />
					</div>
				</div>
			</h:form>
		</p:dialog>
		<p:dialog modal="true" width="40%" header="Information" widgetVar="dlgInformation" resizable="false" hideEffect="clip" showEffect="clip" id="Information">
			<div class="ui-g">
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<span class="gray Fs15">To copy a task drag the task from one date to another. </span>

					<p:separator style="color: #f1f1f1 ; " />
				</div>
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<span class="gray Fs15">To add a task click on a date and fill out the form. </span>

					<p:separator style="color: #f1f1f1 ; " />
				</div>
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<span class="gray Fs15">To edit a task click on a task ribbon and edit the form. </span>

					<p:separator style="color: #f1f1f1 ; " />
				</div>
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<span class="gray Fs15">Blue ribbons indicate all day events.</span>

					<p:separator style="color: #f1f1f1 ; " />
				</div>
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<span class="gray Fs15">Green ribbons indicate time booked for the date</span>
					<p:separator style="color: #f1f1f1 ; " />
				</div>
			</div>
		</p:dialog>
		<p:dialog modal="true" header="Update Timesheet Information" width="40%" widgetVar="dlgUpd" resizable="false" hideEffect="clip" showEffect="clip" id="dialogUPD">
			<h:form id="timesheetUpdForm">
				<div class="ui-g">
					<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12" id="timesheetInsGrid">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Project:" for="projects" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu converter="ProjectsConvertor" id="projects" value="#{dashboardTimeEntryUI.timesheet.projects}" style="width:80%">
								<p:ajax update="timesheetUpdForm" listener="#{dashboardTimeEntryUI.populateSOW}" />
								<f:selectItems value="#{dashboardTimeEntryUI.userProjectsList}" var="rv" itemLabel="#{rv.code}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>
						<!-- <c:if test="#{dashboardTimeEntryUI.displaySow}">
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel value="S.O.W." for="sow" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:selectOneMenu converter="SOWConvertor" id="sow" value="#{dashboardTimeEntryUI.timesheet.statementOfWork}" style="width:80%">
									<f:selectItems value="#{dashboardTimeEntryUI.statementOfWorkList}" var="rv" itemLabel="#{rv.sowNumber}" itemValue="#{rv}" />
								</p:selectOneMenu>
							</div>
						</c:if> -->
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Task:" for="tasks" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu converter="TasksConvertor" id="tasks" value="#{dashboardTimeEntryUI.timesheet.tasks}" style="width:80%">
								<f:selectItems value="#{tasksUI.tasksList}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Comments:" for="comments" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:inputText style="width:80%" id="comments" value="#{dashboardTimeEntryUI.timesheet.comments}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="All Day Event:" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectBooleanCheckbox value="#{dashboardTimeEntryUI.timesheet.allDayEvent}">
								<p:ajax update=":timesheetUpdForm:hrs" />
							</p:selectBooleanCheckbox>
						</div>
					</p:outputPanel>
					<br />
					<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12" id="hrs">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Hours:" for="hours" rendered="#{dashboardTimeEntryUI.timesheet.allDayEvent eq false or dashboardTimeEntryUI.timesheet.allDayEvent eq null}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:inputNumber decimalPlaces="0" maxValue="20" style="width:80%" id="hours" value="#{dashboardTimeEntryUI.timesheet.hours}" maxlength="2" required="false" rendered="#{dashboardTimeEntryUI.timesheet.allDayEvent eq false or dashboardTimeEntryUI.timesheet.allDayEvent eq null}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel styleClass="Fleft" value="Minutes:" for="min" rendered="#{dashboardTimeEntryUI.timesheet.allDayEvent eq false or dashboardTimeEntryUI.timesheet.allDayEvent eq null}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu style="width: 24.5%" value="#{dashboardTimeEntryUI.timesheet.minutes}" id="min" rendered="#{dashboardTimeEntryUI.timesheet.allDayEvent eq false or dashboardTimeEntryUI.timesheet.allDayEvent eq null}">
								<f:selectItems value="#{dashboardTimeEntryUI.minsList}" var="rv" itemLabel="#{rv}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>
					</p:outputPanel>
					<div class="ui-g-12">
						<p:commandButton value="Submit" onclick="PF('dlgWait').show()" oncomplete="PF('dlgWait').hide()" actionListener="#{dashboardTimeEntryUI.timesheetUpdate}" update="sheduleForm growl" />
						<p:spacer width="10"></p:spacer>
						<p:commandButton value="Delete" onclick="PF('dlgWait').show()" oncomplete="PF('dlgWait').hide()" actionListener="#{dashboardTimeEntryUI.timesheetdetailsDelete}" update="sheduleForm growl" />
						<p:spacer width="10"></p:spacer>
						<p:commandButton value="Cancel" immediate="true" oncomplete="PF('dlgUpd').hide()" />
					</div>
				</div>
			</h:form>
		</p:dialog>

		<p:dialog modal="true" width="50%" header="Bulk Insert Timesheet Information" position="top" widgetVar="dlgBulk" resizable="false" hideEffect="clip" showEffect="clip" id="dialogBulkINS">
			<h:form id="timesheetBulkInsForm" style="width:100%">
				<div class="ui-g">
					<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12" id="timesheetInsGrid">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Project:" for="projects" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu converter="ProjectsConvertor" id="projects" value="#{dashboardTimeEntryUI.timesheet.projects}" style="width:80%">
								<p:ajax update="timesheetBulkInsForm" listener="#{dashboardTimeEntryUI.populateSOW}" />
								<f:selectItems value="#{dashboardTimeEntryUI.userProjectsList}" var="rv" itemLabel="#{rv.code}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>
						<!-- <c:if test="#{dashboardTimeEntryUI.displaySow}">
							<div class="ui-g-12"/>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel value="S.O.W." for="sow" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:selectOneMenu converter="SOWConvertor" id="sow" value="#{dashboardTimeEntryUI.timesheet.statementOfWork}" style="width:80%">
									<f:selectItems value="#{dashboardTimeEntryUI.statementOfWorkList}" var="rv" itemLabel="#{rv.sowNumber}" itemValue="#{rv}" />
								</p:selectOneMenu>
							</div>
						</c:if> -->
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12" id="timesheetInsGridAddInfo">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Task:" for="tasks" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu converter="TasksConvertor" id="tasks" value="#{dashboardTimeEntryUI.timesheet.tasks}" style="width:80%">
								<f:selectItems value="#{tasksUI.tasksList}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>
						<div class="ui-g-12"/>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="From Date" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:calendar showOn="button" pattern="dd MMMM yyyy" readonlyInput="true" value="#{dashboardTimeEntryUI.fromDate}"></p:calendar>
						</div>
						<div class="ui-g-12"/>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="To Date" for="tasks" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:calendar showOn="button" pattern="dd MMMM yyyy" readonlyInput="true" value="#{dashboardTimeEntryUI.toDate}"></p:calendar>
						</div>
						<div class="ui-g-12"/>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Exclude Weekends" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectBooleanCheckbox value="#{dashboardTimeEntryUI.excludeWeekends}">
							</p:selectBooleanCheckbox>
						</div>
						<div class="ui-g-12"/>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Comments:" for="comments" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:inputText style="width:80%" id="comments" value="#{dashboardTimeEntryUI.timesheet.comments}" />
						</div>
						<div class="ui-g-12"/>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="All Day Event:" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectBooleanCheckbox value="#{dashboardTimeEntryUI.timesheet.allDayEvent}">
								<p:ajax update=":timesheetBulkInsForm:Bulkhrs" />
							</p:selectBooleanCheckbox>
						</div>
					</p:outputPanel>
					<br />
					<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12" id="Bulkhrs">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Hours:" for="hours" rendered="#{dashboardTimeEntryUI.timesheet.allDayEvent eq false}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:inputNumber decimalPlaces="0" maxValue="20" style="width:80%" id="hours" value="#{dashboardTimeEntryUI.timesheet.hours}" maxlength="2" required="false" requiredMessage="Please Input Hours" minValue="0" rendered="#{dashboardTimeEntryUI.timesheet.allDayEvent eq false}" />
						</div>
						<div class="ui-g-12"/>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel styleClass="Fleft" value="Minutes:" for="min" rendered="#{dashboardTimeEntryUI.timesheet.allDayEvent eq false}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu style="width: 24.5%" value="#{dashboardTimeEntryUI.timesheet.minutes}" id="min" rendered="#{dashboardTimeEntryUI.timesheet.allDayEvent eq false}">
								<f:selectItems value="#{dashboardTimeEntryUI.minsList}" var="rv" itemLabel="#{rv}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>
					</p:outputPanel>
					<div class="ui-g-12">
						<p:commandButton value="Submit" onclick="PF('dlgWait').show()" oncomplete="PF('dlgWait').hide()" actionListener="#{dashboardTimeEntryUI.bulktimesheetInsert}" update="@form growl" icon="ui-icon-save" />
						<p:spacer width="10"></p:spacer>
						<p:commandButton value="Cancel" immediate="true" icon="ui-icon-cancel" oncomplete="PF('dlgBulk').hide()" />
					</div>
				</div>
			</h:form>
		</p:dialog>


	</ui:define>
</ui:composition>