<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="subheader">
      Information Page on: Projects and Tasks
    </ui:define>
	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12 ui-lg-12">
				<div class="card card-w-title">
					<h1 class="FontBold">Info</h1>
					<div class="EmptyBox10" />
					<h:form>
						<p:accordionPanel>
							<p:tab title="Projects">
								<h:panelGrid cellpadding="10">
									<p:dataTable var="rowVar" value="#{infoPageUI.sessionUserProjects}" filteredValue="#{infoPageUI.sessionUserFilteredProjects}" id="projectsList" rowKey="#{rowVar.id}" paginator="true" rows="10" paginatorPosition="bottom"
										emptyMessage="No Projects Found" paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">
										<p:column headerText="Code" sortBy="#{rowVar.code}" filterBy="#{rowVar.code}" filterMatchMode="contains">
											<h:outputText value="#{rowVar.code}" styleClass="breakWord" escape="false"/>
										</p:column>
										<p:column headerText="Description" sortBy="#{rowVar.description}" filterBy="#{rowVar.description}" filterMatchMode="contains">
											<h:outputText value="#{rowVar.description}" styleClass="breakWord" escape="false"/>
										</p:column>
									</p:dataTable>	
								</h:panelGrid>
							</p:tab>
							<p:tab title="Statement Of Work">
								<h:panelGrid cellpadding="10">
									<p:dataTable var="rowVar" value="#{infoPageUI.statementOfWorksList}" filteredValue="#{infoPageUI.statementOfWorksFilteredList}" id="sowList" rowKey="#{rowVar.id}" paginator="true" rows="10" paginatorPosition="bottom"
										emptyMessage="No Statements Of Work Found" paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">
										<p:column headerText="S.O.W. Number" sortBy="#{rowVar.sowNumber}" filterBy="#{rowVar.sowNumber}" filterMatchMode="contains">
											<h:outputText value="#{rowVar.sowNumber}" styleClass="breakWord"/>
										</p:column>
										<p:column headerText="Project" sortBy="#{rowVar.projects.code}" filterBy="#{rowVar.projects.code}" filterMatchMode="contains">
											<h:outputText value="#{rowVar.projects.code}" styleClass="breakWord" escape="false"/>
										</p:column>
										<p:column headerText="Title" sortBy="#{rowVar.title}" filterBy="#{rowVar.title}" filterMatchMode="contains">
											<h:outputText value="#{rowVar.title}" styleClass="breakWord" escape="false"/>
										</p:column>
										<p:column headerText="Description" filterBy="#{rowVar.description}" filterMatchMode="contains">
											<h:outputText value="#{rowVar.description}" styleClass="breakWord" escape="false"/>
										</p:column>
									</p:dataTable>	
								</h:panelGrid>
							</p:tab>
							<p:tab title="Tasks">
								<h:panelGrid cellpadding="10">
									<p:dataTable var="rowVar" value="#{infoPageUI.tasksList}" filteredValue="#{infoPageUI.tasksfilteredList}" id="tasksList" rowKey="#{rowVar.id}" paginator="true" rows="10" paginatorPosition="bottom"
										emptyMessage="No Tasks Found" paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">
										<p:column headerText="Name" sortBy="#{rowVar.name}" filterBy="#{rowVar.name}" filterMatchMode="contains">
											<h:outputText value="#{rowVar.name}" styleClass="breakWord" escape="false"/>
										</p:column>
										<p:column headerText="Description" sortBy="#{rowVar.description}" filterBy="#{rowVar.description}" filterMatchMode="contains">
											<h:outputText value="#{rowVar.description}" styleClass="breakWord" escape="false"/>
										</p:column>
									</p:dataTable>
								</h:panelGrid>
							</p:tab>
						</p:accordionPanel>	
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>