<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:o="http://omnifaces.org/ui"
	template="/WEB-INF/template.xhtml">


	<ui:define name="head">
		<style>
.ui-fileupload-content {
	height: 200px !important;
	background-image:
		url("#{request.contextPath}/resources/hls/images/upload.png")
		!important;
	background-repeat: no-repeat;
	background-position: center;
}
</style>
	</ui:define>

	<ui:define name="content">
		<o:importConstants type="haj.com.entity.enums.SowTypeEnum" var="sowTypeEnum" />


		<h:form id="invoiceInsForm1">
			<p:growl autoUpdate="true" sticky="false" />
			<div class="ui-g">
				<div class="ui-g-12 ">
					<div class="card card-w-title">
						<p:outputPanel styleClass=" ui-g">
							<div class="ui-g-12">
								<h1>#{lang['invoice']} #{invoiceUI3.invoice.statementOfWork.projects.code}</h1>
							</div>
						</p:outputPanel>

						<p:outputPanel id="sowPanelSelect" styleClass=" ui-g">
							<div class="ui-g-4">
								<p:outputLabel value="#{lang['statement.of.work']}" />
							</div>
							<div class="ui-g-2">
								<p:autoComplete id="statementOfWork1" value="#{invoiceUI3.invoice.statementOfWork}" completeMethod="#{invoiceUI3.searchSOW}" var="rv" itemLabel="#{rv.sowNumber}" itemValue="#{rv}" forceSelection="true" converter="SOWConvertor" dropdown="true" minQueryLength="1" maxResults="10">
									<p:ajax event="itemSelect" listener="#{invoiceUI3.prepEmpSow}" update="@form " />
									<p:column headerText="#{lang['number']}">#{rv.sowNumber}</p:column>
									<p:column headerText="#{lang['title']}">#{rv.title}</p:column>
								</p:autoComplete>
							</div>
							<div class="ui-g-8" />
						</p:outputPanel>
						<div class="EmptyBox10" />
						<p:outputPanel id="currencyPanel" styleClass=" ui-g">
							<div class="ui-g-4">
								<p:outputLabel value="#{lang['language.currency']}:" for="locale1" />
							</div>
							<div class="ui-g-2">
								<p:selectOneMenu value="#{invoiceUI3.invoice.locale}" id="locale1" converter="localeUIConvertor">
									<p:ajax listener="#{invoiceUI3.onCountryChange}" update="@form" />
									<f:selectItems value="#{languageUI.localeCurrency}" var="rv" itemLabel="#{rv.currency.symbol} - #{rv.locale.displayCountry}" itemValue="#{rv.locale.toLanguageTag()}" />
								</p:selectOneMenu>
							</div>
							<div class="ui-g-8" />
							<div class="EmptyBox10" />
							<div class="ui-g-4">
								<p:outputLabel value="#{lang['exhangeRate']}:" for="exhangeRate1" />
							</div>
							<div class="ui-g-2">
								<p:outputLabel id="exhangeRate1" value="#{invoiceUI3.invoice.exhangeRate}" styleClass="FontBold" />
							</div>
							<div class="ui-g-8" />
						</p:outputPanel>
						<div class="EmptyBox10" />
						<p:outputPanel id="sowFixedPrice" styleClass=" ui-g" rendered="#{invoiceUI3.milestonesowList.size() gt 0 and invoiceUI3.invoice.statementOfWork.sowTypeEnum eq sowTypeEnum.Fixed}">
							<div class="ui-g-4">
								<p:outputLabel value="Milestones for S.O.W:" for="milestoneSelectOneMenu" />
							</div>
							<div class="ui-g-2">
								<p:selectOneMenu id="milestoneSelectOneMenu" value="#{invoiceUI3.milestonesow}" converter="MilestoneSOWConvertor" required="true" placeholder="--- Select Milestone ---">
									<p:ajax listener="#{invoiceUI3.checkMilestone}" update="@form" />
									<f:selectItems value="#{invoiceUI3.milestonesowList}" var="milstone" itemLabel="#{milstone.milestoneNum} #{milstone.milestoneDescription}" itemValue="#{milstone}" />
								</p:selectOneMenu>
							</div>
							<div class="ui-g-8" />
							<div class="EmptyBox5" />
							<div class="ui-g-4">
								<p:outputLabel value="Milestones Details: " />
							</div>
							<div class="ui-g-2">
								<p:outputLabel value="#{invoiceUI3.milestonesow.milestoneDescription}" />
								<div class="EmptyBox5" />
								<h:outputText value="#{invoiceUI3.milestonesow.milestoneDate}">
									<f:convertDateTime pattern="dd MMM yyyy" />
								</h:outputText>
								<div class="EmptyBox5" />
								<h:outputText value="#{invoiceUI3.milestonevalue}">
									<f:convertNumber pattern="###,##0.00" />
								</h:outputText>
								<div class="EmptyBox5" />
							</div>
							<div class="ui-g-8" />
						</p:outputPanel>
						<div class="EmptyBox10" />
						<p:outputPanel id="sowTimeMaterial" styleClass="ui-g" rendered="#{invoiceUI3.employeesowList.size() gt 0 and invoiceUI3.invoice.statementOfWork.sowTypeEnum eq sowTypeEnum.TimeMaterials}">
							<div class="EmptyBox10" />
							<p:dataTable value="#{invoiceUI3.employeesowList}" var="time" id="sowTimeMaterialTable" editMode="row" editingRow="false" editable="false" rowKey="#{rowVar.id}" paginator="true" rows="3" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">

								<p:column width="50%" headerText="#{lang['name']}">
									<h:outputText value="#{time.employee.firstName} #{time.employee.lastName}" />
								</p:column>
								<p:column width="50%" headerText="User #{lang['charge.rate']}">
									<h:outputText value="#{time.chargeRate}">
										<f:convertNumber pattern="#0.00" />
									</h:outputText>
								</p:column>
								<p:column width="50%" headerText="Suggested #{lang['charge.rate']}">
									<h:outputText value="#{time.predictedChargeRate}">
										<f:convertNumber pattern="###,##0.00" />
									</h:outputText>
								</p:column>
								<p:column width="50%" headerText="Start Date">
									<h:outputText value="#{time.startDate}">
										<f:convertDateTime pattern="dd MMM yyyy" />
									</h:outputText>
								</p:column>
								<p:column width="50%" headerText="End Date">
									<h:outputText value="#{time.endDate}">
										<f:convertDateTime pattern="dd MMM yyyy" />
									</h:outputText>
								</p:column>
							</p:dataTable>
							<div class="EmptyBox10" />
						</p:outputPanel>

						<p:outputPanel id="invoicePanel" styleClass="ui-g">
							<div class="ui-g-4">
								<p:outputLabel value="#{lang['invoiceNumber']}" for="invoiceNumber" />
							</div>
							<div class="ui-g-2">
								<p:inputText id="invoiceNumber" value="#{invoiceUI3.invoice.invoiceNumber}" style="width:95%" required="true" requiredMessage="#{lang['invoiceNumber.required']}" />
							</div>
							<div class="ui-g-8" />
							<div class="EmptyBox10" />
							<div class="ui-g-4">
								<p:outputLabel value="#{lang['purchaseNumber']}" for="purchaseOrderNumber" />
							</div>
							<div class="ui-g-2">
								<p:inputText id="purchaseOrderNumber" value="#{invoiceUI3.invoice.purchaseOrderNumber}" style="width:95%" required="true" requiredMessage="Purchase Number Required" />
							</div>
							<div class="ui-g-8" />
							<div class="EmptyBox10" />
							<div class="ui-g-12">
								<p:outputPanel styleClass=" ui-g" rendered="#{invoiceUI3.employeesowList.size() gt 0 and invoiceUI3.invoice.statementOfWork.sowTypeEnum eq sowTypeEnum.TimeMaterials}">
									<div class="ui-g-4">
										<p:outputLabel value="Employee/s Cost: " styleClass="fs9" for="predinvoiceValue" />
									</div>
									<div class="ui-g-4">
										<p:outputLabel id="predinvoiceValue" styleClass="fs9" value="#{invoiceUI3.employeevalue}" style="width:95%">
											<f:convertNumber pattern="###,##0.00" />
										</p:outputLabel>
									</div>
								</p:outputPanel>
							</div>
							<div class="EmptyBox10" />
							<div class="ui-g-4">
								<p:outputLabel value="S.O.W Value: " styleClass="fs9" for="sowValue" />
							</div>
							<div class="ui-g-2">
								<p:outputLabel id="sowValue" styleClass="fs9" value="#{invoiceUI3.sowValue}" style="width:95%">
									<f:convertNumber pattern="###,##0.00" />
								</p:outputLabel>
							</div>
							<div class="ui-g-8" />
							<div class="EmptyBox10" />
							<div class="ui-g-4">
								<p:outputLabel value="#{lang['invoiceValue']}" for="invoiceValue" />
							</div>
							<div class="ui-g-2">
								<p:inputNumber decimalPlaces="2" thousandSeparator="," decimalSeparator="." id="invoiceValue" readonly="false" value="#{invoiceUI3.invoice.invoiceValue}" style="width:95%" required="true" requiredMessage="#{lang['invoiceValue.required']}" />
							</div>
							<div class="ui-g-9" />
							<div class="EmptyBox10" />
							<div class="ui-g-4">
								<p:outputLabel value="#{lang['invoiceDate']}" for="invoiceDate" />
							</div>
							<div class="ui-g-2">
								<p:calendar showOn="both" readonlyInput="true" pattern="dd MMM yyyy" id="invoiceDate" value="#{invoiceUI3.invoice.invoiceDate}" style="width:95%" required="true" requiredMessage="#{lang['invoiceDate.required ']}" />
							</div>
							<div class="ui-g-8" />
						</p:outputPanel>
						<div class="EmptyBox10" />
						<p:outputPanel id="paidPanel" styleClass=" ui-g">
							<div class="ui-g-4">
								<p:outputLabel value="#{lang['paid']}" for="paid" />
							</div>
							<div class="ui-g-2">
								<p:selectBooleanCheckbox id="paid" value="#{invoiceUI3.invoice.paid}">
									<p:ajax event="change" update=":invoiceInsForm1:paidPanel" listener="#{invoiceUI3.calcPaidExchange}" />
								</p:selectBooleanCheckbox>
							</div>
							<div class="ui-g-8" />
							<div class="EmptyBox10" />
							<div class="ui-g-4">
								<p:outputLabel value="#{lang['paidDate']}" for="paidDate" rendered="#{invoiceUI3.invoice.paid}" />
							</div>
							<div class="ui-g-2">
								<p:calendar showOn="both" readonlyInput="true" pattern="dd MMM yyyy" id="paidDate" value="#{invoiceUI3.invoice.paidDate}" rendered="#{invoiceUI3.invoice.paid}" />
							</div>
							<div class="ui-g-8" />
							<div class="EmptyBox10" />
							<div class="ui-g-4">
								<p:outputLabel value="#{lang['paidExhangeRate']}" for="paidExhangeRate" />
							</div>
							<div class="ui-g-2">
								<p:inputNumber decimalPlaces="2" thousandSeparator="," readonly="false" decimalSeparator="." id="paidExhangeRate" value="#{invoiceUI3.invoice.paidExhangeRate}" style="width:95%" />
							</div>
							<div class="ui-g-8" />
							<div class="EmptyBox10" />
							<p:outputPanel styleClass="ui-g">
								<div class="ui-g-12">
									<p:commandButton value="#{lang['submit']}" icon="ui-icon-save" update=":mainForm:invoiceList @form" action="#{invoiceUI3.invoiceInsert}" />
									<p:spacer width="5" />
									<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="@form" process="@this" action="#{invoiceUI3.prepareNew}">
										<p:resetInput target="invoiceInsForm1" />
									</p:commandButton>
								</div>
							</p:outputPanel>
							<div class="EmptyBox10" />
						</p:outputPanel>
					</div>
				</div>
			</div>

			<p:outputPanel id="auditPanel" styleClass="ui-g" rendered="#{invoiceUI3.invoiceHistList.size() gt 0}">
				<div class="ui-g-12">
					<div class="card card-w-title">
						<h2>#{lang['audit.for']} #{lang['invoice']}</h2>
						<p:dataTable id="auditTable" var="auditVar" value="#{invoiceUI3.invoiceHistList}" rendered="#{invoiceUI3.invoiceHistList.size() gt 0}" paginator="true" rows="2" paginatorPosition="bottom" rowKey="#{auditVar.id}"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">
							<p:column headerText="Modify Date">
								<h:outputText value="#{auditVar.createDate}">
									<f:convertDateTime pattern="dd MMM yyyy (HH:mm:ss)" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['title']}">
								<h:outputText value="#{auditVar.createdBy.firstName} #{auditVar.createdBy.lastName}" />
							</p:column>
							<p:column style="width:20%" headerText="#{lang['description']}">
								<h:outputText value="#{auditVar.statementOfWork.title}" escape="false" />
							</p:column>
							<p:column headerText="Last Modified by">
								<h:outputText value="#{auditVar.invoiceNumber}" />
							</p:column>
							<p:column headerText="#{lang['project']} #{lang['code']}">
								<h:outputText value="#{auditVar.createDate}">
									<f:convertDateTime pattern="dd MMM yyyy (HH:mm:ss)" />
								</h:outputText>
							</p:column>
						</p:dataTable>
					</div>
				</div>
			</p:outputPanel>

		</h:form>

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h:form id="mainForm">
						<span class="Fs11 gray"> <i class="fa fa-info-circle" aria-hidden="true"></i> #{lang['filter.help']}
						</span>
						<p:dataTable var="rowVar" value="#{invoiceUI3.dataModel}" filteredValue="#{invoiceUI3.invoicefilteredList}" id="invoiceList" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

							<p:column style="width:16px">
								<p:rowToggler rendered="#{rowVar.docsList.size() > 0 or rowVar.notesList.size() > 0}" />
							</p:column>

							<p:column headerText=" #{lang['createdBy']} / #{lang['createDate']}">
								<h:outputText value="#{rowVar.createdBy.firstName} #{rowVar.createdBy.lastName}" />
								<br />
								<h:outputText value="#{rowVar.createDate}">
									<f:convertDateTime pattern="dd MMM yyyy (HH:mm)" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['statement.of.work']}" filterBy="#{rowVar.statementOfWork.sowNumber}" filterStyle="width: 95%">
								<h:outputText value="#{rowVar.statementOfWork.title}" />
							</p:column>
							<p:column headerText="#{lang['statement.of.work']} Description" rendered="false" filterStyle="width: 95%">
								<h:outputText value="#{rowVar.statementOfWork.description.length() gt 50 ? rowVar.statementOfWork.description.substring(0,47).concat('...') : rowVar.statementOfWork.description}" escape="false" />
							</p:column>
							<p:column headerText="#{lang['client']}" rendered="true" filterStyle="width: 95%">
								<h:outputText value="#{rowVar.statementOfWork.projects.company.companyName}" escape="false" />
							</p:column>
							<p:column headerText="#{lang['invoiceNumber']}" filterBy="#{rowVar.invoiceNumber}" filterStyle="width: 95%" sortBy="#{rowVar.invoiceNumber}">
								<h:outputText value="#{rowVar.invoiceNumber}" />
							</p:column>
							<p:column headerText="#{lang['exhangeRate']}">
								<h:outputText value="#{rowVar.exhangeRate}">
									<f:convertNumber pattern="##0.####" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['invoiceValue']}">
								<h:outputText value="#{languageUI.currency.symbol} " />
								<h:outputText value="#{rowVar.invoiceValue}">
									<f:convertNumber pattern="###,##0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['invoiceDate']}">
								<h:outputText value="#{rowVar.invoiceDate}">
									<f:convertDateTime pattern="dd MMM yyyy" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['paidDate']}">
								<h:outputText value="#{rowVar.paidDate}">
									<f:convertDateTime pattern="dd MMM yyyy" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['paidExhangeRate']}">
								<h:outputText value="#{rowVar.paidExhangeRate}">
									<f:convertNumber pattern="###,##0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['paid']}" width="3%">
								<p:selectBooleanCheckbox value="#{rowVar.paid}" disabled="true" />
							</p:column>

							<p:column width="100">
								<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
									<p:commandButton icon="fa fa-database" title="#{lang['update']}" action="#{invoiceUI3.prepEmpSow}" update=":invoiceInsForm1" id="update">
										<f:setPropertyActionListener value="#{rowVar}" target="#{invoiceUI3.invoice}" />
									</p:commandButton>
									<p:commandButton icon="fa fa-trash-o" title="#{lang['delete']}" update=":mainForm:invoiceList" action="#{invoiceUI3.invoiceDelete}" id="delete">
										<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="ui-icon-warning" />
										<f:setPropertyActionListener value="#{rowVar}" target="#{invoiceUI3.invoice}" />
									</p:commandButton>

									<p:commandButton icon="ui-icon-cloud-upload" title="#{lang['upload']}" action="#{invoiceUI3.prepDoc}" id="upload" oncomplete="PF('uploadDialog').show();" update=":uploadForm">
										<f:setPropertyActionListener value="#{rowVar}" target="#{invoiceUI3.invoice}" />
									</p:commandButton>
									<p:commandButton icon="ui-icon-question-answer" title="#{lang['note']}" action="#{invoiceUI3.prepNote}" id="note" oncomplete="PF('noteDialog').show();" update=":noteForm">
										<f:setPropertyActionListener value="#{rowVar}" target="#{invoiceUI3.invoice}" />
									</p:commandButton>
								</p:panelGrid>
								<p:tooltip for="update" position="left" />
								<p:tooltip for="delete" position="left" />
								<p:tooltip for="upload" position="left" />
								<p:tooltip for="note" position="left" />

							</p:column>
							<p:rowExpansion>
								<p:dataTable var="rv1" value="#{rowVar.docsList}" rendered="#{rowVar.docsList.size() gt 0}">
									<f:facet name="header">#{lang['documents']}</f:facet>

									<p:column width="10%">
										<f:facet name="header">#{lang['uploaded.by']}</f:facet>									  
									      #{rv1.user.firstName} #{rv1.user.lastName}
									  </p:column>

									<p:column width="7%">
										<f:facet name="header">#{lang['uploaded.date']}</f:facet>
										<h:outputText value="#{rv1.addDate}">
											<f:convertDateTime pattern="dd MMM yyyy (HH:mm:ss)" />
										</h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">#{lang['original.file.name']}</f:facet>
										<h:outputText value="#{rv1.originalFname}" />
									</p:column>

									<p:column>
										<f:facet name="header">#{lang['document.tracker']}</f:facet>

										<h:dataTable var="rv3" value="#{rv1.documentTrackersList}">
											<h:column>
												<h:outputText value="#{rv3.user.firstName} #{rv3.user.lastName}" />
											</h:column>
											<h:column>
												<h:outputText value="#{rv3.date}">
													<f:convertDateTime pattern="dd MMM yyyy (HH:mm:ss)" />
												</h:outputText>
											</h:column>
											<h:column>
												<h:outputText value="#{rv3.documentTrackerEnum.friendlyName}" />
											</h:column>
										</h:dataTable>

									</p:column>

									<p:column width="5%">
										<p:commandButton icon="ui-icon-cloud-download" title="#{lang['download']}" action="#{invoiceUI3.uploadDocUI.download}" id="download" ajax="false">
											<f:setPropertyActionListener value="#{rv1}" target="#{invoiceUI3.uploadDocUI.doc}" />
										</p:commandButton>
										<p:tooltip position="left" for="download" />
									</p:column>
								</p:dataTable>

								<p:dataTable var="rv2" value="#{rowVar.notesList}" rendered="#{rowVar.notesList.size() gt 0}">
									<f:facet name="header">#{lang['notes']}</f:facet>
									<p:column width="10%">
										<f:facet name="header">#{lang['createdBy']}</f:facet>									  
									      #{rv2.users.firstName} #{rv2.users.lastName}
									  </p:column>
									<p:column width="7%">
										<f:facet name="header">#{lang['createDate']}</f:facet>
										<h:outputText value="#{rv2.createDate}">
											<f:convertDateTime pattern="dd MMM yyyy (HH:mm:ss)" />
										</h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">#{lang['notes']}</f:facet>
										<h:outputText value="#{rv2.note}" escape="fals" />
									</p:column>
								</p:dataTable>
							</p:rowExpansion>
						</p:dataTable>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
							<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
							<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
						</p:confirmDialog>

					</h:form>
				</div>
			</div>
		</div>

		<p:dialog header="#{lang['upload']}" widgetVar="uploadDialog" resizable="false" hideEffect="clip" showEffect="clip" id="dialogupload" modal="true" minWidth="500" width="50%">
			<h:form id="uploadForm">
				<p:fileUpload fileUploadListener="#{invoiceUI3.safeFile}" mode="advanced" dragDropSupport="true" showButtons="false" label="#{lang['select.file']}" fileLimitMessage="#{lang['file.to.big.to.upload']}" update=":mainForm" multiple="false" fileLimit="1" immediate="false" auto="true"
					oncomplete="PF('uploadDialog').hide();" />
			</h:form>
		</p:dialog>

		<p:dialog header="#{lang['notes']}" widgetVar="noteDialog" resizable="false" hideEffect="clip" showEffect="clip" id="dialogNote" modal="true" width="60%" position="top">
			<h:form id="noteForm">
				<p:outputPanel id="notePanel">
					<p:textEditor value="#{invoiceUI3.note.note}" required="true" requiredMessage="#{lang['note.required']}" height="200" style="margin-bottom:10px" placeholder="#{lang['note.required']}" />
				</p:outputPanel>
				<p:commandButton icon="ui-icon-save " action="#{invoiceUI3.notesInsert}" value="#{lang['update']}" update="@form :mainForm" />
			</h:form>
		</p:dialog>

	</ui:define>

</ui:composition>
