<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="subheader">
	My Profile
	</ui:define>


	<ui:define name="content">
		<p:growl sticky="false" autoUpdate="true" />
		<div class="ui-g dashboard">
			<div class="ui-g-12 ">
				<div class="card card-w-title">
					<H1>Details</H1>
					<h:form>
						<div class="ui-g">
							<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12">
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:outputLabel value="First Name:" for="firstName" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:inputText readonly="true" id="firstName" value="#{profileUI.user.firstName}" label="firstName" required="true" style="width: 90%" requiredMessage="Enter first name" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:outputLabel value="Surname:" for="lastName" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:inputText readonly="true" id="lastName" value="#{profileUI.user.lastName}" style="width: 90%" label="lastName" required="true" requiredMessage="Enter surname" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:outputLabel value="Email:" for="email" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:inputText readonly="true" id="email" value="#{profileUI.user.email}" style="width: 90%" label="email" required="true" requiredMessage="Enter email address" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:outputLabel value="Mobile Number:" for="cellNumber" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:inputText id="cellNumber" value="#{profileUI.user.cellNumber}" style="width: 90%" label="cellNumber" required="false" requiredMessage="Enter mobile number" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:outputLabel value="Telephone Number:" for="telNumber" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:inputText id="telNumber" value="#{profileUI.user.telNumber}" style="width: 90%" label="telNumber" />
								</div>
								<div class="EmptyBox20" />
								<div class="ui-g-12">
									<p:commandButton value="Update" action="#{profileUI.usersUpdate}" styleClass="Fs16" icon="fa fa-database Fs16 white" update="@form" />
								</div>
							</p:outputPanel>
						</div>
					</h:form>
				</div>
			</div>
			<div class="ui-g-12 ">
				<div class="card card-w-title">
					<h1 class="BigTopic">Change your Password</h1>
					<h:form id="usersUpdPwdForm">
						<div class="ui-g">
							<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12">
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:outputLabel for="pwd1" value="Existing Password" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:password style="width: 90%" id="pwd1" value="#{profileUI.password}" required="true" requiredMessage="Please enter existing Password" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:outputLabel for="pwd2" value="New Password" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:password style="width: 90%" id="pwd2" value="#{profileUI.newPassword}" match="pwd3" required="true" requiredMessage="Please enter new Password" validatorMessage="Passwords do not match" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:outputLabel for="pwd3" value="Confirm Password" />
								</div>
								<div class="ui-g-12 ui-md-6 ui-lg-6">
									<p:password style="width: 90%" id="pwd3" value="#{profileUI.newPassword}" required="true" requiredMessage="Please enter confirm Password" />
								</div>
								<div class="EmptyBox20" />
								<div class="ui-g-12">
									<p:commandButton value="Change Password" styleClass="Fs16 RedButton" icon="fa fa-key Fs16 white" action="#{profileUI.usersChgOwnPwdUpdate}" update="@form" />
								</div>
							</p:outputPanel>
						</div>
					</h:form>
				</div>
			</div>
		</div>









	</ui:define>

</ui:composition>