<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml"
	xmlns:o="http://omnifaces.org/ui" xmlns:pe="http://primefaces.org/ui/extensions" xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld">

	<ui:define name="content">

		<p:growl id="growlSow" autoUpdate="true" />
		<o:importConstants type="haj.com.entity.enums.SowTypeEnum" var="sowTypeEnum" />
		<o:importConstants type="haj.com.entity.enums.FixedRollingEnum" var="fixRollEnum" />

		<h:form id="sowInsForm">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card">
						<p:outputPanel style="width:100%" id="sowInsPanel" styleClass="ui-g">
							<h2 class="BigTopic TexAlCenter">#{lang['create.sow.form']}</h2>
							<div class="ui-g-12">
								<p:separator />
								<div class="ui-g-3" style="">
									<p:outputLabel value="#{lang['sow']} #{lang['number']}: " for="sowNumberInputNumber" />
								</div>
								<div class="ui-g-9">
									<p:inputText id="sowNumberInputNumber" value="#{sowiUI.sow.sowNumber}" required="true" requiredMessage="#{lang['require.sow.number']}" />
								</div>
								<div class="EmptyBox10" />
								<div class="ui-g-3">
									<p:outputLabel value="#{lang['title']}: " />
								</div>
								<div class="ui-g-9">
									<p:inputText id="titleInputText" value="#{sowiUI.sow.title}" required="true" requiredMessage="#{lang['require.sow.number']}" />
								</div>
								<div class="EmptyBox10" />
								<div class="ui-g-12">
									<p:outputLabel value="#{lang['description']}: " />
								</div>
								<div class="ui-g-12">
									<pe:ckEditor width="100%" height="75%" id="subject" required="true" value="#{sowiUI.sow.description}" requiredMessage="Enter Description" toolbar="[['Bold','Italic','Underline','BulletedList','NumberedList','-','Paste','PasteText']]">
										<p:ajax event="change" />
									</pe:ckEditor>
								</div>
								<div class="EmptyBox20" />
								<div class="ui-g-6">
									<p:outputLabel value="#{lang['project']}: " for="projectsAutoComplete" />
								</div>
								<div class="ui-g-6">
									<p:autoComplete id="projectsAutoComplete" value="#{sowiUI.sow.projects}" completeMethod="#{sowiUI.searchProjects}" var="rv" styleClass="hsauto" style="width:70%" itemLabel="#{rv.code}" itemValue="#{rv}" forceSelection="true" converter="ProjectsConvertor" dropdown="true" minQueryLength="1"
										maxResults="10">
										<p:ajax event="itemSelect" listener="#{sowiUI.onProjectSelect}" update="employeeSelectPanel" />
										<p:column headerText="#{lang['code']}">#{rv.code}</p:column>
										<p:column headerText="#{lang['client']}">#{rv.company.companyName}</p:column>
									</p:autoComplete>
								</div>
								<div class="EmptyBox20" />
								<p:outputPanel id="employeeSelectPanel">
									<p:outputPanel styleClass="ui-g" rendered="#{sowiUI.employeeDualList.source.size() gt 0 or sowiUI.employeeDualList.target.size() gt 0}">
										<div class="ui-g-12">
											<p:outputLabel value="#{lang['select.employees']}: " for="PojoPickList" />
										</div>
										<div class="ui-g-12">
											<p:pickList id="PojoPickList" value="#{sowiUI.employeeDualList}" var="emp" effect="bounce" itemValue="#{emp}" itemLabel="#{emp.firstName}" showSourceControls="true" showTargetControls="true" showCheckbox="true" responsive="true" showSourceFilter="true" showTargetFilter="true"
												filterMatchMode="contains" converter="UsersConvertor">

												<f:facet name="sourceCaption">#{lang['available']}</f:facet>
												<f:facet name="targetCaption">#{lang['selected']}</f:facet>
												<p:ajax event="transfer" listener="#{sowiUI.onTransfer}" />
												<p:column style="width:100%">
													<h:outputText value="#{emp.lastName}, #{emp.firstName}" />
												</p:column>

											</p:pickList>
										</div>
									</p:outputPanel>
								</p:outputPanel>
								<div class="EmptyBox10" />
								<div class="ui-g-6">
									<p:outputLabel value="#{lang['invoice.terms']}:  " for="invoiceTermsInput" />
								</div>
								<div class="ui-g-6">
									<p:inputText id="invoiceTermsInput" value="#{sowiUI.sow.invoiceTerms}" />
								</div>
								<div class="EmptyBox10" />
								<div class="ui-g-6">
									<p:outputLabel value="#{lang['payment.terms']}: " for="paymentTermsInput" />
								</div>
								<div class="ui-g-6">
									<p:inputText id="paymentTermsInput" value="#{sowiUI.sow.paymentTerms}" />
								</div>
								<div class="EmptyBox10" />
								<div class="ui-g-6">
									<p:outputLabel value="#{lang['value.sow']}: " for="sowValueInputNumber" />
								</div>
								<div class="ui-g-6">
									<p:inputNumber value="#{sowiUI.sow.valueSow}" decimalPlaces="2" id="sowValueInputNumber" />
								</div>
								<div class="EmptyBox10" />
								<div class="ui-g-6">
									<p:outputLabel value="#{lang['currency']}:  " for="localeDropDowm" />
								</div>
								<div class="ui-g-6">
									<p:selectOneMenu value="#{sowiUI.sow.locale}" id="localeDropDowm" style="width: 50%" converter="localeUIConvertor">
										<p:ajax listener="#{sowiUI.onCountryChange}" update=":sowInsForm:exchangeRateOut" />
										<f:selectItems value="#{languageUI.localeCurrency}" var="rv" itemLabel="#{rv.locale.displayCountry} - #{rv.currency.symbol}" itemValue="#{rv.locale.toLanguageTag()}" />
									</p:selectOneMenu>
								</div>
								<div class="EmptyBox10" />
								<div class="ui-g-6">
									<p:outputLabel value="#{lang['exhangeRate']}:  " for="exchangeRateOut" />
								</div>
								<div class="ui-g-6">
									<p:outputLabel id="exchangeRateOut" value="#{sowiUI.sow.valueOfSowExhangeRate}" styleClass="FontBold" />
								</div>
								<div class="EmptyBox10" />
								<div class="ui-g-6">
									<p:outputLabel value="#{lang['active']}:  " for="sowStatus" />
								</div>
								<div class="ui-g-6">
									<p:selectOneMenu id="sowStatus" value="#{sowiUI.sow.sowStatusEnum}">
										<f:selectItems value="#{sowiUI.sowStatList}" var="sowStat" itemLabel="#{sowStat.friendlyName}" itemValue="#{sowStat}" />
									</p:selectOneMenu>
								</div>
								<div class="EmptyBox20" />
								<div class="ui-g-6">
									<p:outputLabel value="#{lang['type.of.sow']} :  " for="sowTypeSelectOneRadio" />
								</div>
								<div class="ui-g-6">
									<p:selectOneRadio id="sowTypeSelectOneRadio" value="#{sowiUI.sow.sowTypeEnum}" disabled="#{sowiUI.sow.id ne null}">
										<f:selectItem itemLabel="#{lang['fixed.price']} " itemValue="#{sowTypeEnum.Fixed}" />
										<f:selectItem itemLabel="#{lang['time.material']} " itemValue="#{sowTypeEnum.TimeMaterials}" />
										<p:ajax event="change" update=":sowInsForm:sowTypePanel" />
									</p:selectOneRadio>
								</div>
								<div class="EmptyBox10" />
								<p:outputPanel id="sowTypePanel">
									<p:outputPanel id="fixedRollingPanel" styleClass="ui-g" rendered="#{sowiUI.sow.sowTypeEnum eq sowTypeEnum.TimeMaterials}">
										<div class="ui-g-6">
											<p:outputLabel value="#{lang['fixed.rolling']} :  " for="fixedRollingSelectOneRadio" />
										</div>
										<div class="ui-g-6">
											<p:selectOneRadio id="fixedRollingSelectOneRadio" value="#{sowiUI.sow.fixedPeriod}">
												<f:selectItem itemLabel="#{lang['fixed.period']}" itemValue="#{fixRollEnum.Fixed}" />
												<f:selectItem itemLabel="#{lang['rolling']}" itemValue="#{fixRollEnum.Rolling}" />
											</p:selectOneRadio>
										</div>
									</p:outputPanel>
									<div class="EmptyBox10" />
									<p:outputPanel id="milestoneNumPanel" rendered="#{sowiUI.sow.sowTypeEnum eq sowTypeEnum.Fixed}">
										<div class="ui-g-6">
											<p:outputLabel value="#{lang['number.pay.milestone']} :  " />
										</div>
										<div class="ui-g-6">
											<p:inputNumber value="#{sowiUI.sow.paymentMilestones}" decimalPlaces="0" id="paymentMilestoneInputNumber" />
										</div>
										<div class="EmptyBox10" />
									</p:outputPanel>
								</p:outputPanel>
								<p:separator />
								<div class="ui-g-12">
									<center>
										<p:commandButton value="#{lang['submit']}" icon="fa fa-plus" update=":sowDataTableForm:sowLazyLoadTable :sowInsForm:sowInsPanel :sowAuditForm" action="#{sowiUI.insertUpdateSOW}" />
										<div class="divider" />
										<p:commandButton value="#{lang['clear']}" icon="fa fa-refresh" update=":sowDataTableForm:sowLazyLoadTable :sowInsForm:sowInsPanel :sowAuditForm" action="#{sowiUI.prepSOWNew}" />
									</center>
								</div>
							</div>

						</p:outputPanel>
					</div>
				</div>
			</div>
		</h:form>


		<h:form id="sowAuditForm">
			<c:if test="#{sowiUI.sowHistList.size() gt 0}">
				<div class="ui-g">
					<div class="ui-g-12">
						<div class="card">
							<p:dataTable id="auditTable" var="auditVar" value="#{sowiUI.sowHistList}" rendered="#{sowiUI.sowHistList.size() gt 0}" paginator="true" rows="2" paginatorPosition="bottom" rowKey="#{auditVar.id}"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">
								<p:column headerText="Modify Date">
									<h:outputText value="#{auditVar.createDate}">
										<f:convertDateTime pattern="dd MMM yyyy (HH:mm:ss)" />
									</h:outputText>
								</p:column>
								<p:column headerText="#{lang['title']}">
									<h:outputText value="#{auditVar.title}" />
								</p:column>
								<p:column style="width:20%" headerText="#{lang['description']}">
									<h:outputText value="#{auditVar.description.length() gt 50 ? auditVar.description.substring(0,47).concat('...') : auditVar.description}" escape="false" />
								</p:column>
								<p:column headerText="Last Modified by">
									<h:outputText value="#{auditVar.userSow.firstName} #{auditVar.userSow.lastName}" />
								</p:column>
								<p:column headerText="#{lang['project']} #{lang['code']}">
									<h:outputText value="#{auditVar.projects.code} (#{auditVar.projects.company.companyName})" />
								</p:column>
								<p:column headerText="#{lang['sow']} #{lang['number']}">
									<h:outputText value="#{auditVar.sowNumber}" />
								</p:column>
							</p:dataTable>
						</div>
					</div>
				</div>
			</c:if>
		</h:form>

		<h:form id="sowDataTableForm">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card">
						<h1 class="BigTopic TexAlCenter">#{lang['statement.of.work']}</h1>
						<jr:source type="xml" value="classpath:META-INF/datasource/test.xml" />
						<p:dataTable value="#{sowiUI.sowList}" var="rowVar" id="sowLazyLoadTable" filteredValue="#{sowiUI.sowFilterList}" rowKey="#{rowVar.id}" paginator="true" rows="5" paginatorPosition="bottom"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="false">
							<p:column style="width:16px">
								<p:rowToggler rendered="#{rowVar.docsList.size() > 0 or rowVar.notesList.size() > 0}" />
							</p:column>
							<p:column style="width:20%" headerText="#{lang['sow']} #{lang['number']}" filterBy="#{rowVar.sowNumber}" filterMatchMode="contains" >
								<h:outputText value="#{rowVar.sowNumber}" />
							</p:column>
							<p:column style="width:20%" headerText="#{lang['title']}">
								<h:outputText value="#{rowVar.title}" />
							</p:column>
							<p:column style="width:20%" headerText="#{lang['description']}">
								<h:outputText value="#{rowVar.description.length() gt 50 ? rowVar.description.substring(0,47).concat('...') : rowVar.description}" escape="false" />
							</p:column>
							<p:column style="width:20%" headerText="#{lang['type.of.sow']}">
								<h:outputText value="#{rowVar.sowTypeEnum.friendlyName}" escape="false" />
							</p:column>
							<p:column style="width:20%" headerText=" #{lang['project']} #{lang['code']}" filterStyle="width: 95%" filterBy="#{rowVar.projects.code}" filterMatchMode="contains">
								<h:outputText value="#{rowVar.projects.code} (#{rowVar.projects.company.companyName}) " />
							</p:column>
							<p:column style="width:20%" headerText="#{lang['sow']} #{lang['status']}">
								<h:outputText value="#{rowVar.sowStatusEnum.friendlyName}" />
							</p:column>
							<p:column style="width:13%">
								<p:commandButton icon="fa fa-database Fs16 white" title="#{lang['update']}" update=":sowInsForm :sowAuditForm" action="#{sowiUI.prepSOWUpdate}">
									<f:setPropertyActionListener value="#{rowVar}" target="#{sowiUI.sow}" />
								</p:commandButton>
								<p:commandButton icon="ui-icon-cloud-upload" title="#{lang['upload']}" action="#{sowiUI.prepDoc}" id="upload" oncomplete="PF('uploadDialog').show();" update=":uploadForm">
									<f:setPropertyActionListener value="#{rowVar}" target="#{sowiUI.sow}" />
								</p:commandButton>
								<p:commandButton icon="ui-icon-question-answer" title="#{lang['note']}" action="#{sowiUI.prepNote}" id="note" oncomplete="PF('noteDialog').show();" update=":noteForm">
									<f:setPropertyActionListener value="#{rowVar}" target="#{sowiUI.sow}" />
								</p:commandButton>
								<p:commandButton icon="fa fa-wrench Fs16 white" title="#{lang['fixed.price']}" action="#{sowiUI.prepMilestoneSOWUpdate}" oncomplete="PF('fixedPriceSowdlg').show()" rendered="#{rowVar.sowTypeEnum eq sowTypeEnum.Fixed}" update="sowInsForm fixedPriceSowdlgForm ">
									<f:setPropertyActionListener value="#{rowVar}" target="#{sowiUI.sow}" />
								</p:commandButton>
								<p:commandButton icon="fa fa-clock-o Fs16 white" title="#{lang['time.material']}" action="#{sowiUI.prepEmployeeSOWUpdate}" oncomplete="PF('employeeSowdlg').show()" rendered="#{rowVar.sowTypeEnum eq sowTypeEnum.TimeMaterials}" update="sowInsForm employeeSowdlgForm">
									<f:setPropertyActionListener value="#{rowVar}" target="#{sowiUI.sow}" />
								</p:commandButton>
							</p:column>

							<p:rowExpansion>
								<p:dataTable var="rv1" value="#{rowVar.docsList}" rendered="#{rowVar.docsList.size() gt 0}">
									<f:facet name="header">#{lang['documents']}</f:facet>

									<p:column width="10%">
										<f:facet name="header">#{lang['uploaded.by']}</f:facet>									  
									      #{rv1.user.firstName} #{rv1.user.lastName}
									  </p:column>

									<p:column width="7%">
										<f:facet name="header">#{lang['uploaded.date']}</f:facet>
										<h:outputText value="#{rv1.addDate}">
											<f:convertDateTime pattern="dd MMM yyyy" />
										</h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">#{lang['original.file.name']}</f:facet>
										<h:outputText value="#{rv1.originalFname}" />
									</p:column>

									<p:column>
										<f:facet name="header">#{lang['document.tracker']}</f:facet>

										<h:dataTable var="rv3" value="#{rv1.documentTrackersList}">
											<h:column>
												<h:outputText value="#{rv3.user.firstName} #{rv3.user.lastName}" />
											</h:column>
											<h:column>
												<h:outputText value="#{rv3.date}">
													<f:convertDateTime pattern="dd MMM yyyy (HH:mm:ss)" />
												</h:outputText>
											</h:column>
											<h:column>
												<h:outputText value="#{rv3.documentTrackerEnum.friendlyName}" />
											</h:column>
										</h:dataTable>

									</p:column>

									<p:column width="5%">
										<p:commandButton icon="ui-icon-cloud-download" title="#{lang['download']}" action="#{invoiceUI.uploadDocUI.download}" id="download" ajax="false">
											<f:setPropertyActionListener value="#{rv1}" target="#{invoiceUI.uploadDocUI.doc}" />
										</p:commandButton>
										<p:tooltip position="left" for="download" />
									</p:column>
								</p:dataTable>

								<p:dataTable var="rv2" value="#{rowVar.notesList}" rendered="#{rowVar.notesList.size() gt 0}">
									<f:facet name="header">#{lang['notes']}</f:facet>
									<p:column width="10%">
										<f:facet name="header">#{lang['createdBy']}</f:facet>									  
									      #{rv2.users.firstName} #{rv2.users.lastName}
									  </p:column>
									<p:column width="7%">
										<f:facet name="header">#{lang['createDate']}</f:facet>
										<h:outputText value="#{rv2.createDate}">
											<f:convertDateTime pattern="dd MMM yyyy (HH:mm:ss)" />
										</h:outputText>
									</p:column>

									<p:column>
										<f:facet name="header">#{lang['notes']}</f:facet>
										<h:outputText value="#{rv2.note}" escape="fals" />
									</p:column>
								</p:dataTable>
							</p:rowExpansion>
						</p:dataTable>
					</div>
				</div>
			</div>
		</h:form>


		<p:dialog header="#{lang['upload']}" widgetVar="uploadDialog" resizable="false" hideEffect="clip" showEffect="clip" id="dialogupload" modal="true" minWidth="500" width="50%">
			<h:form id="uploadForm">
				<p:fileUpload fileUploadListener="#{sowiUI.safeFile}" mode="advanced" dragDropSupport="true" showButtons="false" label="#{lang['select.file']}" fileLimitMessage="#{lang['file.to.big.to.upload']}" update=":sowDataTableForm" multiple="false" fileLimit="1" immediate="false" auto="true"
					oncomplete="PF('uploadDialog').hide();" />
			</h:form>
		</p:dialog>

		<p:dialog header="#{lang['notes']}" widgetVar="noteDialog" resizable="false" hideEffect="clip" showEffect="clip" id="dialogNote" modal="true" width="60%" position="top">
			<h:form id="noteForm">
				<p:outputPanel id="notePanel">
					<p:textEditor value="#{sowiUI.note.note}" required="true" requiredMessage="#{lang['note.required']}" height="200" style="margin-bottom:10px" placeholder="#{lang['note.required']}" />
				</p:outputPanel>
				<p:commandButton icon="ui-icon-save " action="#{sowiUI.notesInsert}" value="#{lang['note']}" update="@form :sowDataTableForm" />
			</h:form>
		</p:dialog>

		<p:dialog header="#{lang['insert']} #{lang['type.of.sow']} #{lang['time.material']}" widgetVar="employeeSowdlg" modal="true" height="50%" width="50%" position="top" draggable="false">
			<p:ajax event="close" listener="#{sowiUI.prepSOWNew}" update=":employeeSowdlgForm :sowInsForm :sowDataTableForm" />
			<h:form id="employeeSowdlgForm">
				<p:outputPanel id="timeMaterialDlgPanel" styleClass="ui-g" rendered="#{sowiUI.sow.sowTypeEnum eq sowTypeEnum.TimeMaterials}">
					<div class="ui-g-12">
						<div class="ui-g-12">
							<p:selectOneMenu id="employeesDropDown" value="#{sowiUI.employeesow}" converter="EmployeeSOWConvertor">
								<f:selectItems value="#{sowiUI.employeesowList}" var="r" itemLabel="#{r.employee.firstName} #{r.employee.lastName}" itemValue="#{r}" />
								<p:ajax event="change" update=":employeeSowdlgForm:timeMaterialFillPanel" />
							</p:selectOneMenu>
						</div>
						<div class="EmptyBox20" />
						<p:outputPanel id="timeMaterialFillPanel" styleClass="ui-g" rendered="#{sowiUI.sow.sowTypeEnum eq sowTypeEnum.TimeMaterials}">
							<div class="ui-g-6">
								<p:outputLabel value="#{lang['start.date']}:  " for="startDateInput" />
							</div>
							<div class="ui-g-6">
								<p:calendar id="startDateInput" showOn="button" value="#{sowiUI.employeesow.startDate}" />
							</div>
							<div class="EmptyBox10" />
							<div class="ui-g-6">
								<p:outputLabel value="#{lang['end.date']}:  " for="endDateInput" />
							</div>
							<div class="ui-g-6">
								<p:calendar id="endDateInput" showOn="button" value="#{sowiUI.employeesow.endDate}" />
							</div>
							<div class="EmptyBox10" />
							<div class="ui-g-6">
								<p:outputLabel value="Predicted #{lang['charge.rate']} : " styleClass="gray" />
							</div>
							<div class="ui-g-6">
								<h:outputText value="#{sowiUI.employeesow.predictedChargeRate}" styleClass="gray">
									<f:convertNumber pattern="###,##0.00" />
								</h:outputText>
							</div>
							<div class="EmptyBox10" />
							<div class="ui-g-6">
								<p:outputLabel value="#{lang['charge.rate']} : " for="chargeRateInputNumber" />
							</div>
							<div class="ui-g-6">
								<p:inputNumber value="#{sowiUI.employeesow.chargeRate}" decimalPlaces="2" id="chargeRateInputNumber" />
							</div>
						</p:outputPanel>
						<div class="EmptyBox10" />
						<p:separator />
						<div class="EmptyBox10" />
						<center>
							<p:commandButton id="saveEmployeeSOWBtn" icon="fa fa-save" value="#{lang['save']}" title="Update/Save a Employee" action="#{sowiUI.saveEmployeeSOW}" update="growlSow" />
							<div class="divider" />
							<p:commandButton id="closeEmployeeSOWBtn" icon="fa fa-close" value="#{lang['close']}" title="#{lang['close']}" oncomplete="PF('employeeSowdlg').hide()" />
						</center>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>

		<p:dialog header="#{lang['insert']} #{lang['type.of.sow']} #{lang['fixed.price']}" widgetVar="fixedPriceSowdlg" modal="true" height="50%" width="50%" position="top" draggable="false">
			<p:ajax event="close" listener="#{sowiUI.prepSOWNew}" update=":fixedPriceSowdlgForm :sowInsForm :sowDataTableForm" />
			<h:form id="fixedPriceSowdlgForm">
				<p:outputPanel id="fixedPricePanel" styleClass="ui-g" rendered="#{sowiUI.sow.sowTypeEnum eq sowTypeEnum.Fixed}">
					<div class="ui-g-12">
						<div class="ui-g-12">
							<p:selectOneMenu id="milestoneDropDown" value="#{sowiUI.milestonesow}" converter="MilestoneSOWConvertor">
								<f:selectItems value="#{sowiUI.milestonesowList}" var="r" itemLabel="#{r.milestoneNum} #{r.milestoneDescription}" itemValue="#{r}" />
								<p:ajax event="change" update="@form" />
							</p:selectOneMenu>
						</div>
						<div class="EmptyBox10" />
						<p:outputPanel id="fixedPriceFillPanel" styleClass="ui-g" rendered="#{sowiUI.sow.sowTypeEnum eq sowTypeEnum.Fixed}">
							<div class="ui-g-6">
								<p:outputLabel value="#{lang['description']}: " for="descriptionFixedPriceInputText" />
							</div>
							<div class="ui-g-6">
								<p:inputText id="descriptionFixedPriceInputText" value="#{sowiUI.milestonesow.milestoneDescription}" />
							</div>
							<div class="EmptyBox10" />
							<div class="ui-g-6">
								<p:outputLabel value="#{lang['date']}:  " />
							</div>
							<div class="ui-g-6">
								<p:calendar id="dateInput" showOn="button" value="#{sowiUI.milestonesow.milestoneDate}" />
							</div>
							<div class="EmptyBox10" />
							<div class="ui-g-6">
								<p:outputLabel value="#{lang['milestone.value']} : " />
							</div>
							<div class="ui-g-6">
								<p:inputNumber value="#{sowiUI.milestonesow.milestoneValue}" decimalPlaces="2" id="milestoneValueInputNumber" />
							</div>
						</p:outputPanel>
						<div class="EmptyBox10" />
						<p:separator />
						<div class="EmptyBox10" />
						<center>
							<p:commandButton id="saveEmployeeSOWBtn" icon="fa fa-save" value="#{lang['save']}" title="#{lang['update.save']} #{lang['milestone']}" action="#{sowiUI.saveMilestone}" />
							<div class="divider" />
							<p:commandButton id="closeEmployeeSOWBtn" icon="fa fa-close" value="#{lang['close']}" title="#{lang['close']} #{lang['milestone']}" oncomplete="PF('fixedPriceSowdlg').hide()" />
						</center>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>

	</ui:define>

</ui:composition>
