<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">




               <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
                    <f:facet name="start">
                        <p:graphicImage name="images/preloader.gif" library="modena-layout"/>
                    </f:facet>

                    <f:facet name="complete">
                        <h:outputText value="" />
                    </f:facet>
                </p:ajaxStatus>

</ui:composition>
