<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="subheader">
      Timesheet
    </ui:define>

	<ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card">

					<h:form id="mainForm">

						<p:growl autoUpdate="true" sticky="false" />
						<h:panelGrid columns="1">
							<p:commandButton title="Insert New Timesheet" id="insertNewTime" icon="fa fa-plus Fs16 white" oncomplete="PF('dlg').show()" value="Insert"
								actionListener="#{timesheetUI.prepareNewTimesheet}" update=":timesheetInsForm:timesheetInsGrid" />
								<p:tooltip for="insertNewTime" />

							<p:dataTable var="rowVar" value="#{timesheetUI.timesheetList}"
								filteredValue="#{timesheetUI.timesheetfilteredList}" id="timesheetList" rowKey="#{rowVar.id}" paginator="true"
								rows="6" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="5,10,15,20,25" reflow="true">


								<p:column headerText="User" style="width: 90%"  >
									<h:outputText value="#{rowVar.companyUsers.users.firstName} #{rowVar.companyUsers.users.lastName}" style="font-weight:bold" />
								</p:column>
								<p:column headerText="From Date" style="width: 90%"  >
									<h:outputText value="#{rowVar.fromDate}" style="font-weight:bold" >
										<f:convertDateTime pattern="dd MMMM yyyy" />
									</h:outputText>
								</p:column>
								<p:column headerText="To Date" style="width: 90%"  >
									<h:outputText value="#{rowVar.toDate}" style="font-weight:bold" >
										<f:convertDateTime pattern="dd MMMM yyyy" />
									</h:outputText>
								</p:column>

								<p:column headerText="Hours" style="width: 30%"  >
									<h:outputText value="#{rowVar.totHours}" style="font-weight:bold ; font-size:19px " >
										<f:convertNumber pattern="###0.00" />
									</h:outputText>
								</p:column>

								<!-- 	<p:column style="width: 5%">
									<p:commandButton oncomplete="PF('dlgUpd').show()"
										icon="fa fa-database Fs12 white" title="Update"
										update=":timesheetUpdForm:timesheetUpdGrid"
										styleClass="fcenter">
										<f:setPropertyActionListener value="#{rowVar}"
											target="#{timesheetUI.timesheet}" />
									</p:commandButton>
								</p:column>

								<p:column style="width: 5%">
									<p:commandButton oncomplete="PF('confirmation').show()"
										icon="fa fa-trash-o Fs12 white" title="Delete">
										<f:setPropertyActionListener value="#{rowVar}"
											target="#{timesheetUI.timesheet}" />
									</p:commandButton>
								</p:column> -->

								<p:column style="width: 30%">
									<p:commandButton action="#{timesheetUI.goToDetail}" icon="fa fa-search-plus Fs12 white" title="Show Details"
										id="detailPage">
										<f:setPropertyActionListener value="#{rowVar}" target="#{timesheetUI.timesheet}" />
									</p:commandButton>

									<p:tooltip for="detailPage" />

								</p:column>

							</p:dataTable>
						</h:panelGrid>



					</h:form>



					<p:confirmDialog message="Are you sure?" width="200" appendToBody="@(body)" showEffect="clip"
						hideEffect="clip" header="Confirm" severity="alert" widgetVar="confirmation">
						<h:form>
							<p:commandButton value="Yes" update=":mainForm:timesheetList" actionListener="#{timesheetUI.timesheetDelete}"
								oncomplete="PF('confirmation').hide()" />
							<p:commandButton value="No" onclick="PF('confirmation').hide()" type="button" />
						</h:form>
					</p:confirmDialog>

					<p:dialog minWidth="70" responsive="true" modal="true"  header="Insert Timesheet Information" widgetVar="dlg" resizable="false"
						hideEffect="clip" showEffect="clip" id="dialogINS">
						<h:form id="timesheetInsForm">
							<h:panelGrid columns="2" columnClasses="cls1,cls2" id="timesheetInsGrid">

								<p:outputLabel  value="From Date:" for="fromDate" />
								<p:calendar size="13" readonlyInput="true" id="fromDate" value="#{timesheetUI.timesheet.fromDate}" showOn="button"
									pattern="dd MMMM yyyy" />

								<p:outputLabel value="To Date:" for="toDate" />
								<p:calendar size="13" readonlyInput="true" id="toDate" value="#{timesheetUI.timesheet.toDate}" showOn="button"
									pattern="dd MMMM yyyy" />



								<p:spacer />
								<p:commandButton value="Submit" update=":mainForm:timesheetList :timesheetInsForm:timesheetInsGrid"
									oncomplete="handleInsRequest(xhr, status, args);" actionListener="#{timesheetUI.timesheetInsert}" />
							</h:panelGrid>
						</h:form>
					</p:dialog>

					<p:dialog minWidth="50"  modal="true" header="Update Timesheet Information" widgetVar="dlgUpd" resizable="false" hideEffect="clip"
						showEffect="clip" id="dialogUPD">
						<h:form id="timesheetUpdForm">
							<h:panelGrid columns="2" columnClasses="cls1,cls2" id="timesheetUpdGrid">


								<p:outputLabel value="fromDate:" for="fromDate" />
								<p:calendar readonlyInput="true" id="fromDate" value="#{timesheetUI.timesheet.fromDate}" showOn="button"
									pattern="dd MMMM yyyy" />

								<p:outputLabel value="toDate:" for="toDate" />
								<p:calendar readonlyInput="true" id="toDate" value="#{timesheetUI.timesheet.toDate}" showOn="button"
									pattern="dd MMMM yyyy" />

								<p:spacer />
								<p:commandButton value="Submit" update=":mainForm:timesheetList :timesheetUpdForm:timesheetUpdGrid"
									oncomplete="handleUpdRequest(xhr, status, args);" actionListener="#{timesheetUI.timesheetUpdate}" />
							</h:panelGrid>
						</h:form>
					</p:dialog>

					<script type="text/javascript">
    function handleInsRequest(xhr, status, args) {
        if(args.validationFailed) {
            jQuery('#dialogINS').effect("shake", { times:3 }, 100);
        } else {
            PF('dlg').hide();

        }
    }

    function handleUpdRequest(xhr, status, args) {
        if(args.validationFailed) {
            jQuery('#dialogUPD').effect("shake", { times:3 }, 100);
        } else {
            PF('dlgUpd').hide();

        }
    }
</script>
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>
