<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="subheader">
   Timesheet Details
  <p:spacer width="5" />
  (
   
     	<h:outputText value="#{sessionUI.timesheet.fromDate}">
			<f:convertDateTime pattern="dd" />
		</h:outputText>
		<i class="icon-remove"></i>
		<p:spacer width="5" />
		<h:outputText value="#{sessionUI.timesheet.toDate}">
			<f:convertDateTime pattern="dd MMMM yyyy" />
		</h:outputText> )
     	
    </ui:define>


	<ui:define name="content">
		<div class="layout-portlets-box">
			<div class="Container100">
				<div class="ContainerIndent">

					<h:form id="mainForm">

						<p:growl autoUpdate="true" sticky="false" />
						<h:panelGrid columns="1">
							<p:dataTable var="rowVar" value="#{timesheetdetailsUI.timesheetDetailsList}"
								filteredValue="#{timesheetdetailsUI.timesheetDetailsfilteredList}" id="timesheetdetailsList"
								rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="5,10,15,20,25" reflow="true" expandedRow="#{rowVar.expanded}">

								<p:column width="16">
									<p:rowToggler />
								</p:column>

								<p:column headerText="From Date" width="99%">
									<h:outputText value="#{rowVar.fromDateTime}" rowspan="2" style="font-weight:bold ">
										<f:convertDateTime pattern=" dd MMMM yyyy " />
									</h:outputText>
								</p:column>

								<p:column headerText="From Date Time" width="20%">
									<h:outputText value="#{rowVar.fromDateTime}" style="font-weight:bold " styleClass="Fright">
										<f:convertDateTime pattern=" HH:mm" />
									</h:outputText>
								</p:column>

								<p:column headerText="To Date Time" width="20%">
									<h:outputText value="#{rowVar.toDateTime}" style="font-weight:bold  " styleClass="Fright">
										<f:convertDateTime pattern="HH:mm " />
									</h:outputText>
								</p:column>

								<p:column headerText="Hours" width="20%">
									<h:outputText value="#{rowVar.hours}" styleClass="Fright" style="font-weight:bold">
										<f:convertNumber pattern="###0.00" />
									</h:outputText>
								</p:column>

								<p:columnGroup type="footer">
									<p:row>
										<p:column colspan="3" />
										<p:column footerText="Totals: " style="text-align:right" />
										<p:column style="text-align:right ">
											<f:facet name="footer">
												<h:outputText value="#{timesheetdetailsUI.totalHours}">
													<f:convertNumber pattern="###0.00" />
												</h:outputText>
											</f:facet>
										</p:column>
									</p:row>
								</p:columnGroup>

								<p:rowExpansion>
									<h:dataTable var="rv" value="#{rowVar.timesheetDetailList}"
										rendered="#{rowVar.timesheetDetailList.size() gt 0}" id="detailsList">
										<h:column>
											<f:facet name="header">Project</f:facet>
											<p:selectOneMenu converter="ProjectsConvertor" id="projects" value="#{rv.projects}" style="width:125px"
												rendered="#{rv.canEdit}">
												<f:selectItems value="#{projectsUI.projectsList}" var="rvx" itemLabel="#{rvx.code}" itemValue="#{rvx}" />
											</p:selectOneMenu>
											<p:outputLabel value="#{rv.projects.code}" rendered="#{rv.canEdit eq false}" id="projectName" />
											<p:tooltip for="projectName" value="#{rv.projects.description}" />
										</h:column>

										<h:column>
											<f:facet name="header">Task</f:facet>
											<p:selectOneMenu converter="TasksConvertor" id="tasks" value="#{rv.tasks}" style="width:125px"
												rendered="#{rv.canEdit}">
												<f:selectItems value="#{tasksUI.tasksList}" var="rvc" itemLabel="#{rvc.name}" itemValue="#{rvc}" />
											</p:selectOneMenu>
											<p:outputLabel value="#{rv.tasks.name}" rendered="#{rv.canEdit eq false}" id="taskName" />
											<p:tooltip for="taskName" value="#{rv.tasks.description}" />
										</h:column>

										<h:column>
											<f:facet name="header">Comment</f:facet>
											<p:inputText value="#{rv.comments}" rendered="#{rv.canEdit}" />
											<p:outputLabel value="#{rv.comments}" rendered="#{rv.canEdit eq false}" />
										</h:column>

										<h:column>
											<f:facet name="header">Hours</f:facet>
											<p:inputText value="#{rv.hours}" rendered="#{rv.canEdit}" />
											<p:outputLabel value="#{rv.hours}" rendered="#{rv.canEdit eq false}" />
										
										</h:column>


										<p:column>
											<p:commandButton title="Edit Entry" id="btnOne" icon="fa fa-pencil Fs16 white" action="#{timesheetdetailsUI.canEdit}" update="mainForm"
												rendered="#{rv.canEdit eq false}">
												<f:setPropertyActionListener value="#{rv}" target="#{timesheetdetailsUI.timesheetdetails}" />
												<f:setPropertyActionListener value="#{rowVar}" target="#{timesheetdetailsUI.timesheetdetailsParent}" />
											</p:commandButton>
											<p:tooltip for="btnOne" />
											<p:spacer width="5" rendered="#{rv.canEdit eq false}" />
											<p:commandButton id="btnDelete" oncomplete="PF('confirmation').show()" icon="fa fa-trash-o Fs16 white" title="Delete Entry"
												rendered="#{rv.canEdit eq false}">
												<f:setPropertyActionListener value="#{rv}" target="#{timesheetdetailsUI.timesheetdetails}" />
												<f:setPropertyActionListener value="#{rowVar}" target="#{timesheetdetailsUI.timesheetdetailsParent}" />
											</p:commandButton>
											<p:tooltip for="btnDelete" />
											<p:commandButton title="Cancel Edit" id="btnClose" icon="fa fa-times Fs16 white" action="#{timesheetdetailsUI.closeCanEdit}" update="mainForm"
												rendered="#{rv.canEdit}">
												<f:setPropertyActionListener value="#{rv}" target="#{timesheetdetailsUI.timesheetdetails}" />
											</p:commandButton>
											<p:tooltip for="btnClose" />
											<p:spacer width="5" rendered="#{rv.canEdit}" />
											<p:commandButton title="Save" id="btnUpd" icon="fa fa-check Fs16 white" action="#{timesheetdetailsUI.timesheetdetailsUpdate}"
												update="mainForm" rendered="#{rv.canEdit}">
												<f:setPropertyActionListener value="#{rv}" target="#{timesheetdetailsUI.timesheetdetails}" />
											</p:commandButton>
											<p:tooltip for="btnUpd" />
										</p:column>

									</h:dataTable>

									<h:panelGrid>
										<p:commandButton title="Add New Entry" id="addEntry" icon="fa fa-plus Fs16 white" action="#{timesheetdetailsUI.addNewDetail}"
											rendered="#{rowVar.hours lt 24}" update="mainForm">
											<f:setPropertyActionListener value="#{rowVar}" target="#{timesheetdetailsUI.timesheetdetailsParent}" />
										</p:commandButton>
									
									</h:panelGrid>
										<p:tooltip for="addEntry" />
								</p:rowExpansion>

							</p:dataTable>
						</h:panelGrid>
					</h:form>



					<p:confirmDialog message="Are you sure?" width="200" appendToBody="@(body)" showEffect="clip" hideEffect="clip"
						header="Confirm" severity="alert" widgetVar="confirmation">
						<h:form>
							<p:commandButton value="Yes" update=":mainForm:timesheetdetailsList"
								actionListener="#{timesheetdetailsUI.timesheetdetailsDelete}" oncomplete="PF('confirmation').hide()" />
							<p:commandButton value="No" onclick="PF('confirmation').hide()" type="button" />
						</h:form>
					</p:confirmDialog>

					<p:dialog modal="true" header="Insert TimesheetDetails Information" widgetVar="dlg" resizable="false"
						hideEffect="clip" showEffect="clip" id="dialogINS">
						<h:form id="timesheetdetailsInsForm">
							<h:panelGrid columns="2" columnClasses="cls1,cls2" id="timesheetdetailsInsGrid">
								<p:outputLabel value="tasks:" for="tasks" />
								<p:selectOneMenu converter="TasksConvertor" id="tasks" value="#{timesheetdetailsUI.timesheetdetails.tasks}"
									style="width:125px">
									<f:selectItems value="#{tasksUI.tasksList}" var="rv" itemLabel="#{rv.name}" itemValue="#{rv}" />
								</p:selectOneMenu>

								<p:outputLabel value="projects:" for="projects" />
								<p:selectOneMenu converter="ProjectsConvertor" id="projects"
									value="#{timesheetdetailsUI.timesheetdetails.projects}" style="width:125px">
									<f:selectItems value="#{projectsUI.projectsList}" var="rv" itemLabel="#{rv.code}" itemValue="#{rv}" />
								</p:selectOneMenu>


								<p:outputLabel value="fromDateTime:" for="fromDateTime" />
								<p:calendar readonlyInput="true" id="fromDateTime" value="#{timesheetdetailsUI.timesheetdetails.fromDateTime}"
									showOn="button" pattern="dd MMMM yyyy HH:mm" />

								<p:outputLabel value="toDateTime:" for="toDateTime" />
								<p:calendar readonlyInput="true" id="toDateTime" value="#{timesheetdetailsUI.timesheetdetails.toDateTime}"
									showOn="button" pattern="dd MMMM yyyy HH:mm" />

								<p:outputLabel value="comments:" for="comments" />
								<p:inputText id="comments" value="#{timesheetdetailsUI.timesheetdetails.comments}" />



								<p:spacer />
								<p:commandButton value="Submit"
									update=":mainForm:timesheetdetailsList :timesheetdetailsInsForm:timesheetdetailsInsGrid"
									oncomplete="handleInsRequest(xhr, status, args);" actionListener="#{timesheetdetailsUI.timesheetdetailsInsert}" />
							</h:panelGrid>
						</h:form>
					</p:dialog>

					<p:dialog modal="true" header="Update TimesheetDetails Information" widgetVar="dlgUpd" resizable="false"
						hideEffect="clip" showEffect="clip" id="dialogUPD">
						<h:form id="timesheetdetailsUpdForm">
							<h:panelGrid columns="2" columnClasses="cls1,cls2" id="timesheetdetailsUpdGrid">
								<p:outputLabel value="tasks:" for="tasks" />
								<p:selectOneMenu converter="TasksConvertor" id="tasks" value="#{timesheetdetailsUI.timesheetdetails.tasks}"
									style="width:125px">
									<f:selectItems value="#{tasksUI.tasksList}" var="rv" itemLabel="#{rv.name}" itemValue="#{rv}" />
								</p:selectOneMenu>

								<p:outputLabel value="projects:" for="projects" />
								<p:selectOneMenu converter="ProjectsConvertor" id="projects"
									value="#{timesheetdetailsUI.timesheetdetails.projects}" style="width:125px">
									<f:selectItems value="#{projectsUI.projectsList}" var="rv" itemLabel="#{rv.code}" itemValue="#{rv}" />
								</p:selectOneMenu>


								<p:outputLabel value="fromDateTime:" for="fromDateTime" />
								<p:calendar readonlyInput="true" id="fromDateTime" value="#{timesheetdetailsUI.timesheetdetails.fromDateTime}"
									showOn="button" pattern="dd MMMM yyyy HH:mm" />

								<p:outputLabel value="toDateTime:" for="toDateTime" />
								<p:calendar readonlyInput="true" id="toDateTime" value="#{timesheetdetailsUI.timesheetdetails.toDateTime}"
									showOn="button" pattern="dd MMMM yyyy HH:mm" />

								<p:outputLabel value="comments:" for="comments" />
								<p:inputText id="comments" value="#{timesheetdetailsUI.timesheetdetails.comments}" />


								<p:spacer />
								<p:commandButton value="Submit"
									update=":mainForm:timesheetdetailsList :timesheetdetailsUpdForm:timesheetdetailsUpdGrid"
									oncomplete="handleUpdRequest(xhr, status, args);" actionListener="#{timesheetdetailsUI.timesheetdetailsUpdate}" />
							</h:panelGrid>
						</h:form>
					</p:dialog>

					<script type="text/javascript">
    function handleInsRequest(xhr, status, args) {
        if(args.validationFailed) {
            jQuery('#dialogINS').effect("shake", { times:3 }, 100);
        } else {
            PF('dlg').hide();

        }
    }

    function handleUpdRequest(xhr, status, args) {
        if(args.validationFailed) {
            jQuery('#dialogUPD').effect("shake", { times:3 }, 100);
        } else {
            PF('dlgUpd').hide();

        }
    }
</script>
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>
