<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:growl id="growl" />
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card">
				<h:form id="sheduleForm">

					<h:panelGrid columns="2" width="100%">
						<p:panelGrid>
							<p:commandButton icon="ui-icon-info-outline" oncomplete="PF('dlgInformation').show()" id="helpX" title="Help" />
							<p:spacer width="10"></p:spacer>
							<p:commandButton id="bcap" icon="ui-icon-library-books" action="#{calendarUI.prepBulkTimesheetDetail}" title="Bulk Capture" oncomplete="PF('dlgBulk').show()" update="timesheetBulkInsForm" />

						</p:panelGrid>
						<p:tooltip for="bcap" />
						<p:tooltip for="helpX" />
						<p:panelGrid>
							<p:commandButton icon="ui-icon-local-printshop" id="toPrint" title="Print Timesheet" value="Print Timesheet" ajax="false" styleClass="Fright">
								<p:printer target="schedule" />
							</p:commandButton>
							<p:tooltip position="left" />
							<!-- <p:commandButton title="Go To Latest Timesheet"  icon="fa fa-search-plus Fs12 white"
									value="Go to latest timesheet" id="detailPage" styleClass="Fright">	
									<f:setPropertyActionListener value="#{calendarUI.timesheet.timesheet}" target="#{timesheetUI.timesheet}" />
								</p:commandButton> 	<p:tooltip for="detailPage" />-->
						</p:panelGrid>
						<p:panelGrid>
						</p:panelGrid>
					</h:panelGrid>

					<h:panelGrid style="width: 100%; height: 100%">
						<p:schedule aspectRatio="3.1" id="schedule" locale="tr" value="#{calendarUI.eventModel}" styleClass="custom" columnFormat="month:'ddd', week:'ddd: DD/MM', day:'dddd'" timeZone="#{calendarUI.timeZoneString}" resizable="false" initialDate="#{calendarUI.initialDate}" allDaySlot="true"
							tooltip="hello">

							<p:ajax event="eventSelect" listener="#{calendarUI.onEventSelect}" oncomplete="PF('dlgUpd').show()" update="timesheetUpdForm" />
							<p:ajax event="dateSelect" listener="#{calendarUI.onDateSelect}" oncomplete="PF('dlg').show()" update="timesheetInsForm" />
							<p:ajax event="eventMove" listener="#{calendarUI.onEventMove}" update="sheduleForm" oncomplete="PF('confirmation').show()" />

						</p:schedule>
					</h:panelGrid>

				</h:form>
			</div>
		</div>

		<p:confirmDialog message="Copy timesheet?" width="400" appendToBody="@(body)" showEffect="clip" hideEffect="clip" header="Confirm" severity="info" widgetVar="confirmation">
			<h:form>
				<p:commandButton value="Copy Event" update="sheduleForm growl" actionListener="#{calendarUI.copyEvent}" oncomplete="PF('confirmation').hide()" onclick="PF('dlgWait').show()" />
				<p:commandButton value="Move Event" update="sheduleForm growl" actionListener="#{calendarUI.moveEvent}" oncomplete="PF('confirmation').hide()" onclick="PF('dlgWait').show()" />
				<p:commandButton value="Cancel" oncomplete="PF('confirmation').hide()" update="sheduleForm" action="#{calendarUI.getTimesheetDetails}" onclick="PF('dlgWait').show()" />
			</h:form>
		</p:confirmDialog>

		<p:dialog modal="true" width="40%" header="Insert timesheet Information" widgetVar="dlg" resizable="false" hideEffect="clip" showEffect="clip" id="dialogINS">
			<h:form id="timesheetInsForm">
				<div class="ui-g">
					<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12" id="timesheetInsGrid">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Project:" for="projects" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu required="false" requiredMessage="Please Select A Project" converter="ProjectsConvertor" id="projects" value="#{calendarUI.timesheet.projects}" style="width:80%">
								<p:ajax update="timesheetInsForm" listener="#{calendarUI.populateSOW}" />
								<f:selectItems value="#{calendarUI.userProjectsList}" var="rv" itemLabel="#{rv.code}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>

						<c:if test="false">
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel value="S.O.W." for="sow" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:selectOneMenu converter="SOWConvertor" id="sow" value="#{calendarUI.timesheet.statementOfWork}" style="width:80%">
									<f:selectItems value="#{calendarUI.statementOfWorkList}" var="rv" itemLabel="#{rv.sowNumber}" itemValue="#{rv}" />
								</p:selectOneMenu>
							</div>
						</c:if>

						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Task:" for="tasks" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu converter="TasksConvertor" id="tasks" value="#{calendarUI.timesheet.tasks}" style="width:80%">
								<f:selectItems value="#{tasksUI.tasksList}" var="rv" itemLabel="#{rv.name}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Comments:" for="comments" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:inputText style="width:80%" id="comments" value="#{calendarUI.timesheet.comments}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="All Day Event:" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectBooleanCheckbox value="#{calendarUI.timesheet.allDayEvent}">
								<p:ajax update=":timesheetInsForm:hrs" />
							</p:selectBooleanCheckbox>
						</div>
					</p:outputPanel>
					<br />
					<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12" id="hrs">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Hours:" for="hours" rendered="#{calendarUI.timesheet.allDayEvent eq false}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:inputNumber decimalPlaces="0" maxValue="20" style="width:80%" id="hours" value="#{calendarUI.timesheet.hours}" maxlength="2" required="false" requiredMessage="Please Input Hours" minValue="0" rendered="#{calendarUI.timesheet.allDayEvent eq false}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel styleClass="Fleft" value="Minutes:" for="min" rendered="#{calendarUI.timesheet.allDayEvent eq false}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu style="width: 24.5%" value="#{calendarUI.timesheet.minutes}" id="min" rendered="#{calendarUI.timesheet.allDayEvent eq false}">
								<f:selectItems value="#{calendarUI.minsList}" var="rv" itemLabel="#{rv}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>
					</p:outputPanel>
					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<br />
						<p:commandButton value="Submit" onclick="PF('dlgWait').show()" oncomplete="PF('dlgWait').hide()" update="growl" actionListener="#{calendarUI.timesheetInsert}" icon="ui-icon-save" />
						<p:spacer width="10"></p:spacer>
						<p:commandButton value="Cancel" immediate="true" icon="ui-icon-cancel" oncomplete="PF('dlg').hide()" />
					</div>
				</div>
			</h:form>
		</p:dialog>

		<p:dialog modal="true" width="40%" header="Information" widgetVar="dlgInformation" resizable="false" hideEffect="clip" showEffect="clip" id="Information">

			<p:panel toggleable="true" style="width:100% !important">

				<div style="text-align: left">
					<span class="gray Fs15">To copy a task drag the task from one date to another. </span>
				</div>
				<p:separator />
				<div style="text-align: left">
					<span class="gray Fs15">To add a task click on a date and fill out the form. </span>
				</div>
				<p:separator />
				<div style="text-align: left">
					<span class="gray Fs15">To edit a task click on a task ribbon and edit the form. </span>
				</div>
				<p:separator />
				<div style="text-align: left">
					<span class="gray Fs15">Blue ribbons indicate all day events.</span>
				</div>
				<p:separator />
				<div style="text-align: left">
					<span class="gray Fs15">Green ribbons indicate time booked for the date</span>
				</div>
			</p:panel>


		</p:dialog>

		<p:dialog modal="true" header="Update timesheet Information" width="40%" widgetVar="dlgUpd" resizable="false" hideEffect="clip" showEffect="clip" id="dialogUPD">
			<h:form id="timesheetUpdForm">

				<div class="ui-g">
					<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12" id="timesheetInsGrid">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Project:" for="projects" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu converter="ProjectsConvertor" id="projects" value="#{calendarUI.timesheet.projects}" style="width:80%">
								<p:ajax update="timesheetUpdForm" listener="#{calendarUI.populateSOW}" />
								<f:selectItems value="#{calendarUI.userProjectsList}" var="rv" itemLabel="#{rv.code}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>
						<c:if test="false">
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel value="S.O.W." for="sow" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:selectOneMenu converter="SOWConvertor" id="sow" value="#{calendarUI.timesheet.statementOfWork}" style="width:80%">
									<f:selectItems value="#{calendarUI.statementOfWorkList}" var="rv" itemLabel="#{rv.sowNumber}" itemValue="#{rv}" />
								</p:selectOneMenu>
							</div>
						</c:if>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Task:" for="tasks" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu converter="TasksConvertor" id="tasks" value="#{calendarUI.timesheet.tasks}" style="width:80%">
								<f:selectItems value="#{tasksUI.tasksList}" var="rv" itemLabel="#{rv.name}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Comments:" for="comments" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:inputText style="width:80%" id="comments" value="#{calendarUI.timesheet.comments}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="All Day Event:" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectBooleanCheckbox value="#{calendarUI.timesheet.allDayEvent}">
								<p:ajax update=":timesheetUpdForm:hrs" />
							</p:selectBooleanCheckbox>
						</div>
					</p:outputPanel>
					<br />
					<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12" id="hrs">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Hours:" for="hours" rendered="#{calendarUI.timesheet.allDayEvent eq false or calendarUI.timesheet.allDayEvent eq null}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:inputNumber decimalPlaces="0" maxValue="20" style="width:80%" id="hours" value="#{calendarUI.timesheet.hours}" maxlength="2" required="false" rendered="#{calendarUI.timesheet.allDayEvent eq false or calendarUI.timesheet.allDayEvent eq null}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel styleClass="Fleft" value="Minutes:" for="min" rendered="#{calendarUI.timesheet.allDayEvent eq false or calendarUI.timesheet.allDayEvent eq null}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu style="width: 24.5%" value="#{calendarUI.timesheet.minutes}" id="min" rendered="#{calendarUI.timesheet.allDayEvent eq false or calendarUI.timesheet.allDayEvent eq null}">
								<f:selectItems value="#{calendarUI.minsList}" var="rv" itemLabel="#{rv}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>
					</p:outputPanel>
					<div class="ui-g-12">
						<p:commandButton value="Submit" onclick="PF('dlgWait').show()" oncomplete="PF('dlgWait').hide()" actionListener="#{calendarUI.timesheetUpdate}" update="sheduleForm growl" />
						<p:spacer width="10"></p:spacer>
						<p:commandButton value="Delete" onclick="PF('dlgWait').show()" oncomplete="PF('dlgWait').hide()" actionListener="#{calendarUI.timesheetdetailsDelete}" update="sheduleForm growl" />
						<p:spacer width="10"></p:spacer>
						<p:commandButton value="Cancel" immediate="true" oncomplete="PF('dlgUpd').hide()" />
					</div>
				</div>
			</h:form>
		</p:dialog>


		<p:dialog modal="true" width="50%" position="top" header="Bulk Insert timesheet Information" widgetVar="dlgBulk" resizable="false" hideEffect="clip" showEffect="clip" id="dialogBulkINS">
			<h:form id="timesheetBulkInsForm">
				<div class="ui-g">
					<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12" id="timesheetInsGrid">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Project:" for="projects" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu converter="ProjectsConvertor" id="projects" value="#{calendarUI.timesheet.projects}" style="width:80%">
								<p:ajax update="timesheetBulkInsForm" listener="#{calendarUI.populateSOW}" />
								<f:selectItems value="#{calendarUI.userProjectsList}" var="rv" itemLabel="#{rv.code}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>
						<c:if test="#{calendarUI.displaySow}">
							<div class="ui-g-12" />
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel value="S.O.W." for="sow" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:selectOneMenu converter="SOWConvertor" id="sow" value="#{calendarUI.timesheet.statementOfWork}" style="width:80%">
									<f:selectItems value="#{calendarUI.statementOfWorkList}" var="rv" itemLabel="#{rv.sowNumber}" itemValue="#{rv}" />
								</p:selectOneMenu>
							</div>
						</c:if>
					</p:outputPanel>
					<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12" id="timesheetInsGridAddInfo">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Task:" for="tasks" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu converter="TasksConvertor" id="tasks" value="#{calendarUI.timesheet.tasks}" style="width:80%">
								<f:selectItems value="#{tasksUI.tasksList}" var="rv" itemLabel="#{rv.name}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>
						<div class="ui-g-12" />
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="From Date" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:calendar showOn="button" pattern="dd MMMM yyyy" readonlyInput="true" value="#{calendarUI.fromDate}"></p:calendar>
						</div>
						<div class="ui-g-12" />
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="To Date" for="tasks" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:calendar showOn="button" pattern="dd MMMM yyyy" readonlyInput="true" value="#{calendarUI.toDate}"></p:calendar>
						</div>
						<div class="ui-g-12" />
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Exclude Weekends" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectBooleanCheckbox value="#{calendarUI.excludeWeekends}">
							</p:selectBooleanCheckbox>
						</div>
						<div class="ui-g-12" />
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Comments:" for="comments" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:inputText style="width:80%" id="comments" value="#{calendarUI.timesheet.comments}" />
						</div>
						<div class="ui-g-12" />
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="All Day Event:" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectBooleanCheckbox value="#{calendarUI.timesheet.allDayEvent}">
								<p:ajax update=":timesheetBulkInsForm:Bulkhrs" />
							</p:selectBooleanCheckbox>
						</div>
					</p:outputPanel>
					<br />
					<p:outputPanel styleClass="ui-g-12 ui-md-12 ui-lg-12" id="Bulkhrs">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="Hours:" for="hours" rendered="#{calendarUI.timesheet.allDayEvent eq false}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:inputNumber decimalPlaces="0" maxValue="20" style="width:80%" id="hours" value="#{calendarUI.timesheet.hours}" maxlength="2" required="false" requiredMessage="Please Input Hours" minValue="0" rendered="#{calendarUI.timesheet.allDayEvent eq false}" />
						</div>
						<div class="ui-g-12" />
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel styleClass="Fleft" value="Minutes:" for="min" rendered="#{calendarUI.timesheet.allDayEvent eq false}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:selectOneMenu style="width: 24.5%" value="#{calendarUI.timesheet.minutes}" id="min" rendered="#{calendarUI.timesheet.allDayEvent eq false}">
								<f:selectItems value="#{calendarUI.minsList}" var="rv" itemLabel="#{rv}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>
					</p:outputPanel>
					<div class="ui-g-12">
						<p:commandButton value="Submit" onclick="PF('dlgWait').show()" oncomplete="PF('dlgWait').hide()" actionListener="#{calendarUI.bulktimesheetInsert}" update="@form growl" icon="ui-icon-save" />
						<p:spacer width="10"></p:spacer>
						<p:commandButton value="Cancel" immediate="true" icon="ui-icon-cancel" oncomplete="PF('dlgBulk').hide()" />
					</div>
				</div>
			</h:form>
		</p:dialog>

	</div>



</ui:composition>