<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">


       <div class="Container100 UserLinks">
            <div class="ContainerIndent TexAlRight">
     
                <a href="#" class="DispInlBlock Fright BoldGray MarRight10 HoverEffect"><span class="Fs22 FontRobotoLight"> #{sessionUI.user.firstName} #{sessionUI.user.lastName} </span> <i class="icon-account_circle Fright Fs30"></i></a>
               
            </div>
            <br/> 
            <div class="ContainerIndent TexAlRight">
             <span class="Fs22 FontRobotoLight" style="color:red">#{sessionUI.company.companyName}</span>
            </div>  
            <br/>

            <div class="EmptyBox10"></div>
        </div>

       
</ui:composition>
