<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">


		<h:form id="userscostInsForm">

			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card card-w-title">
						<h2>#{lang['users.cost']}</h2>
						<p:dataTable var="rowVar" value="#{userscostUI.dataModel}" filteredValue="#{userscostUI.usersCostfilteredList}" id="userscostList" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

							<p:column headerText="#{lang['users']}">
								<h:outputText value="#{rowVar.users.firstName} #{rowVar.users.lastName}" />
							</p:column>
							<p:column headerText="#{lang['locale']}">
								<h:outputText value="#{rowVar.locale}" />
							</p:column>
							<p:column headerText="#{lang['effectiveDate']}">
								<h:outputText value="#{rowVar.effectiveDate}">
									<f:convertDateTime pattern="dd MMM yyyy (HH:mm)" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['exhangeRate']}">
								<h:outputText value="#{rowVar.exhangeRate}" />
							</p:column>
							<p:column headerText="#{lang['grossSalaryPerAnnum']}">
								<h:outputText value="#{rowVar.grossSalaryPerAnnum}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['ersNiPerAnnum']}">
								<h:outputText value="#{rowVar.ersNiPerAnnum}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['unemploymentFundPerAnnum']}">
								<h:outputText value="#{rowVar.unemploymentFundPerAnnum}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['mandatoryTaxPensionsPerAnnum']}">
								<h:outputText value="#{rowVar.mandatoryTaxPensionsPerAnnum}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['oneTimeExpensePerAnnum']}">
								<h:outputText value="#{rowVar.oneTimeExpensePerAnnum}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['totalCostOfEmployeePerAnnum']}">
								<h:outputText value="#{rowVar.totalCostOfEmployeePerAnnum}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['dayRate']}">
								<h:outputText value="#{rowVar.dayRate}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column width="3%">
								<p:commandButton icon="fa fa-database Fs16 white" title="#{lang['update']}" update=":userscostInsForm" action="#{userscostUI.prepAuditUserCost()}">
									<f:setPropertyActionListener value="#{rowVar}" target="#{userscostUI.userscost}" />
								</p:commandButton>
								<p:commandButton icon="fa fa-trash-o" title="Delete" update=":userscostInsForm:userscostList" action="#{userscostUI.userscostDelete}">
									<p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-warning" />
									<f:setPropertyActionListener value="#{rowVar}" target="#{userscostUI.userscost}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
							<p:commandButton value="Yes" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
							<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
						</p:confirmDialog>
					</div>
				</div>
			</div>

			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card card-w-title">
						<h2>#{lang['insert']} #{lang['users.cost']}</h2>
						<p:growl autoUpdate="true" sticky="false" />
						<p:outputPanel id="userscostInsGrid" styleClass="ui-g">
							<p:outputPanel styleClass="ui-g">
								<div class="ui-g-6">
									<p:outputLabel value="#{lang['users']}:" />
								</div>
								<div class="ui-g-6">
									<p:autoComplete id="usersAutoComplete" value="#{userscostUI.userscost.users}" completeMethod="#{userscostUI.complete}" var="rv" styleClass="hsauto" style="width:70%" itemLabel="#{rv.firstName}" itemValue="#{rv}" forceSelection="true" converter="UsersConvertor" dropdown="true"
										minQueryLength="1" maxResults="10">
										<p:column headerText="#{lang['first.name.label']}">#{rv.firstName}</p:column>
										<p:column headerText="#{lang['last.name.label']}">#{rv.lastName}</p:column>
									</p:autoComplete>
								</div>
								<div class="EmptyBox10" />
								<div class="ui-g-6">
									<p:outputLabel value="#{lang['language.currency']}:" for="locale1" />
								</div>
								<div class="ui-g-6">
									<p:selectOneMenu value="#{userscostUI.userscost.locale}" id="locale1" style="width: 50%" converter="localeUIConvertor" disabled="false">
										<p:ajax event="change" listener="#{userscostUI.onCountryChange}" update=":userscostInsForm:exchangeRateOut" />
										<f:selectItems value="#{languageUI.localeCurrency}" var="rv" itemLabel="#{rv.currency.symbol} - #{rv.locale.displayCountry}" itemValue="#{rv.locale.toLanguageTag()}" />
									</p:selectOneMenu>
								</div>
								<div class="EmptyBox10" />
								<div class="ui-g-6">
									<p:outputLabel value="#{lang['exhangeRate']}:  " for="exchangeRateOut" />
								</div>
								<div class="ui-g-6">
									<p:outputLabel id="exchangeRateOut" value="#{userscostUI.userscost.exhangeRate}" styleClass="FontBold" />
								</div>
								<div class="EmptyBox10" />
								<div class="ui-g-6">
									<p:outputLabel value="#{lang['effectiveDate']}:  " for="effectiveDate" />
								</div>
								<div class="ui-g-6">
									<p:calendar id="effectiveDate" showOn="both" value="#{userscostUI.userscost.effectiveDate}" />
								</div>
							</p:outputPanel>
							<div class="EmptyBox10" />
							<p:outputPanel id="costPanel" styleClass="ui-g">
								<div class="ui-g-6">
									<div class="ui-g-9" />
									<div class="ui-g-3">
										<h3>Current</h3>
									</div>
									<div class="ui-g-9">
										<p:outputLabel value="#{lang['grossSalaryPerAnnum']}" for="grossSalaryPerAnnum" />
									</div>
									<div class="ui-g-3">
										<p:inputNumber id="grossSalaryPerAnnum" value="#{userscostUI.userscost.grossSalaryPerAnnum}" decimalPlaces="2" decimalSeparator="." thousandSeparator="," emptyValue="0.00" placeholder="0.00" />
									</div>
									<div class="EmptyBox10" />
									<div class="ui-g-9">
										<p:outputLabel value="#{lang['ersNiPerAnnum']}" for="ersNiPerAnnum" />
									</div>
									<div class="ui-g-3">
										<p:inputNumber id="ersNiPerAnnum" value="#{userscostUI.userscost.ersNiPerAnnum}" decimalPlaces="2" decimalSeparator="." thousandSeparator="," emptyValue="0.00" placeholder="0.00" />
									</div>
									<div class="EmptyBox10" />
									<div class="ui-g-9">
										<p:outputLabel value="#{lang['unemploymentFundPerAnnum']}" for="unemploymentFundPerAnnum" />
									</div>
									<div class="ui-g-3">
										<p:inputNumber id="unemploymentFundPerAnnum" value="#{userscostUI.userscost.unemploymentFundPerAnnum}" decimalPlaces="2" decimalSeparator="." thousandSeparator="," emptyValue="0.00" placeholder="0.00" />
									</div>
									<div class="EmptyBox10" />
									<div class="ui-g-9">
										<p:outputLabel value="#{lang['mandatoryTaxPensionsPerAnnum']}" for="mandatoryTaxPensionsPerAnnum" />
									</div>
									<div class="ui-g-3">
										<p:inputNumber id="mandatoryTaxPensionsPerAnnum" value="#{userscostUI.userscost.mandatoryTaxPensionsPerAnnum}" decimalPlaces="2" decimalSeparator="." thousandSeparator="," emptyValue="0.00" placeholder="0.00" />
									</div>
									<div class="EmptyBox10" />
									<div class="ui-g-9">
										<p:outputLabel value="#{lang['oneTimeExpensePerAnnum']}" for="oneTimeExpensePerAnnum" />
									</div>
									<div class="ui-g-3">
										<p:inputNumber id="oneTimeExpensePerAnnum" value="#{userscostUI.userscost.oneTimeExpensePerAnnum}" decimalPlaces="2" decimalSeparator="." thousandSeparator="," emptyValue="0.00" placeholder="0.00" />
									</div>
									<div class="EmptyBox10" />
									<div class="ui-g-9">
										<p:outputLabel value="#{lang['totalCostOfEmployeePerAnnum']}" for="totalCostOfEmployeePerAnnum" />
									</div>
									<div class="ui-g-3">
										<p:inputNumber id="totalCostOfEmployeePerAnnum" value="#{userscostUI.userscost.totalCostOfEmployeePerAnnum}" decimalPlaces="2" decimalSeparator="." thousandSeparator="," emptyValue="0.00" placeholder="0.00" readonly="true" />
									</div>
									<div class="EmptyBox10" />
									<div class="ui-g-9">
										<p:outputLabel value="#{lang['dayRate']}" for="dayRate" />
									</div>
									<div class="ui-g-3">
										<p:inputNumber id="dayRate" value="#{userscostUI.userscost.dayRate}" decimalPlaces="2" decimalSeparator="." thousandSeparator="," emptyValue="0.00" placeholder="0.00" readonly="true" />
									</div>
								</div>
								<div class="ui-g-6">
									<c:if test="#{userscostUI.usersCostHistList.size() gt 0}">
										<div class="ui-g-3" />
										<div class="ui-g-9">
											<h3>Previous</h3>
										</div>
										<div class="ui-g-3" />
										<div class="ui-g-9">
											<p:inputNumber id="prevGrossSalaryPerAnnum" value="#{userscostUI.usersCostHist.grossSalaryPerAnnum}" decimalPlaces="2" decimalSeparator="." thousandSeparator="," readonly="true" />
										</div>
										<div class="EmptyBox10" />
										<div class="ui-g-3" />
										<div class="ui-g-9">
											<p:inputNumber id="prevErsNiPerAnnum" value="#{userscostUI.usersCostHist.ersNiPerAnnum}" decimalPlaces="2" decimalSeparator="." thousandSeparator="," readonly="true" />
										</div>
										<div class="EmptyBox10" />
										<div class="ui-g-3" />
										<div class="ui-g-9">
											<p:inputNumber id="prevUnemploymentFundPerAnnum" value="#{userscostUI.usersCostHist.unemploymentFundPerAnnum}" decimalPlaces="2" decimalSeparator="." thousandSeparator="," readonly="true" />
										</div>
										<div class="EmptyBox10" />
										<div class="ui-g-3" />
										<div class="ui-g-9">
											<p:inputNumber id="prevMandatoryTaxPensionsPerAnnum" value="#{userscostUI.usersCostHist.mandatoryTaxPensionsPerAnnum}" decimalPlaces="2" decimalSeparator="." thousandSeparator="," readonly="true" />
										</div>
										<div class="EmptyBox10" />
										<div class="ui-g-3" />
										<div class="ui-g-9">
											<p:inputNumber id="prevOneTimeExpensePerAnnum" value="#{userscostUI.usersCostHist.oneTimeExpensePerAnnum}" decimalPlaces="2" decimalSeparator="." thousandSeparator="," readonly="true" />
										</div>
										<div class="EmptyBox10" />
										<div class="ui-g-3" />
										<div class="ui-g-9">
											<p:inputNumber id="prevTotalCostOfEmployeePerAnnum" value="#{userscostUI.usersCostHist.totalCostOfEmployeePerAnnum}" decimalPlaces="2" decimalSeparator="." thousandSeparator="," readonly="true" />
										</div>
										<div class="EmptyBox10" />
										<div class="ui-g-3" />
										<div class="ui-g-9">
											<p:inputNumber id="prevDayRate" value="#{userscostUI.usersCostHist.dayRate}" decimalPlaces="2" decimalSeparator="." thousandSeparator="," readonly="true" />
										</div>
									</c:if>
								</div>
							</p:outputPanel>
							<div class="EmptyBox10" />
							<p:outputPanel styleClass="ui-g">
								<div class="ui-g-6">
									<p:commandButton value="Submit" icon="ui-icon-save" update="@form" action="#{userscostUI.userscostInsert}" />
								</div>
								<div class="ui-g-6">
									<p:commandButton value="Clear" icon="ui-icon-clear-all" update="@form" process="@this" action="#{userscostUI.prepareNew}">
										<p:resetInput target="userscostInsGrid" />
									</p:commandButton>
								</div>
							</p:outputPanel>
						</p:outputPanel>
					</div>
				</div>
			</div>


			<p:outputPanel id="auditPanel" styleClass="ui-g" rendered="#{userscostUI.usersCostHistList.size() gt 0}">
				<div class="ui-g-12">
					<div class="card card-w-title">
						<h2>#{lang['userscost.history']} #{userscostUI.userscost.users.firstName} #{userscostUI.userscost.users.lastName}</h2>
						<p:dataTable id="auditTable" var="auditVar" value="#{userscostUI.usersCostHistList}" rendered="true" paginator="true" rows="6" paginatorPosition="bottom" rowKey="#{auditVar.id}"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">
							<p:column headerText="Modify Date">
								<h:outputText value="#{auditVar.createDate}">
									<f:convertDateTime pattern="dd MMM yyyy (HH:mm)" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{lang['updatedBy']}">
								<h:outputText value="#{auditVar.updatedByUser.firstName} #{auditVar.updatedByUser.lastName}" />
							</p:column>

							<p:column headerText="#{lang['locale']}">
								<h:outputText value="#{auditVar.locale}" />
							</p:column>
							<p:column headerText="#{lang['effectiveDate']}">
								<h:outputText value="#{auditVar.effectiveDate}">
									<f:convertDateTime pattern="dd MMM yyyy (HH:mm)" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['exhangeRate']}">
								<h:outputText value="#{auditVar.exhangeRate}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['grossSalaryPerAnnum']}">
								<h:outputText value="#{auditVar.grossSalaryPerAnnum}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['ersNiPerAnnum']}">
								<h:outputText value="#{auditVar.ersNiPerAnnum}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['unemploymentFundPerAnnum']}">
								<h:outputText value="#{auditVar.unemploymentFundPerAnnum}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['mandatoryTaxPensionsPerAnnum']}">
								<h:outputText value="#{auditVar.mandatoryTaxPensionsPerAnnum}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['oneTimeExpensePerAnnum']}">
								<h:outputText value="#{auditVar.oneTimeExpensePerAnnum}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['totalCostOfEmployeePerAnnum']}">
								<h:outputText value="#{auditVar.totalCostOfEmployeePerAnnum}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['dayRate']}">
								<h:outputText value="#{auditVar.dayRate}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
						</p:dataTable>
					</div>
				</div>
			</p:outputPanel>
		</h:form>
	</ui:define>
	<!-- 

effectiveDate = Effective Date
exhangeRate = Exhange Rate
grossSalaryPerAnnum = Gross Salary Per Annum
ersNiPerAnnum = ERS NI Per Annum
unemploymentFundPerAnnum = Unemployment Fund Per Annum
mandatoryTaxPensionsPerAnnum = Mandatory Tax Pensions Per Annum
oneTimeExpensePerAnnum = One Time Expense Per Annum
totalCostOfEmployeePerAnnum = Total Cost Of Employee Per Annum
dayRate = Day Rate

-->
</ui:composition>
