<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h1>_@@_</h1>
					<h:form id="%%%InsForm">
						<p:growl sticky="false" ><p:autoUpdate/></p:growl>
						<p:panelGrid columns="1" style="width:100%" id="%%%InsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
       						    _modalRow_

        					    <p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
									<p:commandButton value="#{lang['submit']}" icon="fa fa-floppy-o" update=":mainForm:%%%List :%%%InsForm:%%%InsGrid" action="#{@@@.%%%Insert}" />
									<p:commandButton value="#{lang['clear']}" icon="fa fa-eraser" update="%%%InsGrid" process="@this" action="#{@@@.prepareNew}">
										<p:resetInput target="%%%InsGrid" />
									</p:commandButton>
								</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h:form id="mainForm">

						<p:dataTable var="rowVar" value="#{@@@.dataModel}" filteredValue="#{@@@.%%%@filteredList}" id="%%%List" rowKey="#{rowVar.id}" paginator="true" rows="10" paginatorPosition="bottom"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,15,20,25,50" reflow="true" lazy="true">

           						_tableRow_

           						<p:column width="100">
									<p:commandButton icon="fa fa-database" title="#{lang['update']}" update=":%%%InsForm:%%%InsGrid">
										<f:setPropertyActionListener value="#{rowVar}" target="#{@@@.%%%}" />
									</p:commandButton>
									<p:spacer width="5" />
									<p:commandButton icon="fa fa-trash-o" title="{lang['delete']}" update=":mainForm:%%%List" action="#{@@@.%%%Delete}">
										<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="fa fa-warning" />
										<f:setPropertyActionListener value="#{rowVar}" target="#{@@@.%%%}" />
									</p:commandButton>
								</p:column>

						</p:dataTable>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
							<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes" icon="fa fa fa-check" />
							<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
						</p:confirmDialog>

					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
<!--
_lang_
-->
</ui:composition>
