<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">



	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">


					<h:form id="mainForm">
						<h1 class="FontBold">Bank Holidays</h1>
						<div class="EmptyBox10" />
						<p:commandButton id="Insertbankholidayparent" title="Insert New Year" icon="fa fa-plus Fs16 white" oncomplete="PF('dlg').show()" value="Insert" actionListener="#{bankholidayparentUI.prepareNewBankHolidayParent}" update=":bankholidayparentInsForm:bankholidayparentInsGrid" />
						<p:tooltip for="Insertbankholidayparent" />
						<div class="EmptyBox10" />
						<p:growl autoUpdate="true" sticky="false" />
						<h:panelGrid columns="1">


							<p:dataTable var="rowVar" value="#{bankholidayparentUI.bankHolidayParentList}" filteredValue="#{bankholidayparentUI.bankHolidayParentfilteredList}" id="bankholidayparentList" rowKey="#{rowVar.bankHolidayYear}" paginator="true" rows="6" paginatorPosition="bottom"
								paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" selectionMode="single" selection="#{bankholidayparentUI.bankholidayparent}">

								<p:ajax event="rowSelect" update="childForm" listener="#{bankholidayparentUI.initBankHolidayChild}" />

								<p:column headerText="Year">
									<h:outputText value="#{rowVar.bankHolidayYear}" />
								</p:column>

								<p:column width="5%">

									<p:commandButton id="Deletebankholidayparent" oncomplete="PF('confirmation').show()" icon="fa fa-trash-o Fs16 white" title="Delete Year">
										<f:setPropertyActionListener value="#{rowVar}" target="#{bankholidayparentUI.bankholidayparent}" />
									</p:commandButton>
									<p:tooltip for="Deletebankholidayparent" position="left"/>
								</p:column>



							</p:dataTable>
						</h:panelGrid>






					</h:form>

					<h:form id="childForm">
						<p:outputPanel rendered="#{bankholidayparentUI.bankholidayparent.bankHolidayYear ne null}">
<div class="EmptyBox15"/>
							<div class="ui-g">


								<div class="ui-g-12 ui-md-6">

									<div class="ui-g">


										<div class="ui-g-12 ui-md-6">

											<p:outputLabel for="bhd" value="Bank Holiday" />
										</div>
										<div class="ui-g-12 ui-md-6">
											<p:calendar yearRange="" id="bhd" value="#{bankholidayparentUI.bankHolidayChild.bankHoliday}" pattern="dd MMMM yyyy"></p:calendar>
										</div>
										<div class="ui-g-12 ui-md-6">

											<p:outputLabel value="Holiday Name" />
										</div>
										<div class="ui-g-12 ui-md-6">
											<p:inputText value="#{bankholidayparentUI.bankHolidayChild.holidayNames}" />
										</div>
										<div class="ui-g-12 ui-md-6">
											<p:outputLabel value="Repeat Yearly" />
										</div>
										<div class="ui-g-12 ui-md-6">
											<p:selectBooleanCheckbox value="#{bankholidayparentUI.bankHolidayChild.repeatDates}">
												<p:ajax />
											</p:selectBooleanCheckbox>
										</div>
										<div class="ui-g-12 ui-md-6">






											<p:commandButton id="Searchbankholidayparent" value="Add Holiday" icon="fa fa-plus Fs16 white" title="Add Holiday" action="#{bankholidayparentUI.createChild}" update="@form :mainForm" />
										

										</div>
									</div>
								</div>
								</div>
								<div class="EmptyBox15"/>
								<div class="ui-g">
									<div class="ui-g-12">






										<p:dataTable var="rowVar" value="#{bankholidayparentUI.bankholidayparent.bankHolidayChildrenList}" id="bankholidayparentList" rowKey="#{rowVar.bankHoliday}" paginator="true" rows="10" paginatorPosition="bottom"
											paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">



											<p:column headerText="Day">
												<h:outputText value="#{rowVar.bankHoliday}" styleClass="#{rowVar.cssStyle}" converter="javax.faces.DateTime" />
											</p:column>
											<p:column headerText="Holiday Name">
												<h:outputText value="#{rowVar.holidayNames}" styleClass="#{rowVar.cssStyle}" />
											</p:column>

											<p:column headerText="Repeat Dates" width="10%" styleClass="texAlCen">

												<p:selectBooleanCheckbox value="#{rowVar.repeatDates}" disabled="true" />
											</p:column>

											<p:column width="5%">

												<p:commandButton title="Delete Holiday Entry" id="delHoliday" icon="fa fa-trash-o Fs16 white" action="#{bankholidayparentUI.bankholidaychildtDelete}" update="@form">
													<f:setPropertyActionListener value="#{rowVar}" target="#{bankholidayparentUI.bankHolidayChild}" />
												</p:commandButton>
												<p:tooltip for="delHoliday" position="left"/>
											</p:column>


										</p:dataTable>
									</div>
								</div>
						</p:outputPanel>

					</h:form>


					<p:confirmDialog message="Are you sure?" width="200" appendTo="@(body)" showEffect="clip" hideEffect="clip" header="Confirm" severity="alert" widgetVar="confirmation">
						<h:form>
							<p:commandButton id="yesbankholidayparent" value="Yes" update=":mainForm:bankholidayparentList" actionListener="#{bankholidayparentUI.bankholidayparentDelete}" oncomplete="PF('confirmation').hide()" />
							<p:tooltip for="yesbankholidayparent" value="(Blue)" />
							<p:commandButton id="nobankholidayparent" value="No" onclick="PF('confirmation').hide()" type="button" />
							<p:tooltip for="nobankholidayparent" value="(Blue)" />
						</h:form>
					</p:confirmDialog>



					<p:dialog modal="true" header="Insert Bank Holiday: Year" widgetVar="dlg" draggable="false" resizable="false" hideEffect="clip" showEffect="clip" id="dialogINS" width="600">

						<h:form id="bankholidayparentInsForm">

							<h:panelGrid columns="2" style="width:100%" id="bankholidayparentInsGrid">

								<p:outputLabel styleClass="Fleft" value="Bank Holiday Year:" for="bankHolidayYear" />

								<p:selectOneMenu id="bankHolidayYear" value="#{bankholidayparentUI.bankholidayparent.bankHolidayYear}" style="width:50%">
									<f:selectItems value="#{bankholidayparentUI.bankHolidayParentDD}" />

								</p:selectOneMenu>



								<p:spacer />
								<p:commandButton id="Submitbankholidayparent" value="Submit" update=":mainForm:bankholidayparentList :bankholidayparentInsForm:bankholidayparentInsGrid" oncomplete="handleInsRequest(xhr, status, args);" actionListener="#{bankholidayparentUI.bankholidayparentInsert}" />
								<p:tooltip for="Submitbankholidayparent" value="" />
							</h:panelGrid>
						</h:form>
					</p:dialog>










					<script type="text/javascript">
						function handleInsRequest(xhr, status, args) {
							if (args.validationFailed) {
								jQuery('#dialogINS').effect("shake", {
									times : 3
								}, 100);
							} else {
								PF('dlg').hide();

							}
						}

						function handleUpdRequest(xhr, status, args) {
							if (args.validationFailed) {
								jQuery('#dialogUPD').effect("shake", {
									times : 3
								}, 100);
							} else {
								PF('dlgUpd').hide();

							}
						}
					</script>
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>
