<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">



	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">

					<h:form id="mainForm">
						<h1 class="FontBold">#{lang['client']}</h1>
						<div class="EmptyBox10" />
						<p:commandButton icon="fa fa-plus Fs16 white" oncomplete="PF('dlg').show()" value="#{lang['insert']}" actionListener="#{companyUI.prepareNewCompany}" update=":companyInsForm:companyInsGrid" />
						<div class="EmptyBox10" />
						<p:growl autoUpdate="true" sticky="false" />
						<h:panelGrid columns="1">


							<p:dataTable var="rowVar" value="#{companyUI.companyList}" filteredValue="#{companyUI.companyfilteredList}" id="companyList" rowKey="#{rowVar.id}" paginator="true" rows="10" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">
								<p:column headerText="#{lang['client.name']}" sortBy="#{rowVar.companyName}" filterBy="#{rowVar.companyName}">
									<h:outputText value="#{rowVar.companyName}" />
								</p:column>
								<p:column headerText="#{lang['active']}" width="15%" sortBy="#{rowVar.active}" >
									<p:selectBooleanCheckbox value="#{rowVar.active}" disabled="true" />
								</p:column>
								<p:column width="12%">
										<p:commandButton id="updateBtn" oncomplete="PF('dlgUpd').show()" icon="fa fa-database Fs16 white" title="Update" update=":companyUpdForm:companyUpdGrid">
											<f:setPropertyActionListener value="#{rowVar}" target="#{companyUI.company}" />
										</p:commandButton>
										<p:spacer width="5" />
										<p:commandButton id="deleteBtn" oncomplete="PF('confirmation').show()" icon="fa fa-trash-o Fs16 white" title="Delete">
											<f:setPropertyActionListener value="#{rowVar}" target="#{companyUI.company}" />
										</p:commandButton>
										<p:tooltip for="updateBtn" value=" #{lang['update.client.information']}" position=""/>
										<p:tooltip for="deleteBtn" value=" #{lang['delete.client.information']} " position=""/>
								</p:column>
							</p:dataTable>
						</h:panelGrid>
					</h:form>

					<p:confirmDialog message="#{lang['are.you.sure']}" width="200" appendToBody="@(body)" showEffect="clip" hideEffect="clip" header="#{lang['confirm']}" severity="alert" widgetVar="confirmation">
						<h:form>
							<p:commandButton value="#{lang['yes']}" update=":mainForm:companyList" actionListener="#{companyUI.companyDelete}" oncomplete="PF('confirmation').hide()" />
							<p:commandButton value="#{lang['no']}" onclick="PF('confirmation').hide()" type="button" />
						</h:form>
					</p:confirmDialog>

					<p:dialog width="40%" header="#{lang['insert.client.information']}" widgetVar="dlg" resizable="false" hideEffect="clip" showEffect="clip" id="dialogINS" modal="true">
						<h:form id="companyInsForm">
							<p:panelGrid width="100%" columns="2" columnClasses="cls1,cls2" id="companyInsGrid" layout="grid">
								<p:outputLabel value="#{lang['client.name']}" for="companyName"/>
								<p:inputText style="width:80%" id="companyName" value="#{companyUI.company.companyName}" required="true" requiredMessage="#{lang['insert.client.name']}"/>
								<p:outputLabel value="#{lang['active']}" />
								<p:selectBooleanCheckbox value="#{companyUI.company.active}" />
								<p:spacer />
								<p:commandButton value="#{lang['submit']}" update=":mainForm:companyList :companyInsForm:companyInsGrid" oncomplete="handleInsRequest(xhr, status, args);" actionListener="#{companyUI.companyInsert}" />
							</p:panelGrid>
						</h:form>
					</p:dialog>

					<p:dialog width="40%" header="#{lang['update.client.information']}" widgetVar="dlgUpd" resizable="false" hideEffect="clip" showEffect="clip" id="dialogUPD" modal="true">
						<h:form id="companyUpdForm">
							<p:panelGrid width="100%" columns="2" columnClasses="cls1,cls2" id="companyUpdGrid" layout="grid">
								<p:outputLabel value="#{lang['client.name']}" for="companyName" />
								<p:inputText style="width:80%" id="companyName" value="#{companyUI.company.companyName}" required="true" requiredMessage="#{lang['insert.client.name']}"/>
								<p:outputLabel value="#{lang['active']}" />
								<p:selectBooleanCheckbox value="#{companyUI.company.active}" />								
								<p:spacer />
								<p:commandButton value="#{lang['submit']}" update=":mainForm:companyList :companyUpdForm:companyUpdGrid" oncomplete="handleUpdRequest(xhr, status, args);" actionListener="#{companyUI.companyUpdate}" />
							</p:panelGrid>
						</h:form>
					</p:dialog>

					<script type="text/javascript">
    function handleInsRequest(xhr, status, args) {
        if(args.validationFailed) {
            jQuery('#dialogINS').effect("shake", { times:3 }, 100);
        } else {
            PF('dlg').hide();

        }
    }

    function handleUpdRequest(xhr, status, args) {
        if(args.validationFailed) {
            jQuery('#dialogUPD').effect("shake", { times:3 }, 100);
        } else {
            PF('dlgUpd').hide();

        }
    }
</script>
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>
