<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">



	<ui:define name="content">
		<div class="layout-portlets-box">
			<div class="Container100">
				<div class="ContainerIndent">

					<h:form id="mainForm">

						<h1 class="BigTopic TexAlCenter">All Users</h1>
						<p:growl autoUpdate="true" sticky="false" />
						<h:panelGrid columns="1">


							<p:dataTable var="rowVar" value="#{companyusersUI.companyUsersList}"
								filteredValue="#{companyusersUI.companyUsersfilteredList}" id="companyusersList" rowKey="#{rowVar.id}"
								paginator="true" rows="6" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="5,10,15,20,25" reflow="true">


								<p:column>#{rowVar.id}</p:column>
								<p:column headerText="User" sortBy="#{rowVar.users.lastName}" filterBy="#{rowVar.users.lastName}">
									<h:outputText value="#{rowVar.users.firstName} #{rowVar.users.lastName}" />
								</p:column>
								<p:column headerText="Client" sortBy="#{rowVar.company.companyName}" filterBy="#{rowVar.company.companyName}">
									<h:outputText value="#{rowVar.company.companyName}" />
								</p:column>
								<p:column headerText="Join Date" sortBy="#{rowVar.createDate}">
									<h:outputText value="#{rowVar.createDate}">
										<f:convertDateTime pattern="dd MMMM yyyy HH:mm" />
									</h:outputText>
								</p:column>
								<p:column headerText="level">
									<h:outputText value="#{rowVar.level}" />
								</p:column>
								<p:column headerText="Last login" sortBy="#{rowVar.users.lastLogin}">
									<h:outputText value="#{rowVar.users.lastLogin}">
										<f:convertDateTime pattern="dd MMMM yyyy HH:mm" />
									</h:outputText>
								</p:column>

								<p:column headerText="Status">
									<h:outputText value="#{rowVar.users.status}" />
								</p:column>

								<p:column headerText="Username" sortBy="#{rowVar.users.username}" filterBy="#{rowVar.users.username}">
									<h:outputText value="#{rowVar.users.username}" />
								</p:column>

								<p:column>
									<p:commandButton oncomplete="PF('dlgUpd').show()" icon="fa fa-database Fs16 white" title="Update"
										update=":companyusersUpdForm:companyusersUpdGrid">
										<f:setPropertyActionListener value="#{rowVar}" target="#{companyusersUI.companyusers}" />
									</p:commandButton>

								</p:column>

							</p:dataTable>
						</h:panelGrid>



					</h:form>


					<p:dialog modal="true" header="Insert Client Users Information" widgetVar="dlg" resizable="false"
						hideEffect="clip" showEffect="clip" id="dialogINS">
						<h:form id="companyusersInsForm">
							<h:panelGrid columns="2" columnClasses="cls1,cls2" id="companyusersInsGrid">
								<p:outputLabel value="users:" for="users" />
								<p:inputText id="users" value="#{companyusersUI.companyusers.users}" />

								<p:outputLabel value="company:" for="company" />
								<p:inputText id="company" value="#{companyusersUI.companyusers.company}" />

								<p:outputLabel value="level:" for="level" />
								<p:selectOneRadio id="level" value="#{companyusersUI.companyusers.level}" layout="pageDirection" required="true"
									requiredMessage="Select Type of user">
									<f:selectItems value="#{companyusersUI.userLevelDD}" />
								</p:selectOneRadio>

								<p:spacer />
								<p:commandButton value="Submit" update=":mainForm:companyusersList :companyusersInsForm:companyusersInsGrid"
									oncomplete="handleInsRequest(xhr, status, args);" actionListener="#{companyusersUI.companyusersInsert}" />
							</h:panelGrid>
						</h:form>
					</p:dialog>

					<p:dialog modal="true" header="Update Users Information" widgetVar="dlgUpd" resizable="false" hideEffect="clip"
						showEffect="clip" id="dialogUPD">
						<h:form id="companyusersUpdForm">
							<h:panelGrid columns="2" columnClasses="cls1,cls2" id="companyusersUpdGrid">
								<p:outputLabel value="User:" for="users" />
								<h:outputText id="users"
									value="#{companyusersUI.companyusers.users.firstName} #{companyusersUI.companyusers.users.lastName}" />

								<p:outputLabel value="Client:" for="company" />
								<h:outputText id="company" value="#{companyusersUI.companyusers.company.companyName}" />


								<p:outputLabel value="Level:" for="level" />
								<p:selectOneRadio id="level" value="#{companyusersUI.companyusers.level}" layout="pageDirection" required="true"
									requiredMessage="Select Type of user">
									<f:selectItems value="#{companyusersUI.userLevelDD}" />
								</p:selectOneRadio>

								<p:outputLabel value="Status:" for="status" />
								<p:selectOneRadio id="status" value="#{companyusersUI.companyusers.users.status}" layout="pageDirection">
									<f:selectItems value="#{companyusersUI.userStatusDD}" />
								</p:selectOneRadio>

								<p:spacer />
								<p:commandButton value="Submit" update=":mainForm:companyusersList :companyusersUpdForm:companyusersUpdGrid"
									oncomplete="handleUpdRequest(xhr, status, args);" actionListener="#{companyusersUI.companyusersUpdate}" />
							</h:panelGrid>
						</h:form>
					</p:dialog>

					<script type="text/javascript">
    function handleInsRequest(xhr, status, args) {
        if(args.validationFailed) {
            jQuery('#dialogINS').effect("shake", { times:3 }, 100);
        } else {
            PF('dlg').hide();

        }
    }

    function handleUpdRequest(xhr, status, args) {
        if(args.validationFailed) {
            jQuery('#dialogUPD').effect("shake", { times:3 }, 100);
        } else {
            PF('dlgUpd').hide();

        }
    }
</script>
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>
