<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">



	<ui:define name="content">
		<style type="text/css">
body .ui-datatable thead th.headerColour1 {
	background-color: #1c516e;
	color: #ffffff;
}

body .ui-datatable thead th.headerColour2 {
	background-color: #52b68f;
}
</style>

		<div class="ui-g">
			<p:importEnum type="haj.com.entity.enums.ExpenseFormTypeEnum" />
			<div class="ui-g-12">
				<div class="card">

					<h:form id="form">

						<p:growl id="msgs" autoUpdate="true" />
						<p:commandButton value="Guidelines" id="guidelines" onclick="PF('guidelineDlg').show()" style="margin-right:20px; float: right" icon="fa fa-search" iconPos="right" />
						<h3 style="margin-top: 0">Expense Claim Details</h3>
						<div class="EmptyBox20" />
						<h:panelGroup>
							<p:outputLabel value="Expense Type" for="expenseType" styleClass="FontLight gray" />
							<br />
							<p:selectOneMenu value="#{expensedetailsUI.expenseFormType}" id="expenseType" required="false">
								<f:selectItem itemLabel="Select One" styleClass="FontLight gray" noSelectionOption="true" />
								<f:selectItems value="#{enumUI.expenseFormTypeDD}" var="il" />
								<p:ajax event="itemSelect" update="form" listener="#{expensedetailsUI.changeIndex}" />
							</p:selectOneMenu>
							<div class="EmptyBox30" />
						</h:panelGroup>
						<c:if test="#{expensedetailsUI.expenseFormType ne null}">
							<p:tabView id="tabView" activeIndex="#{expensedetailsUI.activeIndex}">
								<p:tab title="Expense Form">
									<p:outputPanel id="expenseFormPanel">
										<br />
										<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
											<h:panelGroup>
												<p:outputLabel value="Company Name: " style="color: grey" />
												<p:outputLabel value="#{expensedetailsUI.company.companyName}" />
											</h:panelGroup>
											<h:panelGroup>
												<p:outputLabel value="Project Name: #{backing_bean}" style="color: grey" />
												<p:outputLabel value="#{expensedetailsUI.company.projects.description}" />
											</h:panelGroup>
										</p:panelGrid>
										<br />
										<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
											<h:panelGroup styleClass="md-inputfield">
												<p:calendar id="date1" value="#{expensedetailsUI.expenseForm.expenseFormdate}" required="true" inputStyle="width:calc(95%)" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}" requiredMessage="Provide Date" />
												<p:outputLabel for="date1" value="Date" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="descOfExp" value="#{expensedetailsUI.expenseForm.descOfExpense}" style="width:95%" required="true" requiredMessage="Provide Description of Expense" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}" />
												<p:outputLabel value="Description of Expense" for="descOfExp" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText value="#{expensedetailsUI.expenseForm.dailyRate.value}" id="dailyRateId" readonly="true" style="width:95%" />
												<p:outputLabel value="Daily Rate" for="dailyRateId" styleClass="FontLight gray" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="noOfDays" value="#{expensedetailsUI.expenseForm.dayNumber}" style="width:95%" required="true" requiredMessage="Provide Number of Days" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
													<p:keyFilter mask="num" />
												</p:inputText>
												<p:outputLabel value="Number of Days" for="noOfDays" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputNumber id="km" value="#{expensedetailsUI.expenseForm.kmTravelled}" maxlength="30" inputStyle="width:95%" required="false" requiredMessage="Provide Distance Travlled" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}" />
												<p:outputLabel value="KM's Travelled" for="km" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup id="accomodationPriceGroup" styleClass="md-inputfield">
												<p:inputNumber id="accomodation" value="#{expensedetailsUI.expenseForm.accomodationPrice}" maxlength="30" inputStyle="width:95%" required="false" requiredMessage="Provide Accomodation Details" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
													<p:ajax event="change" update="accomodationPriceGroup" />
												</p:inputNumber>
												<p:outputLabel value="Price of Accomodation" for="accomodation" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield" id="mealsPriceGroup">
												<p:inputNumber id="meals" value="#{expensedetailsUI.expenseForm.meals}" maxlength="30" inputStyle="width:95%" required="false" requiredMessage="Provide Meals" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
													<p:ajax event="change" update="mealsPriceGroup" />
												</p:inputNumber>
												<p:outputLabel value="Price of Meals" for="meals" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield" id="transportPriceGroup">
												<p:inputNumber id="transport" value="#{expensedetailsUI.expenseForm.taxiTrainToll}" maxlength="30" inputStyle="width:95%" required="false" requiredMessage="Provide Transport Expenses" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
													<p:ajax event="change" update="transportPriceGroup" />
												</p:inputNumber>
												<p:outputLabel value="Taxi's, Tolls and Trains Fee" for="transport" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield" id="parkingPriceGroup">
												<p:inputNumber id="parking" value="#{expensedetailsUI.expenseForm.parking}" maxlength="30" inputStyle="width:95%" required="false" requiredMessage="Provide Parking Expenses" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
													<p:ajax event="change" update="parkingPriceGroup" />
												</p:inputNumber>
												<p:outputLabel value="Parking Fees" for="parking" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield" id="flightPriceGroup">
												<p:inputNumber id="flights" value="#{expensedetailsUI.expenseForm.flightPrice}" maxlength="30" inputStyle="width:95%" required="false" requiredMessage="Provide Flight Expenses" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
													<p:ajax event="change" update="flightPriceGroup" />
												</p:inputNumber>
												<p:outputLabel value="Flight Price" for="flights" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield" id="telPriceGroup">
												<p:inputNumber id="tel" value="#{expensedetailsUI.expenseForm.telMobileDialupAmount}" maxlength="30" inputStyle="width:95%" required="false" requiredMessage="Provide Phone Expenses" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
													<p:ajax event="change" update="telPriceGroup" />
												</p:inputNumber>
												<p:outputLabel value="Tel, Mobile, Dial Up Amount" for="tel" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield" id="utilitiesPriceGroup">
												<p:inputNumber id="utilities" value="#{expensedetailsUI.expenseForm.utilitiesAmount}" maxlength="30" inputStyle="width:95%" required="false" requiredMessage="Provide Utilities Amount" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
													<p:ajax event="change" update="utilitiesPriceGroup" />
												</p:inputNumber>
												<p:outputLabel value="Utilites Amount" for="utilities" />
												<div class="EmptyBox10" />
											</h:panelGroup>
										</p:panelGrid>
										<p:panelGrid columns="1" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank" id="additionalDocsPnl">
											<p:fieldset legend="Documents">
												<p:commandButton value="Add Document" process="additionalDocsPnl" update="uploadForm" icon="ui-icon-plus" iconPos="right" styleClass="flat" action="#{expensedetailsUI.prepDoc}" oncomplete="PF('dlgUpload').show();" />
												<div class="EmptyBox20" />
												<p:dataTable value="#{expensedetailsUI.expenseForm.docList}" id="docList" var="rv1" rowKey="#{rv1.id}" emptyMessage="#{lang['no.records.found']}" reflow="true" rendered="#{expensedetailsUI.expenseForm.docList.size() gt 0}">
													<p:column headerText="Type" width="20%">#{rv1.originalFname}</p:column>
													<p:column headerText="#{lang['uploaded.by']}">#{rv1.user.firstName} #{rv1.user.lastName}</p:column>
													<p:column headerText="Uploaded" width="15%">
														<h:outputText value="#{rv1.createDate}">
															<f:convertDateTime pattern="yyyy/MM/dd (HH:mm)" />
														</h:outputText>
													</p:column>
													<p:column headerText="Version" width="15%">
														<h:outputText value="#{rv1.versionNo}">
														</h:outputText>
													</p:column>
													<p:column width="180" headerText="View/Edit">
														<p:commandButton immediate="true" ajax="false" icon="fa fa-download " action="#{uploadDocUI.download}" id="dlbUserDocs" rendered="#{rv1.id ne null}">
															<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
														</p:commandButton>
														<p:tooltip for="dlbUserDocs" value="Download the file" position="left" rendered="#{rv1.id ne null}" />
														<p:spacer width="5" rendered="#{rv1.id ne null}" />
														<p:commandButton immediate="true" icon="fa fa-bars " id="dhistUserDocs" action="#{uploadDocUI.showHistory}" oncomplete="PF('histDialog').show()" update=":documenttrackeForm:documenttrackeList" rendered="#{rv1.id ne null}">
															<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
														</p:commandButton>
														<p:tooltip for="dhistUserDocs" value="#{lang['document.tracker']}" position="left" rendered="#{rv1.id ne null}" />
														<p:commandButton immediate="true" rendered="true" icon="fa fa-upload" id="uploadUserDocs" styleClass="#{rv1.originalFname eq null ? 'red-btn' : ''} flat" process="@this" oncomplete="PF('dlgUpload').show()" update=":uploadForm">
															<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
														</p:commandButton>
														<p:tooltip for="uploadUserDocs" value="#{rv1.originalFname eq null ? lang['click.to.upload'] : lang['re.upload']}" position="left" />
														<h:panelGroup id="panelGroupThreeUserDocs" rendered="#{rv1.note ne null and rv1.note.length() gt 0}">
															<p:spacer width="5" />
															<p:commandButton immediate="true" icon="fa fa-comment-o " id="dnoteUserDocs" oncomplete="PF('noteDialog').show()" update=":noteForm:notePanel">
																<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
															</p:commandButton>
															<p:tooltip for="dnoteUserDocs" value="#{lang['view.note']}" position="left" />
														</h:panelGroup>
														<h:panelGroup id="panelGroupFourUserDocs" rendered="#{rv1.extension.toLowerCase() eq 'pdf' or rv1.extension.toLowerCase() eq 'png' or rv1.extension.toLowerCase() eq 'jpg' or rv1.extension.toLowerCase() eq 'jpeg' or rv1.extension.toLowerCase() eq 'gif'}">
															<p:spacer width="5" />
															<p:commandButton immediate="true" icon="fa fa-eye " id="viewerButtonUserDocs" oncomplete="PF('viewDialog').show()" update=":viewForm:viewer" action="#{uploadDocUI.buildStreamContent}">
																<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
															</p:commandButton>
															<p:tooltip for="viewerButtonUserDocs" value="View Document" position="left" />
														</h:panelGroup>
													</p:column>
												</p:dataTable>
											</p:fieldset>
										</p:panelGrid>

										<p:panelGrid columns="1" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank" rendered="#{expensedetailsUI.expenseFormType eq ExpenseFormTypeEnum.ExpenseForm}">
											<p:fieldset legend="#{sessionUI.user.firstName} #{sessionUI.user.lastName}">
												<br />
												<p:panelGrid styleClass="ui-panelgrid-blank" columns="2">
													<p:selectBooleanCheckbox value="#{expensedetailsUI.expenseForm.consent}">
														<p:ajax oncomplete="PF('consentDlg').hide()" />
													</p:selectBooleanCheckbox>
													<div>
														I <span style="font-weight: bold;">#{sessionUI.user.firstName} #{sessionUI.user.lastName}</span> hereby give consent that the recorded information is true
													</div>
												</p:panelGrid>
												<br />
											</p:fieldset>
											<p:commandButton value="Submit" update="expenseFormPanel consentForm" action="#{expensedetailsUI.expenseFormInsert}" style="margin-right:20px;" styleClass="ui-priority-primary" />
										</p:panelGrid>

										<br />
										<br />
										<c:if test="#{expensedetailsUI.expenseFormType eq ExpenseFormTypeEnum.ExpenseForm}">
											<span class="Fs12 FontLight"><i class="fa fa-info-circle" aria-hidden="true"></i> Allowance per/km is #{expensedetailsUI.expenseForm.allowanceRate.value} for the 2019 tax year </span>
										</c:if>
										<br />
										<br />
										<p:dataTable var="rowVar" value="#{expensedetailsUI.expenseFormList}" id="expenseForm" rowKey="#{rowVar.id}" rendered="#{expensedetailsUI.expenseFormType eq ExpenseFormTypeEnum.ExpenseForm and expensedetailsUI.expenseFormList.size() gt 0}">
											<p:columnGroup type="header">
												<p:row>
													<p:column colspan="1" styleClass="headerColour1">
														<f:facet name="header">Date</f:facet>
													</p:column>
													<p:column colspan="1" styleClass="headerColour1">
														<f:facet name="header">Description of Expense</f:facet>
													</p:column>
													<p:column colspan="3" styleClass="headerColour1">
														<f:facet name="header">Per Diem</f:facet>
													</p:column>
													<p:column colspan="2" styleClass="headerColour1">
														<f:facet name="header">Alowance AA Rates</f:facet>
													</p:column>
													<p:column colspan="1" styleClass="headerColour1">
														<f:facet name="header">Accomodation</f:facet>
													</p:column>
													<p:column colspan="1" styleClass="headerColour1">
														<f:facet name="header">Meals</f:facet>
													</p:column>
													<p:column colspan="1" styleClass="headerColour1">
														<f:facet name="header">Parking</f:facet>
													</p:column>
													<p:column colspan="1" styleClass="headerColour1">
														<f:facet name="header">Taxis, Tolls, Trains</f:facet>
													</p:column>
													<p:column colspan="1" styleClass="headerColour1">
														<f:facet name="header">Flights</f:facet>
													</p:column>
													<p:column colspan="1" styleClass="headerColour1">
														<f:facet name="header">Tel, Mobile, Dial Up</f:facet>
													</p:column>
													<p:column colspan="1" styleClass="headerColour1">
														<f:facet name="header">Utilities</f:facet>
													</p:column>
													<p:column colspan="1" rowspan="2" styleClass="headerColour2">
														<f:facet name="header">Total</f:facet>
													</p:column>
													<p:column colspan="1" rowspan="2" styleClass="headerColour2">
														<f:facet name="header">View/ Edit</f:facet>
													</p:column>
												</p:row>
												<p:row>
													<p:column styleClass="headerColour2">
														<f:facet name="header">Date that expense was incurred</f:facet>
													</p:column>
													<p:column styleClass="headerColour2">
														<f:facet name="header">When travelling, please include destination</f:facet>
													</p:column>
													<p:column styleClass="headerColour2">
														<f:facet name="header">Daily Rate</f:facet>
													</p:column>
													<p:column styleClass="headerColour2">
														<f:facet name="header">Days</f:facet>
													</p:column>
													<p:column styleClass="headerColour2">
														<f:facet name="header">Per Diem</f:facet>
													</p:column>
													<p:column styleClass="headerColour2">
														<f:facet name="header">KM's</f:facet>
													</p:column>
													<p:column styleClass="headerColour2">
														<f:facet name="header">Total KM's</f:facet>
													</p:column>
													<p:column styleClass="headerColour2">
														<f:facet name="header">Please attach receipts</f:facet>
													</p:column>
													<p:column styleClass="headerColour2">
														<f:facet name="header">Please attach receipts</f:facet>
													</p:column>
													<p:column styleClass="headerColour2">
														<f:facet name="header">Please attach receipts</f:facet>
													</p:column>
													<p:column styleClass="headerColour2">
														<f:facet name="header">Please attach receipts</f:facet>
													</p:column>
													<p:column styleClass="headerColour2">
														<f:facet name="header">Please attach receipts</f:facet>
													</p:column>
													<p:column styleClass="headerColour2">
														<f:facet name="header">Please attach receipts</f:facet>
													</p:column>
													<p:column styleClass="headerColour2">
														<f:facet name="header">Please attach receipts</f:facet>
													</p:column>
												</p:row>
											</p:columnGroup>
											<p:column>
												<h:outputLabel value="#{rowVar.expenseFormdate}">
													<f:convertDateTime pattern="yyyy/MM/dd" />
												</h:outputLabel>
											</p:column>
											<p:column>
												<h:outputLabel value="#{rowVar.descOfExpense}" />
											</p:column>
											<p:column>
												<h:outputLabel value="#{rowVar.dailyRate.value}" />
											</p:column>
											<p:column>
												<h:outputLabel value="#{rowVar.dayNumber}" />
											</p:column>
											<p:column>
												<h:outputLabel value="#{rowVar.perDiem}" />
											</p:column>
											<p:column>
												<h:outputLabel value="#{rowVar.kmTravelled}" />
											</p:column>
											<p:column>
												<h:outputLabel value="#{rowVar.totalKmExpenseForm}">
													<f:convertNumber pattern="##.##" />
												</h:outputLabel>
											</p:column>
											<p:column>
												<h:outputLabel value="#{rowVar.accomodationPrice}" />
											</p:column>
											<p:column>
												<h:outputLabel value="#{rowVar.meals}" />
											</p:column>
											<p:column>
												<h:outputLabel value="#{rowVar.parking}" />
											</p:column>
											<p:column>
												<h:outputLabel value="#{rowVar.taxiTrainToll}" />
											</p:column>
											<p:column>
												<h:outputLabel value="#{rowVar.flightPrice}" />
											</p:column>
											<p:column>
												<h:outputLabel value="#{rowVar.telMobileDialupAmount}" />
											</p:column>
											<p:column>
												<h:outputLabel value="#{rowVar.utilitiesAmount}" />
											</p:column>
											<p:column>
												<h:outputLabel value="#{rowVar.totalExpenseForm}">
													<f:convertNumber pattern="##.##" />
												</h:outputLabel>
											</p:column>
											<p:column>
												<p:commandButton icon="fa fa-eye" id="viewUploadedDocsExpense" title="View Uploaded Documents" update=":docDetails" styleClass="#{rv1.originalFname eq null ? 'blue-btn' : ''} flat" action="#{expensedetailsUI.populateExpenseDocs}" oncomplete="PF('dlgDoc').show()" immediate="true">
													<f:setPropertyActionListener value="#{rowVar}" target="#{expensedetailsUI.expenseForm}" />
												</p:commandButton>
												<p:commandButton icon="fa fa-database " id="updateInfoExpense" title="Update" styleClass="#{rv1.originalFname eq null ? 'blue-btn' : ''} flat" process="@this" update="form" rendered="true" action="#{expensedetailsUI.populateExpenseDocs}">
													<f:setPropertyActionListener value="#{rowVar}" target="#{expensedetailsUI.expenseForm}" />
												</p:commandButton>
												<p:commandButton icon="fa fa-trash" id="deleteInfoExpense" title="Delete" onclick="PF('confirmation').show()" styleClass="#{rv1.originalFname eq null ? 'blue-btn' : ''} flat" immediate="true" update="expenseForm">
													<f:setPropertyActionListener target="#{expensedetailsUI.expenseForm}" value="#{rowVar}" />
												</p:commandButton>
											</p:column>
										</p:dataTable>
									</p:outputPanel>
								</p:tab>

								<p:tab title="Entertainment Expenses">
									<p:outputPanel id="entertainmentPnl">
										<br />
										<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
											<h:panelGroup>
												<p:outputLabel value="Company Name: " style="color: grey" />
												<p:outputLabel value="#{expensedetailsUI.company.companyName}" />
											</h:panelGroup>
											<h:panelGroup>
												<p:outputLabel value="Project Name: " style="color: grey" />
												<p:outputLabel value="#{expensedetailsUI.company.projects.description}" />
											</h:panelGroup>
										</p:panelGrid>
										<br />
										<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
											<h:panelGroup styleClass="md-inputfield">
												<p:calendar id="date2" value="#{expensedetailsUI.expenseForm.entertainmentExpensedate}" inputStyle="width:calc(95%)" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
												<p:outputLabel for="date2" value="Date" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="meetingPlace" value="#{expensedetailsUI.expenseForm.meetingPlace}" style="width:95%" required="false" requiredMessage="Provide Meeting Place" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
												<p:outputLabel value="Meeting Place" for="meetingPlace" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="city" value="#{expensedetailsUI.expenseForm.city}" style="width:95%" required="false" requiredMessage="Provide City" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
												<p:outputLabel value="City" for="city" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="personsEntertained" value="#{expensedetailsUI.expenseForm.personsEntertained}" style="width:95%" required="false" requiredMessage="Provide Persons Entertained" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
												<p:outputLabel value="Persons Entertained" for="personsEntertained" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="name" value="#{expensedetailsUI.expenseForm.name}" maxlength="30" style="width:95%" required="false" requiredMessage="Provide Name" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
												<p:outputLabel value="Name" for="name" />
												<div class="EmptyBox10" />
											</h:panelGroup>

											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="company" value="#{expensedetailsUI.expenseForm.company}" maxlength="30" style="width:95%" required="false" requiredMessage="Provide Company" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
												<p:outputLabel value="Company" for="company" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="businessPurpose" value="#{expensedetailsUI.expenseForm.businessPurpose}" maxlength="30" style="width:95%" required="false" requiredMessage="Provide Business Purpose" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
												<p:outputLabel value="Business Purpose" for="businessPurpose" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputNumber id="total" value="#{expensedetailsUI.expenseForm.total}" maxlength="30" inputStyle="width:95%" required="false" requiredMessage="Provide Total Amount" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
												<p:outputLabel value="Total" for="total" />
											</h:panelGroup>
											<h:panelGroup>
												<p:outputLabel value="Title" for="engSize" styleClass="FontLight gray" />
												<br />
												<p:selectOneMenu value="#{expensedetailsUI.expenseForm.title}" id="title" style="width:95%" required="false" converter="TitleConvertor" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}">
													<p:ajax></p:ajax>
													<f:selectItem itemLabel="Select One" noSelectionOption="true" />
													<f:selectItems value="#{expensedetailsUI.titleList}" var="il" itemLabel="#{il.description}" itemValue="#{il}" />
												</p:selectOneMenu>
											</h:panelGroup>
										</p:panelGrid>
										<p:spacer />
										<p:panelGrid columns="1" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank" rendered="#{expensedetailsUI.expenseFormType eq ExpenseFormTypeEnum.Entertainment}">
											<p:fieldset legend="#{sessionUI.user.firstName} #{sessionUI.user.lastName}">
												<br />
												<p:panelGrid styleClass="ui-panelgrid-blank" columns="2">
													<p:selectBooleanCheckbox value="#{expensedetailsUI.expenseForm.consent}">
														<p:ajax oncomplete="PF('consentDlg').hide()" />
													</p:selectBooleanCheckbox>
													<div>
														I <span style="font-weight: bold;">#{sessionUI.user.firstName} #{sessionUI.user.lastName}</span> hereby give consent that the recorded information is true
													</div>
												</p:panelGrid>
												<br />
											</p:fieldset>
											<p:commandButton value="Submit" update="entertainmentPnl consentForm" action="#{expensedetailsUI.expenseFormInsert}" style="margin-right:20px;" styleClass="ui-priority-primary" />
										</p:panelGrid>
										<br />
										<br />
										<h:panelGrid columns="2" cellpadding="10">
											<p:dataTable var="rowVar" value="#{expensedetailsUI.entertainmentFormList}" id="entertainmentExpense" rowKey="#{rowVar.id}" rendered="#{expensedetailsUI.expenseFormType eq ExpenseFormTypeEnum.Entertainment and expensedetailsUI.entertainmentFormList.size() gt 0}">
												<p:columnGroup type="header">
													<p:row>
														<p:column colspan="10" styleClass="headerColour1">
															<f:facet name="header">Include Expenditures For Yourself And For Others For Whom You Paid The Bill When Discussing Company Business, Furthering Employee Relations, Creating Company Good Will Or Promoting The Company</f:facet>
														</p:column>
													</p:row>
													<p:row>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Date</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Meeting Place</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">City</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Persons Entertained</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Name</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Title</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Company</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Business Purpose</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Total</f:facet>
														</p:column>
														<p:column colspan="1" styleClass="headerColour2">
															<f:facet name="header">View/ Edit</f:facet>
														</p:column>
													</p:row>
												</p:columnGroup>
												<p:column>
													<h:outputLabel value="#{rowVar.entertainmentExpensedate}">
														<f:convertDateTime pattern="yyyy/MM/dd" />
													</h:outputLabel>
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.meetingPlace}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.city}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.personsEntertained}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.name}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.title.description}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.company}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.businessPurpose}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.total}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{backing_bean}" />
													<p:commandButton icon="fa fa-database" id="updateInfoEntertainment" title="Update" styleClass="#{rv1.originalFname eq null ? 'blue-btn' : ''} flat" process="@this" update="form" rendered="true" action="#{expensedetailsUI.populateExpenseDocs}">
														<f:setPropertyActionListener value="#{rowVar}" target="#{expensedetailsUI.expenseForm}" />
													</p:commandButton>
													<p:commandButton icon="fa fa-trash" onclick="PF('confirmation').show()" id="deleteInfoEntertainment" title="Delete" styleClass="#{rv1.originalFname eq null ? 'blue-btn' : ''} flat" immediate="true" update="entertainmentExpense">
														<f:setPropertyActionListener value="#{rowVar}" target="#{expensedetailsUI.expenseForm}" />
													</p:commandButton>
												</p:column>
											</p:dataTable>
										</h:panelGrid>
									</p:outputPanel>
								</p:tab>


								<p:tab title="Miscellaneous Expenses">
									<p:outputPanel id="miscellaneousPnl">
										<br />
										<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
											<h:panelGroup>
												<p:outputLabel value="Company Name: " style="color: grey" />
												<p:outputLabel value="#{expensedetailsUI.company.companyName}" />
											</h:panelGroup>
											<h:panelGroup>
												<p:outputLabel value="Project Name: " style="color: grey" />
												<p:outputLabel value="#{expensedetailsUI.company.projects.description}" />
											</h:panelGroup>
										</p:panelGrid>
										<br />
										<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
											<h:panelGroup styleClass="md-inputfield">
												<p:calendar id="date3" value="#{expensedetailsUI.expenseForm.miscellaneousExpensedate}" inputStyle="width:calc(95%)" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
												<p:outputLabel for="date3" value="Date" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="authBy" value="#{expensedetailsUI.expenseForm.authorisedBy}" style="width:95%" required="true" requiredMessage="Provide Person of Authorisation" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
												<p:outputLabel value="Authorised By" for="authBy" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="exp" value="#{expensedetailsUI.expenseForm.explanationOfExpenses}" style="width:95%" required="true" requiredMessage="Provide Explanation of Expense" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
												<p:outputLabel value="Explanation of Expenses" for="exp" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputNumber id="amount" value="#{expensedetailsUI.expenseForm.amount}" inputStyle="width:95%" required="true" requiredMessage="Provide Amount" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
												<p:outputLabel value="Amount" for="amount" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputNumber id="rate" value="#{expensedetailsUI.expenseForm.rate}" maxlength="30" inputStyle="width:95%" required="true" requiredMessage="Provide Rate" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
												<p:outputLabel value="Rate (GBP/ZAR)" for="rate" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="bank" value="#{expensedetailsUI.expenseForm.bank_name}" maxlength="30" style="width:95%" required="true" requiredMessage="Provide Bank Name" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
												<p:outputLabel value="Bank Name" for="bank" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="accHolder" value="#{expensedetailsUI.expenseForm.accountHolderName}" maxlength="30" style="width:95%" required="true" requiredMessage="Provide Account Holder" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
												<p:outputLabel value="Account Holder Name" for="accHolder" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="accNum" value="#{expensedetailsUI.expenseForm.accountNumber}" maxlength="30" style="width:95%" required="true" requiredMessage="Provide Account Number" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
												<p:outputLabel value="Account Number" for="accNum" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="sortCode" value="#{expensedetailsUI.expenseForm.sortCode}" maxlength="30" style="width:95%" required="true" requiredMessage="Provide Sort-Code" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}">
													<p:keyFilter mask="num" />
												</p:inputText>
												<p:outputLabel value="Sort-Code" for="sortCode" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<p:spacer />
										</p:panelGrid>
										<p:panelGrid columns="1" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank" rendered="#{expensedetailsUI.expenseFormType eq ExpenseFormTypeEnum.Miscellaneous}">
											<p:fieldset legend="#{sessionUI.user.firstName} #{sessionUI.user.lastName}">
												<br />
												<p:panelGrid styleClass="ui-panelgrid-blank" columns="2">
													<p:selectBooleanCheckbox value="#{expensedetailsUI.expenseForm.consent}">
														<p:ajax oncomplete="PF('consentDlg').hide()" />
													</p:selectBooleanCheckbox>
													<div>
														I <span style="font-weight: bold;">#{sessionUI.user.firstName} #{sessionUI.user.lastName}</span> hereby give consent that the recorded information is true
													</div>
												</p:panelGrid>
												<br />
											</p:fieldset>
											<p:commandButton value="Submit" update="miscellaneousPnl consentForm" action="#{expensedetailsUI.expenseFormInsert}" style="margin-right:20px;" styleClass="ui-priority-primary" />
										</p:panelGrid>


										<br />
										<br />
										<h:panelGrid columns="2" cellpadding="10">
											<p:dataTable var="rowVar" value="#{expensedetailsUI.miscellaneousFormList}" id="miscExpenses" rowKey="#{rowVar.id}" rendered="#{expensedetailsUI.expenseFormType eq ExpenseFormTypeEnum.Miscellaneous and expensedetailsUI.miscellaneousFormList.size() gt 0}">
												<p:columnGroup type="header">
													<p:row>
														<p:column colspan="10" styleClass="headerColour1">
															<f:facet name="header"> All Miscellaneous Expenses Above R200 Will Need To Be Pre-Authorised Before The Claim Form Is Made. Please Remember To Attach The Authorisation To This Claim Form</f:facet>
														</p:column>
													</p:row>
													<p:row>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Date</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Authorised By</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Explanation Of Expenses</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Amount</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Rate (GBP/ZAR)</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Bank Name</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Account Holder Name</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Account Number</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Sort-Code:</f:facet>
														</p:column>
														<p:column colspan="1" rowspan="2" styleClass="headerColour2">
															<f:facet name="header">View/ Edit</f:facet>
														</p:column>
													</p:row>
												</p:columnGroup>
												<p:column>
													<h:outputLabel value="#{rowVar.miscellaneousExpensedate}">
														<f:convertDateTime pattern="yyyy-MM-DD" />
													</h:outputLabel>
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.authorisedBy}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.explanationOfExpenses}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.amount}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.rate}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.bank_name}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.accountHolderName}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.accountNumber}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.sortCode}" />
												</p:column>
												<p:column>
													<p:commandButton icon="fa fa-database" id="updateInfoMisc" styleClass="#{rv1.originalFname eq null ? 'blue-btn' : ''} flat" title="Update" process="@this" update="form" rendered="true" action="#{expensedetailsUI.populateExpenseDocs}">
														<f:setPropertyActionListener value="#{rowVar}" target="#{expensedetailsUI.expenseForm}" />
													</p:commandButton>
													<p:commandButton icon="fa fa-trash" onclick="PF('confirmation').show()" id="deleteInfoMisc" title="Delete" styleClass="#{rv1.originalFname eq null ? 'blue-btn' : ''} flat" immediate="true" update="miscExpenses" >
														<f:setPropertyActionListener value="#{rowVar}" target="#{expensedetailsUI.expenseForm}" />
													</p:commandButton>
												</p:column>
											</p:dataTable>
										</h:panelGrid>
									</p:outputPanel>
								</p:tab>


								<p:tab title="Travel Expenses">
									<p:outputPanel id="travelPnl">
										<br />
										<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
											<h:panelGroup>
												<p:outputLabel value="Company Name: " style="color: grey" />
												<p:outputLabel value="#{expensedetailsUI.company.companyName}" />
											</h:panelGroup>
											<h:panelGroup>
												<p:outputLabel value="Project Name: " style="color: grey" />
												<p:outputLabel value="#{expensedetailsUI.company.projects.description}" />
											</h:panelGroup>
										</p:panelGrid>
										<br />
										<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
											<h:panelGroup styleClass="md-inputfield">
												<p:calendar id="timeLeft" value="#{expensedetailsUI.expenseForm.timeLeft}" pattern="yyyy/MM/dd HH:mm" inputStyle="width:calc(95%)" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}" />
												<p:outputLabel for="timeLeft" value="Time Left" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:calendar id="timeArrived" value="#{expensedetailsUI.expenseForm.timeArrived}" pattern="MM/dd/yyyy HH:mm" inputStyle="width:calc(95%)" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}" />
												<p:outputLabel for="timeArrived" value="Time Arrived" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="travelFrom" value="#{expensedetailsUI.expenseForm.travellingFrom}" style="width:95%" required="false" requiredMessage="Provide Travelling From Destination" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}" />
												<p:outputLabel value="Travelling From" for="travelFrom" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="travelTo" value="#{expensedetailsUI.expenseForm.travellingTo}" style="width:95%" required="false" requiredMessage="Provide Travelling To Destination" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}" />
												<p:outputLabel value="Travelling To" for="travelTo" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputText id="currency" value="#{expensedetailsUI.expenseForm.currency}" maxlength="30" style="width:95%" required="false" requiredMessage="Provide Currency" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}" />
												<p:outputLabel value="Currency" for="currency" />
												<div class="EmptyBox10" />
											</h:panelGroup>
											<h:panelGroup styleClass="md-inputfield">
												<p:inputNumber id="charged" value="#{expensedetailsUI.expenseForm.amountCharged}" maxlength="30" inputStyle="width:95%" required="false" requiredMessage="Provide Amount Charged" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}" />
												<p:outputLabel value="Amount Charged" for="charged" />
											</h:panelGroup>
											<h:panelGroup>
												<p:outputLabel value="Car Type" for="carType" styleClass="FontLight gray" />
												<br />
												<p:selectOneMenu value="#{expensedetailsUI.expenseForm.carType}" id="carType" style="width:95%" required="false" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}">
													<f:selectItem itemLabel="Select One" styleClass="FontLight gray" noSelectionOption="true" />
													<f:selectItems value="#{enumUI.carTypeDD}" var="il" />
												</p:selectOneMenu>
											</h:panelGroup>
											<h:panelGroup>
												<p:outputLabel value="Engine Size" for="engSize" styleClass="FontLight gray" />
												<br />
												<p:selectOneMenu value="#{expensedetailsUI.expenseForm.engineType}" id="engSize" style="width:95%" required="false" converter="EngineTypeConvertor" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}">
													<p:ajax></p:ajax>
													<f:selectItem itemLabel="Select One" noSelectionOption="true" />
													<f:selectItems value="#{expensedetailsUI.engineTypeList}" var="il" itemLabel="#{il.description}" itemValue="#{il}" />
												</p:selectOneMenu>
											</h:panelGroup>
										</p:panelGrid>
										<p:panelGrid columns="1" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank" rendered="#{expensedetailsUI.expenseFormType eq ExpenseFormTypeEnum.Travel}">
											<p:fieldset legend="#{sessionUI.user.firstName} #{sessionUI.user.lastName}">
												<br />
												<p:panelGrid styleClass="ui-panelgrid-blank" columns="2">
													<p:selectBooleanCheckbox value="#{expensedetailsUI.expenseForm.consent}">
														<p:ajax oncomplete="PF('consentDlg').hide()" />
													</p:selectBooleanCheckbox>
													<div>
														I <span style="font-weight: bold;">#{sessionUI.user.firstName} #{sessionUI.user.lastName}</span> hereby give consent that the recorded information is true
													</div>
												</p:panelGrid>
												<br />
											</p:fieldset>
											<p:commandButton value="Submit" update="travelPnl consentForm" action="#{expensedetailsUI.expenseFormInsert}" style="margin-right:20px;" styleClass="ui-priority-primary" />
										</p:panelGrid>


										<br />
										<br />
										<h:panelGrid columns="2" cellpadding="10">
											<p:dataTable var="rowVar" value="#{expensedetailsUI.travelExpenseList}" id="travelExpenses" rowKey="#{rowVar.id}" rendered="#{expensedetailsUI.expenseFormType eq ExpenseFormTypeEnum.Travel and expensedetailsUI.travelExpenseList.size() gt 0}">
												<p:columnGroup type="header">
													<p:row>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Time Left</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Time Arrived</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Travelling From</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Travelling To</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Currency</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Charge</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Car Type</f:facet>
														</p:column>
														<p:column styleClass="headerColour2">
															<f:facet name="header">Engine Size</f:facet>
														</p:column>
														<p:column colspan="1" styleClass="headerColour2">
															<f:facet name="header">View/ Edit</f:facet>
														</p:column>
													</p:row>
												</p:columnGroup>
												<p:column>
													<h:outputLabel value="#{rowVar.timeLeft}">
														<f:convertDateTime pattern="yyyy/MM/dd (HH:mm)" />
													</h:outputLabel>
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.timeArrived}">
														<f:convertDateTime pattern="yyyy/MM/dd (HH:mm)" />
													</h:outputLabel>
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.travellingFrom}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.travellingTo}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.currency}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.amountCharged}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.carType.friendlyName}" />
												</p:column>
												<p:column>
													<h:outputLabel value="#{rowVar.engineType.description}" />
												</p:column>
												<p:column>
													<p:commandButton icon="fa fa-database" title="Update" id="updateInfoTravel" styleClass="#{rv1.originalFname eq null ? 'blue-btn' : ''} flat" process="@this" update="form" rendered="true" action="#{expensedetailsUI.populateExpenseDocs}">
														<f:setPropertyActionListener value="#{rowVar}" target="#{expensedetailsUI.expenseForm}" />
													</p:commandButton>
													<p:commandButton icon="fa fa-trash" onclick="PF('confirmation').show()" id="deleteInfoTravel" styleClass="#{rv1.originalFname eq null ? 'blue-btn' : ''} flat" process="@this" update="travelExpenses" immediate="true" >
														<f:setPropertyActionListener value="#{rowVar}" target="#{expensedetailsUI.expenseForm}" />
													</p:commandButton>
												</p:column>
											</p:dataTable>
										</h:panelGrid>
									</p:outputPanel>
								</p:tab>
							</p:tabView>
						</c:if>
						<div class="EmptyBox10" />
					</h:form>
				</div>
			</div>
		</div>
		<p:dialog header="Guidelines" widgetVar="guidelineDlg" modal="true" height="70vh" width="60vw" responsive="true">
			<h:form id="guidelines">
				<!-- #{sowUI.sow.projects} -->


				<p:fieldset legend="Guidelines to Complete Forms">
					<span style="font-weight: bold;">All receipts are to be attached to the claim, NO Credit Card Voucher receipts are acceptable we need a detailed receipts. Separate forms are to be completed for the following: Each Month and Currencies. If you are working on more than 1 project, a separate form can be completed for each project.</span>
					<ol>
						<li><span style="font-weight: bold;">Employee Name:</span> You must enter your name here</li>
						<br />
						<li><span style="font-weight: bold;">Month and Currency:</span> Enter the month you are claiming for. You need to fill in a separate claim form for each month and for different currencies. All foreign expense claims should be completed in the foreign currency and the exchange rate should be changed from 1.00 ( which is for sterling ) to the appropriate rate to convert your claim to sterling. This rate should be from the Finance department or your own rate with the statement or receipt to show the rate used.</li>
						<br />
						<li><span style="font-weight: bold;">Travelled to/ from:</span> This is to be completed if you are claiming for travel expenses. Please use the comments section if you have done more than one route in a day. Travelled from and to should not be details such as "home - client", we need the location. (e.g. From -Manchester, to -Uxbridge).</li>
						<br />
						<li><span style="font-weight: bold;">Customer and PRJ Code: </span> This will be the client / customer you are working for, followed by the project code used on your timesheet. If you are not working on a project (visiting clients / customers, presales, meetings, courses, training, etc.) you just need to put the client / customer name in.</li>
						<br />
						<li><span style="font-weight: bold;">Hotel/ B&amp;B</span> This should only be the bed and breakfast cost. Each day will need to analyzed separately. Please check with Admin Department for the allowable hotel rate for the area you need to stay in.</li>
						<br />
						<li><span style="font-weight: bold;">Per Diem:</span> You are entitled to claim per diem if you stay overnight in a hotel or company flat. This is to cover all incidental costs that you incur (tea, coffee, dinner, est.). If you are entertaining a client or customer or you are being entertained yourself then you are not entitled to claim per diem. Flats can claim £5 and hotels £15</li>
						<br />
						<li><span style="font-weight: bold;">Meals:</span> This is a meal for yourself only, the receipt must be attached.</li>
						<br />
						<li><span style="font-weight: bold;">Automobile- Car Type:</span> You must select the car type e.g D = diesel and P = petrol &gt; and &lt; = under or over 2000CC (Engine size).</li>
						<br />
						<li><span style="font-weight: bold;">Miles/ km's travelled:</span> Please enter the number of miles/km's you have done in a day.</li>
						<br />
						<li><span style="font-weight: bold;">Taxi's, Trains, Toll:</span> Check the company policy on this - the cheapest route should be taken and all receipts must be attached. Some train tickets are taken up by automatic exit machines - Remember to obtain a receipt on purchase.</li>
						<br />
						<li><span style="font-weight: bold;">Flights:</span> These should be booked through Admin Department. If you need to purchase a ticket in a emergency please get authorization from either the Project Manager or the Admin Department. Please provide us with the person's) name who has approved the flight in the "Comment" section.</li>
						<br />
						<li><span style="font-weight: bold;">Telephone, Fax and Postage:</span> You cannot claim for phone line rental on either home or mobile telephones. - only call charges highlighted on itemized bills will be paid. If you have not attached the itemized billing whether you are claiming for all or part of the calls - this expense will not be reimbursed.</li>
						<br />
						<li><span style="font-weight: bold;">Utilities:</span> All receipts or copies of bank statements must be attached every month. You need to check the company handbook on what is claimable.</li>
						<br />
						<li><span style="font-weight: bold;">Comments:</span> Use this section to give us as much information as you can to support your claim. If needed please continue on another sheet.</li>
						<br />
						<li><span style="font-weight: bold;">Exchange Rate:</span> This will always remain 1.00 for UK Sterling claims. Only change if you are claiming foreign currency.</li>
						<br />
						<li><span style="font-weight: bold;">Employees Signature:</span> You must sign here.</li>
						<br />
						<li><span style="font-weight: bold;">Entertainment Expenses:</span> A full detailed receipt is required for each claim.</li>
						<br />


					</ol>
				</p:fieldset>

			</h:form>

		</p:dialog>
		<p:dialog header="Electronic Signature" widgetVar="consentDlg" modal="true" height="23vh" width="30vw" responsive="true">
			<h:form id="consentForm">
				<p:fieldset legend="#{sessionUI.user.firstName} #{sessionUI.user.lastName}">
					<br />
					<p:panelGrid styleClass="ui-panelgrid-blank" columns="2">
						<p:selectBooleanCheckbox value="#{expensedetailsUI.expenseForm.consent}">
							<p:ajax oncomplete="PF('consentDlg').hide()" />
						</p:selectBooleanCheckbox>
						<div>
							I <span style="font-weight: bold;">#{sessionUI.user.firstName} #{sessionUI.user.lastName}</span> hereby give consent that the recorded information is true
						</div>
					</p:panelGrid>
					<br />
				</p:fieldset>
				<p:spacer />
			</h:form>
		</p:dialog>
		<p:dialog header="#{lang['upload.documents']}" widgetVar="dlgUpload" resizable="false" hideEffect="clip" showEffect="clip" id="commonUPLOAD" width="55%" responsive="true" modal="true">
			<h:form id="uploadForm">
				<h:panelGroup id="uploadGroup">
					<div class="ui-g">
						<div class="ui-g-12">
							<h:panelGrid columns="2" style="width: 100%">
								<p:outputLabel value="#{lang['notes']}:" for="note" />
								<p:inputTextarea id="note" value="#{expensedetailsUI.doc.note}" autoResize="false" rows="2" style="width: 90%">
									<p:ajax />
								</p:inputTextarea>
							</h:panelGrid>
							<div class="TexAlCenter">
								<span class="Fleft Fs12 softgray">#{lang['drag.and.drop.your.file.on.the.upload.image.below']}</span> <br />
							</div>
							<c:if test="#{expensedetailsUI.expenseFormType eq ExpenseFormTypeEnum.ExpenseForm}">
								<p:fileUpload onstart="uploadStart()" oncomplete="uploadDone()" fileUploadListener="#{expensedetailsUI.safeFile}" mode="advanced" dragDropSupport="true" showButtons="false" label="#{lang['select.file']}" fileLimitMessage="File too big to upload" update="@form form:tabView:additionalDocsPnl" multiple="false" fileLimit="1" immediate="false" auto="true" />
							</c:if>
							<div class="EmptyBox10" />
						</div>
					</div>
				</h:panelGroup>
			</h:form>
		</p:dialog>

		<p:dialog header="Documents" widgetVar="dlgDoc" resizable="false" hideEffect="clip" showEffect="clip" id="dlgDoc" width="55%" responsive="true" modal="true">
			<h:form id="docDetails">
				<br />
				<!-- Expense Form -->
				<c:if test="#{expensedetailsUI.expenseFormType eq ExpenseFormTypeEnum.ExpenseForm}">
					<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
						<h:panelGroup styleClass="md-inputfield">
							<p:calendar id="date1" value="#{expensedetailsUI.expenseForm.expenseFormdate}" inputStyle="width:calc(95%);opacity: 1;" disabled="true" />
							<p:outputLabel for="date1" value="Date" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="descOfExp" value="#{expensedetailsUI.expenseForm.descOfExpense}" readonly="true" style="width:95%" required="false" requiredMessage="Provide Description of Expense" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}" />
							<p:outputLabel value="Description of Expense" for="descOfExp" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText value="#{expensedetailsUI.expenseForm.dailyRate.value}" id="dailyRateId" readonly="true" style="width:95%" />
							<p:outputLabel value="Daily Rate" for="dailyRateId" styleClass="FontLight gray" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="noOfDays" value="#{expensedetailsUI.expenseForm.dayNumber}" readonly="true" style="width:95%" required="false" requiredMessage="Provide Number of Days" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
								<p:keyFilter mask="num" />
							</p:inputText>
							<p:outputLabel value="Number of Days" for="noOfDays" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputNumber id="km" value="#{expensedetailsUI.expenseForm.kmTravelled}" maxlength="30" readonly="true" inputStyle="width:95%" required="false" requiredMessage="Provide Distance Travlled" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}" />
							<p:outputLabel value="KM's Travelled" for="km" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup id="accomodationPriceGroup" styleClass="md-inputfield">
							<p:inputNumber id="accomodation" value="#{expensedetailsUI.expenseForm.accomodationPrice}" readonly="true" maxlength="30" inputStyle="width:85%" required="false" requiredMessage="Provide Accomodation Details" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
								<p:ajax event="change" update="accomodationPriceGroup" />
							</p:inputNumber>
							<p:outputLabel value="Price of Accomodation" for="accomodation" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield" id="mealsPriceGroup">
							<p:inputNumber id="meals" value="#{expensedetailsUI.expenseForm.meals}" maxlength="30" readonly="true" inputStyle="width:85%" required="false" requiredMessage="Provide Meals" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
								<p:ajax event="change" update="mealsPriceGroup" />
							</p:inputNumber>
							<p:outputLabel value="Price of Meals" for="meals" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield" id="transportPriceGroup">
							<p:inputNumber id="transport" value="#{expensedetailsUI.expenseForm.taxiTrainToll}" readonly="true" maxlength="30" inputStyle="width:85%" required="false" requiredMessage="Provide Transport Expenses" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
								<p:ajax event="change" update="transportPriceGroup" />
							</p:inputNumber>
							<p:outputLabel value="Taxi's, Tolls and Trains Fee" for="transport" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield" id="parkingPriceGroup">
							<p:inputNumber id="parking" value="#{expensedetailsUI.expenseForm.parking}" maxlength="30" readonly="true" inputStyle="width:85%" required="false" requiredMessage="Provide Parking Expenses" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
								<p:ajax event="change" update="parkingPriceGroup" />
							</p:inputNumber>

							<p:outputLabel value="Parking Fees" for="parking" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield" id="flightPriceGroup">
							<p:inputNumber id="flights" value="#{expensedetailsUI.expenseForm.flightPrice}" maxlength="30" readonly="true" inputStyle="width:85%" required="false" requiredMessage="Provide Flight Expenses" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
								<p:ajax event="change" update="flightPriceGroup" />
							</p:inputNumber>
							<p:outputLabel value="Flight Price" for="flights" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield" id="telPriceGroup">
							<p:inputNumber id="tel" value="#{expensedetailsUI.expenseForm.telMobileDialupAmount}" maxlength="30" readonly="true" inputStyle="width:85%" required="false" requiredMessage="Provide Phone Expenses" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
								<p:ajax event="change" update="telPriceGroup" />
							</p:inputNumber>
							<p:outputLabel value="Tel, Mobile, Dial Up Amount" for="tel" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield" id="utilitiesPriceGroup">
							<p:inputNumber id="utilities" value="#{expensedetailsUI.expenseForm.utilitiesAmount}" readonly="true" maxlength="30" inputStyle="width:85%" required="false" requiredMessage="Provide Utilities Amount" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.ExpenseForm}">
								<p:ajax event="change" update="utilitiesPriceGroup" />
							</p:inputNumber>
							<p:outputLabel value="Utilites Amount" for="utilities" />
							<div class="EmptyBox10" />
						</h:panelGroup>
					</p:panelGrid>
				</c:if>

				<!-- Entertainment Expenses -->
				<c:if test="#{expensedetailsUI.expenseFormType eq ExpenseFormTypeEnum.Entertainment}">
					<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
						<h:panelGroup styleClass="md-inputfield">
							<p:calendar id="date2" value="#{expensedetailsUI.expenseForm.entertainmentExpensedate}" readonly="true" inputStyle="width:calc(95%)" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
							<p:outputLabel for="date2" value="Date" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="meetingPlace" value="#{expensedetailsUI.expenseForm.meetingPlace}" style="width:95%" readonly="true" required="false" requiredMessage="Provide Meeting Place" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
							<p:outputLabel value="Meeting Place" for="meetingPlace" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="city" value="#{expensedetailsUI.expenseForm.city}" style="width:95%" required="false" readonly="true" requiredMessage="Provide City" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
							<p:outputLabel value="City" for="city" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="personsEntertained" value="#{expensedetailsUI.expenseForm.personsEntertained}" readonly="true" style="width:95%" required="false" requiredMessage="Provide Persons Entertained" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
							<p:outputLabel value="Persons Entertained" for="personsEntertained" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="name" value="#{expensedetailsUI.expenseForm.name}" maxlength="30" style="width:95%" readonly="true" required="false" requiredMessage="Provide Name" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
							<p:outputLabel value="Name" for="name" />
							<div class="EmptyBox10" />
						</h:panelGroup>

						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="company" value="#{expensedetailsUI.expenseForm.company}" maxlength="30" style="width:95%" readonly="true" required="false" requiredMessage="Provide Company" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
							<p:outputLabel value="Company" for="company" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="businessPurpose" value="#{expensedetailsUI.expenseForm.businessPurpose}" maxlength="30" readonly="true" style="width:95%" required="false" requiredMessage="Provide Business Purpose" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
							<p:outputLabel value="Business Purpose" for="businessPurpose" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputNumber id="total" value="#{expensedetailsUI.expenseForm.total}" maxlength="30" inputStyle="width:95%" readonly="true" required="false" requiredMessage="Provide Total Amount" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}" />
							<p:outputLabel value="Total" for="total" />
						</h:panelGroup>
						<h:panelGroup>
							<p:outputLabel value="Title" for="engSize" styleClass="FontLight gray" />
							<br />
							<p:selectOneMenu value="#{expensedetailsUI.expenseForm.title}" id="title" style="width:95%" required="false" readonly="true" converter="TitleConvertor" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Entertainment}">
								<p:ajax></p:ajax>
								<f:selectItem itemLabel="Select One" noSelectionOption="true" />
								<f:selectItems value="#{expensedetailsUI.titleList}" var="il" itemLabel="#{il.description}" itemValue="#{il}" />
							</p:selectOneMenu>
						</h:panelGroup>
					</p:panelGrid>

				</c:if>

				<!-- Miscellaneous Expenses -->
				<c:if test="#{expensedetailsUI.expenseFormType eq ExpenseFormTypeEnum.Miscellaneous}">
					<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
						<h:panelGroup styleClass="md-inputfield">
							<p:calendar id="date3" value="#{expensedetailsUI.expenseForm.miscellaneousExpensedate}" readonly="true" inputStyle="width:calc(95%)" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
							<p:outputLabel for="date3" value="Date" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="authBy" value="#{expensedetailsUI.expenseForm.authorisedBy}" style="width:95%" readonly="true" required="true" requiredMessage="Provide Person of Authorisation" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
							<p:outputLabel value="Authorised By" for="authBy" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="exp" value="#{expensedetailsUI.expenseForm.explanationOfExpenses}" style="width:95%" readonly="true" required="true" requiredMessage="Provide Explanation of Expense" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
							<p:outputLabel value="Explanation of Expenses" for="exp" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputNumber id="amount" value="#{expensedetailsUI.expenseForm.amount}" inputStyle="width:95%" readonly="true" required="true" requiredMessage="Provide Amount" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
							<p:outputLabel value="Amount" for="amount" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputNumber id="rate" value="#{expensedetailsUI.expenseForm.rate}" maxlength="30" inputStyle="width:95%" readonly="true" required="true" requiredMessage="Provide Rate" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
							<p:outputLabel value="Rate (GBP/ZAR)" for="rate" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="bank" value="#{expensedetailsUI.expenseForm.bank_name}" maxlength="30" style="width:95%" readonly="true" required="true" requiredMessage="Provide Bank Name" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
							<p:outputLabel value="Bank Name" for="bank" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="accHolder" value="#{expensedetailsUI.expenseForm.accountHolderName}" maxlength="30" readonly="true" style="width:95%" required="true" requiredMessage="Provide Account Holder" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
							<p:outputLabel value="Account Holder Name" for="accHolder" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="accNum" value="#{expensedetailsUI.expenseForm.accountNumber}" maxlength="30" style="width:95%" readonly="true" required="true" requiredMessage="Provide Account Number" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}" />
							<p:outputLabel value="Account Number" for="accNum" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="sortCode" value="#{expensedetailsUI.expenseForm.sortCode}" maxlength="30" style="width:95%" readonly="true" required="true" requiredMessage="Provide Sort-Code" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Miscellaneous}">
								<p:keyFilter mask="num" />
							</p:inputText>
							<p:outputLabel value="Sort-Code" for="sortCode" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<p:spacer />
					</p:panelGrid>
				</c:if>

				<!-- Travel Expenses -->
				<c:if test="#{expensedetailsUI.expenseFormType eq ExpenseFormTypeEnum.Travel}">
					<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
						<h:panelGroup styleClass="md-inputfield">
							<p:calendar id="timeLeft" value="#{expensedetailsUI.expenseForm.timeLeft}" pattern="MM/dd/yyyy HH:mm" readonly="true" inputStyle="width:calc(95%)" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}" />
							<p:outputLabel for="timeLeft" value="Time Left" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:calendar id="timeArrived" value="#{expensedetailsUI.expenseForm.timeArrived}" pattern="MM/dd/yyyy HH:mm" readonly="true" inputStyle="width:calc(95%)" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}" />
							<p:outputLabel for="timeArrived" value="Time Arrived" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="travelFrom" value="#{expensedetailsUI.expenseForm.travellingFrom}" style="width:95%" readonly="true" required="false" requiredMessage="Provide Travelling From Destination" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}" />
							<p:outputLabel value="Travelling From" for="travelFrom" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="travelTo" value="#{expensedetailsUI.expenseForm.travellingTo}" style="width:95%" readonly="true" required="false" requiredMessage="Provide Travelling To Destination" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}" />
							<p:outputLabel value="Travelling To" for="travelTo" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="currency" value="#{expensedetailsUI.expenseForm.currency}" maxlength="30" style="width:95%" readonly="true" required="false" requiredMessage="Provide Currency" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}" />
							<p:outputLabel value="Currency" for="currency" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputNumber id="charged" value="#{expensedetailsUI.expenseForm.amountCharged}" maxlength="30" inputStyle="width:95%" readonly="true" required="false" requiredMessage="Provide Amount Charged" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}" />
							<p:outputLabel value="Amount Charged" for="charged" />
						</h:panelGroup>
						<h:panelGroup>
							<p:outputLabel value="Car Type" for="carType" styleClass="FontLight gray" />
							<br />
							<p:selectOneMenu value="#{expensedetailsUI.expenseForm.carType}" id="carType" style="width:95%" required="false" readonly="true" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}">
								<f:selectItem itemLabel="Select One" styleClass="FontLight gray" noSelectionOption="true" />
								<f:selectItems value="#{enumUI.carTypeDD}" var="il" />
							</p:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup>
							<p:outputLabel value="Engine Size" for="engSize" styleClass="FontLight gray" />
							<br />
							<p:selectOneMenu value="#{expensedetailsUI.expenseForm.engineType}" id="engSize" style="width:95%" required="false" readonly="true" converter="EngineTypeConvertor" disabled="#{expensedetailsUI.expenseFormType ne ExpenseFormTypeEnum.Travel}">
								<p:ajax></p:ajax>
								<f:selectItem itemLabel="Select One" noSelectionOption="true" />
								<f:selectItems value="#{expensedetailsUI.engineTypeList}" var="il" itemLabel="#{il.description}" itemValue="#{il}" />
							</p:selectOneMenu>
						</h:panelGroup>
					</p:panelGrid>
				</c:if>

				<c:if test="#{expensedetailsUI.expenseFormType eq ExpenseFormTypeEnum.ExpenseForm}">
					<p:dataTable value="#{expensedetailsUI.expenseForm.docList}" var="rv1" rowKey="#{rv1.id}" emptyMessage="No records found" reflow="true" id="docTable">
						<f:facet name="header">Documents</f:facet>
						<p:column headerText="#{lang['uploaded.by']}" width="15%">#{rv1.user.firstName} #{rv1.user.lastName}</p:column>
						<p:column headerText="Uploaded" width="15%">
							<p:outputLabel style="font-weight: bold;" value="Awaiting Submission" rendered="#{rv1.originalFname eq null}" />
							<p:outputLabel style="font-weight: bold;" value="Document Submitted" rendered="#{rv1.originalFname ne null and rv1.createDate eq null}" />
							<h:outputText value="#{rv1.createDate}" rendered="#{rvrc.createDate ne null}">
								<f:convertDateTime pattern="yyyy/MM/dd(HH:mm)" />
							</h:outputText>
						</p:column>

						<p:column headerText="File Name" width="15%">
							<h:outputText value="#{rv1.originalFname}">
							</h:outputText>
						</p:column>
						<p:column headerText="Version" width="15%">
							<h:outputText value="#{rv1.versionNo}">
							</h:outputText>
						</p:column>
						<p:column width="180" headerText="View/Edit">
							<p:commandButton immediate="true" ajax="false" icon="fa fa-download " action="#{uploadDocUI.download}" id="dlbUserDocs" rendered="#{rv1.id ne null}">
								<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
							</p:commandButton>
							<p:tooltip for="dlbUserDocs" value="#{lang['download.the.file']}" position="left" rendered="#{rv1.id ne null}" />
							<p:spacer width="5" rendered="#{rv1.id ne null}" />
							<p:commandButton immediate="true" icon="fa fa-bars " id="dhistUserDocs" action="#{uploadDocUI.showHistory}" oncomplete="PF('histDialog').show()" update=":documenttrackeForm:documenttrackeList" rendered="#{rv1.id ne null}">
								<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
							</p:commandButton>
							<p:tooltip for="dhistUserDocs" value="#{lang['document.tracker']}" position="left" rendered="#{rv1.id ne null}" />
							<h:panelGroup id="panelGroupThreeUserDocs" rendered="#{rv1.note ne null and rv1.note.length() gt 0}">
								<p:spacer width="5" />
								<p:commandButton immediate="true" icon="fa fa-comment-o " id="dnoteUserDocs" oncomplete="PF('noteDialog').show()" update=":noteForm:notePanel">
									<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
								</p:commandButton>
								<p:tooltip for="dnoteUserDocs" value="#{lang['view.note']}" position="left" />
							</h:panelGroup>
							<h:panelGroup id="panelGroupFourUserDocs" rendered="#{rv1.extension.toLowerCase() eq 'pdf' or rv1.extension.toLowerCase() eq 'png' or rv1.extension.toLowerCase() eq 'jpg' or rv1.extension.toLowerCase() eq 'jpeg' or rv1.extension.toLowerCase() eq 'gif'}">
								<p:spacer width="5" />
								<p:commandButton immediate="true" icon="fa fa-eye " id="viewerButtonUserDocs" oncomplete="PF('viewDialog').show()" update=":viewForm:viewer" action="#{uploadDocUI.buildStreamContent}">
									<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
								</p:commandButton>
								<p:tooltip for="viewerButtonUserDocs" value="#{lang['view.document']} " position="left" />
							</h:panelGroup>
						</p:column>
					</p:dataTable>
				</c:if>
			</h:form>
		</p:dialog>


		<p:confirmDialog message="Are you sure?" width="500" appendTo="@(body)" showEffect="clip" hideEffect="clip" header="Confirm" severity="alert" widgetVar="confirmation">
			<h:form>
				<p:commandButton value="Yes" update="form" actionListener="#{expensedetailsUI.expenseformDelete}" oncomplete="PF('confirmation').hide()" />
				<p:commandButton value="No" onclick="PF('confirmation').hide()" type="button" />
			</h:form>
		</p:confirmDialog>

		<ui:include src="/pages/upload/commonuploadDialogs.xhtml" />
		<script>
function uploadStart() {
	//alert("Upload Started");
	//console.log("Upload Started");
	PF('dlgWait').show();
}

function uploadDone() {
	//alert("Upload Done");
	//console.log("Upload Done");
	PF('dlgWait').hide();
}
</script>

	</ui:define>
</ui:composition>
