<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">



	<ui:define name="content">

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">

					<h:form id="mainform">


						<p:dataTable var="rowVar" value="#{expenseformUI.companyDataModel}" id="companyList" rows="10" lazy="true" reflow="true" paginator="true" paginatorPosition="bottom" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,15,20,35">
							<p:ajax event="rowToggle" listener="#{expenseformUI.toggleCompany(rowVar)}" update="companyList" />
							<p:column style="width:16px">
								<p:rowToggler />
							</p:column>
							<p:column headerText="Company Name">
								<h:outputText value="#{rowVar.companyName}" />
							</p:column>
							<p:rowExpansion>
								<p:dataTable var="rowVar2" value="#{expenseformUI.projectsList}" id="projectList" rows="10" lazy="true" reflow="true" style="border: 1px solid black;" selectionMode="single" selection="#{expenseformUI.projects}" rowKey="#{rowVar2.id}" >
									<p:ajax event="rowSelect" listener="#{expenseformUI.setParameters}"/>
									<f:facet name="header">
										Projects For #{expenseformUI.company.companyName}
									</f:facet>

									<p:column headerText="Project Name">
										<h:outputText value="#{rowVar2.description}" />
									</p:column>
								</p:dataTable>
							</p:rowExpansion>

						</p:dataTable>

					</h:form>

				</div>
			</div>
		</div>


	</ui:define>

</ui:composition>
