<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">



	<ui:define name="content">

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">

					<h:form id="guidelines">
						<!-- #{sowUI.sow.projects} -->


						<p:fieldset legend="Guidelines to Complete Expense Form" style="">
							<span style="font-weight: bold;">All receipts are to be attached to the claim, NO Credit Card Voucher receipts are acceptable we need a detailed receipts. Separate forms are to be completed for the following: Each Month and Currencies. If you are working on more than 1 project, a separate form can be completed for each project.</span>
							<ol>
								<li><span style="font-weight: bold;">Employee Name:</span> You must enter your name here</li>
								<br />
								<li><span style="font-weight: bold;">Month and Currency:</span> Enter the month you are claiming for. You need to fill in a separate claim form for each month and for different currencies. All foreign expense claims should be completed in the foreign currency and the exchange rate should be changed from 1.00 ( which is for sterling ) to the appropriate rate to convert your claim to sterling. This rate should be from the Finance department or your own rate with the statement or receipt to show the rate used.</li>
								<br />
								<li><span style="font-weight: bold;">Travelled to/ from:</span> This is to be completed if you are claiming for travel expenses. Please use the comments section if you have done more than one route in a day. Travelled from and to should not be details such as "home - client", we need the location. (e.g. From -Manchester, to -Uxbridge).</li>
								<br />
								<li><span style="font-weight: bold;">Customer and PRJ Code: </span> This will be the client / customer you are working for, followed by the project code used on your timesheet. If you are not working on a project (visiting clients / customers, presales, meetings, courses, training, etc.) you just need to put the client / customer name in.</li>
								<br />
								<li><span style="font-weight: bold;">Hotel/ B&amp;B</span> This should only be the bed and breakfast cost. Each day will need to analyzed separately. Please check with Admin Department for the allowable hotel rate for the area you need to stay in.</li>
								<br />
								<li><span style="font-weight: bold;">Per Diem:</span> You are entitled to claim per diem if you stay overnight in a hotel or company flat. This is to cover all incidental costs that you incur (tea, coffee, dinner, est.). If you are entertaining a client or customer or you are being entertained yourself then you are not entitled to claim per diem. Flats can claim £5 and hotels £15</li>
								<br />
								<li><span style="font-weight: bold;">Meals:</span> This is a meal for yourself only, the receipt must be attached.</li>
								<br />
								<li><span style="font-weight: bold;">Automobile- Car Type:</span> You must select the car type e.g D = diesel and P = petrol &gt; and &lt; = under or over 2000CC (Engine size).</li>
								<br />
								<li><span style="font-weight: bold;">Miles/ km's travelled:</span> Please enter the number of miles/km's you have done in a day.</li>
								<br />
								<li><span style="font-weight: bold;">Taxi's, Trains, Toll:</span> Check the company policy on this - the cheapest route should be taken and all receipts must be attached. Some train tickets are taken up by automatic exit machines - Remember to obtain a receipt on purchase.</li>
								<br />
								<li><span style="font-weight: bold;">Flights:</span> These should be booked through Admin Department. If you need to purchase a ticket in a emergency please get authorization from either the Project Manager or the Admin Department. Please provide us with the person's) name who has approved the flight in the "Comment" section.</li>
								<br />
								<li><span style="font-weight: bold;">Telephone, Fax and Postage:</span> You cannot claim for phone line rental on either home or mobile telephones. - only call charges highlighted on itemized bills will be paid. If you have not attached the itemized billing whether you are claiming for all or part of the calls - this expense will not be reimbursed.</li>
								<br />
								<li><span style="font-weight: bold;">Utilities:</span> All receipts or copies of bank statements must be attached every month. You need to check the company handbook on what is claimable.</li>
								<br />
								<li><span style="font-weight: bold;">Comments:</span> Use this section to give us as much information as you can to support your claim. If needed please continue on another sheet.</li>
								<br />
								<li><span style="font-weight: bold;">Exchange Rate:</span> This will always remain 1.00 for UK Sterling claims. Only change if you are claiming foreign currency.</li>
								<br />
								<li><span style="font-weight: bold;">Employees Signature:</span> You must sign here.</li>
								<br />
								<li><span style="font-weight: bold;">Entertainment Expenses:</span> A full detailed receipt is required for each claim.</li>
								<br />


							</ol>
						</p:fieldset>

					</h:form>

				</div>
			</div>

		</div>

	</ui:define>

</ui:composition>
