<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<style type="text/css">
</style>


		<div class="ui-g">
			<div class="ui-g-12">
			<div class="head-gradient">Lookup Menu</div>
				<h:form id="lookupform">
					<div class="layout-dashboard">


						<p:repeat var="rv" value="#{lookupMenuUI.menus}">
							<div class="ui-g-12 ui-md-4 ui-lg-4">
								<a href="#{request.contextPath}/admin/lookup/#{rv.link}">
									<div class="overview-box views1">
										<div class="overview-numbers">
											#{rv.heading} <br /> <br />
										</div>

									</div>

								</a>
							</div>
						</p:repeat>
					</div>
				</h:form>


			</div>
		</div>
	</ui:define>

</ui:composition>