<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">



	<ui:define name="content">
		<style type="text/css">
body .ui-datatable thead th.headerColour1 {
	background-color: #1c516e;
	color: #ffffff;
}

body .ui-datatable thead th.headerColour2 {
	background-color: #52b68f;
}
</style>
		<p:importEnum type="haj.com.entity.enums.ExpenseFormTypeEnum" />
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">

					<h:form id="myExpenses">

						<h3 style="margin-top: 0">My Expenses</h3>

						<p:spacer />
						<p:dataTable var="rowVar" value="#{myExpensesUI.expenseFormList}" id="myExpensesTable" rowKey="#{rowVar.id}" rows="10" reflow="true" paginator="true" paginatorPosition="bottom" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,15,20,35">
							<p:column headerText="Expense Type" styleClass="headerColour2">
								<h:outputText value="#{rowVar.expenseFormType}" />
							</p:column>

							<p:column headerText="Create Date" styleClass="headerColour2">
								<h:outputText value="#{rowVar.createDate}">
									<f:convertDateTime pattern="yyyy/MM/dd (HH:mm)" />
								</h:outputText>

							</p:column>

							<p:column headerText="Company Name" styleClass="headerColour2">
								<h:outputText value="#{rowVar.project.company.companyName}" />
							</p:column>

							<p:column headerText="Project Name" styleClass="headerColour2">
								<h:outputText value="#{rowVar.project.description}" />
							</p:column>

							<p:column headerText="Status" styleClass="headerColour2">
								<h:outputText value="#{backing_bean}" />
							</p:column>

							<p:column headerText="Actions" styleClass="headerColour2" exportable="false">

								<p:commandButton icon="fa fa-eye" id="viewUploadedDocsExpense" title="View Uploaded Documents" update=":myExpensesInfo" styleClass="#{rv1.originalFname eq null ? 'blue-btn' : ''} flat" action="#{myExpensesUI.populateExpenseDocs}" oncomplete="PF('myExpensesDlg').show()" immediate="true">
									<f:setPropertyActionListener value="#{rowVar}" target="#{myExpensesUI.expenseForm}" />
								</p:commandButton>

							</p:column>

						</p:dataTable>
					</h:form>
				</div>
			</div>
		</div>
		<p:dialog modal="true" widgetVar="myExpensesDlg" resizable="false" showEffect="clip" width="55%" responsive="true" dynamic="true" position="top" header="Documents">
			<h:form id="myExpensesInfo">
				<br />

				<!-- Expense Form -->
				<c:if test="#{myExpensesUI.expenseForm.expenseFormType eq ExpenseFormTypeEnum.ExpenseForm}">
					<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
						<h:panelGroup styleClass="md-inputfield">
							<p:calendar id="date1" value="#{myExpensesUI.expenseForm.expenseFormdate}" inputStyle="width:calc(95%);opacity: 1;" disabled="true" />
							<p:outputLabel for="date1" value="Date" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="descOfExp" value="#{myExpensesUI.expenseForm.descOfExpense}" readonly="true" style="width:95%; opacity: 1;" required="false" requiredMessage="Provide Description of Expense" disabled="true" />
							<p:outputLabel value="Description of Expense" for="descOfExp" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText value="#{myExpensesUI.expenseForm.dailyRate.value}" id="dailyRateId" readonly="true" style="width:95%; opacity: 1;" />
							<p:outputLabel value="Daily Rate" for="dailyRateId" styleClass="FontLight gray" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="noOfDays" value="#{myExpensesUI.expenseForm.dayNumber}" readonly="true" style="width:95%; opacity: 1;" required="false" requiredMessage="Provide Number of Days" disabled="true">
								<p:keyFilter mask="num" />
							</p:inputText>
							<p:outputLabel value="Number of Days" for="noOfDays" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputNumber id="km" value="#{myExpensesUI.expenseForm.kmTravelled}" maxlength="30" readonly="true" inputStyle="width:95%; opacity: 1;" required="false" requiredMessage="Provide Distance Travlled" disabled="true" />
							<p:outputLabel value="KM's Travelled" for="km" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup id="accomodationPriceGroup" styleClass="md-inputfield">
							<p:inputNumber id="accomodation" value="#{myExpensesUI.expenseForm.accomodationPrice}" readonly="true" maxlength="30" inputStyle="width:85%; opacity: 1;" required="false" requiredMessage="Provide Accomodation Details" disabled="true">
								<p:ajax event="change" update="accomodationPriceGroup" />
							</p:inputNumber>
							<p:outputLabel value="Price of Accomodation" for="accomodation" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield" id="mealsPriceGroup">
							<p:inputNumber id="meals" value="#{myExpensesUI.expenseForm.meals}" maxlength="30" readonly="true" inputStyle="width:85%; opacity: 1;" required="false" requiredMessage="Provide Meals" disabled="true">
								<p:ajax event="change" update="mealsPriceGroup" />
							</p:inputNumber>
							<p:outputLabel value="Price of Meals" for="meals" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield" id="transportPriceGroup">
							<p:inputNumber id="transport" value="#{myExpensesUI.expenseForm.taxiTrainToll}" readonly="true" maxlength="30" inputStyle="width:85%; opacity: 1;" required="false" requiredMessage="Provide Transport Expenses" disabled="true">
								<p:ajax event="change" update="transportPriceGroup" />
							</p:inputNumber>
							<p:outputLabel value="Taxi's, Tolls and Trains Fee" for="transport" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield" id="parkingPriceGroup">
							<p:inputNumber id="parking" value="#{myExpensesUI.expenseForm.parking}" maxlength="30" readonly="true" inputStyle="width:85%; opacity: 1;" required="false" requiredMessage="Provide Parking Expenses" disabled="true">
								<p:ajax event="change" update="parkingPriceGroup" />
							</p:inputNumber>

							<p:outputLabel value="Parking Fees" for="parking" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield" id="flightPriceGroup">
							<p:inputNumber id="flights" value="#{myExpensesUI.expenseForm.flightPrice}" maxlength="30" readonly="true" inputStyle="width:85%; opacity: 1;" required="false" requiredMessage="Provide Flight Expenses" disabled="true">
								<p:ajax event="change" update="flightPriceGroup" />
							</p:inputNumber>
							<p:outputLabel value="Flight Price" for="flights" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield" id="telPriceGroup">
							<p:inputNumber id="tel" value="#{myExpensesUI.expenseForm.telMobileDialupAmount}" maxlength="30" readonly="true" inputStyle="width:85%; opacity: 1;" required="false" requiredMessage="Provide Phone Expenses" disabled="true">
								<p:ajax event="change" update="telPriceGroup" />
							</p:inputNumber>
							<p:outputLabel value="Tel, Mobile, Dial Up Amount" for="tel" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield" id="utilitiesPriceGroup">
							<p:inputNumber id="utilities" value="#{myExpensesUI.expenseForm.utilitiesAmount}" readonly="true" maxlength="30" inputStyle="width:85%; opacity: 1;" required="false" requiredMessage="Provide Utilities Amount" disabled="true">
								<p:ajax event="change" update="utilitiesPriceGroup" />
							</p:inputNumber>
							<p:outputLabel value="Utilites Amount" for="utilities" />
							<div class="EmptyBox10" />
						</h:panelGroup>
					</p:panelGrid>
				</c:if>

				<!-- Entertainment Expenses -->
				<c:if test="#{myExpensesUI.expenseForm.expenseFormType eq ExpenseFormTypeEnum.Entertainment}">
					<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
						<h:panelGroup styleClass="md-inputfield">
							<p:calendar id="date2" value="#{myExpensesUI.expenseForm.entertainmentExpensedate}" readonly="true" inputStyle="width:calc(95%); opacity: 1;" disabled="true" />
							<p:outputLabel for="date2" value="Date" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="meetingPlace" value="#{myExpensesUI.expenseForm.meetingPlace}" style="width:95%; opacity: 1;" readonly="true" required="false" requiredMessage="Provide Meeting Place" disabled="true" />
							<p:outputLabel value="Meeting Place" for="meetingPlace" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="city" value="#{myExpensesUI.expenseForm.city}" style="width:95%; opacity: 1;" required="false" readonly="true" requiredMessage="Provide City" disabled="true" />
							<p:outputLabel value="City" for="city" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="personsEntertained" value="#{myExpensesUI.expenseForm.personsEntertained}" readonly="true" style="width:95%; opacity: 1;" required="false" requiredMessage="Provide Persons Entertained" disabled="true" />
							<p:outputLabel value="Persons Entertained" for="personsEntertained" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="name" value="#{myExpensesUI.expenseForm.name}" maxlength="30" style="width:95%; opacity: 1;" readonly="true" required="false" requiredMessage="Provide Name" disabled="true" />
							<p:outputLabel value="Name" for="name" />
							<div class="EmptyBox10" />
						</h:panelGroup>

						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="company" value="#{myExpensesUI.expenseForm.company}" maxlength="30" style="width:95%; opacity: 1;" readonly="true" required="false" requiredMessage="Provide Company" disabled="true" />
							<p:outputLabel value="Company" for="company" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="businessPurpose" value="#{myExpensesUI.expenseForm.businessPurpose}" maxlength="30" readonly="true" style="width:95%; opacity: 1;" required="false" requiredMessage="Provide Business Purpose" disabled="true" />
							<p:outputLabel value="Business Purpose" for="businessPurpose" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputNumber id="total" value="#{myExpensesUI.expenseForm.total}" maxlength="30" inputStyle="width:95%; opacity: 1;" readonly="true" required="false" requiredMessage="Provide Total Amount" disabled="true" />
							<p:outputLabel value="Total" for="total" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="title" value="#{myExpensesUI.expenseForm.title.description}" maxlength="30" style="width:95%; opacity: 1;" readonly="true" required="false" requiredMessage="Provide Currency" disabled="true" />
							<p:outputLabel value="Title" for="title" styleClass="FontLight gray" />
						</h:panelGroup>
					</p:panelGrid>

				</c:if>

				<!-- Miscellaneous Expenses -->
				<c:if test="#{myExpensesUI.expenseForm.expenseFormType eq ExpenseFormTypeEnum.Miscellaneous}">
					<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
						<h:panelGroup styleClass="md-inputfield">
							<p:calendar id="date3" value="#{myExpensesUI.expenseForm.miscellaneousExpensedate}" readonly="true" inputStyle="width:calc(95%); opacity: 1;" disabled="true" />
							<p:outputLabel for="date3" value="Date" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="authBy" value="#{myExpensesUI.expenseForm.authorisedBy}" style="width:95%; opacity: 1;" readonly="true" required="true" requiredMessage="Provide Person of Authorisation" disabled="true" />
							<p:outputLabel value="Authorised By" for="authBy" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="exp" value="#{myExpensesUI.expenseForm.explanationOfExpenses}" style="width:95%; opacity: 1;" readonly="true" required="true" requiredMessage="Provide Explanation of Expense" disabled="true" />
							<p:outputLabel value="Explanation of Expenses" for="exp" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputNumber id="amount" value="#{myExpensesUI.expenseForm.amount}" inputStyle="width:95%; opacity: 1;" readonly="true" required="true" requiredMessage="Provide Amount" disabled="true" />
							<p:outputLabel value="Amount" for="amount" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputNumber id="rate" value="#{myExpensesUI.expenseForm.rate}" maxlength="30" inputStyle="width:95%; opacity: 1;" readonly="true" required="true" requiredMessage="Provide Rate" disabled="true" />
							<p:outputLabel value="Rate (GBP/ZAR)" for="rate" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="bank" value="#{myExpensesUI.expenseForm.bank_name}" maxlength="30" style="width:95%; opacity: 1;" readonly="true" required="true" requiredMessage="Provide Bank Name" disabled="true" />
							<p:outputLabel value="Bank Name" for="bank" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="accHolder" value="#{myExpensesUI.expenseForm.accountHolderName}" maxlength="30" readonly="true" style="width:95%; opacity: 1;" required="true" requiredMessage="Provide Account Holder" disabled="true" />
							<p:outputLabel value="Account Holder Name" for="accHolder" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="accNum" value="#{myExpensesUI.expenseForm.accountNumber}" maxlength="30" style="width:95%; opacity: 1;" readonly="true" required="true" requiredMessage="Provide Account Number" disabled="true" />
							<p:outputLabel value="Account Number" for="accNum" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="sortCode" value="#{myExpensesUI.expenseForm.sortCode}" maxlength="30" style="width:95%; opacity: 1;" readonly="true" required="true" requiredMessage="Provide Sort-Code" disabled="true">
								<p:keyFilter mask="num" />
							</p:inputText>
							<p:outputLabel value="Sort-Code" for="sortCode" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<p:spacer />
					</p:panelGrid>
				</c:if>

				<!-- Travel Expenses -->
				<c:if test="#{myExpensesUI.expenseForm.expenseFormType eq ExpenseFormTypeEnum.Travel}">
					<p:panelGrid columns="2" style="width :100%" layout="grid" styleClass="ui-panelgrid-blank">
						<h:panelGroup styleClass="md-inputfield">
							<p:calendar id="timeLeft" value="#{myExpensesUI.expenseForm.timeLeft}" pattern="yyyy/MM/dd HH:mm" readonly="true" inputStyle="width:calc(95%); opacity: 1;" disabled="true" />
							<p:outputLabel for="timeLeft" value="Time Left" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:calendar id="timeArrived" value="#{myExpensesUI.expenseForm.timeArrived}" pattern="yyyy/MM/dd HH:mm" readonly="true" inputStyle="width:calc(95%); opacity: 1;" disabled="true" />
							<p:outputLabel for="timeArrived" value="Time Arrived" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="travelFrom" value="#{myExpensesUI.expenseForm.travellingFrom}" style="width:95%; opacity: 1;" readonly="true" required="false" requiredMessage="Provide Travelling From Destination" disabled="true" />
							<p:outputLabel value="Travelling From" for="travelFrom" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="travelTo" value="#{myExpensesUI.expenseForm.travellingTo}" style="width:95%; opacity: 1;" readonly="true" required="false" requiredMessage="Provide Travelling To Destination" disabled="true" />
							<p:outputLabel value="Travelling To" for="travelTo" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="currency" value="#{myExpensesUI.expenseForm.currency}" maxlength="30" style="width:95%; opacity: 1;" readonly="true" required="false" requiredMessage="Provide Currency" disabled="true"/>
							<p:outputLabel value="Currency" for="currency" />
							<div class="EmptyBox10" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputNumber id="charged" value="#{myExpensesUI.expenseForm.amountCharged}" maxlength="30" inputStyle="width:95%; opacity: 1;" readonly="true" required="false" requiredMessage="Provide Amount Charged" disabled="true" />
							<p:outputLabel value="Amount Charged" for="charged" />
						</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="carType" value="#{expenseOverviewUI.expenseForm.carType}" maxlength="30" style="width:95%; opacity: 1;" readonly="true" disabled="true" />
							<p:outputLabel value="Car Type" for="carType" styleClass="FontLight gray" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="engSize" value="#{myExpensesUI.expenseForm.engineType.description}" maxlength="30" style="width:95%; opacity: 1;" readonly="true" disabled="true" />
							<p:outputLabel value="Engine Size" for="engSize" styleClass="FontLight gray" />
						</h:panelGroup>
					</p:panelGrid>
				</c:if>

				<c:if test="#{myExpensesUI.expenseForm.expenseFormType eq ExpenseFormTypeEnum.ExpenseForm}">
					<p:dataTable value="#{myExpensesUI.expenseForm.docList}" var="rv1" rowKey="#{rv1.id}" emptyMessage="No records found" reflow="true" id="docTable">
						<f:facet name="header">Documents</f:facet>
						<p:column headerText="#{lang['uploaded.by']}" width="15%">#{rv1.user.firstName} #{rv1.user.lastName}</p:column>
						<p:column headerText="Uploaded" width="15%">
							<p:outputLabel style="font-weight: bold;" value="Awaiting Submission" rendered="#{rv1.originalFname eq null}" />
							<p:outputLabel style="font-weight: bold;" value="Document Submitted" rendered="#{rv1.originalFname ne null and rv1.createDate eq null}" />
							<h:outputText value="#{rv1.createDate}" rendered="#{rvrc.createDate ne null}">
								<f:convertDateTime pattern="yyyy/MM/dd (HH:mm)" />
							</h:outputText>
						</p:column>

						<p:column headerText="File Name" width="15%">
							<h:outputText value="#{rv1.originalFname}">
							</h:outputText>
						</p:column>
						<p:column headerText="Version" width="15%">
							<h:outputText value="#{rv1.versionNo}">
							</h:outputText>
						</p:column>
						<p:column width="180" headerText="View/Edit">
							<p:commandButton immediate="true" ajax="false" icon="fa fa-download " action="#{uploadDocUI.download}" id="dlbUserDocs" rendered="#{rv1.id ne null}">
								<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
							</p:commandButton>
							<p:tooltip for="dlbUserDocs" value="#{lang['download.the.file']}" position="left" rendered="#{rv1.id ne null}" />
							<p:spacer width="5" rendered="#{rv1.id ne null}" />
							<p:commandButton immediate="true" icon="fa fa-bars " id="dhistUserDocs" action="#{uploadDocUI.showHistory}" oncomplete="PF('histDialog').show()" update=":documenttrackeForm:documenttrackeList" rendered="#{rv1.id ne null}">
								<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
							</p:commandButton>
							<p:tooltip for="dhistUserDocs" value="#{lang['document.tracker']}" position="left" rendered="#{rv1.id ne null}" />
							<h:panelGroup id="panelGroupThreeUserDocs" rendered="#{rv1.note ne null and rv1.note.length() gt 0}">
								<p:spacer width="5" />
								<p:commandButton immediate="true" icon="fa fa-comment-o " id="dnoteUserDocs" oncomplete="PF('noteDialog').show()" update=":noteForm:notePanel">
									<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
								</p:commandButton>
								<p:tooltip for="dnoteUserDocs" value="#{lang['view.note']}" position="left" />
							</h:panelGroup>
							<h:panelGroup id="panelGroupFourUserDocs" rendered="#{rv1.extension.toLowerCase() eq 'pdf' or rv1.extension.toLowerCase() eq 'png' or rv1.extension.toLowerCase() eq 'jpg' or rv1.extension.toLowerCase() eq 'jpeg' or rv1.extension.toLowerCase() eq 'gif'}">
								<p:spacer width="5" />
								<p:commandButton immediate="true" icon="fa fa-eye " id="viewerButtonUserDocs" oncomplete="PF('viewDialog').show()" update=":viewForm:viewer" action="#{uploadDocUI.buildStreamContent}">
									<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
								</p:commandButton>
								<p:tooltip for="viewerButtonUserDocs" value="#{lang['view.document']} " position="left" />
							</h:panelGroup>
						</p:column>
					</p:dataTable>
				</c:if>
			</h:form>
		</p:dialog>
		<ui:include src="/pages/upload/commonuploadDialogs.xhtml" />

	</ui:define>

</ui:composition>
