<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="subheader">
       Project List
    </ui:define>

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h1 class="FontBold">#{lang['projects']}</h1>
					<div class="EmptyBox10" />
					<p:growl autoUpdate="true" sticky="false" />
					<h:form id="mainForm">
						<p:commandButton icon="fa fa-plus Fs16 white" oncomplete="PF('dlg').show()" value="#{lang['insert.new.project']}" actionListener="#{projectsUI.prepareNewProjects}" update=":projectsInsForm:projectsInsGrid" />
						<div class="EmptyBox10" />

						<h:panelGrid columns="1">
							<p:dataTable var="rowVar" value="#{projectsUI.projectsList}" filteredValue="#{projectsUI.projectsfilteredList}" id="projectsList" rowKey="#{rowVar.id}" paginator="true" rows="10" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">
								<p:column headerText="#{lang['code']}" sortBy="#{rowVar.code}" width="10%" filterBy="#{rowVar.code}" filterMatchMode="contains">
									<h:outputText value="#{rowVar.code}" styleClass="breakWord" />
								</p:column>
								<p:column headerText="#{lang['description']}" sortBy="#{rowVar.description}" width="54%" filterBy="#{rowVar.description}">
									<h:outputText value="#{rowVar.description}" styleClass="breakWord" />
								</p:column>
								<p:column headerText="#{lang['client']}" sortBy="#{rowVar.company.companyName}" width="10%" filterBy="#{rowVar.company.companyName}">
									<h:outputText value="#{rowVar.company.companyName}" styleClass="breakWord" />
								</p:column>
								<p:column headerText="#{lang['active']}" width="10%" sortBy="#{rowVar.active}">
									<p:selectBooleanCheckbox value="#{rowVar.active}" disabled="true" />
								</p:column>
								<p:column headerText="#{lang['overhead']}" width="10%" sortBy="#{rowVar.overhead}">
									<p:selectBooleanCheckbox value="#{rowVar.overhead}" disabled="true" />
								</p:column>
								<p:column width="6%">
									<p:commandButton id="updateBtn" oncomplete="PF('dlgUpd').show()" icon="fa fa-database" update=":projectsUpdForm:projectsUpdGrid" action="#{projectsUI.prepUpdateProject}">
										<f:setPropertyActionListener value="#{rowVar}" target="#{projectsUI.projects}" />
									</p:commandButton>
									<p:spacer width="5" />
									<p:commandButton id="viewUserProjectBtn" icon="fa fa-list" update="mainForm" action="#{projectsUI.showProjectUsers}">
										<f:setPropertyActionListener value="#{rowVar}" target="#{projectsUI.projects}" />
									</p:commandButton>

									<p:tooltip for="updateBtn" value=" #{lang['update.project.information']} " position="" />
									<p:tooltip for="viewUserProjectBtn" value=" #{lang['view.user.assigned']} " position="" />
								</p:column>
							</p:dataTable>
						</h:panelGrid>

						<div class="ui-g">
							<div class="ui-g-12">
								<c:if test="#{projectsUI.viewProjects}">
									<div class="EmptyBox10" />
									<h3 class="FontBold">#{lang['user.assigned.to.project.heading']} #{projectsUI.projects.code} (#{projectsUI.projectStatus})</h3>
									<div class="EmptyBox5" />
									<p:commandButton id="assignUserbtn" value="#{lang['assign.users.btn']}" icon="fa fa-user-circle-o" action="#{projectsUI.prepNewUserProject}" update=":addUsersForm:addUsersGrid" />
									<p:tooltip for="assignUserbtn" value=" #{lang['user.assigned.to.project.tooltip']} " position="" />
									<div class="EmptyBox10" />
									<p:dataTable var="rv" value="#{projectsUI.userProjectsList}" filteredValue="#{projectsUI.userProjectsFilteredList}" id="userProjectsList" rowKey="#{rv.id}" paginator="true" rows="10" paginatorPosition="bottom"
										paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">
										<p:column headerText="#{lang['first.name.label']}" sortBy="#{rv.user.firstName}" width="20%" filterBy="#{rv.user.firstName}">
											<h:outputText value="#{rv.user.firstName}" styleClass="breakWord" />
										</p:column>
										<p:column headerText="#{lang['last.name.label']}" sortBy="#{rv.user.lastName}" width="20%" filterBy="#{rv.user.lastName}">
											<h:outputText value="#{rv.user.lastName}" styleClass="breakWord" />
										</p:column>
										<p:column headerText="#{lang['access.project']}" sortBy="#{rv.accessToProject}" width="10%">
											<p:selectBooleanCheckbox value="#{rv.accessToProject}" disabled="true" />
										</p:column>
										<p:column width="5%">
											<p:commandButton id="userProjectUpdBtn" oncomplete="PF('dlgUpdProjectAccess').show()" icon="fa fa-database" update="updAccessUsersForm">
												<f:setPropertyActionListener value="#{rv}" target="#{projectsUI.userProjects}" />
											</p:commandButton>
											<p:tooltip value=" #{lang['update.user.access']} " position="" for="userProjectUpdBtn" />
										</p:column>
									</p:dataTable>
								</c:if>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>

		<p:dialog width="40%" modal="true" draggable="false" header="#{lang['update.user.access']}" widgetVar="dlgUpdProjectAccess" responsive="true" minWidth="200" fitViewport="true" hideEffect="clip" showEffect="clip" id="dlgUpdProjectAccess">
			<h:form id="updAccessUsersForm">
				<p:panelGrid width="100%" columns="2" columnClasses="cls1,cls2" id="updateuserAccessGrid" layout="grid">
					<p:outputLabel value="#{lang['access.project.label']}" />
					<p:selectBooleanCheckbox value="#{projectsUI.userProjects.accessToProject}" required="true" />
					<p:commandButton value="#{lang['update']}" update="mainForm" icon="fa fa-check" action="#{projectsUI.updateUsersProject}" />
				</p:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog width="40%" modal="true" draggable="false" header="#{lang['add.user.to.project']}" widgetVar="dlgAddUsers" responsive="true" minWidth="200" fitViewport="true" hideEffect="clip" showEffect="clip" id="dialogAddUsers">
			<h:form id="addUsersForm">
				<p:panelGrid width="100%" columns="2" columnClasses="cls1,cls2" id="addUsersGrid" layout="grid">
					<p:outputLabel value="#{lang['auto.fill.user.project.assign']}" for="selEmpHS" />
					<p:autoComplete required="true" requiredMessage="Select a user" id="selEmpHS" value="#{projectsUI.selectedUser}" completeMethod="#{projectsUI.autoComplete}" maxResults="10" minQueryLength="2" var="emp" itemLabel="#{emp.firstName} #{emp.lastName}" itemValue="#{emp}" converter="UsersConvertor"
						forceSelection="true" autocomplete="true" styleClass="hsauto2" style="width: 95%">
						<p:column>
							<h:outputText value="#{emp.firstName} #{emp.lastName}" />
						</p:column>
						<p:column>
							<h:outputText value="#{emp.email}" />
						</p:column>
					</p:autoComplete>
					<p:outputLabel value="#{lang['view.clients.projects.assigned']}" />
					<p:selectBooleanCheckbox value="#{projectsUI.userProjects.accessToProject}" required="true" />
					<p:commandButton value="#{lang['add.user']}" update="mainForm" icon="fa fa-link" action="#{projectsUI.insertNewUserProject}" />
				</p:panelGrid>
			</h:form>
		</p:dialog>




		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="resultsForm">
						<h2 class="FontBold">#{lang['view.clients.projects.assigned']}</h2>

						<div class="ui-g">
							<div class="ui-g-12 ui-md-6 ">
								<h:outputText value="#{lang['select.company.projectlist']}" />
							</div>
							<div class="ui-g-12 ui-md-6 ">
								<p:selectOneMenu converter="CompanyConvertor" id="companySelected" value="#{projectsUI.selectedCompany}" style="width:81%">
									<f:selectItems value="#{projectsUI.companyList}" var="rv" itemLabel="#{rv.companyName}" itemValue="#{rv}" />
								</p:selectOneMenu>
							</div>
							<div class="ui-g-12  ">
								<p:commandButton id="viewReportbtn" value="#{lang['view.clients.projects']}" actionListener="#{projectsUI.viewCompanyProjects}" icon="fa fa-search" update="resultsForm ">
									<p:ajax update=":resultsForm:projectsCompanyList" />
								</p:commandButton>
								<p:tooltip for="viewReportbtn" position="" value=" #{lang['view.clients.projects']} " />
							</div>

							<div class="ui-g-12 ">
								<h:panelGrid columns="1" rendered="#{projectsUI.searchCompleted}">
									<h3>#{projectsUI.selectedCompany.companyName}#{lang['heading.client.project.end']}</h3>
									<p:dataTable var="rv" rendered="#{projectsUI.companyProjectsList.size() gt 0}" value="#{projectsUI.companyProjectsList}" id="projectsCompanyList" paginator="true" rows="10" paginatorPosition="bottom"
										paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">
										<p:column headerText="#{lang['project.id']}" filterBy="#{rv.id}">
											<p:outputLabel value="#{rv.id}" styleClass="breakWord" />
										</p:column>
										<p:column headerText="#{lang['code']}" filterBy="#{rv.code}">
											<p:outputLabel value="#{rv.code}" styleClass="breakWord" />
										</p:column>
										<p:column headerText="#{lang['description']}" sortBy="#{rv.description}" width="54%" filterBy="#{rv.description}">
											<h:outputText value="#{rv.description}" styleClass="breakWord" />
										</p:column>
										<p:column headerText="#{lang['active']}" width="10%" sortBy="#{rv.active}">
											<p:selectBooleanCheckbox value="#{rv.active}" disabled="true" />
										</p:column>
										<p:column headerText="#{lang['overhead']}" width="10%" sortBy="#{rv.overhead}">
											<p:selectBooleanCheckbox value="#{rv.overhead}" disabled="true" />
										</p:column>
									</p:dataTable>
								</h:panelGrid>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>

		<p:confirmDialog message="#{lang['are.you.sure']}" width="200" appendToBody="@(body)" showEffect="clip" hideEffect="clip" header="Confirm" severity="alert" widgetVar="confirmation">
			<h:form>
				<p:commandButton value="#{lang['yes']}" update=":mainForm:projectsList" actionListener="#{projectsUI.projectsDelete}" oncomplete="PF('confirmation').hide()" />
				<p:commandButton value="#{lang['no']}" onclick="PF('confirmation').hide()" type="button" />
			</h:form>
		</p:confirmDialog>

		<p:dialog width="40%" modal="true" draggable="false" header="#{lang['insert.project.information']}" widgetVar="dlg" responsive="true" minWidth="200" fitViewport="true" hideEffect="clip" showEffect="clip" id="dialogINS">
			<h:form id="projectsInsForm">
				<p:panelGrid width="100%" columns="2" styleClass="borderless" columnClasses="cls1,cls2" id="projectsInsGrid" layout="grid">
					<p:outputLabel value="#{lang['code']}" for="code" />
					<p:inputMask style="width:80%" id="code" value="#{projectsUI.projects.code}" required="true" requiredMessage="Provide a code for the project" mask="*****-****" />
					<p:outputLabel value="#{lang['description']}" for="description" />
					<p:inputTextarea style="width:80%" id="description" value="#{projectsUI.projects.description}" required="true" requiredMessage="Provide a descrption for the project" />
					<p:outputLabel value="#{lang['active']}" />
					<p:selectBooleanCheckbox value="#{projectsUI.active}" />
					<p:outputLabel value="#{lang['overhead']}" />
					<p:selectBooleanCheckbox value="#{projectsUI.overhead}" />
					<p:outputLabel value="#{lang['client']}" for="company" />
					<p:selectOneMenu converter="CompanyConvertor" id="company" value="#{projectsUI.projects.company}" style="width:81%">
						<f:selectItems value="#{companyUI.companyList}" var="rvc" itemLabel="#{rvc.companyName}" itemValue="#{rvc}" />
					</p:selectOneMenu>
					<p:spacer />
					<p:commandButton value="#{lang['submit']}" update=":mainForm:projectsList :projectsInsForm:projectsInsGrid" oncomplete="handleInsRequest(xhr, status, args);" actionListener="#{projectsUI.projectsInsert}" />
				</p:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog width="50%" modal="true" draggable="false" header="#{lang['update.project.information']}" widgetVar="dlgUpd" responsive="true" minWidth="300" resizable="false" hideEffect="clip" showEffect="clip" id="dialogUPD">
			<h:form id="projectsUpdForm">
				<p:panelGrid width="100%" columns="2" columnClasses="cls1,cls2" layout="grid" id="projectsUpdGrid">
					<p:outputLabel value="#{lang['code']}" for="code" />
					<p:inputText style="width:80%" id="code" value="#{projectsUI.projects.code}" required="true" requiredMessage="Code can't be empty" />
					<p:outputLabel value="#{lang['description']}" for="description" />
					<p:inputTextarea style="width:80%" id="description" value="#{projectsUI.projects.description}" required="true" requiredMessage="Description can't be empty" />
					<p:outputLabel value="#{lang['active']}" />
					<p:selectBooleanCheckbox value="#{projectsUI.projects.active}" />
					<p:outputLabel value="#{lang['overhead']}" />
					<p:selectBooleanCheckbox value="#{projectsUI.projects.overhead}" />
					<p:outputLabel value="#{lang['client']}" for="company" />
					<p:selectOneMenu converter="CompanyConvertor" id="company" value="#{projectsUI.projects.company}" style="width:81%">
						<f:selectItems value="#{companyUI.companyList}" var="rvc" itemLabel="#{rvc.companyName}" itemValue="#{rvc}" />
					</p:selectOneMenu>
					<p:spacer />
					<p:commandButton value="#{lang['submit']}" update=":mainForm:projectsList :projectsUpdForm:projectsUpdGrid" oncomplete="handleUpdRequest(xhr, status, args);" actionListener="#{projectsUI.projectsUpdate}" />
				</p:panelGrid>
			</h:form>
		</p:dialog>

		<script type="text/javascript">
			function handleInsRequest(xhr, status, args) {
				if (args.validationFailed) {
					jQuery('#dialogINS').effect("shake", {
						times : 3
					}, 100);
				} else {
					PF('dlg').hide();

				}
			}

			function handleUpdRequest(xhr, status, args) {
				if (args.validationFailed) {
					jQuery('#dialogUPD').effect("shake", {
						times : 3
					}, 100);
				} else {
					PF('dlgUpd').hide();

				}
			}
		</script>
	</ui:define>
</ui:composition>
