<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="subheader">
       Tasks List
    </ui:define>

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h1 class="FontBold">#{lang['tasks']}</h1>
					<div class="EmptyBox10" />
					<h:form id="mainForm">
						<p:commandButton icon="fa fa-plus Fs16 white" oncomplete="PF('dlg').show()" value="#{lang['insert.new.task']}" actionListener="#{tasksUI.prepareNewTasks}" update=":tasksInsForm:tasksInsGrid" />
						<div class="EmptyBox10" />
						<p:growl autoUpdate="true" sticky="false" />
						<h:panelGrid columns="1">
							<p:dataTable var="rowVar" value="#{tasksUI.tasksList}" filteredValue="#{tasksUI.tasksfilteredList}" id="tasksList" rowKey="#{rowVar.id}" paginator="true" rows="10" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">
								<p:column headerText="#{lang['name']}" sortBy="#{rowVar.name}" filterBy="#{rowVar.name}" width="44%">
									<h:outputText value="#{rowVar.name}" />
								</p:column>
								<p:column headerText="#{lang['description']}" sortBy="#{rowVar.description}" filterBy="#{rowVar.description}" width="44%">
									<h:outputText value="#{rowVar.description}" />
								</p:column>
								<p:column width="12%">
									<p:commandButton id="updateBtn" oncomplete="PF('dlgUpd').show()" icon="fa fa-database Fs16 white" title="Update" update=":tasksUpdForm:tasksUpdGrid">
										<f:setPropertyActionListener value="#{rowVar}" target="#{tasksUI.tasks}" />
									</p:commandButton>
									<p:spacer width="5" />
									<p:commandButton id="deleteBtn" oncomplete="PF('confirmation').show()" icon="fa fa-trash-o Fs16 white" title="Delete">
										<f:setPropertyActionListener value="#{rowVar}" target="#{tasksUI.tasks}" />
									</p:commandButton>
										<p:tooltip for="updateBtn" value=" #{lang['update.task.information']}" position=""/>
										<p:tooltip for="deleteBtn" value=" #{lang['delete.task.information']} " position=""/>
								</p:column>
							</p:dataTable>
						</h:panelGrid>
					</h:form>
					<p:confirmDialog message="#{lang['are.you.sure']}" width="200" appendToBody="@(body)" showEffect="clip" hideEffect="clip" header="#{lang['confirm']}" severity="alert" widgetVar="confirmation">
						<h:form>
							<p:commandButton value="#{lang['yes']}" update=":mainForm:tasksList" actionListener="#{tasksUI.tasksDelete}" oncomplete="PF('confirmation').hide()" />
							<p:commandButton value="#{lang['no']}" onclick="PF('confirmation').hide()" type="button" />
						</h:form>
					</p:confirmDialog>
					<p:dialog width="40%" modal="true" header="#{lang['insert.task.information']}" widgetVar="dlg" resizable="false" hideEffect="clip" showEffect="clip" id="dialogINS">
						<h:form id="tasksInsForm">
							<p:panelGrid width="100%" columns="2" columnClasses="cls1,cls2" id="tasksInsGrid" layout="grid">
								<p:outputLabel value="#{lang['name']}" for="name" />
								<p:inputText style="width:80%" id="name" value="#{tasksUI.tasks.name}" required="true" requiredMessage="#{lang['provide.name.for.task']}" />
								<p:outputLabel value="#{lang['description']}" for="description" />
								<p:inputTextarea style="width:80%" id="description" value="#{tasksUI.tasks.description}" required="true" requiredMessage="#{lang['provide.description.for.task']}" />
								<p:spacer />
								<p:commandButton value="#{lang['submit']}" update=":mainForm:tasksList :tasksInsForm:tasksInsGrid" oncomplete="handleInsRequest(xhr, status, args);" actionListener="#{tasksUI.tasksInsert}" />
							</p:panelGrid>
						</h:form>
					</p:dialog>

					<p:dialog width="40%" modal="true" header="#{lang['update.task.information']}" widgetVar="dlgUpd" resizable="false" hideEffect="clip" showEffect="clip" id="dialogUPD">
						<h:form id="tasksUpdForm">
							<p:panelGrid width="100%" columns="2" columnClasses="cls1,cls2" id="tasksUpdGrid" layout="grid">
								<p:outputLabel value="#{lang['name']}" for="name" />
								<p:inputText style="width:80%" id="name" value="#{tasksUI.tasks.name}" required="true" requiredMessage="#{lang['name.cant.be.empty']}" />
								<p:outputLabel value="#{lang['description']}" for="description" />
								<p:inputTextarea style="width:80%" id="description" value="#{tasksUI.tasks.description}" required="true" requiredMessage="#{lang['description.cant.be.empty']}" />
								<p:spacer />
								<p:commandButton value="#{lang['submit']}" update=":mainForm:tasksList :tasksUpdForm:tasksUpdGrid" oncomplete="handleUpdRequest(xhr, status, args);" actionListener="#{tasksUI.tasksUpdate}" />
							</p:panelGrid>
						</h:form>
					</p:dialog>
					<script type="text/javascript">
						function handleInsRequest(xhr, status, args) {
							if (args.validationFailed) {
								jQuery('#dialogINS').effect("shake", {
									times : 3
								}, 100);
							} else {
								PF('dlg').hide();
							}
						}
						function handleUpdRequest(xhr, status, args) {
							if (args.validationFailed) {
								jQuery('#dialogUPD').effect("shake", {
									times : 3
								}, 100);
							} else {
								PF('dlgUpd').hide();
							}
						}
					</script>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
