<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml"
	xmlns:o="http://omnifaces.org/ui">
	<ui:define name="subheader">
Users
</ui:define>


	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title ">

					<h1 class="FontBold">Users</h1>
					<div class="EmptyBox10" />
					<o:importConstants type="haj.com.entity.UsersLevelEnum" var="level" />
					<h:form id="mainForm">
						<p:commandButton icon="fa fa-user-plus Fs16 white" oncomplete="PF('dlg').show()" value="#{lang['add.new.user']}" actionListener="#{companyAdminUsersUI.prepareNewUsers}" update=":usersInsForm:usersInsGrid" />
						<div class="EmptyBox10" />
						<p:growl autoUpdate="true" sticky="false" />

						<h:panelGrid columns="1" id="mainP">
							<p:dataTable var="rowVar" value="#{companyAdminUsersUI.dataModelCompanyUser}" id="usersList" rowKey="#{rowVar.id}" paginator="true" rows="10" filteredValue="#{companyAdminUsersUI.usersFiltered}" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true" selectionMode="single" selection="#{companyAdminUsersUI.companyUsers}">

								<p:ajax event="rowSelect" listener="#{companyAdminUsersUI.showCost}" update=":userscostInsForm :userscostForm" />
								<p:column style="width:16px">
									<p:rowToggler rendered="#{rowVar.users.docsList.size() > 0 or rowVar.users.notesList.size() > 0 }" />
								</p:column>
								<p:column headerText="#{lang['name']}" sortBy="#{rowVar.users.firstName}" filterBy="#{rowVar.users.firstName}" width="15%">
									<h:outputText value="#{rowVar.users.firstName}" />
								</p:column>
								<p:column headerText="#{lang['surname']}" sortBy="#{rowVar.users.lastName}" filterBy="#{rowVar.users.lastName}" width="15%">
									<h:outputText value="#{rowVar.users.lastName}" />
								</p:column>

								<p:column headerText="#{lang['email']}" sortBy="#{rowVar.users.email}" width="21%" filterBy="#{rowVar.users.email}">
									<h:outputText value="#{rowVar.users.email}" />
								</p:column>
								<p:column headerText="#{lang['level']}" width="15%">
									<h:outputText value="#{rowVar.level.friendlyName}" />
								</p:column>s

								<p:column headerText="#{lang['client']}" width="11%">
									<h:outputText value="#{rowVar.company.companyName}" />
								</p:column>

								<p:column headerText="#{lang['active']}" width="11%">
									<p:outputLabel value="#{rowVar.users.status.friendlyName}" disabled="true" />
								</p:column>

								<p:column width="10%">

									<p:commandButton id="updateDetail" oncomplete="PF('upd').show()" icon="fa fa-database Fs16 white" title="Update details" update=":usersUpdForm:usersUpdGrid" action="#{companyAdminUsersUI.prepUpdate}">
										<f:setPropertyActionListener value="#{rowVar}" target="#{companyAdminUsersUI.companyUsers}" />
									</p:commandButton>


									<p:commandButton id="resetPassword" oncomplete="PF('confirmation').show()" icon="fa fa-key Fs16 white" title="Reset users password">
										<f:setPropertyActionListener value="#{rowVar}" target="#{companyAdminUsersUI.companyUsers}" />
									</p:commandButton>


									<p:commandButton icon="ui-icon-cloud-upload" title="#{lang['upload']}" action="#{companyAdminUsersUI.prepDoc}" id="uploadDoc" oncomplete="PF('uploadDialog').show();" update=":uploadForm">
										<f:setPropertyActionListener value="#{rowVar.users}" target="#{companyAdminUsersUI.userSelected}" />
									</p:commandButton>


									<p:commandButton icon="ui-icon-question-answer" title="#{lang['note']}" action="#{companyAdminUsersUI.prepNote}" id="note" oncomplete="PF('noteDialog').show();" update=":noteForm">
										<f:setPropertyActionListener value="#{rowVar.users}" target="#{companyAdminUsersUI.userSelected}" />
									</p:commandButton>

									<p:tooltip for="updateDetail" value="#{lang['update.details']}" position="" />
									<p:tooltip for="resetPassword" value="#{lang['reset.password']}" position="" />
									<p:tooltip for="uploadDoc" value="#{lang['upload.a.document']}" position="" />
									<p:tooltip for="note" value="#{lang['add.a.new.note']}" position="" />
								</p:column>

								<p:rowExpansion>
									<p:dataTable var="rv1" value="#{rowVar.users.docsList}" rendered="#{rowVar.users.docsList.size() gt 0}">
										<f:facet name="header">#{lang['documents']}</f:facet>

										<p:column width="10%">
											<f:facet name="header">#{lang['uploaded.by']}</f:facet>									  
									      #{rv1.user.firstName} #{rv1.user.lastName}
									  </p:column>

										<p:column width="10%">
											<f:facet name="header">#{lang['uploaded.date']}</f:facet>
											<h:outputText value="#{rv1.addDate}">
												<f:convertDateTime pattern="dd MMM yyyy (HH:mm:ss)" />
											</h:outputText>
										</p:column>

										<p:column>
											<f:facet name="header">#{lang['original.file.name']}</f:facet>
											<h:outputText value="#{rv1.originalFname}" />
										</p:column>

										<p:column>
											<f:facet name="header">#{lang['document.tracker']}</f:facet>

											<h:dataTable var="rv3" value="#{rv1.documentTrackersList}">
												<h:column>
													<h:outputText value="#{rv3.user.firstName} #{rv3.user.lastName}" />
												</h:column>
												<h:column>
													<h:outputText value="#{rv3.date}">
														<f:convertDateTime pattern="dd MMM yyyy (HH:mm:ss)" />
													</h:outputText>
												</h:column>
												<h:column>
													<h:outputText value="#{rv3.documentTrackerEnum.friendlyName}" />
												</h:column>
											</h:dataTable>

										</p:column>

										<p:column width="5%">
											<p:commandButton icon="ui-icon-cloud-download" title="#{lang['download']}" action="#{companyAdminUsersUI.uploadDocUI.download}" id="download" ajax="false">
												<f:setPropertyActionListener value="#{rv1}" target="#{companyAdminUsersUI.uploadDocUI.doc}" />
											</p:commandButton>
											<p:tooltip position="left" for="download" />
										</p:column>
									</p:dataTable>

									<p:dataTable var="rv2" value="#{rowVar.users.notesList}" rendered="#{rowVar.users.notesList.size() gt 0}">
										<f:facet name="header">#{lang['notes']}</f:facet>
										<p:column width="10%">
											<f:facet name="header">#{lang['createdBy']}</f:facet>									  
									      #{rv2.users.firstName} #{rv2.users.lastName}
									  </p:column>
										<p:column width="10%">
											<f:facet name="header">#{lang['createDate']}</f:facet>
											<h:outputText value="#{rv2.createDate}">
												<f:convertDateTime pattern="dd MMM yyyy (HH:mm:ss)" />
											</h:outputText>
										</p:column>

										<p:column>
											<f:facet name="header">#{lang['notes']}</f:facet>
											<h:outputText value="#{rv2.note}" escape="fals" />
										</p:column>
									</p:dataTable>
								</p:rowExpansion>
							</p:dataTable>
						</h:panelGrid>
					</h:form>









					<p:confirmDialog message="#{lang['sure.reset.password']}" appendTo="@(body)" showEffect="clip" hideEffect="clip" header="#{lang['confirm']}" severity="alert" widgetVar="confirmation">
						<h:form>
							<p:commandButton value="#{lang['yes']}" actionListener="#{companyAdminUsersUI.newPassword}" oncomplete="PF('confirmation').hide()" />
							<p:commandButton value="#{lang['no']}" onclick="PF('confirmation').hide()" type="button" />
						</h:form>
					</p:confirmDialog>

					<p:dialog height="500" position="center" modal="true" header="#{lang['insert.user.info']}" widgetVar="dlg" resizable="false" hideEffect="clip" showEffect="clip" id="dialogINS" appendTo="@(body)" width="50%" draggable="false">

						<h:form id="usersInsForm">
							<p:outputPanel id="usersInsGrid" style="width: 100%" styleClass="ui-g">
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['first.name']}" for="firstName" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText id="firstName" value="#{companyAdminUsersUI.user.firstName}" label="firstName" required="true" requiredMessage="#{lang['enter.first.name']}" style="width: 80%" />
								</div>

								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['surname']}" for="lastName" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText id="lastName" value="#{companyAdminUsersUI.user.lastName}" label="lastName" required="true" requiredMessage="#{lang['enter.surname']}" style="width: 80%" />
								</div>

								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['location']}" for="location" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText id="location" value="#{companyAdminUsersUI.user.location}" label="location" required="true" requiredMessage="#{lang['enter.location']}" readonly="false" style="width: 80%" />
								</div>

								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel for="dateOfBirthCalender" value="#{lang['date.of.birth']}" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:calendar id="dateOfBirthCalender" value="#{companyAdminUsersUI.user.dateOfBirth}" size="19" showOn="button" pattern="dd-MM-yyyy" mask="true" required="true" requiredMessage="#{lang['enter.date.of.birth']}" />
								</div>

								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['ni.number']}" for="niNumber" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText id="niNumber" value="#{companyAdminUsersUI.user.niNumber}" label="niNumber" required="true" requiredMessage="#{lang['enter.ni.number']}" style="width: 80%" />
								</div>

								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['passport.number']}" for="passportNumber" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText id="passportNumber" value="#{companyAdminUsersUI.user.passportNumber}" label="passportNumber" required="true" requiredMessage="#{lang['enter.passport.number']}" style="width: 80%" />
								</div>

								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['emails']}" for="email" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText id="email" value="#{companyAdminUsersUI.user.email}" label="email" required="true" requiredMessage="#{lang['enter.email.address']}" style="width: 80%" />
								</div>

								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['mobile.number']}" for="cellNumber" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText style="width: 80%" id="cellNumber" value="#{companyAdminUsersUI.user.cellNumber}" label="cellNumber" required="true" requiredMessage="#{lang['enter.mobile.number']}" readonly="false" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['tel.number']}" for="telNumber" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText style="width: 80%" id="telNumber" value="#{companyAdminUsersUI.user.telNumber}" label="telNumber" readonly="false" />
								</div>

								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['home.address']}" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<p:inputText styleClass="Fright" placeholder="#{lang['address.line.1']}" value="#{companyAdminUsersUI.homeAddress.addressLine1}" style="width: 50%" required="true" requiredMessage="#{lang['enter.address1']}" autocomplete="off" id="homeAddress1" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<p:inputText styleClass="Fright" value="#{companyAdminUsersUI.homeAddress.addressLine2}" style="width: 50%" autocomplete="off" placeholder="#{lang['address.line.2']}" required="true" requiredMessage="#{lang['enter.address2']}" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<p:inputText styleClass="Fright" value="#{companyAdminUsersUI.homeAddress.addressLine3}" style="width: 50%" autocomplete="off" placeholder="#{lang['area.town']}" required="true" requiredMessage="#{lang['enter.area.town']}" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<p:inputText styleClass="Fright" value="#{companyAdminUsersUI.homeAddress.addressLine4}" style="width: 50%" autocomplete="off" placeholder="#{lang['country.province.state']}" required="true" requiredMessage="#{lang['enter.province.address']}" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<p:inputText styleClass="Fright" value="#{companyAdminUsersUI.homeAddress.postcode}" placeholder="#{lang['post.code']}" style="width: 25%" required="true" requiredMessage="#{lang['enter.postcode.for.address']}" autocomplete="off" />
								</div>

								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['employee.type']}" for="employeeType" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:selectOneRadio id="employeeType" value="#{companyAdminUsersUI.user.employeeType}" style="width:96%" required="true" requiredMessage="#{lang['select.employee.type']}">
										<f:selectItems value="#{enumUI.userTypeDD}" />
										<p:ajax update=":usersInsForm:companyPanel" />
									</p:selectOneRadio>
								</div>

								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['levels']}" for="level" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:selectOneRadio id="level" value="#{companyAdminUsersUI.level}" required="true" layout="grid" columns="1" requiredMessage="Select level of user">
										<p:ajax update=":usersInsForm:companyPanel" />
										<f:selectItems value="#{companyAdminUsersUI.userLevelDD}" />
									</p:selectOneRadio>
								</div>
							</p:outputPanel>
							<br />

							<p:panelGrid columns="1" columnClasses="cls4,cls2" id="usersInsGrida" style="width: 100%" styleClass="TexAlCenter" layout="grid">
								<p:outputPanel id="companyPanel">
									<div class="ui-g-12 ui-md-12 ui-lg-6">
										<p:outputLabel value="#{lang['clients']}" for="company" rendered="#{companyAdminUsersUI.level ne level.Normal and companyAdminUsersUI.level ne level.Director and companyAdminUsersUI.level ne level.Admin}" />
									</div>
									<div class="ui-g-12 ui-md-12 ui-lg-6">
										<p:selectOneMenu converter="CompanyConvertor" id="company" value="#{companyAdminUsersUI.company}" style="width:125px" rendered="#{companyAdminUsersUI.level ne level.Normal and companyAdminUsersUI.level ne level.Director and companyAdminUsersUI.level ne level.Admin}" required="true"
											requiredMessage="Please select a company">
											<f:selectItems value="#{companyUI.companyList}" var="rvc" itemLabel="#{rvc.companyName}" itemValue="#{rvc}" />
										</p:selectOneMenu>
									</div>
								</p:outputPanel>

								<p:commandButton value="#{lang['add']}" oncomplete="handleLoginRequest(xhr, status, args)" action="#{companyAdminUsersUI.register}" update=":mainForm:usersList :usersInsForm:usersInsGrid" />

							</p:panelGrid>

						</h:form>

					</p:dialog>


					<p:dialog height="530" modal="true" header="#{lang['update.user.information']}" widgetVar="upd" resizable="false" hideEffect="clip" showEffect="clip" id="dialogUPD" width="50%" draggable="false">

						<h:form id="usersUpdForm">
							<p:outputPanel id="usersUpdGrid" style="width: 100%" styleClass="ui-g">

								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['first.name']}" for="firstName" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText id="firstName" value="#{companyAdminUsersUI.userSelected.firstName}" label="firstName" required="true" requiredMessage="#{lang['enter.first.name']}" readonly="false" style="width: 80%" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['surname']}" for="lastName" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText id="lastName" value="#{companyAdminUsersUI.userSelected.lastName}" label="lastName" required="true" requiredMessage="#{lang['enter.surname']}" readonly="false" style="width: 80%" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['location']}" for="location" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText id="location" value="#{companyAdminUsersUI.userSelected.location}" label="location" required="true" requiredMessage="#{lang['enter.location']}" readonly="false" style="width: 80%" />
								</div>

								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel for="dateOfBirthCalender" value="#{lang['date.of.birth']}" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:calendar id="dateOfBirthCalender" value="#{companyAdminUsersUI.userSelected.dateOfBirth}" size="19" showOn="button" pattern="dd-MM-yyyy" mask="true" required="true" requiredMessage="#{lang['enter.date.of.birth']}" />
								</div>

								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['ni.number']}" for="niNumber" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText id="niNumber" value="#{companyAdminUsersUI.userSelected.niNumber}" label="niNumber" required="true" requiredMessage="#{lang['enter.ni.number']}" style="width: 80%" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['passport.number']}" for="passportNumber" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText id="passportNumber" value="#{companyAdminUsersUI.userSelected.passportNumber}" label="passportNumber" required="true" requiredMessage="#{lang['enter.passport.number']}" style="width: 80%" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['emails']}" for="email" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText id="email" value="#{companyAdminUsersUI.userSelected.email}" label="email" required="true" requiredMessage="#{lang['enter.email.address']}" readonly="false" style="width: 80%" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['mobile.number']}" for="cellNumber" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText style="width: 80%" id="cellNumber" value="#{companyAdminUsersUI.userSelected.cellNumber}" label="cellNumber" required="true" requiredMessage="#{lang['enter.mobile.number']}" readonly="false" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['tel.number']}" for="telNumber" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:inputText style="width: 80%" id="telNumber" value="#{companyAdminUsersUI.userSelected.telNumber}" label="telNumber" readonly="false" />
								</div>

								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['home.address']}" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<p:inputText styleClass="Fright" placeholder="#{lang['address.line.1']}" value="#{companyAdminUsersUI.homeAddress.addressLine1}" style="width: 50%" required="true" requiredMessage="#{lang['enter.address1']}" autocomplete="off" id="homeAddress1" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<p:inputText styleClass="Fright" value="#{companyAdminUsersUI.homeAddress.addressLine2}" style="width: 50%" autocomplete="off" placeholder="#{lang['address.line.2']}" required="true" requiredMessage="#{lang['enter.address2']}" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<p:inputText styleClass="Fright" value="#{companyAdminUsersUI.homeAddress.addressLine3}" style="width: 50%" autocomplete="off" placeholder="#{lang['area.town']}" required="true" requiredMessage="#{lang['enter.area.town']}" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<p:inputText styleClass="Fright" value="#{companyAdminUsersUI.homeAddress.addressLine4}" style="width: 50%" autocomplete="off" placeholder="#{lang['country.province.state']}" required="true" requiredMessage="#{lang['enter.province.address']}" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<p:inputText styleClass="Fright" value="#{companyAdminUsersUI.homeAddress.postcode}" placeholder="#{lang['post.code']}" style="width: 25%" required="true" requiredMessage="#{lang['enter.postcode.for.address']}" autocomplete="off" />
								</div>


								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['employee.type']}" for="employeeType" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:selectOneRadio id="employeeType" value="#{companyAdminUsersUI.empType}" style="width:96%" required="true" requiredMessage="#{lang['select.employee.type']}">
										<f:selectItems value="#{enumUI.userTypeDD}" />
										<p:ajax update=":usersInsForm:companyPanel" />
									</p:selectOneRadio>
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:outputLabel value="#{lang['levels']}" for="level" />
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<p:remoteCommand name="onLevel" update=":usersUpdForm:companyPanel" />
									<p:selectOneRadio id="level" value="#{companyAdminUsersUI.companyUsers.level}" onchange="onLevel()" required="true" columns="1" requiredMessage="#{lang['select.level.of.user']}" layout="grid">
										<p:ajax update=":usersUpdForm:companyPanel" />
										<f:selectItems value="#{companyAdminUsersUI.userLevelDD}" />
									</p:selectOneRadio>
								</div>
								<c:if test="#{companyAdminUsersUI.userSelected.emailConfirmDate ne null}">
									<div class="ui-g-12 ui-md-12 ui-lg-6">
										<p:outputLabel value="#{lang['active']}" for="active" />
									</div>
									<div class="ui-g-12 ui-md-12 ui-lg-6">
										<p:selectOneMenu id="active" value="#{companyAdminUsersUI.userSelected.status}" rendered="#{companyAdminUsersUI.userSelected.emailConfirmDate ne null}">
											<f:selectItems value="#{companyAdminUsersUI.usersStatusList}" var="usersStatus" itemValue="#{usersStatus}" itemLabel="#{usersStatus.friendlyName}" />
										</p:selectOneMenu>
									</div>
								</c:if>
								<c:if test="#{companyAdminUsersUI.companyUsers.users.emailConfirmDate eq null}">
									<div class="ui-g-12">
										<p:panel style=" background: #FF0000 !important;">
											<p:outputLabel style="font-weight: bold !important;" value="Employee has not Confirmed Email!!" />
										</p:panel>
									</div>
								</c:if>
							</p:outputPanel>
							<br />

							<p:outputPanel id="companyPanel" styleClass="ui-g">
								<c:if test="#{companyAdminUsersUI.companyUsers.level eq level.Manager}">
									<div class="ui-g-12 ui-md-12 ui-lg-6">
										<p:outputLabel value="#{lang['clients']}" for="company" />
									</div>
									<div class="ui-g-12 ui-md-12 ui-lg-6">
										<p:selectOneMenu converter="CompanyConvertor" id="company" value="#{companyAdminUsersUI.companyUsers.company}" style="width:125px" required="true" requiredMessage="Please select a company">
											<f:selectItems value="#{companyUI.companyList}" var="rvc" itemLabel="#{rvc.companyName}" itemValue="#{rvc}" />
										</p:selectOneMenu>
									</div>
								</c:if>
							</p:outputPanel>
							<div class="EmptyBox10" />
							<center>
								<p:commandButton value="#{lang['update']}" oncomplete="handleUpdRequest(xhr, status, args)" action="#{companyAdminUsersUI.userUpdate}" update=":usersUpdForm:usersUpdGrid :mainForm:usersList" />
							</center>
						</h:form>


					</p:dialog>


					<p:dialog modal="true" header="#{lang['reset.password']}" widgetVar="updPwd" responsive="true" resizable="false" hideEffect="clip" showEffect="clip" id="dialogUPDPWD">
						<h:form id="usersUpdPwdForm">
							<h:panelGrid columns="2" columnClasses="cls4,cls2" id="usersUpdPwdGrid">
								<p:outputLabel for="pwd1" value="#{lang['password']}" />
								<p:password id="pwd1" value="#{companyAdminUsersUI.user.password}" match="pwd2" label="Password1" required="true" requiredMessage="Please enter Password" validatorMessage="Passwords do not match" />

								<p:outputLabel for="pwd2" value="#{lang['confirm.password']}" />
								<p:password id="pwd2" value="#{companyAdminUsersUI.user.password}" label="Password2" required="true" requiredMessage="Please enter confirm Password" />

								<f:facet name="footer">
									<center>
										<p:commandButton value="#{lang['update']}" oncomplete=" handleUpdPwdRequest(xhr, status, args)" action="#{companyAdminUsersUI.userChgPwdUpdate}" update=":mainForm:usersList" />
									</center>
								</f:facet>

							</h:panelGrid>

						</h:form>
					</p:dialog>

					<p:dialog header="#{lang['upload']}" widgetVar="uploadDialog" resizable="false" hideEffect="clip" showEffect="clip" id="dialogupload" modal="true" minWidth="500" width="50%">
						<h:form id="uploadForm">
							<p:fileUpload fileUploadListener="#{companyAdminUsersUI.safeFile}" mode="advanced" dragDropSupport="true" showButtons="false" label="#{lang['select.file']}" fileLimitMessage="#{lang['file.to.big.to.upload']}" update=":mainForm" multiple="false" fileLimit="1" immediate="false" auto="true"
								oncomplete="PF('uploadDialog').hide();" />
						</h:form>
					</p:dialog>

					<p:dialog header="#{lang['notes']}" widgetVar="noteDialog" resizable="false" hideEffect="clip" showEffect="clip" id="dialogNote" modal="true" width="60%" position="top">
						<h:form id="noteForm">
							<p:outputPanel id="notePanel">
								<p:textEditor value="#{companyAdminUsersUI.note.note}" required="true" requiredMessage="#{lang['note.required']}" height="200" style="margin-bottom:10px" placeholder="#{lang['note.required']}" />
							</p:outputPanel>
							<p:commandButton icon="ui-icon-save " action="#{companyAdminUsersUI.notesInsert}" value="#{lang['update']}" update="@form :mainForm" />
						</h:form>
					</p:dialog>

					<script type="text/javascript">
						function handleLoginRequest(xhr, status, args) {
							if (args.validationFailed) {
								jQuery('#dialogINS').effect("shake", {
									times : 3
								}, 500);
							} else {
								PF('dlg').hide();

							}
						}

						function handleUpdRequest(xhr, status, args) {
							if (args.validationFailed) {
								jQuery('#dialogUPD').effect("shake", {
									times : 3
								}, 500);
							} else {
								PF('upd').hide();

							}
						}

						function handleUpdPwdRequest(xhr, status, args) {
							if (args.validationFailed) {
								jQuery('#dialogUPDPWD').effect("shake", {
									times : 3
								}, 500);
							} else {
								PF('updPwd').hide();

							}
						}
					</script>
				</div>
			</div>

			<div class="ui-g-12">
				<div class="card">

					<h:form id="userscostInsForm">

						<h1>
							<h:outputText value="#{lang['costs.for']} #{companyAdminUsersUI.companyUsers.users.firstName} #{companyAdminUsersUI.companyUsers.users.lastName}" rendered="#{companyAdminUsersUI.showUsersCost}" />
						</h1>
						<!--           	<h:panelGroup rendered="#{companyAdminUsersUI.showUsersCost}">
                	  <span class="red Fs12"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> #{lang['userscost.warning']}</span>
                	</h:panelGroup> -->
						<p:growl autoUpdate="true" sticky="false" />

						<p:panel style="width:100%" id="userscostInsGrid" styleClass="form-group" rendered="#{companyAdminUsersUI.showUsersCost}">
							<div class="ui-g">
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<h:panelGroup>
										<p:outputLabel value="#{lang['effectiveDate']}:" for="effectiveDate" styleClass="hslabel" />
										<p:spacer width="10" />
										<p:calendar pattern="dd MMM yyyy" readonlyInput="true" showOn="button" id="effectiveDate" value="#{companyAdminUsersUI.userscost.effectiveDate}" style="width:95%" />
									</h:panelGroup>
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<h:panelGroup>
										<p:outputLabel value="#{lang['language.currency']}:" for="locale" styleClass="hslabel" />
										<p:spacer width="10" />
										<p:selectOneMenu value="#{companyAdminUsersUI.userscost.locale}" id="locale" style="width: 50%" converter="localeUIConvertor">
											<p:ajax listener="#{companyAdminUsersUI.onCountryChange}" update="exhangeRate" />
											<f:selectItems value="#{languageUI.localeCurrency}" var="rv" itemLabel="#{rv.locale.displayCountry} - #{rv.currency.symbol}" itemValue="#{rv.locale.toLanguageTag()}" />
										</p:selectOneMenu>
									</h:panelGroup>
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<h:panelGroup>
										<p:outputLabel value="#{lang['exhangeRate']}:" for="exhangeRate" styleClass="hslabel" />
										<p:spacer width="10" />
										<p:outputLabel id="exhangeRate" value="#{companyAdminUsersUI.userscost.exhangeRate}" styleClass="FontBold" />

									</h:panelGroup>
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<h:panelGroup styleClass="md-inputfield">
										<p:inputNumber id="grossSalaryPerAnnum" value="#{companyAdminUsersUI.userscost.grossSalaryPerAnnum}" size="30" decimalSeparator="." thousandSeparator="," required="true" requiredMessage="#{lang['grossSalaryPerAnnum.req']}">
											<p:ajax update="totalCostOfEmployeePerAnnum dayRate" />
										</p:inputNumber>
										<p:outputLabel value="#{lang['grossSalaryPerAnnum']}" for="grossSalaryPerAnnum" />
									</h:panelGroup>
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<h:panelGroup styleClass="md-inputfield">
										<p:inputNumber id="ersNiPerAnnum" value="#{companyAdminUsersUI.userscost.ersNiPerAnnum}" style="width:95%" />
										<p:outputLabel value="#{lang['ersNiPerAnnum']}" for="ersNiPerAnnum" />
									</h:panelGroup>
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<h:panelGroup styleClass="md-inputfield">
										<p:inputNumber id="unemploymentFundPerAnnum" value="#{companyAdminUsersUI.userscost.unemploymentFundPerAnnum}" size="30" decimalSeparator="." thousandSeparator="," />
										<p:outputLabel value="#{lang['unemploymentFundPerAnnum']}" for="unemploymentFundPerAnnum" />
									</h:panelGroup>
								</div>
								<div class="EmptyBox5" />
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<h:panelGroup styleClass="md-inputfield">
										<p:inputNumber id="mandatoryTaxPensionsPerAnnum" value="#{companyAdminUsersUI.userscost.mandatoryTaxPensionsPerAnnum}" size="30" decimalSeparator="." thousandSeparator="," required="true" requiredMessage="#{lang['mandatoryTaxPensionsPerAnnum.req']}">
											<p:ajax update="totalCostOfEmployeePerAnnum dayRate" />
										</p:inputNumber>
										<p:outputLabel value="#{lang['mandatoryTaxPensionsPerAnnum']}" for="mandatoryTaxPensionsPerAnnum" />
									</h:panelGroup>
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-6">
									<h:panelGroup styleClass="md-inputfield">
										<p:inputNumber id="oneTimeExpensePerAnnum" value="#{companyAdminUsersUI.userscost.oneTimeExpensePerAnnum}" size="30" decimalSeparator="." thousandSeparator=",">
											<p:ajax update="totalCostOfEmployeePerAnnum dayRate" />
										</p:inputNumber>
										<p:outputLabel value="#{lang['oneTimeExpensePerAnnum']}" for="oneTimeExpensePerAnnum" />
									</h:panelGroup>
								</div>
								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<p:commandButton value="#{lang['submit']}" icon="ui-icon-save" update="@form :userscostForm:userscostList" action="#{companyAdminUsersUI.userscostInsert}" />
									<p:spacer width="5" />
									<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="userscostInsGrid" process="@this" action="#{companyAdminUsersUI.prepareNew}">
										<p:resetInput target="userscostInsGrid" />
									</p:commandButton>
									<p:spacer width="5" />
									<p:commandButton value="#{lang['userscost.auditlog']}" icon="ui-icon-history" update=":histForm" action="#{companyAdminUsersUI.findHistory}" immediate="true" oncomplete="PF('historyDlg').show()" />

								</div>
							</div>

						</p:panel>

						<p:panelGrid columns="4" style="width:100%" id="userscostInsGrid2" layout="grid" rendered="#{companyAdminUsersUI.showUsersCost}">
							<p:outputLabel value="#{lang['totalCostOfEmployeePerAnnum']}:" for="totalCostOfEmployeePerAnnum" style="color:#9F9F9F" />
							<p:outputLabel id="totalCostOfEmployeePerAnnum" value="#{companyAdminUsersUI.userscost.totalCostOfEmployeePerAnnum}" styleClass="FontBold Fs16">
								<f:convertNumber pattern="###,###,##0.00" />
							</p:outputLabel>
							<p:outputLabel value="#{lang['dayRate']}:" for="dayRate" style="color:#9F9F9F" />
							<p:outputLabel id="dayRate" value="#{companyAdminUsersUI.userscost.dayRate}" styleClass="FontBold Fs16">
								<f:convertNumber pattern="###,###,##0.00" />
							</p:outputLabel>


						</p:panelGrid>

					</h:form>

					<h:form id="userscostForm">

						<h:panelGroup rendered="#{companyAdminUsersUI.showUsersCost}">
							<br />
							<span class="gray Fs12"><i class="fa fa-info-circle" aria-hidden="true"></i> #{lang['userscost.help']}</span>

							<p:dataTable var="rv" value="#{companyAdminUsersUI.companyUsers.users.usersCostsList}" id="userscostList" rowKey="#{rv.id}" paginator="true" rows="10" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,15,20,25,50" selection="#{companyAdminUsersUI.userscost}" selectionMode="single">

								<f:facet name="header">
									<p:commandButton id="toggler" type="button" value="Columns" style="float:right" icon="ui-icon-menu" />
									<br />
									<br />
									<p:columnToggler datasource="userscostList" trigger="toggler" />
								</f:facet>
								<p:ajax event="rowSelect" update=":userscostInsForm" listener="#{companyAdminUsersUI.prepUpd}" />

								<p:column headerText="#{lang['effectiveDate']}" width="10%">
									<h:outputText value="#{rv.effectiveDate}">
										<f:convertDateTime pattern="dd MMM yyyy" />
									</h:outputText>
								</p:column>
								<p:column headerText="#{lang['language.currency']}" width="10%">
									<h:outputText value="#{rv.locale.displayCountry}" />
									<br />
									<h:outputText value="#{rv.currency.symbol}" />
								</p:column>

								<p:column headerText="#{lang['grossSalaryPerAnnum']}" width="10%">
									<h:outputText value="#{rv.grossSalaryPerAnnum}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.00" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{lang['mandatoryTaxPensionsPerAnnum']}" width="10%">
									<h:outputText value="#{rv.mandatoryTaxPensionsPerAnnum}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.00" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{lang['oneTimeExpensePerAnnum']}" width="10%">
									<h:outputText value="#{rv.oneTimeExpensePerAnnum}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.00" />
									</h:outputText>
								</p:column>


								<p:column headerText="#{lang['unemploymentFundPerAnnum']}" width="10%">
									<h:outputText value="#{rv.unemploymentFundPerAnnum}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.00" />
									</h:outputText>
								</p:column>


								<p:column headerText="#{lang['ersNiPerAnnum']}" width="10%">
									<h:outputText value="#{rv.ersNiPerAnnum}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.00" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{lang['exhangeRate']}" width="10%">
									<h:outputText value="#{rv.exhangeRate}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.######" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{lang['totalCostOfEmployeePerAnnum']}" width="10%">
									<h:outputText value="#{rv.totalCostOfEmployeePerAnnum}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.00" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{lang['dayRate']}" width="10%">
									<h:outputText value="#{rv.dayRate}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.00" />
									</h:outputText>
								</p:column>


							</p:dataTable>
						</h:panelGroup>
					</h:form>
				</div>
			</div>
		</div>

		<p:dialog modal="true" width="90%" widgetVar="historyDlg">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card card-w-title ">

						<h:form id="histForm">
							<h1>#{lang['userscost.history']} : #{companyAdminUsersUI.companyUsers.users.firstName} #{companyAdminUsersUI.companyUsers.users.lastName}</h1>
							<p:dataTable var="rv" value="#{companyAdminUsersUI.costHistory}" id="userscostListHist" rowKey="#{rv.id}" paginator="true" rows="10" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,15,20,25,50">

								<p:column width="200" headerText="#{lang['userscost.history.chgdetail']}">
								  #{rv.updatedByUser.firstName}  #{rv.updatedByUser.lastName}<br />
									<p:outputLabel value="#{rv.revinfo.timeStamp}" escape="false">
										<f:convertDateTime pattern="dd MMMM yyyy HH:mm:ss" />
									</p:outputLabel>
								</p:column>

								<p:column headerText="#{lang['effectiveDate']}">
									<h:outputText value="#{rv.effectiveDate}">
										<f:convertDateTime pattern="dd MMM yyyy" />
									</h:outputText>
								</p:column>
								<p:column headerText="#{lang['language.currency']}">
									<h:outputText value="#{rv.locale.displayCountry}" />
									<br />
									<h:outputText value="#{rv.currency.symbol}" />
								</p:column>

								<p:column headerText="#{lang['grossSalaryPerAnnum']}">
									<h:outputText value="#{rv.grossSalaryPerAnnum}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.00" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{lang['mandatoryTaxPensionsPerAnnum']}">
									<h:outputText value="#{rv.mandatoryTaxPensionsPerAnnum}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.00" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{lang['oneTimeExpensePerAnnum']}">
									<h:outputText value="#{rv.oneTimeExpensePerAnnum}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.00" />
									</h:outputText>
								</p:column>


								<p:column headerText="#{lang['unemploymentFundPerAnnum']}">
									<h:outputText value="#{rv.unemploymentFundPerAnnum}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.00" />
									</h:outputText>
								</p:column>


								<p:column headerText="#{lang['ersNiPerAnnum']}">
									<h:outputText value="#{rv.ersNiPerAnnum}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.00" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{lang['exhangeRate']}">
									<h:outputText value="#{rv.exhangeRate}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.######" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{lang['totalCostOfEmployeePerAnnum']}">
									<h:outputText value="#{rv.totalCostOfEmployeePerAnnum}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.00" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{lang['dayRate']}">
									<h:outputText value="#{rv.dayRate}" styleClass="Fright">
										<f:convertNumber pattern="###,###,###.00" />
									</h:outputText>
								</p:column>


							</p:dataTable>
						</h:form>
					</div>
				</div>
			</div>
		</p:dialog>
	</ui:define>

</ui:composition>
