@CHARSET "UTF-8";
/* Floating */
.Fleft {
	float: left;
}

.Fright {
	float: right;
}

.Fnone {
	float: none !important;
}
/* Font Sizes */
.Fs9 {
	font-size: 9px !important;
}

.Fs10 {
	font-size: 10px !important;
}

.Fs11 {
	font-size: 11px !important;
}

.Fs12 {
	font-size: 12px !important;
}

.Fs13 {
	font-size: 13px !important;
}

.Fs14 {
	font-size: 14px !important;
}

.Fs15 {
	font-size: 15px !important;
}

.Fs16 {
	font-size: 16px !important;
}

.Fs17 {
	font-size: 17px !important;
}

.Fs18 {
	font-size: 18px !important;
}

.Fs19 {
	font-size: 19px !important;
}

.Fs20 {
	font-size: 20px !important;
}

.Fs21 {
	font-size: 21px !important;
}

.Fs22 {
	font-size: 22px !important;
}

.Fs23 {
	font-size: 23px !important;
}

.Fs24 {
	font-size: 24px !important;
}

.Fs25 {
	font-size: 25px !important;
}

.Fs26 {
	font-size: 26px !important;
}

.Fs27 {
	font-size: 27px !important;
}

.Fs28 {
	font-size: 28px !important;
}

.Fs29 {
	font-size: 29px !important;
}

.Fs30 {
	font-size: 30px !important;
}

.Fs40 {
	font-size: 40px !important;
}

.Fs50 {
	font-size: 50px !important;
}

.Fs60 {
	font-size: 60px !important;
}

.Fs100 {
	font-size: 100px !important;
}

.Fs130 {
	font-size: 130px !important;
}

/* Empty Boxes */
.EmptyBox5 {
	display: block;
	width: 100% !important;
	height: 5px !important;
	overflow: hidden !important;
}

.EmptyBox10 {
	display: block;
	width: 100% !important;
	height: 10px !important;
	overflow: hidden !important;
}

.EmptyBox15 {
	display: block;
	width: 100% !important;
	height: 15px !important;
	overflow: hidden !important;
}

.EmptyBox20 {
	display: block;
	width: 100% !important;
	height: 20px !important;
	overflow: hidden !important;
}

.EmptyBox30 {
	display: block;
	width: 100% !important;
	height: 30px !important;
	overflow: hidden !important;
}

.EmptyBox40 {
	display: block;
	width: 100% !important;
	height: 40px !important;
	overflow: hidden !important;
}

.EmptyBox50 {
	display: block;
	width: 100% !important;
	height: 50px !important;
	overflow: hidden !important;
}

.EmptyBox60 {
	display: block;
	width: 100% !important;
	height: 60px !important;
	overflow: hidden !important;
}

.EmptyBox70 {
	display: block;
	width: 100% !important;
	height: 70px !important;
	overflow: hidden !important;
}

.EmptyBox80 {
	display: block;
	width: 100% !important;
	height: 80px !important;
	overflow: hidden !important;
}

.EmptyBox90 {
	display: block;
	width: 100% !important;
	height: 90px !important;
	overflow: hidden !important;
}

.EmptyBox100 {
	display: block;
	width: 100% !important;
	height: 100px !important;
	overflow: hidden !important;
}

.EmptyBox110 {
	display: block;
	width: 100% !important;
	height: 100px !important;
	overflow: hidden !important;
}

.EmptyBox120 {
	display: block;
	width: 100% !important;
	height: 100px !important;
	overflow: hidden !important;
}

.EmptyBox130 {
	display: block;
	width: 100% !important;
	height: 100px !important;
	overflow: hidden !important;
}

.EmptyBox140 {
	display: block;
	width: 100% !important;
	height: 100px !important;
	overflow: hidden !important;
}

.EmptyBox150 {
	display: block;
	width: 100% !important;
	height: 150px !important;
	overflow: hidden !important;
}

/* text colors */
.red {
	color: #D0525D !important;
}

.blue {
	color: #33AFDE !important;
}

.green {
	color: #5fcf80 !important;
}

.orange {
	color: #F7941E !important;
}

.white {
	color: #F1F6F9 !important;
}

.softgray {
	color: #C3CCD5 !important;
}

.gray {
	color: #778D9B !important;
}

.black {
	color: #3B3D3F !important;
}

/* Width */
.Wid100 {
	width: 100%;
}

.Wid90 {
	width: 90%;
}

.Wid80 {
	width: 80%;
}

.Wid70 {
	width: 70%;
}

.Wid60 {
	width: 60%;
}

.Wid50 {
	width: 50%;
}

.Wid45 {
	width: 45%;
}

.Wid40 {
	width: 40%;
}

.Wid30 {
	width: 30%;
}

/* Width Special Values */
.Wid33 {
	width: 33.3%;
}

.Wid25 {
	width: 25%;
}

.Wid20 {
	width: 20%;
}

.Wid10 {
	width: 10%;
}

.MarTop5 {
	margin-top: 5px;
}

.MarTop10 {
	margin-top: 10px;
}

.MarTop20 {
	margin-top: 20px;
}

.MarTop30 {
	margin-top: 30px;
}

.MarTop40 {
	margin-top: 40px;
}

.MarTop50 {
	margin-top: 50px;
}

.MarTopQuarter {
	margin-top: 25%;
}

.MarTopHalf {
	margin-top: 50%;
}

.MarBot10 {
	margin-bottom: 10px;
}

.MarRight10 {
	margin-right: 10px;
}

.MarRight20 {
	margin-right: 20px;
}

.Seperator {
	border-bottom: solid 1px #C3CCD5;
	width: 100%;
	overflow: hidden;
	height: 0px;
	margin: 15px 0px;
	float: left;
}

/* Font Type */
.FontBold {
	font-weight: bold !important;
}

.FontLight {
	font-weight: lighter !important;
}

.FontNormal {
	font-weight: normal !important;
}

.FontItalic {
	font-style: italic !important;
}

/* text size*/
/* .BigTopic{ font-weight: bold !important; font-size: 25px !important;} */

/* START of THEME override   */
.landing-wrapper #header .header-top .logo {
	display: inline-block !important;
	vertical-align: middle !important;
	width: 200px !important;
	height: 57px !important;
	background: url("#{resource['ultima-layout:images/logo.png']}") top left no-repeat !important;
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min-resolution : 192dpi) {
	.landing-wrapper .header .header-top .logo {
		background: url("#{resource['ultima-layout:images/logo.png']}") top left no-repeat !important;
		background-size: 200px 57px;
		!
		important
	}
}

.layout-wrapper .topbar .logo {
	display: inline-block !important;
	vertical-align: middle !important;
	width: 200px !important;
	height: 57px !important;
	background: url("#{resource['ultima-layout:images/logo.png']}") top left no-repeat !important;
}

.layout-wrapper .topbar .topbar-left {
	box-sizing: border-box !important;
	padding: 10px !important;
	height: 75px !important;
	width: 250px !important;
	background-color: #FFFFFF !important;
	float: left !important;
	-webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3) !important;
	-moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3) !important;
	box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3) !important;
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min-resolution : 192dpi) {
	.layout-wrapper .topbar .logo {
		background: url("#{resource['ultima-layout:images/logo.png']}") top left no-repeat !important;
		background-size: 200px 57px !important;
	}
}

div.fc-center {
	font-size: 0.6em !important;
	padding-top: 6px !important;
	font-weight: 400 !important;
}

th.fc-day-header.ui-widget-header.fc-tue {
	font-size: 0.9em !important;
	font-weight: 400 !important;
}

td.fc-axis.ui-widget-content {
	font-size: 0.9em !important;
}

.ui-column-title {
	font-weight: 501 !important;
}

.dashboard .colorbox .colorbox-name {
	font-size: 20px;
	display: inline-block;
	width: 100%;
	margin: 4px 0 10px 0;
	color: #ffffff;
}

.dashboard .colorbox .colorbox-count {
	color: #ffffff;
	font-size: 36px;
}

.dashboard .colorbox .colorbox-count {
	font-weight: bold;
}

.dashboard .colorbox.colorbox-green div:first-child {
	background-color: #2E7D32;
}

.dashboard .colorbox.colorbox-green div:last-child {
	background-color: #4CAF50;
}

.dashboard .colorbox.colorbox-amber div:first-child {
	background-color: #A76500;
}

.dashboard .colorbox.colorbox-amber div:last-child {
	background-color: #FF9A00;
}

.dashboard .colorbox.colorbox-red div:first-child {
	background-color: #C51B00;
}

.dashboard .colorbox.colorbox-red div:last-child {
	background-color: #FF2300;
}

.hsTH {
	font-weight: bold !important;
	font-size: 15px !important;
}

.hsTD {
	font-weight: lighter !important;
	font-size: 15px !important;
}

.borderless {
	border: none !important;
}

.hsPointsRed {
	color: #FF2300;
}

.hsPointsAmber {
	color: #FF9A00;
}

.hsPointsGreen {
	color: #4CAF50;
}

.outputTextArea {
	width: 100%;
	word-wrap: break-word;
}

.panelLabel {
	font-weight: bold;
	padding-right: 10px;
	display: inline-block;
	font-size: 15px;
	margin-bottom: 5px;
}

.panelContent {
	font-weight: normal;
	display: inline-block;
}

.panelBlock {
	border: 0.5pt solid #eeeeee;
	display: block;
}

.divider {
	width: 5px;
	height: auto;
	display: inline-block;
}

.breakWord {
	word-wrap: break-word;
}

.hsauto   input {
	width: 88% !important;
}

.hslabel {
	color: #9F9F9F !important;
}

.layout-dashboard .overview-box.views {
	background-color: #F02328;
	background-image: -webkit-gradient(linear, left top, right top, from(#52b68f), to(#52b68f));
	background-image: -webkit-linear-gradient(left, #52b68f, #52b68f);
	background-image: -moz-linear-gradient(left, #52b68f, #52b68f);
	background-image: -ms-linear-gradient(left, #52b68f, #52b68f);
	background-image: -o-linear-gradient(left, #52b68f, #52b68f);
}

.layout-dashboard .overview-box.views1 {
	background-color: #196a76;
	background-image: -webkit-gradient(linear, left top, right top, from(#52b68f), to(#B2EAD5));
	background-image: -webkit-linear-gradient(left, #52b68f, #B2EAD5);
	background-image: -moz-linear-gradient(left, #52b68f, #B2EAD5);
	background-image: -ms-linear-gradient(left, #52b68f, #B2EAD5);
	background-image: -o-linear-gradient(left, #52b68f, #B2EAD5);
	background-image: linear-gradient(left, #52b68f, #B2EAD5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52b68f', endColorstr='#B2EAD5', gradientType='1');
}

 .layout-dashboard .overview-box .overview-numbers {
	margin-left: 12px;
	margin-bottom: 20px;
	font-size: 20px;
	padding-top: 14px;
	color:#fff;
}