<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="layout-portlets-box">
            <div class="Container100">
                <div class="ContainerIndent TexAlCenter">

						<h:form id="mainForm">
						<h1 class="BigTopic TexAlCenter">
						 <i class="fa fa-thumbs-o-up gray MarRight10"></i> <h:outputText value="Thank you for registering."/>
						</h1>
						<span class="gray">
						  <p><i class="fa fa-envelope-o Fs40 gray MarRight10"></i></p>
						  <p>You will receive an email shortly.</p> 
						  <p>Please following the instructions in the email to complete the registration process.</p>
						</span>
                        
						</h:form>
                </div>
            </div>
        </div>
        
    </ui:define>

</ui:composition>			