<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="layout-portlets-box">
            <div class="Container100">
                <div class="ContainerIndent TexAlCenter">
                   
                    <h:form id="mainForm">
        
        				 <p:outputPanel  rendered="#{confirmEmailUI.validLink eq false}">
        				  <h1 class="BigTopic TexAlCenter"> <h:outputText value="Invalid link! Contact support" /></h1>
        				 </p:outputPanel>
						      
						  <p:outputPanel rendered="#{confirmEmailUI.validLink}">
						  <h1 class="BigTopic TexAlCenter"> 
                            <h:outputText value="Email confirmed!" />
                          </h1>  
                           <span class="gray">Please <a href="#{request.contextPath}/login.jsf">login</a> to the system. </span>
                          </p:outputPanel>

                   </h:form>
                </div>
            </div>
        </div>
        
    </ui:define>

</ui:composition>