<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card">
                <h:form id="mainForm">
                    <h1 class="FontBold">8. Costs</h1>
                   
                  <p:outputPanel styleClass="ui-g">
                 
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <p:outputLabel styleClass="fwBold" value="Employee Name "  />
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <p:inputText style="width:100%"  />
                  </div>
                  
                  
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                   <p:outputLabel styleClass="fwBold" value="Currency"  />
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <p:selectOneMenu style="width:100%" />
                  </div>
                  
                  
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <p:outputLabel styleClass="fwBold" value="Exchange Rate "  />
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <p:inputNumber id="costsExchangeRate" decimalPlaces="0" requiredMessage=" " required="true" value=""  styleClass="">
					<p:ajax />
					</p:inputNumber>
                  </div>
                  
                  
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <p:outputLabel styleClass="fwBold" value="Gross Salary per Annum"  />
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                   <p:inputNumber id="costsGrossSalary" decimalPlaces="0" requiredMessage=" " required="true" value=""  styleClass="">
					<p:ajax />
					</p:inputNumber>
                  </div>
                 
                 
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <p:outputLabel styleClass="fwBold" value="ERS NI Per Annum"  />
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                   <p:inputNumber id="costsPerAnnum" decimalPlaces="0" requiredMessage=" " required="true" value=""  styleClass="">
					<p:ajax />
					</p:inputNumber>
                  </div>
                  
                  
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <p:outputLabel styleClass="fwBold" value="Unemployment Fund Per Annum"  />
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                   <p:inputNumber id="costsUnemployment" decimalPlaces="0" requiredMessage=" " required="true" value=""  styleClass="">
					<p:ajax />
					</p:inputNumber>
                  </div>
                  
                  
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <p:outputLabel styleClass="fwBold" value="Mandatory Tax 	&#38; Pensions per Annum"  />
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                   <p:inputNumber id="costsMandatoryTax" decimalPlaces="0" requiredMessage=" " required="true" value=""  styleClass="">
					<p:ajax />
					</p:inputNumber>
                  </div>
                  
                  
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <p:outputLabel styleClass="fwBold" value="One Time Expense per Annum"  />
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                   <p:inputNumber id="costsOneTime" decimalPlaces="0" requiredMessage=" " required="true" value=""  styleClass="">
					<p:ajax />
					</p:inputNumber>
                  </div>
                 
                 
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <p:outputLabel styleClass="fwBold" value="Total Cost of Employee Per Annum"  />
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                   <p:inputNumber id="costsTotalCost" decimalPlaces="0" requiredMessage=" " required="true" value=""  styleClass="">
					<p:ajax />
					</p:inputNumber>
                  </div>
                 
                 
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                  <p:outputLabel styleClass="fwBold" value="Day Rate"  />
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-6">
                   <p:inputNumber id="costsDayRate" decimalPlaces="0" requiredMessage=" " required="true" value=""  styleClass="">
					<p:ajax />
					</p:inputNumber>
                  </div>
                 
                  
                  </p:outputPanel>
                  <div class="EmptyBox20"/>
                   <p:outputPanel>
                  
							<p:dataTable var="rowVar" value=""  paginator="true" rows="10" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">
								
								<p:column headerText="Employee Name" >
									<h:outputText value="" />
								</p:column>
								
								<p:column headerText="Currency" >
									<h:outputText value="" />
								</p:column>
								<p:column headerText="Gross Salary per Annum" >
									<h:outputText value="" />
								</p:column>
								<p:column headerText="Mandatory Tax &#38; Pensions per Annum" >
									<h:outputText value="" />
								</p:column>
								<p:column headerText="One Time Expense per Annum" >
									<h:outputText value="" />
								</p:column>
								<p:column headerText="Total Cost of Employee Per Annum" >
									<h:outputText value="" />
								</p:column>
								<p:column headerText="Day Rate" >
									<h:outputText value="" />
								</p:column>
								
								
							
							</p:dataTable>
						
						 </p:outputPanel>
                    </h:form>
                </div>
            </div>
        </div>
        
    </ui:define>

</ui:composition>