<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="mainForm">
						<h1 class="FontBold">4. Invoicing</h1>

						<p:outputPanel styleClass="ui-g">

							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel styleClass="fwBold" value="SOW Number" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:inputNumber id="invoicingSOW" decimalPlaces="0" requiredMessage=" " required="true" value="" styleClass="">
									<p:ajax />
								</p:inputNumber>
							</div>
							
							
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel styleClass="fwBold" value="Payment Milestone" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:selectOneMenu id="invoicingPaymentMilestone" required="true" style="width:100%" />
							</div>
							
							
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel styleClass="fwBold" value="Invoice Number" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:inputText id="invoicingInvoiceNumber" required="true" style="width:100%" />
							</div>
							
							
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel styleClass="fwBold" value="Purchase Order Number" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:inputText id="invoicingOrderNumber" style="width:100%" />
							</div>
							
							
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel styleClass="fwBold" value="Invoice Currency" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:inputText id="invoicingCurrency" required="true" style="width:100%" />
							</div>
							
							
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel styleClass="fwBold" value="Invoice Value" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:inputText id="invoicingValue" required="true" style="width:100%" />
							</div>
							
							
							<div class="ui-g-12">
								<p:outputLabel styleClass="fwBold" value="Invoice Period " />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel styleClass="fwBold" value="From Date" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:calendar id="invoicingPeriodFrom" value="" showOn="both" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel styleClass="fwBold" value="To Date" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:calendar id="invoicingPeriodTo" value="" showOn="both" />
							</div>


							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel styleClass="fwBold" value="Invoice Date" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:calendar id="invoicingInvoiceDate" required="true" value="" showOn="both" />
							</div>
							
							
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel styleClass="fwBold" value="Notes" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:inputText id="invoicingNotes" style="width:100%" />
							</div>
							
							
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel styleClass="fwBold" value="Documents" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:fileUpload id="invoicingDocuments" mode="advanced" auto="true" dragDropSupport="true"  />
								<p:growl  showDetail="true" />
							</div>


							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel styleClass="fwBold" value="Invoice Paid" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:selectOneRadio id="invoicingInvoicePaid" required="True" value="test" rendered="true">
									<f:selectItem itemLabel="one" itemValue="one" />
									<f:selectItem itemLabel="two" itemValue="two" />
									<f:selectItem itemLabel="three" itemValue="three" />
								</p:selectOneRadio>
							</div>


							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel styleClass="fwBold" value="Date Invoice Paid" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:calendar id="invoicing" required="true" value="" showOn="both" />
							</div>


							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:outputLabel styleClass="fwBold" value="Paid Exchange Rate" />
							</div>
							<div class="ui-g-12 ui-md-6 ui-lg-6">
								<p:inputNumber id="invoicingExchangeRate"  decimalPlaces="0" requiredMessage=" " required="true" value="" styleClass="">
									<p:ajax />
								</p:inputNumber>
							</div>



						</p:outputPanel>
						<div class="EmptyBox20" />
						<p:outputPanel>

							<p:dataTable var="rowVar" value="" paginator="true" rows="10" paginatorPosition="bottom" paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true">

								<p:column headerText="Employee Name">
									<h:outputText value="" />
								</p:column>

								<p:column headerText="Project">
									<h:outputText value="" />
								</p:column>
								<p:column headerText="Client">
									<h:outputText value="" />
								</p:column>
								<p:column headerText="SOW Number">
									<h:outputText value="" />
								</p:column>
								<p:column headerText="Invoice Number">
									<h:outputText value="" />
								</p:column>
								<p:column headerText="Invoice Currency">
									<h:outputText value="" />
								</p:column>
								<p:column headerText="Invoice Value">
									<h:outputText value="" />
								</p:column>
								<p:column headerText="Invoice Date">
									<h:outputText value="" />
								</p:column>
								<p:column headerText="Invoice Paid">
									<h:outputText value="" />
								</p:column>



							</p:dataTable>

						</p:outputPanel>
					</h:form>
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>