<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>TechFINIUM TIMESHEET</title>
	<h:outputScript name="js/ripple.js" library="ultima-layout" />
	<h:outputScript name="js/layout.js" library="ultima-layout" />
	<link href="./css/flag-icon.min.css" rel="stylesheet" />
</h:head>

<h:body styleClass="login-body">

	<p:growl autoUpdate="true" />
	<div class="card login-panel ui-fluid">
		<div class="ui-g">
			<h:form>
				<div class="ui-g-12">

					<h:graphicImage name="images/400dpiLogo.png" library="hls" style="width:99%; max-width:600px;" />
				</div>
				<div class="ui-g-12">
					<h:panelGroup styleClass="md-inputfield">
						<p:inputText value="#{logonUI.email}" required="true" requiredMessage="#{lang['enter.your.email']}" />
						<label>#{lang['email']}</label>
					</h:panelGroup>
				</div>
				<div class="ui-g-12">
					<h:panelGroup styleClass="md-inputfield">
						<p:password value="#{logonUI.inputPassword}" feedback="false" required="true" requiredMessage="#{lang['enter.your.password']}" />
						<label>#{lang['password']}</label>
					</h:panelGroup>
				</div>
				<div class="ui-g-12">
					<p:commandButton value="#{lang['login']}" icon="ui-icon-person" action="#{logonUI.logon}" update="@form" />
					<p:commandButton value="#{lang['forgot.password']}" icon="ui-icon-help" onclick="PF('dlgPwd').show()" update=":usersPwdForm:usersPwdGrid" styleClass="secondary" immediate="true" />
				</div>
			</h:form>
			<div class="ui-g-12">
				<h:form>
					<p:selectOneMenu value="#{languageUI.localeCode}" onchange="submit()" valueChangeListener="#{languageUI.countryLocaleCodeChanged}" immediate="true">
						<f:selectItems value="#{languageUI.countriesInMap}" />
					</p:selectOneMenu>
					<br />
					<br />

					<span class="FontLight Fleft Fs13"><span class="flag-icon #{languageUI.flag}" /> <p:spacer width="3" /> #{languageUI.currency.displayName} - #{languageUI.currency.symbol}</span>

				</h:form>
			</div>
		</div>
	</div>


	<p:dialog header="#{lang['reset.your.password']}" widgetVar="dlgPwd" resizable="false" hideEffect="clip" showEffect="clip" id="dialogPWD" appendTo="@(body)" modal="true" width="50%">
		<h:form id="usersPwdForm">
			<p:outputPanel id="usersPwdGrid" style="width: 100%">

				<div class="ui-g dashboard">
					<div class="ui-g-12 ui-md-12">
						<div class="card card-w-title">

							<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank">
								<p:outputLabel value="#{lang['enter.your.email']}" for="uname" />
								<p:inputText id="uname" value="#{logonUI.email}" placeholder="#{lang['email']}" styleClass="Container90 Fnone MarAuto Fs18" required="true" requiredMessage="#{lang['enter.your.email']}" style="width:95%" />
							</p:panelGrid>
							<br />
							<p:commandButton value="#{lang['send.password']}" action="#{logonUI.newPassword}" update="@form" oncomplete="handlePwdRequest(xhr, status, args)" icon="ui-icon-contact-mail" />
						</div>
					</div>
				</div>
			</p:outputPanel>
		</h:form>
	</p:dialog>

	<script type="text/javascript">  
   
    function handlePwdRequest(xhr, status, args) {  
        if(args.validationFailed) {  
            jQuery('#dialogPWD').effect("shake", { times:3 }, 500);  
        } else {  
        	PF('dlgPwd').hide();  
           
        }  
    }   


   
</script>

	<div class="login-footer">techFINIUM</div>

	<h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
	<h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="ultima-layout" />
	<h:outputStylesheet name="css/hs.css" library="hls" />

</h:body>

</html>