<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>TechFINIUM TIMESHEET</title>
        <ui:insert name="head" />
 <script>
$( document ).ready(function() {
 // $('body').attr('class','').addClass('CyanModena Geometry');
 
});
</script>       
        
    </h:head>

     <h:body styleClass="login-body">
       <h:form>
        <p:growl autoUpdate="true"/>
        <ui:include src="/pages/status.xhtml" />  
         <div class="card login-panel ui-fluid">
            <div class="Wid33 MarAuto WidAutoOnMobile">
                 <h:graphicImage name="images/techtTime.png" library="hls" style="width:99%; max-width:600px;"/>
                <div class="EmptyBox20"></div>
                
                <div class="Card ShadowEffect">
                  <div class="Wid100 OvHidden BigTopic Fs30"><i class="icon-security Fs60 DispBlock"></i> Login </div>
                    <div class="EmptyBox5"></div>
                    <p:inputText value="#{logonUI.email}" placeholder="Email" styleClass="Container80 Fnone MarAuto Fs18"/>
                    <div class="EmptyBox20"></div>
                    <p:password value="#{logonUI.inputPassword}" placeholder="Password" styleClass="Container80 Fnone MarAuto Fs18" feedback="false"/>
                    <div class="EmptyBox20"></div>
       
                    <p:commandButton value="Log In" styleClass="Fs16" action="#{logonUI.logon}" update="@form" icon="fa fa-sign-in Fs16 white"/>
                    <p:spacer/>
 <!--                    <p:commandButton  value="Register your Client" styleClass="Fs16 OrangeButton"  onclick="PF('dlg').show()" icon="fa fa-book Fs16 white" disabled="false"/>
 -->                    <div class="EmptyBox10"></div>
                    <div class="Seperator"></div>
                    <div class="EmptyBox10"></div>
                    <p:commandButton  value="Forgot Password ?" styleClass="Fs16 RedButton" onclick="PF('dlgPwd').show()" update=":usersPwdForm:usersPwdGrid" icon="fa fa-key Fs16 white"/>
                   <div class="EmptyBox20"></div>
                     
                </div>
                <div class="Wid100 TexAlCenter MarTop20 Fs14 FontRobotoRegular Gray">
                        <i class="fa fa-copyright"></i>  TechFINIUM LTD <br/> All rights reserved.
                    </div>
            </div>
        </div>
       </h:form>
<p:dialog header="Please select a client" widgetVar="dlgCompanies" resizable="false" hideEffect="clip" showEffect="clip" id="dialogCOMPANIES" appendTo="@(body)" modal="true" closable="true">  
    <h:form id="companiesForm">
       <h:panelGrid columns="2">
        <p:outputLabel value="Select a client"/>
        <p:selectOneListbox value="#{sessionUI.companyUsers}" converter="companyUsersConvertor">
          <f:selectItems value="#{sessionUI.companyUsersList}" var="rv" itemLabel="#{rv.company.companyName}" itemValue="#{rv}"/>
          <p:ajax listener="#{logonUI.completeLogon}"/>
        </p:selectOneListbox>
         
       </h:panelGrid>
 
    </h:form>
</p:dialog> 
 
  <p:dialog header="Reset your Password" widgetVar="dlgPwd" resizable="false" hideEffect="clip" showEffect="clip" id="dialogPWD" appendTo="@(body)" modal="true">  
    <h:form id="usersPwdForm">
      <p:outputPanel id="usersPwdGrid" style="width: 100%">
      
      <div class="Container100 Fnone MarAuto TexAlCenter">
     
        <div class="EmptyBox10"></div>
          
         <h:panelGrid columns="2">
          <p:outputLabel value="Enter your email" for="uname"/>
          <p:inputText id="uname" value="#{logonUI.email}" placeholder="Username" styleClass="Container90 Fnone MarAuto Fs18" required="true" requiredMessage="Enter username"/>
         </h:panelGrid>
        <div class="EmptyBox10"></div>
          <p:commandButton value="Send Password" styleClass="Fs16" action="#{logonUI.newPassword}" update="@form" oncomplete="handlePwdRequest(xhr, status, args)" />        
     </div>
     </p:outputPanel>
    </h:form>
  </p:dialog>    
 
   <p:dialog header="Forgot your Username" widgetVar="dlgUname" resizable="false" hideEffect="clip" showEffect="clip" id="dialogUNAME" appendTo="@(body)" modal="true">  
    <h:form id="usersUnameForm">
      <p:outputPanel id="usersUnameGrid" style="width: 100%">
      
      <div class="Container100 Fnone MarAuto TexAlCenter">
      
        <div class="EmptyBox10"></div>
        <h:panelGrid columns="2">
        <p:outputLabel value="Enter your email address" for="email"/>
        <p:inputText id="email" value="#{logonUI.email}" placeholder="Email address" styleClass="Container90 Fnone MarAuto Fs18" required="true" requiredMessage="Enter email"/>
        </h:panelGrid>
        <div class="EmptyBox10"></div>
          <p:commandButton value="Send username/s" styleClass="Fs16" action="#{logonUI.mailUsername}" update="@form" oncomplete="handleUnameRequest(xhr, status, args)" />        
     </div>
     </p:outputPanel>
    </h:form>
  </p:dialog> 
 
 <p:dialog header="Please enter your billing information" widgetVar="dlgBilling" resizable="false" hideEffect="clip" showEffect="clip" id="dialogBILL" appendTo="@(body)" modal="true">  
    <h:form id="billingForm">
       
        <h:panelGrid columns="2" columnClasses="cls4,cls2"  id="usersInsGrid" style="width: 100%">
 	     <p:outputLabel for="paddr1" value="Billing Address" />
             <p:outputPanel>
              <p:inputText id="paddr1" value="#{logonUI.address.addressLine1}"   required="true" requiredMessage="Please enter billing address"  style="width: 95%"/>
	          <p:watermark value="Address" for="paddr1"></p:watermark>
	         </p:outputPanel>  
            
              <p:spacer/>
              <p:inputText id="paddr2" value="#{logonUI.address.addressLine2}"  style="width: 95%"/>
            
              <p:spacer/>
              <p:inputText id="paddr3" value="#{logonUI.address.addressLine3}"   style="width: 95%"/>
     
              <p:spacer/>
              <p:inputText id="paddr4" value="#{logonUI.address.addressLine4}"  style="width: 95%"/>       
             <p:outputLabel for="ppcode" value="Post Code" />
             <p:outputPanel>
              <p:inputText id="ppcode" value="#{logonUI.address.postcode}" style="width: 55%;"  required="true" requiredMessage="Please enter postal address post code"/>
	          <p:watermark value="Post code" for="ppcode"></p:watermark>
	         </p:outputPanel>     
	
       <f:facet name="footer">
        <center>
         <p:commandButton value="Update" oncomplete="handleBillRequest(xhr, status, args)" action="#{logonUI.updateBillingAddr}" update="@form" />
         </center>
       </f:facet>

      </h:panelGrid>
 
    </h:form>
</p:dialog>     
 
      
  <p:dialog header="Register" widgetVar="dlg" resizable="false" hideEffect="clip" showEffect="clip" id="dialogINS" appendTo="@(body)" modal="false" >  
    <h:form id="usersInsForm">  

     <p:scrollPanel mode="native" style="width:450px;height:400px">
       <h:panelGrid columns="2" columnClasses="cls4,cls2"  id="usersInsGrid" style="width: 99%">
  
       <p:outputLabel value="Client Name:" for="company"/>
       <p:inputText id="company" value="#{registerUI.company.companyName}"  required="true" requiredMessage="Enter company name" style="width: 95%"/>

       <p:outputLabel value="Client Vat Number" for="vat"/>
       <p:inputText id="vat" value="#{registerUI.company.vatNumber}"   style="width: 95%"/>
       
       
       <p:outputLabel value="First Name:" for="firstName"/>
       <p:inputText id="firstName" value="#{registerUI.user.firstName}" label="firstName" required="true" requiredMessage="Enter first name" style="width: 95%"/>
       
       <p:outputLabel value="Surname:" for="lastName"/>
       <p:inputText id="lastName" value="#{registerUI.user.lastName}" label="lastName" required="true" requiredMessage="Enter surname" style="width: 95%"/>
 
       <p:outputLabel value="Username" for="uname"/>
       <p:inputText id="uname" value="#{registerUI.user.username}"   required="true" requiredMessage="Enter username" style="width: 95%"/>
  

       <p:outputLabel value="Email:" for="email"/>
       <p:inputText id="email" value="#{registerUI.user.email}" label="email"  required="true" requiredMessage="Enter email address" style="width: 95%"/>

  
       <p:outputLabel value="Mobile Number:" for="cellNumber"/>
       <p:inputText id="cellNumber" value="#{registerUI.user.cellNumber}" label="cellNumber" required="false" requiredMessage="Enter mobile number"/>
       
       <p:outputLabel value="Telephone Number:" for="telNumber"/>
       <p:inputText id="telNumber" value="#{registerUI.user.telNumber}" label="telNumber"/>
       
  
       
       

        
	   <p:outputLabel for="pwd1" value="Password" />
       <p:password id="pwd1" value="#{registerUI.password}" match="pwd2" label="Password1"  required="true" requiredMessage="Please enter password" validatorMessage="Passwords do not match"/>

       <p:outputLabel for="pwd2" value="Confirm password" />
       <p:password id="pwd2" value="#{registerUI.password}" label="Password2" required="true" requiredMessage="Please enter confirm password" />
	  
	   <p:separator/><p:separator/>
	
	     <p:outputLabel for="paddr1" value="Billing Address" />
             <p:outputPanel>
              <p:inputText id="paddr1" value="#{registerUI.address.addressLine1}"   required="true" requiredMessage="Please enter billing address"  style="width: 95%"/>
	          <p:watermark value="Address" for="paddr1"></p:watermark>
	         </p:outputPanel>  
            
              <p:spacer/>
              <p:inputText id="paddr2" value="#{registerUI.address.addressLine2}"  style="width: 95%"/>
            
              <p:spacer/>
              <p:inputText id="paddr3" value="#{registerUI.address.addressLine3}"   style="width: 95%"/>
     
              <p:spacer/>
              <p:inputText id="paddr4" value="#{registerUI.address.addressLine4}"  style="width: 95%"/>       
             <p:outputLabel for="ppcode" value="Post Code" />
             <p:outputPanel>
              <p:inputText id="ppcode" value="#{registerUI.address.postcode}" style="width: 55%;"  required="true" requiredMessage="Please enter postal address post code"/>
	          <p:watermark value="Post code" for="ppcode"></p:watermark>
	         </p:outputPanel>     
	
       <f:facet name="footer">
        <center>
         <p:commandButton value="Register" oncomplete="handleLoginRequest(xhr, status, args)" action="#{registerUI.register}" update="@form" />
         </center>
       </f:facet>

      </h:panelGrid>
       </p:scrollPanel>
      </h:form>  
  </p:dialog>      


 <p:dialog header="Change your password" widgetVar="dlgPwdChg" resizable="false" hideEffect="clip" showEffect="clip" id="dialogPWDCHG" appendTo="@(body)" modal="true" closable="false">  
    <h:form id="usersPwdChgForm">
      <p:outputPanel id="usersPwdChgGrid" style="width: 100%">
      
      <p:panelGrid layout="grid" columns="2">
      
       <p:outputLabel for="pwd1" value="New Password" />
       <p:password id="pwd1" value="#{logonUI.inputPassword}" match="pwd2" label="Password1"  required="true" requiredMessage="Please enter new password" validatorMessage="Passwords do not match"/>

       <p:outputLabel for="pwd2" value="Confirm new password" />
       <p:password id="pwd2" value="#{logonUI.inputPassword}" label="Password2" required="true" requiredMessage="Please enter confirm password" />
      </p:panelGrid>
      
       <div class="Seperator"></div>
       <p:commandButton value="Submit" styleClass="Fs16" action="#{logonUI.changePassword}" update="@form"  />        
       

     </p:outputPanel>
    </h:form>
  </p:dialog> 


<script type="text/javascript">  
    function handleLoginRequest(xhr, status, args) {  
        if(args.validationFailed) {  
            jQuery('#dialogINS').effect("shake", { times:3 }, 500);  
        } else {  
        	PF('dlg').hide();  
           
        }  
    } 

    function handleBillRequest(xhr, status, args) {  
        if(args.validationFailed) {  
            jQuery('#dialogBILL').effect("shake", { times:3 }, 500);  
        } else {  
        	PF('dlgBilling').hide();  
           
        }  
    } 
   
    function handlePwdRequest(xhr, status, args) {  
        if(args.validationFailed) {  
            jQuery('#dialogPWD').effect("shake", { times:3 }, 500);  
        } else {  
        	PF('dlgPwd').hide();  
           
        }  
    }   

    function handleUnameRequest(xhr, status, args) {  
        if(args.validationFailed) {  
            jQuery('#dialogUNAME').effect("shake", { times:3 }, 500);  
        } else {  
        	PF('dlgUname').hide();  
           
        }  
    } 
   
</script>        
        <h:outputStylesheet name="css/core-layout.css" library="modena-layout" />
        <h:outputStylesheet name="css/animate.css" library="modena-layout" />
        <h:outputStylesheet name="css/modena-font.css" library="modena-layout" />
        <h:outputStylesheet name="css/ripple-effect.css" library="modena-layout" />
        <h:outputStylesheet name="css/font-awesome.css" library="modena-layout" />
        <h:outputStylesheet name="css/modena-layout.css" library="modena-layout" />
    </h:body>

</html>