<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h:form>
						<p:growl />
						<br />
						<h2 class="TexAlCenter">Test Page</h2>

						<p:commandButton value="#{lang['mail']}" actionListener="#{testUI.testMail}" update="@form"></p:commandButton>
						<p:commandButton value="Run Schedule" actionListener="#{testUI.runShedule}"></p:commandButton>
						<p:commandButton value="Notify" actionListener="#{testUI.testNotify}"></p:commandButton>
						<p:commandButton value="Populate Rates" actionListener="#{testUI.populateRates}" update="@form"></p:commandButton>
						<p:commandButton value="test Dates" actionListener="#{testUI.testDate}" update="@form"></p:commandButton>
						<p:commandButton value="RUN JOB" actionListener="#{testUI.populateUserLink}" update="@form"></p:commandButton>

					</h:form>
				</div>
			</div>

			<div class="ui-g-12">
				<div class="card">

					<h:form>
						<h2>
							<h:outputText value="#{lang['mail']}" />
						</h2>

						<br /> #{languageUI.currency.symbol}
		<h:panelGrid columns="2">
		Amount:
		<h:outputText value="#{languageUI.currency.symbol} #{languageUI.diplayAmount}">

							</h:outputText>

		Language :
		<h:selectOneMenu value="#{languageUI.localeCode}" onchange="submit()" valueChangeListener="#{languageUI.countryLocaleCodeChanged}">
								<f:selectItems value="#{languageUI.countriesInMap}" />
							</h:selectOneMenu>

						</h:panelGrid>

						<p:selectOneMenu>
							<f:selectItems value="#{languageUI.localeCurrency}" var="rv" itemLabel="#{rv.locale.displayCountry} - #{rv.currency.symbol}" />
						</p:selectOneMenu>

					</h:form>
				</div>
			</div>

		</div>

	</ui:define>

</ui:composition>