<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">


	<ui:define name="content">
		<p:importEnum type="haj.com.entity.enums.YesNoEnum" />
		<p:importEnum type="haj.com.entity.enums.VisitorTypeEnum" />

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="visitorDeclarationInsForm">
						<p:growl autoUpdate="true" sticky="false" />
						<h1 class="BigTopic TexAlCenter">Visitor Declaration Form</h1>
						<p:panel>
							<p>Dear Visitor</p>
							<p>TechFINIUM (Pty) Ltd and other response measures, in response to any emergency that may arise due to the Noval Corona Virus (COVID-19) that may threaten the life, health or safety of other individuals. As part of our safety measures, we seek your co-operation in completing the questionaire below. The information will be destroyed once there are no business or legal purposes to keep
								them. We have the right to refuse entry to any persons who are unwell, who have been to locations of public health concern in the past fourteen days or who have been in contact with any person with a confirmed case of the COVID-19 virus.</p>
						</p:panel>
						<br />
						<p:panel>
							<p:panelGrid columns="2" style="width:100%" id="visitorTypeInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
								<h:panelGroup>
									<p:outputLabel value="Visitor Type" style="width:95%" />
									<br />
									<div style="height: 5px" />
									<p:selectOneButton value="#{visitorDeclarationFormUI.visitorDeclarationForm.visitorType}" style="width:95%" id="visitorType">
										<p:ajax update="visitorDeclarationInsForm" listener="#{visitorDeclarationFormUI.perpareVisitor}" />
										<f:selectItems value="#{enumUI.visitorTypeEnumDD}" var="enum" />
									</p:selectOneButton>
								</h:panelGroup>
								<h:panelGroup rendered="#{visitorDeclarationFormUI.visitorDeclarationForm.visitorType ne null and visitorDeclarationFormUI.visitorDeclarationForm.visitorType.ordinal() eq 1 }">
									<p:outputLabel id="visitorQ" value="Visitor" for="visitor" />
									<br />
									<div style="height: 5px" />
									<p:selectOneMenu id="visitor" value="#{visitorDeclarationFormUI.visitorDeclarationForm.visitor}" converter="VisitorConvertor" requiredMessage="Select Visitor" style="width: 95%">
										<f:selectItem itemLabel="--Select one--" noSelectionOption="true" />
										<f:selectItems value="#{selectItemsUI.visitor}" var="item" itemLabel="#{item.formattedName} - #{item.company}" itemValue="#{item}" />
										<p:ajax event="itemSelect" update="visitorDeclarationInsForm" listener="#{visitorDeclarationFormUI.populateVisitorAddresses}" />
									</p:selectOneMenu>
								</h:panelGroup>
							</p:panelGrid>
						</p:panel>
						<br />
						<c:if test="#{visitorDeclarationFormUI.visitorDeclarationForm.visitorType ne null}">
							<p:fieldset toggleable="true" toggleSpeed="500" legend="Health Well-being and Recent Travel History" collapsed="false">
								<p:panelGrid columns="2" style="width:100%" id="visitorDeclarationInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
									<h:panelGroup>
										<p:outputLabel value="Have you or any of your familty been in contact with any person who is a confirmed case of COVID-19 in the past 21 days?" for="contact" />
										<br />
										<div style="height: 5px" />
										<p:selectOneButton id="contact" value="#{visitorDeclarationFormUI.visitorDeclarationForm.contactWithPersonDiagnosedWithCovid}" required="true" requiredMessage="Contact with People Diagnosed with Covod-19 Required">
											<p:ajax update="contact" />
											<f:selectItems value="#{enumUI.yesNoEnumDD}" />
										</p:selectOneButton>
									</h:panelGroup>
									<h:panelGroup>
										<p:outputLabel value="Have you or any of your family been to China, South Korea, Hong Kong, Japan, USA or Europe in the past 21 days?" for="travel" />
										<br />
										<div style="height: 5px" />
										<p:selectOneButton id="travel" value="#{visitorDeclarationFormUI.visitorDeclarationForm.traveled}" required="true" requiredMessage="Travel to High Risk Countries Required Required">
											<p:ajax update="travel" />
											<f:selectItems value="#{enumUI.yesNoEnumDD}" />
										</p:selectOneButton>
									</h:panelGroup>
									<h:panelGroup>
										<p:outputLabel value="To the best of your knowledge, have you or a member of your family come into contact with another individual that has recently travelled to China, South Korea, Hong Kong, Japan, USA or Europe in the past 21 days?" for="travelcontact" />
										<br />
										<div style="height: 5px" />
										<p:selectOneButton id="travelcontact" value="#{visitorDeclarationFormUI.visitorDeclarationForm.contactWithPersonTraveled}" required="true" requiredMessage="Contact with Person Who Traveled to High Risk Countries Required Required">
											<p:ajax update="travelcontact" />
											<f:selectItems value="#{enumUI.yesNoEnumDD}" />
										</p:selectOneButton>
									</h:panelGroup>
									<h:panelGroup>
										<p:outputLabel id="feverQ" value="Fever" for="feverA" />
										<br />
										<div style="height: 5px" />
										<p:selectOneButton id="feverA" value="#{visitorDeclarationFormUI.visitorDeclarationForm.fever}" required="true" requiredMessage="Fever Required">
											<f:selectItems value="#{enumUI.yesNoEnumDD}" />
										</p:selectOneButton>
									</h:panelGroup>
									<h:panelGroup>
										<p:outputLabel id="coughQ" value="Cough" for="coughA" />
										<br />
										<div style="height: 5px" />
										<p:selectOneButton id="coughA" value="#{visitorDeclarationFormUI.visitorDeclarationForm.cough}" required="true" requiredMessage="Cough Required">
											<f:selectItems value="#{enumUI.yesNoEnumDD}" />
										</p:selectOneButton>
									</h:panelGroup>
									<h:panelGroup>
										<p:outputLabel id="soreThroatQ" value="Sore throat" for="soreThroatA" />
										<br />
										<div style="height: 5px" />
										<p:selectOneButton id="soreThroatA" value="#{visitorDeclarationFormUI.visitorDeclarationForm.soreThroat}" required="true" requiredMessage="Sore Throat Required">
											<f:selectItems value="#{enumUI.yesNoEnumDD}" />
										</p:selectOneButton>
									</h:panelGroup>
									<h:panelGroup>
										<p:outputLabel id="shortnessOfBreathQ" value="Shortness of breath" for="shortnessOfBreathA" />
										<br />
										<div style="height: 5px" />
										<p:selectOneButton id="shortnessOfBreathA" value="#{visitorDeclarationFormUI.visitorDeclarationForm.shortnessOfBreath}" required="true" requiredMessage="Shortness Of Breath Required">
											<f:selectItems value="#{enumUI.yesNoEnumDD}" />
										</p:selectOneButton>
									</h:panelGroup>
									<h:panelGroup>
										<p:outputLabel id="runnyNoseQ" value="Runny Nose" for="runnyNoseA" />
										<br />
										<div style="height: 5px" />
										<p:selectOneButton id="runnyNoseA" value="#{visitorDeclarationFormUI.visitorDeclarationForm.runnyNose}" required="true" requiredMessage="Runny Nose Required">
											<f:selectItems value="#{enumUI.yesNoEnumDD}" />
										</p:selectOneButton>
									</h:panelGroup>
								</p:panelGrid>
							</p:fieldset>
							<p:fieldset toggleable="true" toggleSpeed="500" legend="Personal Particulars" collapsed="false">
								<p:panelGrid columns="2" style="width:100%" id="personalParticularsInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="fullNames" value="#{visitorDeclarationFormUI.visitorDeclarationForm.visitor.formattedName}" required="true" requiredMessage="Full Names Required" style="width: 95%" readonly="#{visitorDeclarationFormUI.visitorDeclarationForm.visitorType.ordinal() eq 1}" />
										<p:outputLabel value="Full Names" for="fullNames" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="mobileNumber" value="#{visitorDeclarationFormUI.visitorDeclarationForm.visitor.cellNumber}" style="width: 95%" />
										<p:outputLabel value="Mobile Number" for="fullNames" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="company" value="#{visitorDeclarationFormUI.visitorDeclarationForm.visitor.company}" required="true" requiredMessage="Company Required" style="width: 95%" readonly="#{visitorDeclarationFormUI.visitorDeclarationForm.visitorType.ordinal() eq 1}" />
										<p:outputLabel value="Company" for="company" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="department" value="#{visitorDeclarationFormUI.visitorDeclarationForm.visitor.department}" required="true" requiredMessage="Department Required" style="width: 95%" readonly="#{visitorDeclarationFormUI.visitorDeclarationForm.visitorType.ordinal() eq 1}" />
										<p:outputLabel value="Department" for="department" />
									</h:panelGroup>
								</p:panelGrid>
								<h3 class="BigTopic TexAlCenter">Addresses</h3>
								<p:panelGrid columns="2" style="width:100%" id="locationsInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="addressLine1" value="#{visitorDeclarationFormUI.visitorDeclarationForm.visitor.physicalAddress.addressLine1}" style="width: 95%" readonly="#{visitorDeclarationFormUI.visitorDeclarationForm.visitorType.ordinal() eq 1}" />
										<p:outputLabel value="Physical Address Line 1" for="addressLine1" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="compAddressLine1" value="#{visitorDeclarationFormUI.visitorDeclarationForm.visitor.companyAddress.addressLine1}" style="width: 95%" readonly="#{visitorDeclarationFormUI.visitorDeclarationForm.visitorType.ordinal() eq 1}" />
										<p:outputLabel value="Company Address Line 1" for="compAddressLine1" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="addressLine2" value="#{visitorDeclarationFormUI.visitorDeclarationForm.visitor.physicalAddress.addressLine2}" style="width: 95%" readonly="#{visitorDeclarationFormUI.visitorDeclarationForm.visitorType.ordinal() eq 1}" />
										<p:outputLabel value="Physical Address Line 2" for="addressLine2" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="compAddressLine2" value="#{visitorDeclarationFormUI.visitorDeclarationForm.visitor.companyAddress.addressLine2}" style="width: 95%" readonly="#{visitorDeclarationFormUI.visitorDeclarationForm.visitorType.ordinal() eq 1}" />
										<p:outputLabel value="Company Address Line 2" for="compAddressLine2" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="addressLine3" value="#{visitorDeclarationFormUI.visitorDeclarationForm.visitor.physicalAddress.addressLine3}" style="width: 95%" readonly="#{visitorDeclarationFormUI.visitorDeclarationForm.visitorType.ordinal() eq 1}" />
										<p:outputLabel value="Physical Address Line 3" for="addressLine3" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="compAddressLine3" value="#{visitorDeclarationFormUI.visitorDeclarationForm.visitor.companyAddress.addressLine3}" style="width: 95%" readonly="#{visitorDeclarationFormUI.visitorDeclarationForm.visitorType.ordinal() eq 1}" />
										<p:outputLabel value="Company Address Line 3" for="compAddressLine3" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="postalCode" value="#{visitorDeclarationFormUI.visitorDeclarationForm.visitor.physicalAddress.postcode}" style="width: 95%" readonly="#{visitorDeclarationFormUI.visitorDeclarationForm.visitorType.ordinal() eq 1}" />
										<p:outputLabel value="Physical Address Postal Code" for="postalCode" />
									</h:panelGroup>
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="comppostalcode" value="#{visitorDeclarationFormUI.visitorDeclarationForm.visitor.companyAddress.postcode}" style="width: 95%" readonly="#{visitorDeclarationFormUI.visitorDeclarationForm.visitorType.ordinal() eq 1}" />
										<p:outputLabel value="Company Address Postal Code" for="comppostalcode" />
									</h:panelGroup>
								</p:panelGrid>
							</p:fieldset>
							<p:fieldset toggleable="false" toggleSpeed="500" legend="Acknowledgement" collapsed="false">
								<p:panelGrid columns="2" style="width:100%" id="acknowlegdementInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
									<h:panelGroup>
										<p:outputLabel value="I certify that the above information is true and acknowledge and agree to the collection, use and disclosure of my personal data, health information and recent travel history for the purposes of this form as required, advised or directed by governmental authorities." for="signature" />
										<br />
										<div style="height: 5px" />
										<p:selectBooleanCheckbox id="signature" value="#{visitorDeclarationFormUI.visitorDeclarationForm.acknoleedgement}" style="font: bold;" required="true" requiredMessage="Employee Signature Required" />
										<p:outputLabel value="Accept" style="font-weight: bold;" />
									</h:panelGroup>
									<h:panelGroup rendered="false">
										<p:outputLabel id="assessorQ" value="Assessor" for="assessorA" />
										<br />
										<div style="height: 5px" />
										<p:selectOneMenu id="assessorA" value="#{visitorDeclarationFormUI.visitorDeclarationForm.assessor}" converter="UsersConvertor" style="width: 95%">
											<f:selectItem itemLabel="--Select one--" noSelectionOption="true" />
											<f:selectItems value="#{selectItemsUI.users}" var="rvs" itemLabel="#{rvs.firstName} #{rvs.lastName}" />
											<p:ajax event="itemSelect" />
										</p:selectOneMenu>
									</h:panelGroup>
								</p:panelGrid>
							</p:fieldset>
							<div>
								<br />
								<div style="height: 5px" />
								<p:commandButton value="Submit" icon="fa fa-check" iconPos="right" id="submit" update="visitorDeclarationMainForm visitorDeclarationInsForm" action="#{visitorDeclarationFormUI.visitorDeclarationFormInsert}" style="margin-right:20px;" styleClass="ui-priority-primary">
									<p:resetInput target="visitorDeclarationInsForm" />
								</p:commandButton>
							</div>
						</c:if>
					</h:form>
				</div>
				<h:form id="visitorDeclarationMainForm" rendered="false">
					<div class="card">
						<div class="p-grid">
							<div class="p-col-6">
								<p:commandButton styleClass="Fright" id="toggler" type="button" value="Column Toggler" icon="fa fa-columns" style=" background-color: #edb800; margin-top: 3px; margin-right: 4px" />
								<p:columnToggler datasource="visitorDeclarationForm" trigger="toggler" />
								<p:tooltip for="toggler" value="Column Toggler Define" />
							</div>
						</div>
						<p:dataTable var="rowVar" value="#{visitorDeclarationFormUI.dataModel}" id="visitorDeclarationForm" rowKey="#{rowVar.id}" paginator="true" rows="5" paginatorPosition="bottom" paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,25,50" reflow="true" lazy="true">
							<f:facet name="header">Visitor Declaration Forms</f:facet>
							<p:column visible="true" headerText="Full Names">
								<h:outputText value="#{rowVar.visitor.formattedName}" />
							</p:column>
							<p:column visible="true" headerText="Mobile Number">
								<h:outputText value="#{rowVar.visitor.cellNumber}" />
							</p:column>
							<p:column visible="true" headerText="Company">
								<h:outputText value="#{rowVar.visitor.company}" />
							</p:column>
							<p:column visible="true" headerText="Physical Address">
								<h:outputText value="#{rowVar.visitor.physicalAddress.formattedAddress}" />
							</p:column>
							<p:column visible="false" headerText="Company Address">
								<h:outputText value="#{rowVar.visitor.companyAddress.formattedAddress}" />
							</p:column>
							<p:column visible="false" headerText="Have you or any of your familty been in contact with any person who is a confirmed case of COVID-19 in the past 21 days">
								<h:outputText value="#{rowVar.contactWithPersonDiagnosedWithCovid}" />
							</p:column>
							<p:column visible="false" headerText="Have you or any of your family been to China, South Korea, Hong Kong, Japan, USA or Europe in the past 21 days">
								<h:outputText value="#{rowVar.traveled}" />
							</p:column>
							<p:column visible="false" headerText="To the best of your knowledge, have you or a member of your family come into contact with another individual that has recently travelled to China, South Korea, Hong Kong, Japan, USA or Europe in the past 21 days">
								<h:outputText value="#{rowVar.contactWithPersonTraveled}" />
							</p:column>
							<p:column visible="false" headerText="Fever">
								<h:outputText value="#{rowVar.fever}" />
							</p:column>
							<p:column visible="false" headerText="Cough">
								<h:outputText value="#{rowVar.cough}" />
							</p:column>
							<p:column visible="false" headerText="Sore Throat">
								<h:outputText value="#{rowVar.soreThroat}" />
							</p:column>
							<p:column visible="false" headerText="Shortness Of Breath">
								<h:outputText value="#{rowVar.shortnessOfBreath}" />
							</p:column>
							<p:column visible="false" headerText="Runny Nose">
								<h:outputText value="#{rowVar.runnyNose}" />
							</p:column>
							<p:column visible="false" headerText="Aknowladgement">
								<h:outputText value="#{rowVar.acknoleedgement}" />
							</p:column>
							<p:column visible="true" headerText="Assessor" >
								<h:outputText value="#{rowVar.assessor.firstName}" />
							</p:column>
							<p:column visible="false" headerText="Actions">
								<p:commandButton action="#{visitorDeclarationFormUI.visitorDeclarationFormDelete}" icon="fa fa-trash" title="Delete" style=" background-color: #edb800; margin: 5px" id="deleteBtn" update="visitorDeclarationMainForm visitorDeclarationInsForm">
									<p:ajax />
									<f:setPropertyActionListener value="#{rowVar}" target="#{visitorDeclarationFormUI.visitorDeclarationForm}" />
								</p:commandButton>
								<p:commandButton action="#{visitorDeclarationFormUI.populateVisitorAddresses}" icon="fa fa-pencil" title="Update" style=" background-color: #edb800; margin: 5px;" id="updateBtn" update="visitorDeclarationMainForm visitorDeclarationInsForm">
									<p:ajax />
									<f:setPropertyActionListener value="#{rowVar}" target="#{visitorDeclarationFormUI.visitorDeclarationForm}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</div>
				</h:form>
			</div>
		</div>
	</ui:define>

</ui:composition>
