<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h1>Daily Rate</h1>
					<h:form id="dailyRateInsForm">
						<p:growl id="msgs" showDetail="true" />
						<p:panelGrid columns="1" style="width:100%" id="dailyRateInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup>
								<p:outputLabel for="description" value="Description" styleClass="FontLight" />
								<br />
								<div style="height: 5px" />
								<p:inputText id="description" value="#{dailyrateUI.dailyrate.description}" style="width:95%" placeholder="Description" />
							</h:panelGroup>

							<h:panelGroup>
								<p:outputLabel for="value" value="Value" styleClass="FontLight" />
								<br />
								<div style="height: 5px" />
								<p:inputText id="value" value="#{dailyrateUI.dailyrate.value}" style="width:95%" placeholder="Value" />
							</h:panelGroup>

							<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
								<p:commandButton value="#{lang['submit']}" icon="fa fa-floppy-o" update=":mainForm:dailyRateList :dailyRateInsForm:dailyRateInsGrid" action="#{dailyrateUI.dailyRateInsert}" />
								<p:commandButton value="#{lang['clear']}" icon="fa fa-eraser" update="dailyRateInsGrid" process="@this" action="#{dailyrateUI.prepareNew}">
									<p:resetInput target="dailyRateInsGrid" />
								</p:commandButton>
							</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h:form id="mainForm">

						<p:dataTable var="rowVar" value="#{dailyrateUI.dailyRateList}" filteredValue="#{dailyrateUI.dailyRatefilteredList}" id="dailyRateList" rowKey="#{rowVar.id}" paginator="true" rows="50" paginatorPosition="bottom" paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="50,100,150,200,250" reflow="true" lazy="true" stickyHeader="true" stickyTopAt=".layout-topbar">

							<p:column headerText="Description" filterBy="#{rowVar.description}" sortBy="#{rowVar.description}">
								<h:outputText value="#{rowVar.description}" />
							</p:column>

							<p:column headerText="Value" filterBy="#{rowVar.value}" sortBy="#{rowVar.value}">
								<h:outputText value="#{rowVar.value}" />
							</p:column>

							<p:column headerText="Effective Date" filterBy="#{rowVar.effectiveDate}" sortBy="#{rowVar.effectiveDate}">
								<h:outputText value="#{rowVar.effectiveDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>
							<p:column width="100" headerText="Actions">
								<p:commandButton icon="fa fa-database" title="#{lang['update']}" update=":dailyRateInsForm:dailyRateInsGrid">
									<f:setPropertyActionListener value="#{rowVar}" target="#{dailyrateUI.dailyrate}" />
								</p:commandButton>
								<p:spacer width="5" />
								<p:commandButton icon="fa fa-trash-o" title="Delete" update=":mainForm:dailyRateList" action="#{dailyrateUI.dailyRateDelete}">
									<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="fa fa-warning" />
									<f:setPropertyActionListener value="#{rowVar}" target="#{dailyrateUI.dailyrate}" />
								</p:commandButton>
							</p:column>

						</p:dataTable>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
							<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes" icon="fa fa fa-check" />
							<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
						</p:confirmDialog>

					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
	<!--
model = model
year = year
derivative = derivative
make = make
createDate = createDate
code = code

-->
</ui:composition>
