<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h1>Engine Type</h1>
					<h:form id="engineTypeInsForm">
						<p:growl id="msgs" showDetail="true" />
						<p:panelGrid columns="1" style="width:100%" id="engineTypeInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup>
								<p:outputLabel for="description" value="Description" styleClass="FontLight" />
								<br />
								<div style="height: 5px" />
								<p:inputText id="description" value="#{enginetypeUI.enginetype.description}" style="width:95%" placeholder="Description" />
							</h:panelGroup>
							<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
								<p:commandButton value="#{lang['submit']}" icon="fa fa-floppy-o" update=":mainForm:engineTypeList :engineTypeInsForm:engineTypeInsGrid" action="#{enginetypeUI.engineTypeInsert}" />
								<p:commandButton value="#{lang['clear']}" icon="fa fa-eraser" update="engineTypeInsGrid" process="@this" action="#{enginetypeUI.prepareNew}">
									<p:resetInput target="engineTypeInsGrid" />
								</p:commandButton>
							</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h:form id="mainForm">

						<p:dataTable var="rowVar" value="#{enginetypeUI.engineTypeList}" filteredValue="#{enginetypeUI.engineTypefilteredList}" id="engineTypeList" rowKey="#{rowVar.id}" paginator="true" rows="50" paginatorPosition="bottom" paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="50,100,150,200,250" reflow="true" lazy="true" stickyHeader="true" stickyTopAt=".layout-topbar">

							<p:column headerText="Description" filterBy="#{rowVar.description}" sortBy="#{rowVar.description}">
								<h:outputText value="#{rowVar.description}" />
							</p:column>
							<p:column width="100" headerText="Actions">
								<p:commandButton icon="fa fa-database" title="#{lang['update']}" update=":engineTypeInsForm:engineTypeInsGrid">
									<f:setPropertyActionListener value="#{rowVar}" target="#{enginetypeUI.enginetype}" />
								</p:commandButton>
								<p:spacer width="5" />
								<p:commandButton icon="fa fa-trash-o" title="Delete" update=":mainForm:engineTypeList" action="#{enginetypeUI.engineTypeDelete}">
									<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="fa fa-warning" />
									<f:setPropertyActionListener value="#{rowVar}" target="#{enginetypeUI.enginetype}" />
								</p:commandButton>
							</p:column>

						</p:dataTable>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
							<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes" icon="fa fa fa-check" />
							<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close" />
						</p:confirmDialog>

					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
	<!--
model = model
year = year
derivative = derivative
make = make
createDate = createDate
code = code

-->
</ui:composition>
