<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h1>Job Title</h1>
					<h:form id="jobtitleInsForm">
						<p:growl showDetail="false" sticky="false">
							<p:autoUpdate />
						</p:growl>
						<p:panelGrid columns="1" style="width:100%" id="jobtitleInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="description" value="#{jobtitleUI.jobtitle.description}" style="width:95%" />
								<p:outputLabel value="#{lang['description']}" for="description" />
							</h:panelGroup>
							<h:panelGroup>
								<div>
									<p:outputLabel value="#{lang['roles']}" for="description" />
								</div>
								<div>
									<p:selectOneMenu converter="RolesConvertor" id="role" value="#{jobtitleUI.jobtitle.roles}" style="width:95%">

										<f:selectItem itemLabel="---#{lang['select.one']}---" itemValue="" noSelectionOption="true" />
										<f:selectItems value="#{selectItemsUI.selectItemsRoles}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
									</p:selectOneMenu>
								</div>
							</h:panelGroup>
							<h:panelGroup>
								<div>
									<p:outputLabel value="#{lang['region']}" for="regionSelection" styleClass="gray" />
								</div>
								<div>
									<p:selectOneMenu id="regionSelection" value="#{jobtitleUI.jobtitle.region}" converter="RegionConvertor" style="width:75%" required="false">
										<p:ajax />
										<f:selectItem itemLabel="---#{lang['select.one']}---" noSelectionOption="true" />
										<f:selectItems value="#{selectItemsUI.region}" var="rv" itemLabel="#{rv.description}" />
									</p:selectOneMenu>
								</div>
							</h:panelGroup>
							<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
								<p:commandButton value="#{lang['submit']}" icon="ui-icon-save" update=":mainForm:jobtitleList :jobtitleInsForm:jobtitleInsGrid" action="#{jobtitleUI.jobtitleInsert}" />
								<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="jobtitleInsGrid" process="@this" action="#{jobtitleUI.prepareNew}">
									<p:resetInput target="jobtitleInsGrid" />
								</p:commandButton>
							</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h:form id="mainForm">

						<p:dataTable var="rowVar" value="#{jobtitleUI.dataModel}" filteredValue="#{jobtitleUI.jobTitlefilteredList}" id="jobtitleList" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

							<p:column headerText="#{lang['description']}">
								<h:outputText value="#{rowVar.description}" />
							</p:column>
							<p:column headerText="#{lang['createDate']}">
								<h:outputText value="#{rowVar.createDate}" />
							</p:column>
							<p:column headerText="#{lang['roles']}">
								<h:outputText value="#{rowVar.roles.description}" />
							</p:column>
							<p:column headerText="Region">
								<h:outputText value="#{rowVar.region.description}" />
							</p:column>
							<p:column width="80">
								<p:commandButton icon="fa fa-database" title="#{lang['update']}" update=":jobtitleInsForm:jobtitleInsGrid">
									<f:setPropertyActionListener value="#{rowVar}" target="#{jobtitleUI.jobtitle}" />
								</p:commandButton>
								<p:spacer width="5" />
								<p:commandButton icon="fa fa-trash-o" title="{lang['delete']}" update=":mainForm:jobtitleList" action="#{jobtitleUI.jobtitleDelete}">
									<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="ui-icon-warning" />
									<f:setPropertyActionListener value="#{rowVar}" target="#{jobtitleUI.jobtitle}" />
								</p:commandButton>
							</p:column>

						</p:dataTable>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
							<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
							<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
						</p:confirmDialog>

					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
	<!-- 
description = description
code = code
createDate = createDate
setmisCode = setmisCode
qctoCode = qctoCode
nlrdCode = nlrdCode

-->
</ui:composition>
