<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h1>Process Roles</h1>
					<h:form id="processrolesInsForm">
						<p:growl showDetail="false" sticky="false" />
						<p:panelGrid columns="1" style="width:100%" id="processrolesInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="roles" value="#{processrolesUI.processroles.roles}" style="width:95%" />
								<p:outputLabel value="#{lang['roles']}" for="roles" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="hostingCompanyProcess" value="#{processrolesUI.processroles.hostingCompanyProcess}" style="width:95%" />
								<p:outputLabel value="#{lang['hostingCompanyProcess']}" for="hostingCompanyProcess" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="reportToRole" value="" style="width:95%" />
								<p:outputLabel value="#{lang['reportToRole']}" for="reportToRole" />
							</h:panelGroup>
							<!-- <h:panelGroup styleClass="md-inputfield">
								<p:inputText id="createDate" value="#{processrolesUI.processroles.createDate}" style="width:95%" />
								<p:outputLabel value="#{lang['create.date']}" for="createDate" />
							</h:panelGroup> -->
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="note" value="#{processrolesUI.processroles.note}" style="width:95%" />
								<p:outputLabel value="#{lang['note']}" for="note" />
							</h:panelGroup>


							<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
								<p:commandButton value="#{lang['submit']}" icon="ui-icon-save" update=":mainForm:processrolesList :processrolesInsForm:processrolesInsGrid" action="#{processrolesUI.processrolesInsert}" />
								<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="processrolesInsGrid" process="@this" action="#{processrolesUI.prepareNew}">
									<p:resetInput target="processrolesInsGrid" />
								</p:commandButton>
							</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h:form id="mainForm">

						<p:dataTable var="rowVar" value="#{processrolesUI.dataModel}" filteredValue="#{processrolesUI.processRolesfilteredList}" id="processrolesList" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

							<p:column headerText="#{lang['roles']}">
								<h:outputText value="#{rowVar.roles}" />
							</p:column>
							<p:column headerText="#{lang['hostingCompanyProcess']}">
								<h:outputText value="#{rowVar.hostingCompanyProcess}" />
							</p:column>
							<p:column headerText="#{lang['reportToRole']}">
								<h:outputText value="#{rowVar.reportToRole}" />
							</p:column>
							<p:column headerText="#{lang['createDate']}">
								<h:outputText value="#{rowVar.createDate}" />
							</p:column>
							<p:column headerText="#{lang['note']}">
								<h:outputText value="#{rowVar.note}" />
							</p:column>


							<p:column width="80">
								<p:commandButton icon="fa fa-database" title="#{lang['update']}" update=":processrolesInsForm:processrolesInsGrid">
									<f:setPropertyActionListener value="#{rowVar}" target="#{processrolesUI.processroles}" />
								</p:commandButton>
								<p:spacer width="5" />
								<p:commandButton icon="fa fa-trash-o" title="{lang['delete']}" update=":mainForm:processrolesList" action="#{processrolesUI.processrolesDelete}">
									<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="ui-icon-warning" />
									<f:setPropertyActionListener value="#{rowVar}" target="#{processrolesUI.processroles}" />
								</p:commandButton>
							</p:column>

						</p:dataTable>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
							<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
							<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
						</p:confirmDialog>

					</h:form>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>
