<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h1>Title</h1>
					<h:form id="titleInsForm">
						<p:growl showDetail="false" sticky="false">
						</p:growl>
						<p:panelGrid columns="1" style="width:100%" id="titleInsGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="description" value="#{titleUI.title.description}" style="width:95%" />
								<p:outputLabel value="#{lang['description']}" for="description" />
							</h:panelGroup>
							<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
								<p:commandButton value="#{lang['submit']}" icon="ui-icon-save" update=":mainForm:titleList :titleInsForm:titleInsGrid" action="#{titleUI.titleInsert}" />
								<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="titleInsGrid" process="@this" action="#{titleUI.prepareNew}">
									<p:resetInput target="titleInsGrid" />
								</p:commandButton>
							</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</div>
			</div>
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h:form id="mainForm">

						<p:dataTable var="rowVar" value="#{titleUI.dataModel}" filteredValue="#{titleUI.titlefilteredList}" id="titleList" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

							<p:column headerText="#{lang['description']}">
								<h:outputText value="#{rowVar.description}" />
							</p:column>
							<p:column headerText="#{lang['createDate']}">
								<h:outputText value="#{rowVar.createDate}" />
							</p:column>

							<p:column width="80" headerText="Actions">
								<p:commandButton icon="fa fa-database" title="#{lang['update']}" update=":titleInsForm:titleInsGrid">
									<f:setPropertyActionListener value="#{rowVar}" target="#{titleUI.title}" />
								</p:commandButton>
								<p:spacer width="5" />
								<p:commandButton icon="fa fa-trash-o" title="Delete" update=":mainForm:titleList" action="#{titleUI.titleDelete}">
									<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="ui-icon-warning" />
									<f:setPropertyActionListener value="#{rowVar}" target="#{titleUI.title}" />
								</p:commandButton>
							</p:column>

						</p:dataTable>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
							<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
							<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
						</p:confirmDialog>

					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
	<!-- 
description = description
createDate = createDate
setmisCode = setmisCode
qctoCode = qctoCode
nlrdCode = nlrdCode

-->
</ui:composition>
